{% extends "layout.html" %}

{% block page_title %}
  File company annual accounts with Companies House
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<style type="text/css">
a.button-start {
  background-image: url("/public/images/icon-pointer.png"); /* Having to add this here, for some reason prototype kit styling for this element not working. Hopefully not needed on production site.*/
}
</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="javascript:void(0)">Home</a></li>
      <li><a href="javascript:void(0)">Business and self-employed</a></li>
      <li><a href="javascript:void(0)">Running a limited company</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">File company annual accounts with Companies House</h1>


      <p>Use this service to file your company annual accounts with Companies House</p>

      <div class="panel panel-border-wide">
      <p>Limited liability partnerships can’t use this service - <a href="javascript:void(0)">send your annual accounts directly to Companies House</a>.</p>
      </div>

    <p>If you've a private limited company that <a href="javascript:void(0)">doesn’t need an auditor</a>, you could file your company accounts <a href="javascript:void(0)">through the same service as your company tax return</a>.</p>

    <h2 class="heading-medium">Before you start</h2>

    <p>
      You need to:
    </p>

    <ul class="list list-bullet">
      <li><a href="https://www.gov.uk/annual-accounts">prepare your accounts</a></li>
      <li>round figures to whole numbers, with income round down and spending round up</li>
      <li>have your accounts approved by the director or board of directors</li>
    </ul>

    <p>
      Read guidance on <a href="https://www.gov.uk/prepare-file-annual-accounts-for-limited-company">what your annual accounts should include</a>.
    </p>

      <h2 class="heading-medium">How to register</h2>

      <p>You’ll need a Companies House password and authentication code.</p>
        <p>If you don’t have these, you'll be able to register online after you've chosen which type of accounts you want to file.</p>

      <h2 class="heading-medium">Get help</h2>
      <p>Ask us for help if you:</p>
      <ul class="list list-bullet">
        <li>don’t have a computer or internet access</li>
        <li>want to use the online service but need some help</li>
      </ul>

      <div class="panel panel-border-wide form-group">
        <h3 class="heading-small">Companies House</h3>
        Telephone: 0303 1234 500<br>
        Welsh language: 029 2038 0065<br>
        Monday to Friday, 8.30am to 6pm<br>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </div>

      <p class="get-started" id="get-started">
            <a role="button" class="button button-start" data-transaction-slug="file-an-annual-return-with-companies-house" rel="external" href="/webfiling/webfiling-login-page">Start now</a>
            <span class="destination" style="display:block; font-size:16px; margin-top: .5em; max-width: 13em;"> on the Companies House service</span>
          </p>









    </div>
    <div class="column-third">

    <!--  <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Running a limited company</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Accounts and tax returns for private limited companies</a></li>
            <li><a href="#">Running a limited company</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>-->

    </div>
  </div>

</main>

{% endblock %}
