{% extends "layout.html" %}

{% block page_title %}
  File your accounts with Companies House - GOV.UK
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="javascript:void(0)">Home</a></li>
      <li><a href="javascript:void(0)">Business and self-employed</a></li>
      <li>Running a limited company</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">File your accounts with Companies House</h1>


      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>file your company accounts - you might be able to file this <a href="https://www.gov.uk/file-your-company-accounts-and-tax-return">jointly with your tax return for HM Revenue and Customs</a> (<abbr title="HM Revenue and Customs">HMRC</abbr>)</li>
        <li>sign up for email alerts to let you know when your confirmation statement and accounts are due</li>
      </ul>
      <div class="panel panel-border-wide">
      <p>Some information about abbreviated/abridged?</p>
      </div>

      <p class="get-started group" id="get-started">
            <a role="button" class="button button-start" data-transaction-slug="file-an-annual-return-with-companies-house" rel="external" href="/chs/chs-choose-accounts">Start now</a>
              <span class="destination" style="display:block; font-size:16px; margin-top: .5em; max-width: 13em;"> on the Companies House service</span>
          </p>


      <h2 class="heading-medium">Before you start</h2>

      <ul class="list list-bullet">
        <li>Your accounts need to be prepared, with figures rounded to whole numbers. Round down income, and round up spending.</li>
        <li>Your accounts should have been approved by the director/board of directors.</li>
        <li>Read guidance on <a href="https://www.gov.uk/prepare-file-annual-accounts-for-limited-company">what your annual accounts should include</a></li>
      </ul>


    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Running a limited company</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Accounts and tax returns for private limited companies</a></li>
            <li><a href="#">Running a limited company</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
