{% extends "layout.html" %}
{% block pageTitle %}
  Which type of CIC report are you filing?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/cics/cics-criteria-audit" method="get" class="form">

            {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "cicReportType",
                name: "cicReportType",
                fieldset: {
                  attributes : {
                    'data-required': "data-required",
                    'data-error': "Please which type of CIC report do you want to file"
                    },
                  legend: {
                    text: "Which type of CIC report do you want to file?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                  text: "This is not the type of accounts you've prepared."
                },
                items: [
                  {
                    value: "simplified",
                    "html": "Simplified<span class=\"govuk-hint\">The majority of CICs complete the simplified report</span> " },
                  {
                    value: "detailed",
                    "html": "Detailed<span class=\"govuk-hint\">This is for CICs that have more complex financial arrangements. Currently, you can’t use this service if you're filing a detailed CIC report.</span> "
                  }
                ]
              }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}