{% extends "layout.html" %}
{% block pageTitle %}
  Which type of CIC report are you filing?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/cics/cics-criteria-audit" method="get" class="form">

            {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "cicReportType",
        name: "cicReportType",
        fieldset: {
          legend: {
            text: "Which type of CIC report are you filing?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Currently, you can’t use this service if you're filing a detailed CIC report."
        },
        items: [
          {
            value: "simple",
            text: "Simplified"
          },
          {
            value: "detailed",
            text: "Detailed"
          }
        ]
      }) }}

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}