{% extends "layout.html" %}
{% block pageTitle %}
  Check before you start
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <header>
            <h1 id="page-header" class="govuk-heading-l">Check before you start</h1>
          </header>

          <p>We're going to ask some questions.</p>
          <p>Your answers will show whether you can use this service to file your CIC report and accounts.</p>
          <div class="govuk-inset-text">
            <p>You
              <a href="/cics/cics-file-paper">can’t file online yet</a>
              if you want to include:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a directors’ report (not CIC report) with your accounts</li>
              <li>a profit and loss account (income statement)</li>
            </ul>
          </div>

          <form action="/cics/choose-cic-report-choose-accounts" method="GET">
            {{ govukButton({
          text: "Continue to questions"
        }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}