{% extends "layout.html" %}
{% block pageTitle %}
  Directors' report
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/cics/cics-criteria-mvp" method="get" class="form">
            <!-- {{ govukRadios({ classes: "govuk-radios--inline", idPrefix: "criteriareport", name: "criteriareport", fieldset: { attributes : { 'data-required': "data-required", 'data-error': "Tell us if you want to file a directors’ report" }, legend: { text:
            "Do you want to file a directors’ report?", isPageHeading: true, classes: "govuk-fieldset__legend--l" } }, items: [ { value: "yes", text: "Yes" }, { value: "no", text: "No" } ] }) }}-->

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you want to file either of these items?
                  </h1>
                </legend>
                <ul class="govuk-list govuk-list--bullet">
                  <li>A directors’ report</li>
                  <li>A profit and loss account (income statement)</li>
                </ul>
                {{ govukInsetText({
                  text: "Even if you have these items in your accounts, you don't need to file them with Companies House."
                }) }}

                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="criteriareport-1" name="criteriareport" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="criteriareport-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="criteriareport-2" name="criteriareport" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="criteriareport-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            {{ govukButton({
                text: "Continue"
              }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}