{% extends "layout.html" %}
{% block pageTitle %}
  Profit and loss account
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/cics/general-description" method="get" class="form">

            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "criteriaprofit",
              name: "criteriaprofit",
              fieldset: {
                attributes : {
                  'data-required': "data-required",
                  'data-error': "Tell us if you want to file a profit and loss account (income statement)"
                  },
                legend: {
                  text: "Do you want to file a profit and loss account (income statement)?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "Currently, you can’t use this service to file a profit and loss account."
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}