{% extends "layout.html" %}
{% block pageTitle %}
  Approve your CIC report
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/accounts/accounts-start-info" method="get" class="form">
            {% set myHTML %}
            <p class="govuk-hint">This is the date the CIC report was approved by the director.<br/>
              For example, 31 3 2017</p>
            {% endset -%}

            {{ govukInput({
                  label: {
                    text: "Which director approved the CIC report?",
                    isPageHeading: true,
                    classes: "govuk-label--l"
                  },
                  hint: {
                    text: "If the company has two or more directors, give the name of the director acting on their behalf."
                  },
                  id: "director-approved-cic-report",
                  name: "director-approved-cic-report"
                }) }}

            {{ govukDateInput({
                id: "date-approved-cic-report",
                name: "date-approved-cic-report",
                fieldset: {
                  legend: {
                    text: "When was the CIC report approved?",
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                    html: myHTML
                },
                items: [
                  {
                    name: "day"
                  },
                  {
                    name: "month"
                  },
                  {
                    name: "year"
                  }
                ]
              }) }}

            {{ govukButton({
                text: "Save and continue to accounts"
              }) }}
          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}