{% extends "layout-chs.html" %}

{% block page_title %}
  Community Interest Companies (prototype)
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}


<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Community Interest Companies (prototype)</h1>


      <div class="section-tabs js-tabs">
        <ul>
          <li><a href="/index" id="">Abridged</a></li>
          <li><a href="/small-full/small-full" id="">Small full</a></li>
          <li class="active"><a href="javascript:void(0)" id="">CICs</a></li>
        </ul>
      </div>


			<h2 class="heading-medium">The latest version</h2>
      <ul class="list list-bullet">
        <li><a href="/cics/shortcuts-cics">Alpha V1 (March 2018)</a>
      </ul>



    </div>
  </div><!--grid-row-->
</main>

{% endblock %}
