{% extends "layout.html" %}
{% block pageTitle %} Are you starting a new filing? {% endblock %}
{% block main %}

<div class="govuk-width-container">
  {% include "includes/phase_banner_beta.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


      {{ govukRadios({
        idPrefix: "changed-name",
        name: "cicsneworresume",
        fieldset: {
          legend: {
            text: "Are you starting a new filing?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No - I'm continuing an existing filing"
          }
        ]
      }) }}


      <form action="/cics/cics-company-number" method="GET">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

  </div><!--govuk-grid-row-->
</div><!--govuk-grid-column-two-thirds-->

</main>
</div><!---govuk-width-container-->


{% endblock %}
