{% extends "layout.html" %}
{% block pageTitle %}

  Are you starting a new filing?

{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/cics/cics-about-service" method="GET">

            {{ govukRadios({
              idPrefix: "cicsNewOrResume",
              name: "cicsNewOrResume",
              fieldset: {
                attributes : {
                  'data-required': "data-required",
                  'data-error': "Tell us if you are starting a new filing or continuing an existing filing"
                  },
                legend: {
                  text: "Are you starting a new filing?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No - I'm continuing an existing filing "
                }
              ]
            }) }}

            {{ govukButton({
                text: "Save and continue"
              }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}