{% extends "layout.html" %} {% block pageTitle %} You can’t file online {% endblock %} {% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>


  <div class="text" id="accounts-start-page">

    <a id="back" class="link-back" href="javascript:history.back()">Back</a>



    <h1 class="heading-large">You can’t file online</h1>
    <p>Your CIC hasn’t met the criteria to file your CIC report and full accounts online.</p>
    <p>You need to <a href="https://www.gov.uk/government/publications/community-interest-companies-business-activities/cic-business-activities-forms-and-step-by-step-guidelines#file-an-annual-cic-report-and-accounts-with-a-15-fee">file on paper</a>.</p>



  </div>
  <!-- text-->
  <a href="/cics/cics-criteria-not-met" style="font-size:14px; margin-top:20px; color:#DEE0E2; float:right;">Alternative</a>

</main>

{% endblock %}