{% extends "layout.html" %}
{% block pageTitle %}
  What company do you want to test with?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            What company do you want to test with?
          </h1>

          {{ govukInsetText({
            text: "User researchers should enter these details BEFORE the test starts (this screen should not be seen by the user)"
          }) }}

          <form action="/gov-uk/gov-uk-start-page-cics" method="post">

            {{ govukInput({
            label: {
            text: "What is the company name?",
            classes: "govuk-label--m govuk-!-margin-bottom-0"
              },
              hint: {
                text: "For example, 'THE TEST CIC'"
              },
              classes: "govuk-input all-caps",
                id: "company-name-for-testing",
                name: "company-name-for-testing"
              }) }}

            {{ govukInput({
              label: {
              text: "What is the registered office address?",
              classes: "govuk-label--m govuk-!-margin-bottom-0"
                },
                hint: {
                  text: "For example, '1 Any Street, Cardiff, Wales, CF12 3AB'"
                },
                  classes: "govuk-input",
                  id: "company-address-for-testing",
                  name: "company-address-for-testing"
                }) }}

            {{ govukInput({
              label: {
              text: "What is the date the next accounts made up to?",
              classes: "govuk-label--m govuk-!-margin-bottom-0"
                },
                hint: {
                  text: "For example, '31 March 2018'"
                },
                  classes: "govuk-input govuk-!-width-one-third",
                  id: "company-made-up-date-for-testing",
                  name: "company-made-up-date-for-testing"
                }) }}

            {{ govukInput({
              label: {
              text: "What is the date the next accounts are due by?",
              classes: "govuk-label--m govuk-!-margin-bottom-0"
                },
                hint: {
                  text: "For example, '31 December 2018'"
                },
                  classes: "govuk-input govuk-!-width-one-third",
                  id: "company-due-by-date-for-testing",
                  name: "company-due-by-date-for-testing"
                }) }}

            {{ govukInput({
              label: {
              text: "What is the date the last accounts were made up?",
              classes: "govuk-label--m govuk-!-margin-bottom-0"
                },
                hint: {
                  text: "For example, '31 March 2017'"
                },
                  classes: "govuk-input govuk-!-width-one-third",
                  id: "company-last-accounts-date-for-testing",
                  name: "company-last-accounts-date-for-testing"
                }) }}

            {{ govukButton({
            text: "Save and continue"
          }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}