{% extends "layout-chs.html" %} {% block page_title %}How to file your CIC report and accounts on paper{% endblock %} {% block content %}



<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}





  <a id="back" class="link-back" href="javascript:history.back()">Back</a>


  <div class="flash-card flash-card-paper">
    <header>
      <h1 class="heading-large">How to file your CIC report and accounts on paper</h1>
    </header>
    <div class="grid-row">
      <div class="column-two-thirds">
        <ul>
          <li><span class="circle circle-step-large circle-white">1</span>
            <h2 class="heading-medium"><a href="https://www.gov.uk/annual-accounts">Prepare your accounts</a></h2>
          </li>

          <li><span class="circle circle-step-large circle-white">2</span>
            <h2 class="heading-medium">Complete a <a href="https://www.gov.uk/government/publications/form-cic34-community-interest-company-report">paper CIC report</a> made up to the same date as the accounts</h2>
          </li>

          <li><span class="circle circle-step-large circle-white">3</span>
            <h2 class="heading-medium">Post both items to <a href="">the Registrar of Companies</a>, with a cheque for £15 made payable to Companies House</h2>
          </li>
        </ul>
      </div>
    </div>

    <!--  <form action="/cics/cics-new-or-resume" method="GET">
      <div class="form-group">
        <input id="submit-button" value="Continue" class="button" type="submit">
      </div>
    </form>
    <p><a href="https://www.gov.uk/annual-accounts">I need help preparing my accounts</a></p>
  </div>--
  <!--flash card-->




    <!--
  <h1 class="heading-large">How to use this service</h1>

  <div class="grid-row">

    <div class="column-third">
      <img src="/public/images/prepare-accounts.png" height="266" width="300" />
      <span class="circle circle-step-large">1</span>
      <p>Get your company's <a href="https://www.gov.uk/annual-accounts">annual accounts prepared</a>.</p>
    </div>

    <div class="column-third">
      <img src="/public/images/approve-accounts.png" height="266" width="300" />
      <span class="circle circle-step-large">2</span>
      <p>You must get your accounts approved by your company directors <strong>before</strong> you file them.</p>
    </div>

    <div class="column-third">
      <img src="/public/images/file-accounts.png" height="266" width="300" />
      <span class="circle circle-step-large">3</span>
      <p>File your prepared and approved accounts and CIC report using this service.</p>
    </div>

  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>

-->

</main>

{% endblock %}