{% extends "layout.html" %} {% block pageTitle %} About this service {% endblock %} {% block main %}



<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}





  <a id="back" class="link-back" href="javascript:history.back()">Back</a>


  <!--<div class="flash-card">
    <header>
      <h1 class="govuk-heading-l">How to file your CIC report and full annual accounts with Companies House</h1>
    </header>
    <div class="grid-row">
      <div class="column-two-thirds">
        <ul>
          <li><span class="circle circle-step circle-white">1</span>
            <h2 class="govuk-heading-m">Prepare your accounts</h2>
          </li>

          <li><span class="circle circle-step circle-white">2</span>
            <h2 class="govuk-heading-m">Get your accounts approved by the company director(s)</h2>
          </li>

          <li><span class="circle circle-step circle-white">3</span>
            <h2 class="govuk-heading-m">File your prepared accounts and CIC report</h2>
          </li>
        </ul>
      </div>
      <div class="column-one-third">
        <object data="/public/images/flash-card/passport-hand.svg" type="image/svg+xml" class="passport-hand svg" tabindex="-1">
                      <img src="/public/images/flash-card/passport-hand-x2.png" alt="" class="passport-hand" width="206" height="215">
                  </object>
      </div>
    </div>

    <form action="/cics/cics-new-or-resume" method="GET">
      <div class="form-group">
        <input id="submit-button" value="Continue" class="button" type="submit">
      </div>
    </form>
    <p><a href="https://www.gov.uk/annual-accounts">I need help preparing my accounts</a></p>
  </div>-->
  <!--flash card-->




  <div class="text">
    <h1 class="govuk-heading-l">How to file your CIC report and accounts with Companies House</h1>
  </div>
  <br />
  <div class="grid-row">

    <div class="column-third">
      <img src="/public/images/prepare-accounts.png" height="266" width="300" />
      <p class="circle circle-step-large">1</p>
      <h2 class="bold-medium">Prepare your accounts</h2>
    </div>

    <div class="column-third">
      <img src="/public/images/approve-accounts.png" height="266" width="300" />
      <p class="circle circle-step-large">2</p>
      <h2 class="bold-medium">Get your accounts approved by the company director(s)</h2>
    </div>

    <div class="column-third">
      <img src="/public/images/file-accounts.png" height="266" width="300" />
      <p class="circle circle-step-large">3</p>
      <h2 class="bold-medium">File your CIC report and accounts</h2>
    </div>

  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>
  <p><a href="https://www.gov.uk/annual-accounts">I need help preparing my accounts</a></p>

  <p>
    <a href="/cics/cics-about-service" style="float:right; color: #DEE0E2; font-size:14px;">Alternative</a>
  </p>

</main>

{% endblock %}