{% extends "layout.html" %}
{% block pageTitle %}
  You can't file online yet
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">You can’t file using this service</h1>
          <p>Your company hasn’t met the criteria to file full accounts using this service.</p>
          <p>There are
            <a href="/chs/chs-other-ways-to-file">other ways to file full accounts</a>.</p>

          <!-- text-->
          <a href="/cics/cics-criteria-not-met-alt" style="font-size:14px; margin-top:20px; color:#DEE0E2; float:right;">Alternative</a>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}