{% extends "layout.html" %}
{% block pageTitle %}
  You can't file your full accounts here
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">You can’t file online using this service</h1>

          {{ govukInsetText({
            text: "You don’t have to include a profit and loss account and/or directors’ report with your full accounts when filing with Companies House."
          }) }}

          <p>There are
            <a href="/chs/chs-other-ways-to-file">other ways to file</a>
            full accounts if you want to include a profit and loss account and/or directors’ report.</p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}