{% extends "layout.html" %}
{% block pageTitle %}
  Do you want to file an income statement (profit and loss account)?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/cics/cics-company-number" method="get" class="form">

            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "criteriaprofit",
              name: "criteriaprofit",
              fieldset: {
                attributes : {
                  'data-required': "data-required",
                  'data-error': "Tell us if you want to file an income statement (profit and loss account)"
                  },
                legend: {
                  text: "Do you want to file an income statement (profit and loss account)?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "Even if you have an income statement (profit and loss account) in your accounts, you don't need to file it with Companies House. "
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}