{% extends "layout-chs.html" %} {% block page_title %} You can’t file online yet {% endblock %} {% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>


  <div class="text">

    <a id="back" class="link-back" href="javascript:history.back()">Back</a>



    <h1 class="heading-large">You can’t file online yet</h1>
    <p>For now you can only file 'small' or 'filleted' set of full accounts here</p>
    <p>If you want to include a directors' report or profit and loss account, you need to <a href="https://www.gov.uk/government/publications/form-cic34-community-interest-company-report">file on paper</a>.</p>


  </div>
  <!-- text-->

</main>

{% endblock %}