{% extends "layout.html" %}
{% block pageTitle %}
  How to file your CIC report and accounts with Companies House
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {{ govukBackLink({
     text: "Back",
     href: "javascript:history.back()"
   }) }}

    <main class="govuk-main-wrapper">

      <div class="interruption-card">
        <header>
          <h1 class="govuk-heading-l">How to file your CIC report and accounts</h1>
        </header>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <ul class="govuk-list">
              <li>
                <span class="circle-step-white">1</span>
                <h2 class="govuk-heading-m">Have your prepared accounts ready</h2>
              </li>

              <li>
                <span class="circle-step-white">2</span>
                <h2 class="govuk-heading-m">File your CIC report</h2>
              </li>

              <li>
                <span class="circle-step-white">3</span>
                <h2 class="govuk-heading-m">File your accounts</h2>
              </li>

              <li>
                <span class="circle-step-white">4</span>
                <h2 class="govuk-heading-m">Pay £15 fee</h2>
              </li>
            </ul>
          </div>
        </div>

        <form action="/cics/cics-company-number" method="GET">
          {{ govukButton({
        text: "Continue"
      }) }}
        </form>
        <p>
          <a href="https://www.gov.uk/annual-accounts">I need help preparing my accounts</a>
        </p>
      </div>
      <!--interruption card-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}