{% extends "layout.html" %} {% block pageTitle %} Choose payment type {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block main %}







<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}



  <a id="back" class="link-back" href="javascript:history.back()">Back</a> {% include 'includes/error.html' %}

  <div class="text">



    <header>
      <h1 id="page-header" class="govuk-heading-xl">Choose payment type</h1>
    </header>


    <div class="panel panel-border-wide form-group">
      <p>The fee for your Community Interest Company annual report is <strong>£15</strong></p>
    </div>




    <form action="/accounts/accounts-payment" method="get" class="form">
      <fieldset class="" data-required="" data-error="Please choose a payment type">
        <legend class="visually-hidden">Choose payment type</legend>
        <div class="form-group">


          <label class="block-label selection-button-radio" for="choosepaymentcard">
                        <input id="choosepaymentcard" type="radio" name="choosepayment" value="card">
                        Credit or debit card<span class="govuk-hint">Payment is taken on submission</span>
                      </label>
          <label class="block-label selection-button-radio" for="choosepaymentaccount" data-target="choosepaymentaccount-reveal">
                        <input id="choosepaymentaccount" type="radio" name="choosepayment" value="onlineaccounts">
                      Companies House online filing account<span class="govuk-hint">Payment is debited when you receive email confirmation of accepted submission</span>
                      </label>


        </div>
        <!--form-group-->
      </fieldset>



      <div class="panel panel-border-narrow js-hidden" id="choosepaymentaccount-reveal">
        <div class="form-group">
          <label class="form-label" for="presenter-id">Presenter ID</label>
          <input class="form-control" name="presenter-id" type="text" id="presenter-id">
        </div>
        <!--form-group-->
        <div class="form-group">
          <label class="form-label" for="presenter-code">Presenter authentication code</label>
          <input class="form-control" name="presenter-code" type="number" id="presenter-code">
        </div>
        <!--form-group-->
      </div>
      <!--choosepaymentaccount-reveal-->








      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

  </div>
  <!--left-indent-->


  </div>
  <!--text-->

  </form>



</main>

{% endblock %}