{% extends "layout-chs.html" %}

{% block page_title %}
   File CIC company report and accounts
{% endblock %}



{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>


<div class="text" id="accounts-start-page">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>



      <h1 class="heading-xlarge">File CIC company report and accounts</h1>
      <form action="/small-full/small-full-balance-sheet-mvp" method="get" class="form">

        <p class="lede">Use this service to file a simplified CIC company report and small full company accounts</p>

        <div class="panel panel-border-wide" id="save-and-resume-message">
        <p>If you can't finish your filing in one session, you can come back later to continue. You'll need to go to <a id="recent_filings" href="javascript:void(0)">your filings</a>.</p>
        </div>
        <p>There are 3 stages to this service:</p>


      </div><!-- text-->

      <div class="grid-row">
          <div class="column-two-thirds">

            <ol class="task-list">
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">1. </span> CIC company report
                </h2>
                <ul class="task-list-items">
                  <li class="task-list-item">General description of the company's activities and impact <strong class="task-completed">Completed</strong></li>
                  <li class="task-list-item">Consultation with stakeholders <strong class="task-completed">Completed</strong></li>
                  <li class="task-list-item">Directors' renumeration <strong class="task-completed">Completed</strong></li>
                  <li class="task-list-item">Transfers of assets other than for full consideration <strong class="task-completed">Completed</strong></li>
                  <li class="task-list-item">Check your answers <strong class="task-completed">Completed</strong></li>
                  <li class="task-list-item">Approve your CIC company report <strong class="task-completed">Completed</strong></li>
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">2. </span> Small full accounts
                </h2>
                <ul class="task-list-items">
                  <li class="task-list-item">Balance sheet</li>
                  <li class="task-list-item">Balance sheet statements</li>
                  <li class="task-list-item">Balance sheet notes</li>
                  <li class="task-list-item">Check your answers</li>
                  <li class="task-list-item">Approve your small full accounts</li>
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">3. </span>Payment
                </h2>
                <ul class="task-list-items">
                  <li class="task-list-item">Pay and submit</li>
              </li>
            </ol>


          </div><!-- grid-row-->
      </div><!-- column-two-thirds-->
      <div class="form-group">
        <input type="submit" class="button" value="Continue to small full accounts" id="">
      </div>

            </form>



      </main>

      {% endblock %}
