{% extends "layout.html" %}
{% block pageTitle %} You can't file online yet {% endblock %}
{% block main %}

<div class="govuk-width-container">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/chs-user-menu-logged-in.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-l">You can’t file online yet</h1>
    <p>For now you can only file a 'small' or 'filleted' set of full accounts here.</p>
    <p>If you want to include a directors' report or profit and loss account, you need to <a href="/cics/cics-file-paper">file on paper</a>.</p>

  </div><!--govuk-grid-row-->
  </div><!--govuk-grid-column-two-thirds-->

  </main>
  </div><!---govuk-width-container-->


  {% endblock %}
