{% extends "layout.html" %}
{% block pageTitle %}
  Enter your directors' remuneration information here
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/cics/transfer-of-assets" method="get" class="form">

            {% call govukFieldset({
      legend: {
        text: "Enter your directors' remuneration information here",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    }) %}
            {{ govukDetails({
        summaryText: "See an example",
        text: "The total amount paid to or receivable by directors in respect of qualifying services was £10,000"
      }) }}
            {{ govukTextarea({
      name: "cics-directors-remuneration",
      id: "cics-directors-remuneration",
      rows: "20",
      label: {
        text: "Enter your directors' remuneration information here",
        classes: "govuk-visually-hidden"
      }
    }) }}
            {% endcall %}

            {{ govukButton({
        text: "Save and continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}