{% extends "layout.html" %}
{% block pageTitle %}
  Was directors' remuneration received?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Was directors' remuneration received?
          </h1>

          <form action="/cics/directors-remuneration-cic-report" method="get" class="form">

            <p>Directors' remuneration is any money paid to the CIC director(s). This includes their usual pay, as well as other benefits.</p>

            {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "cicsDirectorsRemuneration",
                name: "cicsDirectorsRemuneration",
                fieldset: {
                  attributes : {
                    'data-required': "data-required",
                    'data-error': "Tell us if directors' remuneration was received"
                    },
                    legend: {
                    text: "Was directors' remuneration received?",
                    classes: "govuk-visually-hidden"
                  }
                },
                items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked('cicsDirectorsRemuneration','Yes')
                },
                  {
                    value: "No directors' remuneration was received",
                    text: "No",
                    checked: checked('cicsDirectorsRemuneration',"No directors' remuneration was received")
                  }

                ]
              }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}

          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}