{% extends "layout-chs.html" %}

{% block page_title %}
Community Interest Company report - Directors' renumeration
{% endblock %}

{% block content %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}



    <h1 class="heading-xlarge"><span class="circle circle-step-large">3</span>
      Community Interest Company report
      <span class="circle-subheading text">Directors' renumeration</span>
    </h1>


        <div class="left-indent text">

        <form action="/cics/transfer-of-assets" method="get" class="form">
          <h2 class="heading-medium">Enter your directors' renumeration information here</h2>

              <fieldset class="inline" data-required="" data-error="Please confirm if directors' renumeration was recieved">
                      <legend class="visually-hidden">Was directors' renumeration recieved?</legend>
                            <details class="form-group">
                              <summary><span class="summary">See an example</span></summary><span class="visuallyhidden">directors' renumeration</span>
                              <div class="panel panel-border-narrow form-hint">
                                <p>The aggregate amount of emoluments paid to or receivable by directors in respect of qualifying services was £10,000.</p>
                                <p>There were no other transactions or arrangements in connection with the remuneration of directors, or compensation for director’s loss of office, which require to be disclosed.</p>
                              </div>
                            </details>
                            <label for="general-account" class="visuallyhidden">Insert a general account of the company's activities in the financial year to which the report relates, including a description of how they have benefited the community.</label>
                            <textarea type="text" id="renumerationtextarea" class="form-control" rows="10"></textarea>
                  </fieldset>









              <div class="accounts-row-spacer">
                <input type="submit" class="button" value="Save and continue" id="">
              </div>
            </form>
          </div><!--left-indent-->
        </div><!--text-->


    </main>
    {% endblock %}
