{% extends "layout.html" %}
{% block pageTitle %}
  Was directors' remuneration received?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Was directors' remuneration received?
          </h1>

          <form action="/cics/directors-remuneration-accounts" method="get" class="form">

            <p>Directors' remuneration is any money paid to the CIC director(s). This includes their usual pay, as well as other benefits.</p>

            {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "cicsDirectorsRemuneration",
                name: "cicsDirectorsRemuneration",
                fieldset: {
                  attributes : {
                    'data-required': "data-required",
                    'data-error': "Tell us if directors' remuneration was received"
                    },
                    legend: {
                    text: "Was directors' remuneration received?",
                    classes: "govuk-visually-hidden"
                  }
                },

                items: [
                  {
                    value: "No remuneration was received",
                    text: "No remuneration was received",
                    checked: checked('cicsDirectorsRemuneration','no')
                  },
                  {
                    value: "Yes - CIC",
                    text: "Yes - I'm providing details as part of my CIC report",
                    checked: checked('cicsDirectorsRemuneration','cic')
                  },
                  {
                    value: "Details will be provided as part of the accounts",
                    text: "Yes - I'm providing details as part of my accounts",
                    checked: checked('cicsDirectorsRemuneration','accounts')
                  }
                ]
              }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}