{% extends "layout.html" %}
{% block pageTitle %}
  Is directors' remuneration information included in your CIC report or your prepared accounts?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Is directors' remuneration information included in your CIC report or your prepared accounts?
          </h1>

          <form action="/cics/directors-remuneration-accounts" method="get" class="form">

            {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "cicsDirectorsRemunerationLocation",
                name: "cicsDirectorsRemunerationLocation",
                fieldset: {
                  attributes : {
                    'data-required': "data-required",
                    'data-error': "Tell us if directors' remuneration included in your CIC report or your prepared accounts?"
                    },
                    legend: {
                    text: "Was directors' remuneration received?",
                    classes: "govuk-visually-hidden"
                  }
                },
                items: [
                {
                  value: "CIC",
                  text: "CIC report",
                  checked: checked('cicsDirectorsRemunerationLocation','CIC')
                },
                  {
                    value: "Accounts",
                    text: "Accounts",
                    checked: checked('cicsDirectorsRemunerationLocation','Accounts')
                  }

                ]
              }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}