{% extends "layout-chs.html" %}

{% block page_title %}
Community Interest Company report - Directors' renumeration
{% endblock %}

{% block content %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}



    <h1 class="heading-xlarge"><span class="circle circle-step-large">3</span>
      Community Interest Company report
      <span class="circle-subheading text">Directors' renumeration</span>
    </h1>


        <div class="left-indent text">
        <h2 class="heading-medium">Was directors' renumeration recieved?</h2>
        <details class="form-group">
          <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Directors' renumeration</span>
          <div class="panel panel-border-narrow form-hint">
            <p>Some help text, if needed.</p>
          </div>
        </details>
        <form action="/cics/transfer-of-assets" method="get" class="form">
              <fieldset class="inline" data-required="" data-error="Please confirm if directors' renumeration was recieved">
                      <legend class="visually-hidden">Was directors' renumeration recieved?</legend>
                      <div class="form-group">

                      <label class="block-label selection-button-radio" for="renumerationyesnoyes" data-target="renumerationyesnoyes-reveal">
                        <input id="renumerationyesnoyes" name="renumerationyesnoyn" value="Yes" aria-controls="renumerationyesnoyes-reveal" type="radio">
                        Yes
                      </label>
                      <label class="block-label selection-button-radio" for="renumerationyesnono">
                        <input id="renumerationyesnono" name="renumerationyesnoyn" value="No" type="radio">
                        No
                        </label>
                      </div><!--form-group-->

                    </fieldset>



                <div class="panel panel-border-narrow js-hidden" id="renumerationyesnoyes-reveal">
                  <h2 class="heading-medium">Will you be providing full details of directors' renumeration in your accounts?</h2>
                  <details class="form-group">
                    <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Full details of directors' renumeration in your accounts</span>
                    <div class="panel panel-border-narrow form-hint">
                      <p>Some help text, if needed.</p>
                    </div>
                  </details>
                  <fieldset class="inline" data-required="" data-error="Please confirm if directors' renumeration was recieved">
                          <legend class="visually-hidden">Was directors' renumeration recieved?</legend>
                          <div class="form-group">

                          <label class="block-label selection-button-radio" for="renumerationyesyes">
                            <input id="renumerationyesyes" name="renumerationyes" value="Yes" type="radio">
                            Yes
                          </label>
                          <label class="block-label selection-button-radio" for="renumerationyesno"  data-target="renumerationyes-reveal">
                            <input id="renumerationyesno" name="renumerationyes" value="No" aria-controls="renumerationyes-reveal"  type="radio">
                            No
                            </label>
                          </div><!--form-group-->

                          <div class=" js-hidden" id="renumerationyes-reveal">
                            <label for="other-1" class="heading-medium">Enter your directors' renumeration information here<span class="form-hint">Some help text if needed</span></label>

                            <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
                        </div>



                    </div>






              <div class="accounts-row-spacer">
                <input type="submit" class="button" value="Save and continue" id="">
              </div>
            </form>
          </div><!--left-indent-->
        </div><!--text-->


    </main>
    {% endblock %}
