{% extends "layout-chs.html" %} {% block page_title %} Community Interest Company annual report - Directors' remuneration {% endblock %} {% block content %}

<style type="text/css">
  .left-indent {
    margin-left: 3em
  }
</style>

<main id="content" role="main" class="two-column-accounts">
  {% include "includes/phase_banner_beta.html" %}

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>




  <a id="back" class="link-back" href="javascript:history.back()">Back</a> {% include 'includes/error.html' %}


  <div class="text">
    <h1 class="heading-large">
    <span class="circle-subheading text">CIC report</span>
      Was directors' remuneration received?
    </h1>



    <form action="/cics/directors-remuneration-yes" method="get" class="form">

      <p>Directors' remuneration is any money paid to the CIC director(s). This includes their usual pay, as well as other benefits.</p>
      <fieldset class="inline" data-required="" data-error="Please confirm directors' remuneration was recieved">
        <legend class="visuallyhidden">Was directors' remuneration received?</legend>
        <div class="form-group">

          <label class="block-label selection-button-radio" for="directorsremunerationyes">
                    <input id="directorsremunerationyes" name="directorsremunerationyn" value="Yes" type="radio" aria-controls="directorsremunerationyes-reveal">
                    Yes
                  </label>
          <label class="block-label selection-button-radio" for="directorsremunerationno">
                    <input id="directorsremunerationno" name="directorsremunerationyn" value="No" type="radio">
                    No
                    </label>
        </div>
        <!--form-group-->

      </fieldset>










      <input type="submit" class="button" value="Save and continue" id="">
    </form>
  </div>
  <!--left-indent-->
  </div>
  <!--text-->


</main>
{% endblock %}