{% extends "layout-chs.html" %}

{% block page_title %}
Community Interest Company report - General description of the company's activities and impact{% endblock %}

{% block content %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}



    <h1 class="heading-xlarge"><span class="circle circle-step-large">1</span>
      Community Interest Company report
      <span class="circle-subheading text">General description of the company's activities and impact</span>
    </h1>





    <div class="left-indent text">
    <h2 class="heading-medium">Was the Community Interest Company dormant for the period?</h2>
    <details class="form-group">
      <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">was the Community Interest Company dormant for the period?</span>
      <div class="panel panel-border-narrow form-hint">
        <p>Some help text, if needed.</p>
      </div>
    </details>
    <form action="/cics/consultation-with-stakeholders" method="get" class="form">
          <fieldset class="inline" data-required="" data-error="Please confirm if the Community Interest Company was dormant for the period?">
                  <legend class="visually-hidden">Was the Community Interest Company dormant for the period?</legend>
                  <div class="form-group">

                  <label class="block-label selection-button-radio" for="cicdormantyes" data-target="cicdormantyes-reveal">
                    <input id="cicdormantyes" name="cicdormantyn" value="Yes" aria-controls="cicdormantyes-reveal" type="radio">
                    Yes
                  </label>
                  <label class="block-label selection-button-radio" for="cicdormantno" data-target="cicdormantno-reveal">
                    <input id="cicdormantno" name="cicdormantyn" value="No" aria-controls="cicdormantno-reveal"  type="radio">
                    No
                    </label>
                  </div><!--form-group-->

                </fieldset>



            <div class="panel panel-border-narrow js-hidden" id="cicdormantyes-reveal">

              <label for="cicdormantyeslabel" class="heading-medium form-group">Some content about dormant here</label>

          </div>

          <div class="panel panel-border-narrow js-hidden" id="cicdormantno-reveal">

            <label for="general-account" class="heading-medium form-group">Insert a general account of the company's activities in the financial year to which the report relates, including a description of how they have benefited the community.</label>
            <details class="form-group">
              <summary><span class="summary">See an example</span></summary><span class="visuallyhidden">general description of the company's activities and impact</span>
              <div class="panel panel-border-narrow form-hint">
                <p>The company runs The Village Shop, a general store in The Village with a particular emphasis on selling locally produced food. The shop opened for business in August 2005. During the financial year 2006-2007, the shop’s activities have benefited the community in the following ways:</p>
                <ul class="list list-bullet">
                  <li>local residents (particularly those without access to cars and those with impaired mobility) have been able to buy their groceries more conveniently, either by visiting the shop or by using its telephone order home delivery service</li>
                  <li>the number of “food miles” generated by producers and consumers of food in The Village has been reduced by about 15%</li>
                  <li>the shop has provided full-time or part-time employment for 5 local residents</li>
                  <li>8 small-scale local producers of various food and drink products, who were either dissatisfied with or unable to supply larger wholesalers or retailers have been able to sell their products through the shop</li>
                  <li>40 households have been supplied with regular or occasional domestic services through the shop’s job-matching service.</li>
                </ul>
              </div>
            </details>
            <textarea type="text" id="general-account" class="form-control" rows="20"></textarea>
        </div>











          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Save and continue" id="">
          </div>
        </form>
      </div><!--left-indent-->
    </div><!--text-->


</main>
{% endblock %}
