{% extends "layout.html" %}
{% block pageTitle %}
  Community Interest Companies (prototype)
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">File CIC report and accounts (prototype)<span class="govuk-caption-xl">Beta V5 (August 2018)</span></h1>

          <h2 class="govuk-heading-m">Journeys</h2>
          <ul class="govuk-list">
            <!--<li><a href="/small-full/small-full-routing-1">Choose between MVP and 'full'</a></li>-->
            <li>
              <a href="/gov-uk/gov-uk-start-page-cics">From gov-uk start page</a>
            </li>

          </ul>

          <h2 class="govuk-heading-m form-group">Shortcuts</h2>

          <h3 class="govuk-heading-s">GOV.UK / CHS</h3>
          <ul class="govuk-list">
            <li>
              <a href="/cics/cics-company-for-testing">Set test variables</a>
            </li>
            <li>
              <a href="/gov-uk/gov-uk-start-page-cics">GOV.UK start page</a>
            </li>
            <li>
              <a href="/cics/cics-about-service">How to file...</a>
              |
              <a href="/cics/cics-about-service-alt">How to file... (alt)</a>
            </li>
            <li>
              <a href="/cics/cics-new-or-resume">New or resume</a>
            </li>
            <li>
              <a href="/chs/chs-start-page-alternative-chs-search-cics">Which company are you filing for?</a>
              |
              <a href="/cics/cics-company-number">What is the company number?</a>
            </li>
            <li>
              <a href="/cics/cics-company-number-confirm">Confirm company (via number)</a>
            </li>
            <li>
              <a href="/chs/chs-start-page-alternative-chs-search-cics-results">CHS search results</a>
            </li>
            <li>
              <a href="/chs/chs-start-page-cics">CHS start page (search and results)</a>
            </li>
            <li>
              <a href="/chs/chs-profile-page-cics">CHS profile page (not signed in or authenticated)</a>
            </li>
            <li>
              <a href="/chs/chs-login-page-cics-via-number">CHS sign in</a>
            </li>
            <li>
              <a href="/chs/chs-authenticate-page-cics-via-number">CHS company authentication</a>
            </li>
            <li>
              <a href="/chs/chs-profile-page-logged-in-cics#overview-tabs">CHS profile page (signed in and authenticated)</a>
            </li>
            <li>
              <a href="/cics/cics-criteria-info">Check before you start</a>
            </li>
            <li>
              <a href="/cics/cics-criteria-mvp">Accounts criteria page</a>
              |
              <a href="/cics/cics-criteria-not-met">Criteria not met</a>
            </li>
            <li>
              <a href="/cics/cics-criteria-audit">Are your accounts audited?</a>
            </li>
            <li>
              <a href="/cics/cics-criteria-report">Do you want to file a directors’ report?)</a>
              |
              <a href="/cics/cics-criteria-no-DR-PL">Criteria not met</a>
            </li>
            <li>
              <a href="/cics/cics-criteria-profit">Do you want to file a profit and loss account?</a>
              |
              <a href="/cics/cics-criteria-no-DR-PL">Criteria not met</a>
            </li>
            <li>
              <a href="/cics/cics-file-paper">How to file on paper</a>
            </li>
            <li>
              <a href="/cics/cics-stages-of-service">Task list (nothing done yet)</a>
            </li>
            <li>
              <a href="/cics/cics-save-info">Do you want to save your information?</a>
            </li>
            <li>
              <a href="/cics/cics-save-info-email">Check your email (save information)</a>
            </li>
          </ul>

          <h3 class="govuk-heading-s">CIC report</h3>
          <ul class="govuk-list">
            <li>
              <a href="/cics/general-description">The company’s activities and impact</a>
            </li>
            <li>
              <a href="/cics/consultation-with-stakeholders">Consultation with stakeholders</a>
            </li>
            <li>
              <a href="/cics/directors-remuneration">Directors' remuneration</a>
            </li>
            <li>
              <a href="/cics/directors-remuneration-yes">Directors' remuneration included in accounts</a>
            </li>
            <li>
              <a href="/cics/transfer-of-assets">Transfers of assets other than for full consideration</a>
            </li>
            <li>
              <a href="/cics/cics-check-before-you-submit">Check your answers</a>
            <li>
              <a href="/cics/cics-approval">Approval</a>
            </li>
            <li>
              <a href="/cics/cics-stages-of-service-cic-done">Task list (CIC report completed)</a>
            </li>
          </ul>

          <h3 class="govuk-heading-s">Full accounts</h3>
          <ul class="govuk-list">
            <li>
              <a href="/small-full/small-full-accounts-dates">Confirm your company account dates</a>
            </li>
            <li>
              <a href="/small-full/small-full-balance-sheet">Balance sheet</a>
            </li>
            <li>
              <a href="/small-full/small-full-balance-sheet-statements">Balance sheet statements</a>
            </li>
            <li>
              <a href="/small-full/small-full-accounting-policies">Basis of accounts preparation
              </a>
            </li>
            <li>
              <a href="/small-full//small-full-other-accounting-policies">Any other accounting policies?</a>
            </li>
            <li>

              <ul class="govuk-list govuk-!-margin-left-4">
                <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-2">
                  The following notes will only be shown if corresponding data has been entered on the balance sheet:
                </span>
                <li>
                  <a href="/small-full/small-full-intangible-assets-note">Intangible assets note</a>
                </li>
                <li>
                  <a href="/small-full/small-full-tangible-assets-choose">Which tangible assets?</a>
                </li>
                <li>
                  <a href="/small-full/small-full-tangible-assets-note-custom">Tangible assets note</a>
                  |
                  <a href="/small-full/small-full-tangible-assets-note">Tangible assets note (all 5)</a>
                </li>
                <li>
                  <a href="/small-full/small-full-stocks-note">Stocks note</a>
                </li>
                <li>
                  <a href="/small-full/small-full-debtors-note">Debtors note</a>
                </li>
                <li>
                  <a href="/small-full/small-full-creditors-within-note">Creditors - amounts falling due within one year note</a>
                </li>
                <li>
                  <a href="/small-full/small-full-creditors-after-note">Creditors - amounts falling due after one year note</a>
                </li>
                <li class=" govuk-!-margin-bottom-1">
                  <a href="/small-full/small-full-revaluation-reserve-note">Revaluation reserve note</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/small-full/small-full-other-notes-yes-no">Any other notes?
              </a>
            </li>
            <li>
              <a href="/small-full/small-full-employees-yes-no">Employees note</a>
            </li>
            <li>
              <a href="/small-full/small-full-fixed-assets-yes-no">Fixed assets investments' note</a>
            </li>
            <li>
              <a href="/small-full/small-full-current-assets-yes-no">Current asset investments note</a>
            </li>
            <li>
              <a href="/small-full/small-full-commitments-yes-no">Financial commitments note</a>
            </li>
            <li>
              <a href="/small-full/small-full-loans-yes-no">Loans to directors note(s)</a>
            </li>
            <li>
              <a href="/small-full/small-full-changes-in-presentation-yes-no">Changes in presentation and prior period adjustments note</a>
            </li>
            <li>
              <a href="/small-full/small-full-related-transactions-yes-no">Related party transaction note(s)</a>
            </li>
            <li>
              <a href="/small-full/small-full-post-events-yes-no">Post balance sheet events note</a>
            </li>
            <li>
              <a href="/small-full/small-full-check-before-you-submit">Check your answers</a>
              |
              <a href="/small-full/small-full-check-before-you-submit-full-tangible">Check your answers (full tangible)</a>
            </li>
            <li>
              <a href=" /cics/cics-accounts-approval ">CICS accounts approval</a>
            </li>
            <li>
              <a href="/cics/cics-stages-of-service-cic-and-accounts-done">Task list (CIC report completed, accounts completed)</a>
            </li>
          </ul>

          <h3 class="govuk-heading-s">Payment</h3>
          <ul class="govuk-list">
            <li>
              <a href="/accounts/accounts-payment ">Payment</a>
            </li>
          </ul>

          <h3 class="govuk-heading-s">Submission</h3>
          <ul class="govuk-list">
            <li>
              <a href="/cics/cics-submission ">Submission confirmation</a>
            </li>
            <li>
              <a href="/chs/chs-your-filings-cics ">Your filings</a>
            </li>
          </ul>
        </div>
      </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}