{% extends "layout-chs.html" %}

{% block page_title %}
  Community Interest Companies (prototype)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Community Interest Companies (prototype)<span class="heading-secondary">Alpha V1 (January 2018)</span></h1>


      <h2 class="heading-medium form-group">Shortcuts</h2>
      <h3 class="heading-small">GOV.UK / CHS</h3>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-cics">GOV.UK start page</a></li>
        <li><a href="/chs/chs-start-page-cic">CHS start page (search and results)</a></li>
        <li><a href="/chs/chs-profile-page-cics">CHS profile page (not signed in or authenticated)</a></li>
        <li><a href="/chs/chs-login-page-cics">CHS sign in</a></li>
        <li><a href="/chs/chs-authenticate-page-cics">CHS company authentication</a></li>
        <li><a href="/chs/chs-profile-page-logged-in-cics#overview-tabs">CHS profile page (signed in and authenticated)</a></li>

        <li><a href="/cics/cics-criteria-mvp">Criteria page (MVP)</a></li>
        <li><a href="/cics/cics-stages-of-service">Stages of the whole service</a></li>
        <li><a href="/cics/cics-criteria-not-met">Criteria not met (MVP)</a></li>

      </ul>

      <h3 class="heading-small">CIC report</h3>
      <ul class="list list-bullet">
        <li><a href="/cics/cics-steps-to-complete">Steps to complete</a></li>
        <li><a href="/cics/general-description">General description of the company's activities and impact</a></li>
        <li><a href="/cics/consultation-with-stakeholders">Consultation with stakeholders</a></li>
        <li><a href="/cics/directors-renumeration">Directors' renumeration</a></li>
        <li><a href="/cics/transfers-of-assets">Transfers of assets other than for full consideration</a></li>
        <li><a href="/cics/cics-check-before-you-submit">Check before you submit</a></li>
        <li><a href="/cics/cics-approval">Approval</a></li>
      </ul>

      <h3 class="heading-small">Small full accounts</h3>
      <ul class="list list-bullet">
        <li><a href="javascript:void(0)">Text here</a></li>
      </ul>

      <h3 class="heading-small">Payment</h3>
      <ul class="list list-bullet">
        <li><a href="javascript:void(0)">Text here</a></li>
      </ul>

      <h3 class="heading-small">Submission</h3>
      <ul class="list list-bullet">
        <li><a href="javascript:void(0)">Text here</a></li>
      </ul>
    </div><!--column-two-thirds-->
  </div><!--grid-row-->
</main>

{% endblock %}
