{% extends "layout-chs.html" %}

{% block page_title %}
  Community Interest Companies (prototype)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Community Interest Companies (prototype)<span class="heading-secondary">Alpha V2 (May 2018)</span></h1>


      <h2 class="heading-medium">Journeys</h2>
      <ul class="list list-bullet">
        <!--<li><a href="/small-full/small-full-routing-1">Choose between MVP and 'full'</a></li>-->
        <li><a href="/cics-or-small-full">Choose between CICS or full accounts (MVP)</a></li>

      </ul>


      <h2 class="heading-medium form-group">Shortcuts</h2>

      <h3 class="heading-small">GOV.UK / CHS</h3>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-cics">GOV.UK start page</a></li>
        <li><a href="/chs/chs-start-page-cic">CHS start page (search and results)</a></li>
        <li><a href="/chs/chs-profile-page-cics">CHS profile page (not signed in or authenticated)</a></li>
        <li><a href="/chs/chs-login-page-cics">CHS sign in</a></li>
        <li><a href="/chs/chs-authenticate-page-cics">CHS company authentication</a></li>
        <li><a href="/chs/chs-profile-page-logged-in-cics#overview-tabs">CHS profile page (signed in and authenticated)</a></li>
        <li><a href="/cics/cics-choose-report-type">CIC report criteria page</a>
        <li><a href="/cics/cics-criteria-mvp">Accounts criteria page</a> | <a href="/cics/cics-criteria-not-met">Criteria not met</a></li>
        <li><a href="/cics/cics-stages-of-service">Task list (nothing done yet)</a></li>

      </ul>

      <h3 class="heading-small">CIC annual report</h3>
      <ul class="list list-bullet">
        <li><a href="/cics/general-description">The company’s activities and impact</a></li>
        <li><a href="/cics/consultation-with-stakeholders">Consultation with stakeholders</a></li>
        <li><a href="/cics/directors-remuneration">Directors' remuneration</a></li>
        <li><a href="/cics/transfer-of-assets">Transfers of assets other than for full consideration</a></li>
        <li><a href="/cics/cics-check-before-you-submit">Check before you submit</a></li>
        <li><a href="/cics/cics-approval">Approval</a></li>
        <li><a href="/cics/cics-stages-of-service-cic-done">Task list (CIC annual report completed)</a></li>
      </ul>

      <h3 class="heading-small">Full accounts</h3>
      <ul class="list list-bullet">
        <li><a href="/cics/cics-accounts-approval">CICS accounts approval</a></li>
        <li><a href="/cics/cics-stages-of-service-cic-and-accounts-done">Task list (CIC annual report completed, accounts completed)</a></li>
      </ul>

      <h3 class="heading-small">Payment</h3>
      <ul class="list list-bullet">
        <li><a href="/accounts/accounts-payment">Payment</a></li>
      </ul>

      <h3 class="heading-small">Submission</h3>
      <ul class="list list-bullet">
        <li><a href="/cics/cics-submission">Submission confirmation</a></li>
        <li><a href="/chs/chs-your-filings-cics">Your filings</a></li>
      </ul>
    </div><!--column-two-thirds-->
  </div><!--grid-row-->
</main>

{% endblock %}
