{% extends "layout.html" %}
{% block pageTitle %} Give details about assets transferred other than for full consideration {% endblock %}
{% block main %}

<div class="govuk-width-container">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/chs-user-menu-logged-in.html" %}



  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Give details about assets transferred other than for full consideration
    </h1>

    <form action="/cics/cics-check-before-you-submit" method="get" class="form">

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          See an example
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>There was a transfer to a local community group of £100 to purchase a laptop.</p>
      </div>
    </details>

    {{ govukTextarea({
      name: "more-detail",
      id: "more-detail",
      rows: "20",
      value: data['cics-transfer-assets'],
      label: {
        text: "Give details about assets transferred other than for full consideration",
        classes: "govuk-visually-hidden"
      }
    }) }}




      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

</div><!--govuk-grid-row-->
</div><!--govuk-grid-column-two-thirds-->

</main>
</div><!---govuk-width-container-->


{% endblock %}
