{% extends "layout.html" %}
{% block pageTitle %}
  Was there any transfer of assets other than for full consideration?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/cics/cics-check-before-you-submit" method="get" class="form">
            {% call govukFieldset({
              legend: {
                text: "Was there any transfer of assets other than for full consideration?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            }) %}
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What's this?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>This generally means any transfer of the CIC's assets that have not reached full market value during this financial year. For example, if an asset was valued at £1,000 and the CIC sold it for less (say £500), you should declare why. This also
                  applies if the CIC gave any assets to another CIC or a charity.</p>
                <p>For more details,
                  <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/605418/14-1089-community-interest-companies-chapter-6-the-asset-lock.pdf">read our guidance (PDF 297kb)</a>
                  or speak to your accountant.</p>
              </div>
            </details>
            {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: "assetstransferred",
                  name: "assetstransferred",
                  fieldset: {
                    attributes : {
                      'data-required': "data-required",
                      'data-error': "Tell us if there there any transfer of assets other than for full consideration"
                      },
                    legend: {
                      text: "Were any assets transferred other than for full consideration?",
                      classes: "govuk-visually-hidden"
                    }
                  },

                  items: [
                    {
                      value: "yes",
                      text: "Yes",
                      checked: checked('assetstransferred','yes')
                    },
                    {
                      value: "no",
                      text: "No",
                      checked: checked('assetstransferred','no')
                    }
                  ]
                }) }}
            {% endcall %}

            {{ govukButton({
        text: "Save and continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}