{% extends "layout.html" %}
{% block pageTitle %}
  Give details of any transfer of assets other than for full consideration
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Give details of any transfer of assets other than for full consideration
          </h1>

          <form action="/cics/cics-check-before-you-submit" method="get" class="form">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  See an example
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>There was a transfer to a local community group of £100 to purchase a laptop.</p>
              </div>
            </details>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" data-required="data-required" data-error="Enter details of any transfer of assets that have not reached market value">
                <legend class="govuk-visually-hidden">Give details about assets transferred other than for full consideration</legend>
                <label class="govuk-label govuk-visually-hidden" for="cics-transfer-assets">
                  Give details about assets transferred other than for full consideration
                </label>
                <textarea class="govuk-textarea" id="cics-transfer-assets" name="cics-transfer-assets" rows="20"></textarea>
              </fieldset>
            </div>

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}