{% extends "layout.html" %}
{% block pageTitle %}
  Were any assets transferred other than for full consideration?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/cics/transfers-of-assets-yes-completed" method="get" class="form">
            {% call govukFieldset({
    legend: {
      text: "Was there any transfer of assets that have not reached market value?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  }) %}
            {{ govukDetails({
      summaryText: "What's this?",
      text: "Give full details of any transfer of the CIC's assets that have not reached full market value during this financial year. For example, if an asset was valued at £1,000 and the CIC sold it for less (say £500), you should declare why. This also
        applies if the CIC gave any assets to another CIC or a charity."
    }) }}
            {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "assetstransferred",
        name: "assetstransferred",
        fieldset: {
          legend: {
            text: "Were any assets transferred other than for full consideration?",
            classes: "govuk-visually-hidden"
          }
        },

        items: [
          {
            value: "yes",
            text: "Yes",
            checked: "true"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
            {% endcall %}
            {{ govukButton({
        text: "Save and continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}