<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/validation.js"></script>
<script src="/public/javascripts/balance-sheet-calculations.js"></script>
<script src="/public/javascripts/balance-sheet-notes-calculations.js"></script>
<script src="/public/javascripts/accounts.js"></script>
<script src="/public/javascripts/profit-and-loss-account-calculations.js"></script>
<script src="/public/javascripts/small-full-notes-calculations.js"></script>
<script src="/public/javascripts/accounts-routes.js"></script>
