//Hide these elements

html {
  font-size: 62.5%;
}

* {
  background: transparent;
  color: black;
  text-shadow: none;
  filter: none;
  -ms-filter: none;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 11pt;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%;
}

#global-cookie-message,
#skiplink-container,
.visuallyhidden,
footer,
nav {
  display: none !important;
}

#confirmation-details {
  border: 5px solid grey;
  padding: 10px;
}

.govuk-grid-column-two-thirds {
  width: 100%;
}

.govuk-panel--confirmation {
  background: none;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
  content: " ("attr(href) ")";
  font-size: 90%;
}

.govuk-header__link .govuk-header__link--homepage {
  content: none;
}

.govuk-header__container {
  border-bottom: none;
}

a:link,
a:visited {
  color: black !important;
}

.govuk-panel__body {
  font-size: 19pt !important;
  margin-bottom: 10px !important;
}

.govuk-panel__title {
  font-size: 24pt !important;
  margin-bottom: 10px !important;
}

.govuk-header__container {
  position: relative;
  left: -18px;
}

#global-header a#logo {
  background-image: url("royal-coat-of-arms-black.svg");
  border: none;
}

#global-header {
  background-color: #fff;
}

.govuk-phase-banner__content__tag,
.govuk-tag {
  background-color: #000 !important;
  color: #fff !important;
}
//Hide number spinners

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  text-align: right;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: right;
}
//Ensure balance sheet etc maintain columns

.two-column-accounts .column-half,
.two-column-accounts .column-one-half {
  float: left;
  width: 50%;
  display: inline-block;
}

.two-column-accounts .column-one-quarter,
.two-column-accounts .column-quarter {
  float: left;
  width: 25%;
  display: inline-block;
}

.two-column-accounts .column-one-third,
.two-column-accounts .column-third {
  float: left;
  width: 33.3333%;
  display: inline-block;
}

.two-column-accounts .column-two-thirds {
  float: left;
  width: 66.6667%;
  display: inline-block;
}

.two-column-accounts .grid-row {
  display: block;
}
//Reduce font sizes where appropriate

#accounts-header h2,
p.warning,
strong.no-help {
  font-size: 12px;
}

#balance-sheet h2,
#balance-sheet h3 {
  font-size: 14px;
}

#balance-sheet .grid-row {
  margin: 0 0 20px;
  display: block;
  clear: both;
}