// Additional styles for CH accounts
$error-button-hover: #8e0513;

.two-column-accounts {
  form-control {
    text-align: right;
  }

  #accounts-header {
    text-align: center;
    margin-bottom: 1em;

    .left {
      text-align: left;
    }
    @include govuk-media-query($from: mobile) {
      display: none;
      /*Hide from mobiles*/
    }

    .govuk-heading-m {
      margin: 0;
    }
  }

  .error {
    border: none; ///errors on Balance sheet
    padding-left: 0;

    input {
      border: 4px solid $govuk-error-colour;
    }
  }

  .read-only {
    border-color: $govuk-border-colour;
  }

  .mobile-only-label {
    position: absolute;
    /*Hidden on desktop, but can be read by screenreaders*/
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    @include govuk-media-query(mobile) {
      /*Visible on mobiles*/
      position: relative;
      overflow: visible;
    }
  }

  .accounts-total {
    .form-control {
      border-left: 0;
      border-right: 0;
      font-weight: 700;
    }

    details {
      font-weight: 700;
    }

    .no-help {
      margin-left: 1em;
      @include govuk-media-query(mobile) {
        /*Visible on mobiles*/
        margin-left: 0;
        display: block;
        @include govuk-font($size: 19);
        font-weight: 700;
        margin-bottom: 0.5em;
      }
    }
  }

  .accounts-row-spacer {
    margin-top: 2em;
  }

  .form-control {
    width: 100%;
  }

  .govuk-heading-s {
    margin: 0;
  }

  input[type="number"] {
    text-align: right;
  }

  .currency-included-within-inputs input[type="number"] {
    position: relative;
    top: -32px;
  }

  .currency-type {
    position: relative;
    left: 10px;
    font-weight: bold;
  }
  @include govuk-media-query(mobile) {
    .currency-included-within-inputs input[type="number"] {
      display: block;
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      position: static;
    }

    .currency-included-within-inputs .mobile-only-label {
      display: inline-block;
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      position: static;
    }

    .currency-included-within-inputs .currency-type {
      display: inline;
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      position: static;
    }

    .currency-included-within-inputs .column-half {
      display: none;
    }
  }
  //Check your answers
  #expand {}
  // Expand all link/button
  table.check-your-answers {
    thead th {
      padding: 2em 0 1em;

      h2.govuk-heading-m,
      h2.govuk-heading-s {
        margin: 0;
      }
    }

    th.check-your-answers-section {
      width: 75%;
    }

    td.note-completed {
      width: 5%;
      padding-top: 0.2em;
      padding-bottom: 0;
    }

    tr.total td {
      font-weight: 700;
    }

    td.numeric {
      font-family: inherit;
      font-size: inherit;
      padding-right: 0;
    }

    td.notes,
    th.notes {
      width: 15%;
    }

    th.current-year-note-value,
    th.previous-year-note-value {
      //  text-align: right;
    }

    td.complete,
    th.complete {
      width: 4%;
    }

    tr.to-be-completed td,
    tr.to-be-completed th {
      color: $govuk-secondary-text-colour;
    }

    .accounts-success {
      color: #00823b; // can't get mixin wot work - fix later
      display: block;
      margin: 0 auto;
      font-size: 1em;
    }

    .accounts-update {
      color: $govuk-focus-colour;
      display: block;
      margin: 0 auto;
      font-size: 1.8em;
    }

    .review-reveal {
      padding: 0.5em 0 0.2em 1em;

      .column-one-half p {
        text-align: left;
      }

      .column-one-quarter p {
        text-align: right;
      }

      .column-sixth p {
        text-align: right;
      }

      .column-fifth p {
        text-align: right;
      }
    }
  }
}
@include govuk-media-query(mobile) {
  .review-reveal {
    .column-one-half {
      width: 45%;
      display: inline-block;
    }

    .column-one-third {
      width: 31%;
      display: inline-block;
    }

    .column-one-quarter {
      width: 22%;
      display: inline-block;
    }
  }
}

table.check-your-answers-notes {
  td.change-answer {
    font-weight: normal;
    width: 35%;
    @include govuk-media-query(mobile) {
      a {
        margin-bottom: 0.5em;
        float: right;
      }
    }
  }

  td.name {
    width: 20%;
  }
}

#content-delete-warning {
  margin-top: 0;
}

#delete-summary {
  padding-bottom: 0;
  margin-top: 0.5em;
  display: block;

  p {
    color: $govuk-error-colour;
  }

  .button {
    background-color: $govuk-error-colour;
    margin-bottom: 1em;

    &:hover {
      background-color: $error-button-hover;
    }
  }

  .no-delete {
    color: $govuk-link-colour;
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: $govuk-link-hover-colour;
    }
  }
}
@include govuk-media-query(mobile) {
  #delete-summary {
    .button {
      margin-top: 0.5em;
      margin-left: 0 !important;
    }
  }
}
//Your filings//

.your-filings {
  table#rf_table {
    margin-top: 1em;

    tr td {
      @include govuk-font($size: 16);

      strong.status {
        font-weight: 700;
        font-size: 1.2em;
      }

      a {
        display: inline-block;
        font-size: 1.1em;
      }
    }

    tr th {
      font-weight: normal;
    }

    tr {
      th.description {
        width: 69%;
      }

      th.status {
        width: 18%;
      }

      th.actions {
        width: 15%;
      }

      td.rejected-type {
        padding-right: 4em;
        //Ensures rejected status (which has icon) has text in line with other statuses
      }

      .notice {
        margin-left: -3em;
        //Ensures rejected status (which has icon) has text in line with other statuses
      }

      .rejected {
        color: $govuk-error-colour;
        margin-left: -3.1em;

        .icon-important {
          background-image: url("/public/images/icon-important-red.png");
        }
      }
    }
  }

  .one-filing {
    margin-bottom: 2em;
    background-color: govuk-colour("grey-4");
    padding: 1em;
    clear: both;

    .govuk-heading-m {
      margin-top: 0;

      span {
        @include govuk-font($size: 19);
        display: block;
      }
    }

    &.rejected {
      .notice {
        color: $govuk-error-colour;

        .icon-important {
          background-image: url("/public/images/icon-important-red.png");
        }
      }
    }
  }

  .grid-row {
    strong {
      display: block;

      a:first-of-type {
        padding-right: 1em;
      }
    }

    .bold-medium {
      font-weight: normal;
      margin-bottom: 1em;
      @include govuk-font($size: 19);

      span {
        display: block;
        @include govuk-font($size: 24);
        font-weight: 700;
      }
    }
  }

  .no-table {
    .column-description {
      width: 33%;
    }

    .column-reference {
      width: 33%;
    }

    .column-status {
      width: 17%;
    }

    .column-actions {
      width: 17%;

      strong {
        font-weight: normal;
        font-size: 0.9em;

        a:first-of-type {
          padding-right: 0;
        }
      }
    }
  }

  a.admin-link {
    font-size: 16px !important;
    color: govuk-colour("white");
    background-color: $govuk-link-colour;
    text-decoration: none;
    padding: 2px 8px;
    display: inline-block;
    margin: 0.5em 0.5em 0 0;

    &:focus,
    &:hover {
      background-color: $govuk-link-hover-colour;
    }
  }
}
//END Your filings

a.button::before {
  width: auto; // This stops the focus highlighting (yellow) off links with a class of "button" from going off the left-edge of the screen
}

.form-group .inline-multiple label {
  margin-bottom: 0.5em;
}

p.company-details {
  font-size: 0.9em;
}

.group-textarea {
  details {
    margin: -.5em 0 0.5em;

    summary {
      font-weight: normal;
    }
  }
}

h1 .circle,
h2 .circle,
h3 .circle {
  font-size: 21px;
  margin-right: 5px;
  position: relative;
  top: -.5em;
}

.subheading {
  @include govuk-font($size: 16);
  color: $govuk-secondary-text-colour;
  display: block;
}

.circle-subheading {
  @include govuk-font($size: 27);
  color: $govuk-secondary-text-colour;
  display: block;
  //margin-left: 1.5em;
}
@include govuk-media-query(mobile) {
  /*Adjust layout of heading styles on mobiles*/
  .text .govuk-heading-xl {
    //  line-height:0.9em;
    .circle-subheading {
      margin: 0.5em 0 0;
    }
  }
}

.warning-with-triangle {
  top: 25px;
  position: relative;
  background-color: lighten($govuk-focus-colour, 30%);
  border: 3px solid $govuk-focus-colour;
  width: auto;
  height: auto;
  padding: 0.5em;
  margin-bottom: 1.5em;

  & p {
    margin: 0;
  }
}

.warning-with-triangle:after,
.warning-with-triangle:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.warning-with-triangle:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: lighten($govuk-focus-colour, 30%);
  border-width: 19px;
  left: 80%;
  margin-left: -19px;
}

.warning-with-triangle:before {
  border-color: rgba(113, 158, 206, 0);
  border-bottom-color: $govuk-focus-colour;
  border-width: 23px;
  left: 80%;
  margin-left: -23px;
}

.warning-note {
  background-color: $govuk-link-colour;
  padding: 0 0.3em;
  margin-left: 0.5em;
  color: govuk-colour("white");

  &.warning-note-large {
    padding: 0.7em;
    margin-left: 0;
    margin-bottom: 1em;
  }
}

h1 span.circle {
  position: relative;
  top: -.5em;
}

.example-icon-list span.circle {
  position: relative;
  top: -.2em;
}

.icon-important {
  background-image: url("/public/images/icon-important.png"); // Having to add this here, for some reason prototype kit styling for this element not working. Hopefully not needed on production site.
}

.icon-file-download {
  background-image: url("/public/images/icon-file-download.png"); // Having to add this here, for some reason prototype kit styling for this element not working. Hopefully not needed on production site.
}

#accounts-start-page {
  .govuk-hint {
    margin: 0 0 1em 2em;
  }

  li span {
    margin-right: 0.9em;
    margin-bottom: 1em;
  }
}
//Indent -

.left-indent {
  margin-left: 2.8em;

  textarea.form-control {
    width: 100%;
  }
}
@include govuk-media-query(mobile) {
  .left-indent {
    margin-left: 0 !important;
  }
}
//Autosave alert

#autosave-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $govuk-secondary-text-colour;
  color: govuk-page-colour;
  width: 100%;
  padding: 0.5em 0 0.8em;
  height: 1em;

  div {
    text-align: center;
  }
}
//Panel styles within other elements

h1 .panel {
  font-size: 0.5em;
  margin: 1em 0;
}

th .panel {
  font-size: 0.6em;
  margin: 1em 0;
}

.panel *:last-child,
.panel *:only-child {
  //Needed for Loans to Directors note (adds missing bottom margin on form-group elements within a panel)
  //  margin-bottom: 15px;
}

.panel .grid-row {
  //Needed for Loans to Directors note (adds missing bottom margin on form-group elements within a panel)
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  h1 .panel {
    font-size: 0.5em;
  }

  th .panel {
    font-size: 0.7em;
  }
}
//Save modal

#save-modal {
  border: 2px solid $govuk-border-colour;
  background-color: $govuk-canvas-background-colour;
  padding: 1em;
  display: block;
  margin: 0 auto 2em;

  h2 {
    margin-top: 0;
  }

  .button {
    margin: 0 1em 0 0;
  }
}
@media (max-width: 640px) {
  #save-modal {
    .button:first-of-type {
      margin-bottom: 1em;
    }
  }
}
//Notification counter

.notification-counter {
  top: -6px;
  right: -1px;
  position: relative;
  background-color: govuk-colour("yellow");
  color: govuk-colour("black");
  padding: 2px 7px 0;
  border-radius: 15px;
}

#filing-alert {
  background: govuk-colour("yellow");
  color: govuk-colour("black");
  display: inline-block;
  float: right;
  position: relative;
  top: 0.2em;
  right: 14em;
  width: auto;
  padding: 0.2em 0.4em;
  text-align: center;
}

#filing-alert:before {
  border-top: 15px solid govuk-colour("yellow");
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  height: 0;
  left: 48%;
  position: absolute;
  bottom: -15px;
  width: 0;
}
//Correct spacing on date selection radio buttons on change ARD screen

#acc-ref-date-form-group {
  label {
    margin-bottom: 0.5em;
  }
}
//Embedded PDF

.embedded-PDF {
  height: 160vh;
  border-bottom: 1em solid #3C3C3C;
  margin: 1em 0;
}
// Margins

.margin-top-0 {
  margin-top: 0;
}
//Payment screen (CICS only) - To do: mobile styles

.payment-summary-small {
  background-color: govuk-colour("grey-4");
  border: 10px solid $govuk-border-colour;
  padding: 1em 1em 0;
  margin-top: 2em;
}

.card-images {
  position: relative;

  img {
    height: 35px;
  }

  .original-accepted {
    margin-bottom: 0;
    margin-top: 10px;
    max-width: 340px;
    position: relative;
    z-index: 1;
  }
}

img.card-image {
  margin-left: 8px;
  margin-top: -5px;
  max-height: 38px;
  padding-top: 2px;
  vertical-align: middle;
}
// Small-Full accounts styling
//Column sixth (for detailed Tangible asset notes)

.column-one-sixth,
.column-sixth {
  box-sizing: border-box;
  padding: 0 8px;
}

.column-one-sixth,
.column-sixth {
  float: left;
  width: 12.5%;
  @include govuk-media-query(mobile) {
    width: 100%;
  }
}
//Column fifth (for detailed Tangible asset notes)

.column-fifth,
.column-one-fifth {
  box-sizing: border-box;
  padding: 0 15px;
}

.column-fifth,
.column-one-fifth {
  float: left;
  width: 18%;
  @include govuk-media-query(mobile) {
    width: 100%;
  }
}

.important-message {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  padding: 0.9em 0.9em 0.1em;

  a {
    color: govuk-colour("white");
  }

  a:focus,
  a:hover {
    color: $govuk-link-hover-colour;
  }
}
//CICs//

.cics-task-list {
  li.task-list-item:first-of-type {
    border-top: none;
  }

  span.task-list-section-number {
    width: 35px;
  }

  strong.task-completed {
    float: right;
  }
}
// GDS style "Check your answers - for accounts"

.check-your-answers-accounts h3 {
  margin: 1em 0 0.5em !important;
  display: block;
  font-size: 22px;

  &:first-of-type {
    margin-top: 0 !important;
  }
}

.cya-delete {
  padding-left: 0.4em;
  padding-right: 0.8em;
}

.govuk-check-your-answers.cya-questions-short {
  .cya-answer {
    div {
      display: inline-block;
      width: 100px;
      margin-right: 2em;
      text-align: right;
    }
  }

  .cya-delete {
    padding-right: 0;
    display: block;
  }

  &.cya-accounts-long {
    .cya-question {
      width: 20%;
      padding-right: 1em;
    }

    .cya-answer div {
      width: 12%;
      margin-right: 1em;
    }
  }
}

.cya-change {
  margin-left: 20px;
}
@include govuk-media-query(mobile) {
  .govuk-check-your-answers.cya-questions-short {
    .cya-answer {
      width: 80%;

      &.govuk-heading-s {
        display: none !important;
      }

      div {
        display: block;
        margin-right: 2em;
        text-align: left;
        width: auto;

        .mobile-only-label {
          margin-right: 0.5em;
        }
      }

      .cya-answer-empty {
        display: none;
      }
    }

    .cya-delete {
      display: block;
      clear: both;
      padding: 0;
      text-align: right;
      margin-top: 0.3em;
    }

    .cya-question {
      width: 75%;
      margin-top: 0.5em;
    }

    &.cya-accounts-long {
      .cya-answer div {
        width: auto;
      }

      .cya-question {
        width: 90%;
        margin-top: 0.5em;
      }
    }
  }
}
/// Flash card ///

.flash-card {
  color: govuk-colour("white");
  padding: 1em 3em;
  background: $govuk-link-colour url("/public/images/file-accounts-transparent.png") no-repeat 95% 60%;

  &.flash-card-paper {
    background: $govuk-link-colour url("/public/images/file-paper.png") no-repeat 90% 100%;
  }
  @include govuk-media-query(mobile) {
    background-image: none !important;
  }

  h2 {
    display: inline;
  }

  ul {
    width: 75%;
    padding: 2em 0 0;
    @include govuk-media-query(mobile) {
      width: 100%;
      margin-top: 0.5em;
    }

    li {
      h2 {
        padding-bottom: 2em;
        display: inline-block;
        width: 85%;
        margin: 0 0 0 0.2em;
        @include govuk-media-query(mobile) {
          width: 80%;
        }
      }

      span {
        vertical-align: top;
      }
    }
  }

  a:link,
  a:visited {
    color: govuk-colour("white") !important;
  }

  .button {
    background-color: govuk-colour("white");
    color: $govuk-link-colour;
    font-weight: 700;

    &:focus,
    &:hover {
      background-color: govuk-colour("grey-3");
      color: $govuk-link-colour;
    }
  }

  .circle-white {
    background-color: govuk-colour("white");
    color: govuk-colour("black");
    margin-right: 0.5em;
    position: relative;
    top: -.3em;
  }
}