// Additional styles for CH accounts
@import 'colours';
@import 'typography';
$error-button-hover: #8e0513;

.two-column-accounts {
  form-control {text-align: right;}
  #accounts-header {
    text-align: center;
    @include media(mobile) {
      display: none; /*Hide from mobiles*/
    }
    .heading-medium {
      margin: 0;
    }
  }
  .read-only {
    border-color: $border-colour;
  }

  .mobile-only-label {
    position: absolute; /*Hidden on desktop, but can be read by screenreaders*/
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
     @include media(mobile) { /*Visible on mobiles*/
       position: relative;
       overflow:visible;
     }
  }

  .accounts-total {

    .form-control {
      border-left: 0;
      border-right: 0;
      font-weight: 700;
    }
    details {
        font-weight: 700;
    }
  }

  .accounts-row-spacer { margin-top: 2em;}
  .form-control {width: 100%;}
  .heading-small {margin: 0;}
  input[type="number"] {
    text-align: right;
  }
table.check-your-answers {
    thead th {padding: 2em 0 1em;

      h2.heading-medium,
      h2.heading-small {
        margin: 0;
      }
    }
    th.check-your-answers-section {width: 75%;}
    td.note-completed {width: 5%; padding-top:.2em; padding-bottom: 0;}

    tr.total td {font-weight: 700;}
    td.numeric {font-family: inherit; font-size: inherit; padding-right: 0;}
    th.notes,
    td.notes {
      width: 15%;
    }

    th.current-year-note-value,
    th.previous-year-note-value {
    //  text-align: right;
    }

    th.complete,
    td.complete {
      width: 4%;
     }

    tr.to-be-completed td,
    tr.to-be-completed th {
      color: $secondary-text-colour;}

    .accounts-success {color: $button-colour; display: block; margin: 0 auto; font-size: 1em;}
    .accounts-update {color: $focus-colour; display: block; margin: 0 auto; font-size: 1.8em;}
    .review-reveal {
      padding:0.5em 0 0.2em 1em;
      .column-one-half p {text-align:left}
      .column-one-quarter p {text-align:right}
    }
    #delete-summary {
      p {color:$error-colour;}
      .button {
        background-color:$error-colour;
        &:hover  {
          background-color:$error-button-hover;
        }
      }
      .no-delete {
        left: 1em;
        position: relative;
        top: 0.5em;
        color:$error-colour;
      }
    }
  }
}


p.company-details {
  font-size: .9em;
}

.group-textarea {
  details {margin: -.5em 0 .5em;
    summary {font-weight: normal;}
  }
}

h1 .circle,
h2 .circle,
h3 .circle {font-size: 21px; margin-right: 5px; position: relative; top: -2px;}

header {
  span {
    @include core-24;
    color: $secondary-text-colour;
    display: block;
  }
}
.subheading {
  @include core-19;
  color: $secondary-text-colour;
  display: block;
}


.warning-with-triangle {
    top:25px;
    position: relative;
    background-color: lighten( $focus-colour, 30% );
    border: 3px solid $focus-colour;
    width: auto;
    height: auto;
    padding: 0.5em;
    margin-bottom: 1.5em;
    & p {margin:0;}
}
.warning-with-triangle:after,
.warning-with-triangle:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.warning-with-triangle:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: lighten( $focus-colour, 30% );
    border-width: 19px;
    left: 80%;
    margin-left: -19px;
}
.warning-with-triangle:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: $focus-colour;
    border-width: 23px;
    left: 80%;
    margin-left: -23px;
}
.warning-note {
  background-color: lighten( $focus-colour, 30% );
  border: 3px solid $focus-colour;
  padding:0 0.3em;
  margin-left:0.5em;
  &.warning-note-large {
  padding:.5em;
  margin-left:0;}
}
h1 span.circle {
  position:relative;
  top:-.5em;
}
.example-icon-list span {
  padding-left:2em;
}
