// Additional styles for CH accounts
@import 'colours';
@import 'typography';

$error-button-hover: #8e0513;

.two-column-accounts {
  form-control {text-align: right;}
  #accounts-header {
    text-align: center;
    @include media(mobile) {
      display: none; /*Hide from mobiles*/
    }
    .heading-medium {
      margin: 0;
    }
  }
  .read-only {
    border-color: $border-colour;
  }

  .mobile-only-label {
    position: absolute; /*Hidden on desktop, but can be read by screenreaders*/
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
     @include media(mobile) { /*Visible on mobiles*/
       position: relative;
       overflow:visible;
     }
  }

  .accounts-total {

    .form-control {
      border-left: 0;
      border-right: 0;
      font-weight: 700;
    }
    details {
        font-weight: 700;
    }
    .no-help {margin-left:1em;}
  }

  .accounts-row-spacer { margin-top: 2em;}
  .form-control {width: 100%;}
  .heading-small {margin: 0;}
  input[type="number"] {
    text-align: right;
  }
table.check-your-answers {
    thead th {padding: 2em 0 1em;

      h2.heading-medium,
      h2.heading-small {
        margin: 0;
      }
    }
    th.check-your-answers-section {width: 75%;}
    td.note-completed {width: 5%; padding-top:.2em; padding-bottom: 0;}

    tr.total td {font-weight: 700;}
    td.numeric {font-family: inherit; font-size: inherit; padding-right: 0;}
    th.notes,
    td.notes {
      width: 15%;
    }

    th.current-year-note-value,
    th.previous-year-note-value {
    //  text-align: right;
    }

    th.complete,
    td.complete {
      width: 4%;
     }

    tr.to-be-completed td,
    tr.to-be-completed th {
      color: $secondary-text-colour;}

    .accounts-success {color: $button-colour; display: block; margin: 0 auto; font-size: 1em;}
    .accounts-update {color: $focus-colour; display: block; margin: 0 auto; font-size: 1.8em;}
    .review-reveal {
      padding:0.5em 0 0.2em 1em;
      .column-one-half p {text-align:left}
      .column-one-quarter p {text-align:right}
    }
    #delete-summary {
      p {color:$error-colour;}
      .button {
        background-color:$error-colour;
        &:hover  {
          background-color:$error-button-hover;
        }
      }
      .no-delete {
        left: 1em;
        position: relative;
        top: 0.5em;
        color:$error-colour;
      }
    }
  }
}

.form-group .inline-multiple label {
  margin-bottom:.5em;
}

p.company-details {
  font-size: .9em;
}

.group-textarea {
  details {margin: -.5em 0 .5em;
    summary {font-weight: normal;}
  }
}

h1 .circle,
h2 .circle,
h3 .circle {font-size: 21px; margin-right: 5px; position: relative; top: -2px;}

header {
  span {
    @include core-24;
    color: $secondary-text-colour;
    display: block;
  }
}
.subheading {
  @include core-19;
  color: $secondary-text-colour;
  display: block;
}


.warning-with-triangle {
    top:25px;
    position: relative;
    background-color: lighten( $focus-colour, 30% );
    border: 3px solid $focus-colour;
    width: auto;
    height: auto;
    padding: 0.5em;
    margin-bottom: 1.5em;
    & p {margin:0;}
}
.warning-with-triangle:after,
.warning-with-triangle:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.warning-with-triangle:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: lighten( $focus-colour, 30% );
    border-width: 19px;
    left: 80%;
    margin-left: -19px;
}
.warning-with-triangle:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: $focus-colour;
    border-width: 23px;
    left: 80%;
    margin-left: -23px;
}
.warning-note {
  background-color: lighten( $focus-colour, 30% );
  border: 3px solid $focus-colour;
  padding:0 0.3em;
  margin-left:0.5em;
  &.warning-note-large {
  padding:.5em;
  margin-left:0;}
}
h1 span.circle {
  position:relative;
  top:-.5em;
}
.example-icon-list span.circle {
  position: relative;
  top:-.2em;
}
.icon-important {
    background-image: url("/public/images/icon-important.png"); // Having to add this here, for some reason prototype kit styling for this element not working. Hopefully not needed on production site.
}
#accounts-start-page {
  .form-hint {
    margin: 0 0 1em 2em;
  }
  li span {
    margin-right: .9em;
  }
}

//Autosave alert
#autosave-container {
  position: fixed;
  bottom:0;
  left:0;
  background-color: $secondary-text-colour;
  color: $page-colour;
  width:100%;
  padding:.5em 0 .8em;
  height:1em;
    div {text-align: center;}
}
//Panel styles within other elements
h1 .panel {
  font-size:0.5em;
  margin:1em 0;
}
th .panel {
  font-size:0.6em;
  margin:1em 0;
}
@media (max-width: 640px) {
  h1 .panel {
    font-size:0.5em;
  }
  th .panel {
    font-size:0.7em;
  }
}
//Save modal
#save-modal {
  border: 2px solid $border-colour;
  background-color: $panel-colour;
  padding:1em;
  display:block;
  margin:0 auto 2em;
  h2 {margin-top:0;}
  .button {margin:0 1em 0 0;}
}
@media (max-width: 640px) {
  #save-modal {
    .button:first-of-type {margin-bottom:1em;}
  }
}
//Notification counter

.notification-counter {
    top: -6px;
    right:-1px;
    position:relative;
    background-color: $error-colour;
    color: $page-colour;
    padding: 2px 7px 0;
    border-radius:15px;
}


//Restyling CHS profile
#company-number {
  margin-top:-3em;
}
#action-buttons {
  margin: 1.5em 0 3em;
  a {
    margin-right: .5em;
  }
}
@media (max-width: 640px) {
  #company-number {
    margin-top:-1em !important;
  }
  #action-buttons {
    a {
      margin-bottom:.5em;
    }
  }
  #search .searchfield input,
  #profile .searchfield input {
    width: 75%;
  }
  #search a:link,
  #profile a:link {
    float: right;
  }
}
