
//Restyling CHS profile
#company-number {
  margin-top:-3em;
}
#action-buttons {
  margin: 1.5em 0 3em;
  a {
    margin-right: .5em;
  }
}
@media (max-width: 640px) {
  #company-number {
    margin-top:-1em !important;
  }
  #action-buttons {
    a {
      margin-bottom:.5em;
    }
  }
  #search .searchfield input,
  #profile .searchfield input {
    width: 75%;
  }
  #search a:link,
  #profile a:link {
    float: right;
  }
}
