
//Restyling CHS profile
#company-number {
  margin-top:-3em;
}
#action-buttons {
  margin: 1.5em 0 3em;
  a {
    margin-right: .5em;
  }
  a#manage-company-authentication {
    margin-top:.7em;
    display:inline-block;
  }
}
@media (max-width: 640px) {
  #company-number {
    margin-top:-1em !important;
  }
  #action-buttons {
    margin-bottom:0;
    a {
      margin-bottom:0;
    }
    a#manage-company-authentication {
      text-align: center;
      display: block;
    }
  }
  #search .searchfield input,
  #profile .searchfield input {
    width: 75%;
  }
  #search a:link,
  #profile a:link {
    float: right;
  }
}
