
 //CHS styles - NOT FOR PRODUCTION

@import 'colours';
@import 'typography';

.normal {font-weight: normal;}

#global-header {
  a#logo {
    background-image: url('/public/images/royal-coat-of-arms-white.png');
    background-position: 10px top;
    background-size: 47px 42px;
    padding: 8px 0 2px 62px;
    width: 400px;
  }
  a#proposition-name {
    position:relative;
    top:.35em;
    padding-left: 1em;
  }
}

ul#navigation {
  border-bottom: 1px solid $border-colour;
  font-size: .9em;
  margin-bottom: 1em;
  padding: .8em 0;
  text-align: right;

  li {
    display: inline;
    padding: 0 0 0 1.5em;}
 }

.center {text-align: center;}

.search-bar-active {
  background: $panel-colour none repeat scroll 0 0;
  padding: .5em;
}

.searchfield input {
  font-size: 19px;
  font-weight: 400;
  height: 50px;
  line-height: 1.31579;
  margin: 0;
  padding: 0 0 0 10px;
  text-transform: none;
  width: 92%;
}

.searchfield .button {
  background-color: $link-colour;
  background-image: url('/public/images/search-button.png');
  background-position: -12.5% 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  color: $white;
  height: 54px;
  overflow: hidden;
  text-indent: -5000px;
  width: 54px;
  z-index: 4;
}

sup.label {
  background-color: $orange;
  color: $white;
  display: inline-block;
  font-size: .8em;
  padding: .1em .3em;
  position: relative;
  top: .3em;
}

ul.search-tabs {
  border-bottom: 1px solid $border-colour;
  font-size: .8em;
  margin-bottom: 30px;
  overflow: auto;
  padding-top: 2.75em;

  li {
    float: left;
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0 8px 10px;

    &.active {
      border-bottom: 2px solid $link-colour;
      }

    a {text-decoration: none;

      &:hover,
      &:focus,
      &:visited {
        color: $link-colour;
      }
      }
    }
}

main.search .results-list {
  p {
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    text-transform: none;

    &.meta {
      color: $secondary-text-colour;
      font-size: 16px;
      padding: 0 0 3px;
      word-wrap: break-word;
    }
  }

  li {
    padding: 0 0 25px;
  }

  h3 a {
    color: $link-colour;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;

    &:hover,
    &:focus,
    &:visited {
      color: $link-hover-colour;
      text-decoration: underline;
    }
  }
}

ul.pager {
  padding-top: 2em;

  li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0 1.4em 0 0;
    }
}

strong,
b,
.data {
  font-weight: bold;
}

.view {
  display: none;
  &.active {display: block;}
}

.profile dl {
  margin-bottom: 20px;
}

.section-tabs::after {
  clear: both;
  content: '';
  display: block;
}

.section-tabs {
  border-bottom: 1px solid $border-colour;
  margin: 1.5em 0;
}

@media (max-width: 640px) {
  .section-tabs {
    border-bottom: medium none;
    margin: 30px 0;
  }
}

.section-tabs ul {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;
}

.section-tabs ul li {
  display: inline;
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  .section-tabs ul li {
    display: block;
    float: none;
}
}

.section-tabs ul a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: $panel-colour none repeat scroll 0 0;
  border-color: $panel-colour $panel-colour -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  display: block;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.31579;
  margin: 5px 5px 6px 0;
  overflow: hidden;
  padding: 5px 0;
  text-decoration: none;
  text-transform: none;

  &:visited {
    color: $link-colour;
    }

  &:hover {
    color: $link-hover-colour;
  }
}

@media (max-width: 640px) {
  .section-tabs ul a {
    font-size: 16px;
    line-height: 1.25;
  }
}

.section-tabs ul a:hover .label,
.section-tabs ul a:focus .label {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .section-tabs ul a {
    border-bottom: 1px solid $border-colour;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    margin: 5px 0 0;
    padding: 5px 0 5px 5px;
    text-decoration: underline;
    text-transform: none;
    width: calc(100% - 10px);
}
}
@media (max-width: 640px) and (max-width: 640px) {
  .section-tabs ul a {
    font-size: 14px;
    line-height: 1.14286;
  }
}
@media (min-width: 641px) {
  .section-tabs ul a {
    padding: 11px 14px 9px 9px;
  }
}

.section-tabs ul li.active a {
  background: $page-colour none repeat scroll 0 0;
  border-color: $border-colour;
  margin: 0 5px 0 0;
  padding: 10px 9px;
}

@media (max-width: 640px) {
  .section-tabs ul li.active a {
    border-bottom: 1px solid $border-colour;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 5px 0 5px 5px;
    text-decoration: none;
    width: calc(100% - 10px);
  }
}
@media (min-width: 641px) {
  .section-tabs ul li.active a {
    padding: 16px 19px 15px 14px;
  }
}

.section-tabs ul li.active a:focus {
  outline: medium none;
}

.section-tabs ul li.active a .label {
  text-decoration: none;
}

.section-tabs ul.two-tabs li {
  width: 50%;
}

@media (min-width: 769px) {
  .section-tabs ul.two-tabs li {
    min-width: 33.333%;
    width: auto;
  }
}

.section-tabs.plain-tabs .tab-navigation ul li a {
  background-color: $page-colour;
  border: medium none;
  font-weight: normal;
  text-decoration: underline;
}

.section-tabs.plain-tabs .tab-navigation ul li.active a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: $panel-colour $panel-colour -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
}

.company-header {
  margin-top: 2em;

  .actions {
    margin-top: 1.5em;
    text-align: right;
  }
}

ol.example-icon-list {
  i {
    margin-right: .5em;
    position: relative;
    top: .2em;
  }
}

.get-started .destination {
  display: block;
  font-size: 14px;
  font-size-adjust: .5;
  font-weight: 400;
  line-height: 1.25;
  margin-top: .5em;
  max-width: 13em;
  text-transform: none;
}

.chs-email {
  ul {
    @include core-16;
    padding-top: 1em;
    li {padding-bottom: 1em;}
  }
  table {
    background-color: $grey-4;
    margin: 2em 0;
    th {
      background-color: $grey-3;
      padding:.7em 1em;
    }
    td {
      padding:.7em 1em;
    }

  }
}

.action-button-list li {padding-bottom: .7em;}
