{% extends "layout-chs.html" %}

{% block page_title %}
   Is the company trading?
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>


<form action="/cato-style/wizard/wizard-ever-traded" method="get" class="form">
<div class="text">

      <a id="back" class="link-back" href="javascript:history.back()">Back</a>
      <p class="lede">Your answers to these questions will determine which types of accounts you are eligible to file.</p>

      <h1 class="heading-xlarge">Is the company trading?</h1>
      <details class="form-group">
        <summary><span class="summary">Not sure if your company was trading?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Lorem ipsum dolor sit amet, zril nemore noluisse vix no, falli fastidii in cum. Ei quidam luptatum vix, iudico postea regione pro et, vel an quando euismod neglegentur. In homero singulis vix, est ea atqui expetenda imperdiet, eum bonorum aliquando cu. Ius ad eius quas dissentiunt. Nam expetenda urbanitas at.</p>
        </div>
      </details>


            <div class="form-group">

            <fieldset class="inline">
              <legend class="visuallyhidden">Is the company trading</legend>
              <label class="block-label" for="trading-yes">
                <input id="trading-yes" type="radio" name="trading" value="Yes">
                Yes
              </label>
              <label class="block-label" for="trading-no">
                <input id="trading-no" type="radio" name="trading" value="No">
                No
              </label>
            </fieldset>



        </div><!--form-group-->



        <div class="form-group">
          <input type="submit" class="button" value="Save and continue">
        </div><!--form-group-->

  </div><!-- text-->
</form>
</main>

{% endblock %}
