{% extends "layout-chs.html" %}

{% block page_title %}
   About your business
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>
<form action="/cato-style/cato-style-choose-micros" method="get" class="form">
<div class="text">

<a class="link-back" href="cato-style-accounts-selection">Back</a>



      <h1 class="heading-xlarge">About your business</h1>
      <p>Your answers to these questions will help us provide you with the correct type of filing.</p>


      <h2 class="heading-medium">Was your turnover £632,000 or less?</h2>

      <div class="micro-eligibility-questions">

      <div class="form-group">
      <fieldset class="inline">

        <legend class="visuallyhidden">Was your turnover £632,000 or less?</legend>

        <label class="block-label" for="turnover-yes">
          <input id="turnover-yes" type="radio" name="turnover" value="Yes">
          Yes
        </label>
        <label class="block-label" for="turnover-no">
          <input id="turnover-no" type="radio" name="turnover" value="No">
          No
        </label>

      </fieldset>

      <h2 class="heading-medium">Was your balance sheet £316,000 or less?</h2>


      <fieldset class="inline">

        <legend class="visuallyhidden">Was your balance sheet £316,000 or less?</legend>

        <label class="block-label" for="balance-sheet-yes">
          <input id="balance-sheet-yes" type="radio" name="balance-sheet" value="Yes">
          Yes
        </label>
        <label class="block-label" for="balance-sheet-no">
          <input id="balance-sheet-no" type="radio" name="balance-sheet" value="No">
          No
        </label>

      </fieldset>

      <h2 class="heading-medium">Did you have an average of 10 employees or fewer during the period?</h2>


      <fieldset class="inline">

        <legend class="visuallyhidden">Did you have an average of 10 employees or fewer during the period?</legend>

        <label class="block-label" for="employees-yes">
          <input id="employees-yes" type="radio" name="employees" value="Yes">
          Yes
        </label>
        <label class="block-label" for="employees-no">
          <input id="employees-no" type="radio" name="employees" value="No">
          No
        </label>

      </fieldset>
    </div><!--form-group-->



    <div class="form-group">
      <input type="submit" class="button micro-eligibility disabled" value="Continue">
    </div><!--form-group-->
  </div><!--micro-eligibility-questions-->


  </div><!-- text-->
</form>
</main>

{% endblock %}
