{% extends "layout.html" %}

{% block page_title %}
  Directors' report
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a> | UTR: 012345678<br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="cato-style-eligibility">Back</a>



      <h1 class="heading-xlarge">Directors' report</h1>
      <div class="text">

      </div>

      <form class="form" method="post" action="/">


          <!-- Director1 -->
          <div class="form-group">
            <label for="director1" class="form-label-bold">Director</label>
            <p class="form-hint">For example, John Smith</p>
            <input type="text" id="director1" class="form-control">
          </div>


          <!-- Director3 -->
          <div class="form-group">
            <a class="" href="#" role="button">Add another director</a>
          </div>

          <!-- Director -->
          <div class="form-group">
            <label for="secretary" class="form-label-bold">Secretary (optional)</label>
            <p class="form-hint">For example, James Edwards</p>
            <input type="text" id="secretary" class="form-control">
          </div>


          <div class="form-group">
            <a class="button" href="cato-style-directors-report-check" role="button">Continue</a>
          </div>

        </form>





</main>

{% endblock %}
