{% extends "layout-chs.html" %}

{% block page_title %}
  Post balance sheet events
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="cato-style-balance-sheet-notes">Back</a>
<div class="text">

  <h1 class="heading-xlarge">Post balance sheet events</h1>
  <form action="/" method="post" class="form">
    <label class="visuallyhidden" for="textarea">Post balance sheet events</label>
    <details class="text">
      <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Turnover policy</span>
      <div class="panel panel-border-narrow form-hint">
        <p>Post balance sheet events are favourable (or unfavourable) events which occurred between the balance sheet date and the date the financial statements were authorised for issue.</p>
        <p>Adjusting events are where an adjustment to the figures is necessary. For example, if a trade debtor is declared bankrupt after the balance sheet date and the money they owe cannot be recovered.</p>
        <p>Non-adjusting events are where no adjustment to the figures is necessary. These events only need to be disclosed as a note, giving the nature of the event and estimated financial impact (or state that an estimate can't be made).</p>
      </div>
    </details>
  <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
    <div class="form-group accounts-row-spacer">
      <a class="button" href="cato-style-post-balance-sheet-events-check">Save and continue</a>
    </div>
  </form>
</div><!--text-->

</main>
{% endblock %}
