{% extends "layout-chs.html" %}

{% block page_title %}
  Balance sheet notes
{% endblock %}

{% block content %}

<main id="content" role="main" class="two-column-accounts">
<div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>


<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="cato-style-balance-sheet">Back</a>

  <h1 class="heading-xlarge">Balance sheet notes</h1>

  <div class="text">
    <p>You need to add notes about some of the figures you entered in your balance sheet.</p>

    <div class="panel panel-border-narrow">
    <p>Some notes are optional – complete any that are included in your accounts.</p>
    </div>

  </div>

  <table class="check-your-answers">
  <caption class="visuallyhidden">Balance sheet - notes</caption>
  <thead>
    <tr>
      <th class="check-your-answers-section"></th>
      <th class="notes"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Accounting policies</td>
      <td class="notes"><a href="cato-style-accounting-policies">Add note<span class="visuallyhidden">Accounting policies</span></a></td>
    </tr>
    <tr>
      <td>Profit before tax</td>
      <td class="notes"><a href="cato-style-profit-before-tax">Add note<span class="visuallyhidden">Profit before tax</span></a></td>
    </tr>
    <tr>
      <td>Dividends</td>
      <td class="notes"><a href="cato-style-dividends">Add note<span class="visuallyhidden">Dividends</span></a></td>
    </tr>
    <tr>
      <td>Employees</td>
      <td class="notes"><a href="cato-style-employees">Add note<span class="visuallyhidden">Employees</span></a></td>
    </tr>
  </tbody>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Fixed assets</h2></th>
        <th class="notes"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Intangible assets</td>
        <td class="notes"><a href="javascript:void(0)">Add note<span class="visuallyhidden">Intangible assets</span></a></td>
      </tr>
      <tr>
        <td>Tangible assets</td>
        <td class="notes"><a href="javascript:void(0)">Add note <span class="visuallyhidden">Tangible assets</span></a></td>
      </tr>
      <tr class="total">
        <td>Total fixed assets</td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Current assets</h2></th>
        <th class="notes"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Stocks</td>
        <td></td>
      </tr>
      <tr>
        <td>Debtors</td>
        <td class="notes"><a href="javascript:void(0)">Add note <span class="visuallyhidden">Debtors</span></a></td>
      </tr>
      <tr>
        <td>Cash at bank and in hand</td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total current assets</td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="check-your-answers-section"></th>
        <th class="notes"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Prepayments and accrued income</td>
        <td></td>
      </tr>
      <tr>
        <td>Creditors - amounts falling due within one year</td>
        <td class="notes"><a href="javascript:void(0)">Add note<span class="visuallyhidden">Creditors - amounts falling due within one year</span></a></td>
      </tr>
      <tr class="total">
        <td>Net current assets (liabilities)</td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total assets less current liabilities</td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="check-your-answers-section"></th>
        <th class="notes"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Creditors - amounts falling due after more than one year</td>
        <td class="notes"><a href="javascript:void(0)">Add note <span class="visuallyhidden">Creditors - amounts falling due after more than one year</span></a></td>
      </tr>
      <tr>
        <td>Provision for liabilities</td>
        <td></td>
      </tr>
      <tr>
        <td>Accruals and deferred income</td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total net assets (liabilities)</td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Capital and reserves</h2></th>
        <th class="notes"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Called up share capital</td>
        <td class="notes"><a href="cato-style-called-up-share-capital">Add note <span class="visuallyhidden">Called up share capital</span></a></td>
      </tr>
      <tr>
        <td>Revaluation reserve</td>
        <td class="notes"><a href="javascript:void(0)">Add note <span class="visuallyhidden">Revaluation reserve</span></a></td>
      </tr>
      <tr>
        <td>Profit and loss account</td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total shareholders' funds</td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Additional notes</h2></th>
        <th class="notes"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Financial commitments</span></summary>
            <div class="panel panel-border-narrow">
              <p>Lorem ipsum dolor sit amet, epicuri definiebas definitionem est id, duo dicat suscipit menandri an, et duo quidam vulputate. Ad nec purto ipsum iriure, wisi sapientem ius ut, habeo scriptorem his eu. At per vidisse aliquando. Eirmod minimum voluptua vel an.</p>
            </div>
          </details>
        </td>
        <td class="notes"><a href="javascript:void(0)">Add note (optional) <span class="visuallyhidden">Financial commitments</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Loans to directors</span></summary>
            <div class="panel panel-border-narrow">
              <p>Cum et mazim singulis. Nam ut suscipit pertinax theophrastus, ne erat oratio efficiantur vel, diam ferri noluisse cu has. Unum mucius graeci nam ex, his ludus dignissim in, ei eam exerci impetus. Usu eu delenit convenire, eripuit consetetur ut mea, modus interpretaris eum eu.</p>
            </div>
          </details>
        </td>
      <td class="notes"><a href="javascript:void(0)">Add note (optional) <span class="visuallyhidden">Loans to directors</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Changes in presentation and prior period adjustments</span></summary>
            <div class="panel panel-border-narrow">
              <p>Possim epicurei aliquando mel no, in dicant copiosae philosophia sit, et abhorreant deterruisset mea. Ei dicam populo vel. Te altera accommodare mea. Ea eum euismod copiosae, et erat admodum vis, dictas omnesque pri no. Soluta temporibus et nam, solet maiorum consulatu no pri. Vide singulis constituam ea mea. Id has verterem liberavisse voluptatibus.</p>
            </div>
          </details>
        </td>
        <td class="notes"><a href="javascript:void(0)">Add note (optional) <span class="visuallyhidden">Changes in presentation and prior period adjustments</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Related party transactions</span></summary>
            <div class="panel panel-border-narrow">
              <p>No mel exerci maluisset, ius ut virtute patrioque. Te moderatius liberavisse vituperatoribus est, maiorum copiosae in mel, nec ex movet omnes deserunt. Sea nostrud contentiones ex, mei omnium maiorum quaerendum et. Id eam libris oblique inimicus.</p>
            </div>
          </details>
        </td>
        <td class="notes"><a href="javascript:void(0)">Add note (optional) <span class="visuallyhidden">Related party transactions</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Post balance sheet events</span></summary>
            <div class="panel panel-border-narrow">
              <p>Id est dolor maiestatis. Veri appellantur quo eu, aliquip eleifend suscipiantur cu quo. Vix in soleat tibique posidonium. Cu sit postea scribentur, ne lorem movet indoctum pri, sit eligendi offendit sententiae no. Eos erroribus constituam ne, justo soluta nostrum usu ut. Ius modo invenire ad, ad dicta eruditi eleifend vis. Est erant nobis et, cu falli integre theophrastus pri, eam cibo nominati erroribus id.</p>
            </div>
          </details>
        </td>
        <td class="notes"><a href="javascript:void(0)">Add note (optional) <span class="visuallyhidden">Post balance sheet events</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Other information</span></summary>
            <div class="panel panel-border-narrow">
              <p>No mel exerci maluisset, ius ut virtute patrioque. Te moderatius liberavisse vituperatoribus est, maiorum copiosae in mel, nec ex movet omnes deserunt. Sea nostrud contentiones ex, mei omnium maiorum quaerendum et. Id eam libris oblique inimicus.</p>
            </div>
          </details>
        </td>
        <td class="notes"><a href="javascript:void(0)">Add note (optional) <span class="visuallyhidden">Other information</span></a></td>
      </tr>
    </tbody>
  </table>
<br>
  <div class="form-group">
    <p><a href="cato-style-balance-sheet-statements" class="button">Save and continue to Balance sheet statements</a></p>
  </div>

</main>

{% endblock %}
