{% extends "layout-chs.html" %}

{% block page_title %}
   About your business
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>

<div class="text">

<a class="link-back" href="cato-style-accounts-selection">Back</a>



      <h1 class="heading-xlarge">About your business</h1>
      <p>Your answers to these questions will help us provide you with the correct type of filing.</p>

      <h2 class="heading-medium">Was your tunrover?</h2>

      <form>
      <fieldset class="inline">

        <legend class="visuallyhidden">Do you already have a personal user account?</legend>

        <label class="block-label" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
          Yes
        </label>
        <label class="block-label" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
          No
        </label>

      </fieldset>
      </form>



      <p><a class="button" href="cato-style-accounts-selection" role="button">Continue</a></p>

  </div><!-- text-->

</main>

{% endblock %}
