{%- extends "layout-chs.html" %}

{% block page_title %}
  Review your filing
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<main id="content" role="main" class="two-column-accounts">
<div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>


<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a id="back" class="link-back" href="javascript:history.back()">Back</a>

  <h1 class="heading-xlarge">Review your abridged accounts</h1>


  <table class="check-your-answers">
  <caption class="visuallyhidden">Review your abridged accounts</caption>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Balance sheet</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Balance sheet figures</span></summary>
            <div class="review-reveal">
              <div class="grid-row">
                <div class="column-one-half">&nbsp;
                </div>
                <div class="column-one-quarter">
                  <p><strong>1 April 2015 to<br> 31 March 2016</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>1 April 2014 to<br> 31 March 2015</strong></p>
                </div>
              </div><!--grid-row-->

              <h3 class="heading-medium" style="margin-top:0.5em;">Fixed assets</h3>

              <div class="grid-row">
                <div class="column-one-half">
                  <p>Intangible assets</p>
                </div>
                <div class="column-one-quarter">
                  <p>£12,500</p>
                </div>
                <div class="column-one-quarter">
                  <p>£11,560</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p>Tangible assets</p>
              </div>
              <div class="column-one-quarter">
                <p>£37,440</p>
              </div>
              <div class="column-one-quarter">
                <p>£30,740</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Total fixed assets</strong></p>
              </div>
              <div class="column-one-quarter">
                <p><strong>£49,940</strong></p>
              </div>
              <div class="column-one-quarter">
                <p><strong>£42,300</strong></p>
              </div>
            </div><!--grid-row-->




          <h3 class="heading-medium" style="margin-top:0.5em;">Current assets</h3>
          <div class="grid-row">
            <div class="column-one-half">
              <p>Stocks</p>
            </div>
            <div class="column-one-quarter">
              <p>£22,500</p>
            </div>
            <div class="column-one-quarter">
              <p>£1,750</p>
            </div>
          </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p>Debtors</p>
          </div>
          <div class="column-one-quarter">
            <p>£32,175</p>
          </div>
          <div class="column-one-quarter">
            <p>£16,000</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p>Cash at bank and in hand</p>
          </div>
          <div class="column-one-quarter">
            <p>£35,455</p>
          </div>
          <div class="column-one-quarter">
            <p>£7,000</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p class=""><strong>Total current assets</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£93,130</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£24,750</strong></p>
          </div>
        </div><!--grid-row-->
      <br>
        <div class="grid-row">
          <div class="column-one-half">
            <p>Creditors - amounts falling due within one year</p>
          </div>
          <div class="column-one-quarter">
            <p>£36,500</p>
          </div>
          <div class="column-one-quarter">
            <p>£16,700</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p><strong>Net current assets (liabilities)</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£36,500</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£16,700</strong></p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p><strong>Total assets less current liabilities</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£106,570</p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£50,350</p>
          </div>
        </div><!--grid-row-->
        <br>

        <div class="grid-row">
          <div class="column-one-half">
            <p>Creditors - amounts falling due after more than one year</p>
          </div>
          <div class="column-one-quarter">
            <p>£21,000</p>
          </div>
          <div class="column-one-quarter">
            <p>£1,000</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p>Provision for liabilities</p>
          </div>
          <div class="column-one-quarter">
            <p>£2,400</p>
          </div>
          <div class="column-one-quarter">
            <p>£700</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p><strong>Total net assets (liabilities)</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£83,170</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£48,650</strong></p>
          </div>
        </div><!--grid-row-->


        <h3 class="heading-medium" style="margin-top:0.5em;">Capital and reserves</h3>
        <div class="grid-row">
          <div class="column-one-half">
            <p>Called up share capital</p>
          </div>
          <div class="column-one-quarter">
            <p>£28,000</p>
          </div>
          <div class="column-one-quarter">
            <p>£27,000</p>
          </div>
        </div><!--grid-row-->
      <div class="grid-row">
        <div class="column-one-half">
          <p>Revaluation reserve</p>
        </div>
        <div class="column-one-quarter">
          <p>£15,000</p>
        </div>
        <div class="column-one-quarter">
          <p>£19,150</p>
        </div>
      </div><!--grid-row-->
      <div class="grid-row">
        <div class="column-one-half">
          <p>Profit and loss account</p>
        </div>
        <div class="column-one-quarter">
          <p>£40,1705</p>
        </div>
        <div class="column-one-quarter">
          <p>£2,500</p>
        </div>
      </div><!--grid-row-->
      <div class="grid-row">
        <div class="column-one-half">
          <p class=""><strong>Total shareholders' funds</strong></p>
        </div>
        <div class="column-one-quarter">
          <p><strong>£83,170</strong></p>
        </div>
        <div class="column-one-quarter">
          <p><strong>£48,650</strong></p>
        </div>
      </div><!--grid-row-->


      <p><a href="/cato-style/cato-style-balance-sheet-completed" class="button">Amend balance sheet figures</a></p>

          </div><!--review-reveal-->
          </details>
        </td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Balance sheet statements</span></summary>
            <div class="review-reveal">
            <ul class="list list-bullet">
              <li>For the year ending 31 March 2016 the company was entitled to exemption under section 477 of the Companies Act 2006 relating to small companies.</li>
              <li>The members have not required the company to obtain an audit in accordance with section 476 of the Companies Act 2006.</li>
              <li>The directors acknowledge their responsibilities for complying with the requirements of the Act with respect to accounting records and the preparation of accounts.</li>
              <li>These accounts have been prepared and delivered in accordance with the provisions applicable to companies subject to the small companies regime.</li>
              <li>The members have agreed to the preparation of abridged accounts for this accounting period in accordance with Section 444(2A).</li>
            </ul>
          </div><!--review-reveal-->
          </details>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Balance sheet notes</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Accounting policies note</span></summary>
            <div class="review-reveal">
              <ul class="list list-bullet">
                <li>These financial statements have been prepared in accordance with the provisions of Section 1A (Small Entities) of Financial Reporting Standard 102.</li>
              </ul>
              <p><a href="javascript:void(0)" class="button">Amend accounting policies note</a></p>
            </div><!--review-reveal-->
          </details>
        </td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Intangible assets note</span></summary>
            <div class="review-reveal">
              <h3 class="heading-medium" style="margin-top:0.5em;">Cost</h3>
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Cost at 1 April 2015</p>
                </div>
                <div class="column-one-quarter">
                  <p>£16,500</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p>Additions</p>
              </div>
              <div class="column-one-quarter">
                <p>£14,010</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Disposals</p>
              </div>
              <div class="column-one-quarter">
                <p class="">£13,100</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Transfers</p>
              </div>
              <div class="column-one-quarter">
                <p class="">£5,080</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Cost at 31 March 2016</strong></p>
              </div>
              <div class="column-one-quarter">
                <p class=""><strong>£48,690</strong></p>
              </div>
            </div><!--grid-row-->


            <h3 class="heading-medium" style="margin-top:0.5em;">Amortisation</h3>
            <div class="grid-row">
              <div class="column-one-half">
                <p>Amortisation at 1 April 2015</p>
              </div>
              <div class="column-one-quarter">
                <p>£4,000</p>
              </div>
            </div><!--grid-row-->
          <div class="grid-row">
            <div class="column-one-half">
              <p>Charge for year</p>
            </div>
            <div class="column-one-quarter">
              <p>£11,500</p>
            </div>
          </div><!--grid-row-->
          <div class="grid-row">
            <div class="column-one-half">
              <p class="">On disposals</p>
            </div>
            <div class="column-one-quarter">
              <p class="">£13,180</p>
            </div>
          </div><!--grid-row-->
          <div class="grid-row">
            <div class="column-one-half">
              <p class="">Other adjustments</p>
            </div>
            <div class="column-one-quarter">
              <p class="">£8,450</p>
            </div>
          </div><!--grid-row-->
          <div class="grid-row">
            <div class="column-one-half">
              <p class=""><strong>Amortisation at 31 March 2016</strong></p>
            </div>
            <div class="column-one-quarter">
              <p class=""><strong>£37,130</strong></p>
            </div>
          </div><!--grid-row-->
          <h3 class="heading-medium" style="margin-top:0.5em;">Net book value</h3>
          <div class="grid-row">
            <div class="column-one-half">
              <p><strong>Net book value at 31 March 2016</strong></p>
            </div>
            <div class="column-one-quarter">
              <p><strong>£12,500</strong></p>
            </div>
          </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p><strong>Net book value at 31 March 2015</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>£11,560</strong></p>
          </div>
        </div><!--grid-row-->
        <p><a href="javascript:void(0)" class="button">Amend intangible assets note</a></p>

          </div><!--review-reveal-->
          </details>
        </td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Tangible assets note</span></summary>
            <div class="review-reveal">
              <h3 class="heading-medium" style="margin-top:0.5em;">Cost</h3>
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Cost at 1 April 2015</p>
                </div>
                <div class="column-one-quarter">
                  <p>£41,260</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p>Additions</p>
              </div>
              <div class="column-one-quarter">
                <p>£11,180</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Disposals</p>
              </div>
              <div class="column-one-quarter">
                <p class="">£11,280</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Transfers</p>
              </div>
              <div class="column-one-quarter">
                <p class="">£8,600</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Cost at 31 March 2016</strong></p>
              </div>
              <div class="column-one-quarter">
                <p class=""><strong>£72,230</strong></p>
              </div>
            </div><!--grid-row-->


              <h3 class="heading-medium" style="margin-top:0.5em;">Depreciation</h3>
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Depreciation at 1 April 2015</p>
                </div>
                <div class="column-one-quarter">
                  <p>£10,520</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p>Charge for year</p>
              </div>
              <div class="column-one-quarter">
                <p>£19,500</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">On disposals</p>
              </div>
              <div class="column-one-quarter">
                <p class="">£4,860</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Depreciation at 31 March 2016</strong></p>
              </div>
              <div class="column-one-quarter">
                <p class=""><strong>£34,480</strong></p>
              </div>
            </div><!--grid-row-->


              <h3 class="heading-medium" style="margin-top:0.5em;">Net book value</h3>
              <div class="grid-row">
                <div class="column-one-half">
                  <p><strong>Net book value at 31 March 2016</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>£37,440</strong></p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p><strong>Net book value at 31 March 2015</strong></p>
              </div>
              <div class="column-one-quarter">
                <p><strong>£30,740</strong></p>
              </div>
            </div><!--grid-row-->
            <p><a href="javascript:void(0)" class="button">Amend tangible assets note</a></p>
          </div><!--review-reveal-->
          </details>
        </td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Revaluation reserve note</span></summary>
            <div class="review-reveal">
              <div class="grid-row">
                <div class="column-one-half">
                  <p>At 1 April 2015</p>
                </div>
                <div class="column-one-quarter">
                  <p>£19,150</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p>Surplus or deficit arising from revaluation note</p>
              </div>
              <div class="column-one-quarter">
                <p>-£4,150</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>At 31 March 2016</strong></p>
              </div>
              <div class="column-one-quarter">
                <p class=""><strong>£15,000</strong></p>
              </div>
            </div><!--grid-row-->
            <p><a href="javascript:void(0)" class="button">Amend revaluation reserve note</a></p>
          </div><!--review-reveal-->
        </details>
        </td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Employees note<span></summary>
            <div class="review-reveal">
              <div class="grid-row">
                <div class="column-one-half">
                <p>Average number of employees</p>
                </div>
                <div class="column-one-quarter">
                <p>1</p>
                </div>
              </div><!--grid-row-->
              <p><a href="javascript:void(0)" class="button">Amend employees note</a></p>
            </div><!--review-reveal-->
          </details>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 class="heading-medium">Print or save your accounts before filing (optional)</h2>

  <p>You can print or save your draft accounts to review them before filing.</p>

  <ul class="list list-bullet">
    <li><a id="" href="javascript:void(0)" target="_blank">Print your draft accounts</a>
    <span class="form-hint">(Opens in a new tab or window)</span></li>
    <li><a id="" href="javascript:void(0)" target="_blank">Save your draft accounts in HTML </a>
    <span class="form-hint"> (You'll be asked where to save the file, or it will download to a folder on your computer)</span></li>
  </ul>

  <div class="form-group">
    <p><a href="cato-style-approval" class="button">Continue to Approval</a></p>
  </div>

</main>

{% endblock %}
