{% extends "layout-chs.html" %}

{% block page_title %}
  Abridged accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>




<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>

  <form action="/chs/chs-start-page" method="get" class="form">


      <h1 class="heading-xlarge">Abridged accounts</h1>

      <p>Abridged accounts must meet <strong>at least 2</strong> of the following criteria:</p>
      <ol class="list list-number">
        <li>Turnover can't exceed £10.2 million<span class="form-hint">If you sell books and the total sales of books during the accounting period amounts to £10,000 then that is your turnover. </span></li>
        <li>The balance sheet total can't be more than £5.1 million<span class="form-hint">This is the sum of the total fixed assets plus total current assets</span></li>
        <li>There can't be more than an average of 50 employees during the year</li>
      </ol>






         <div class="form-group">
           <input type="submit" class="button" value="File abridged accounts" id="">
           <span class="destination"> on the Companies House service</span>
         </div>

         <h2 class="heading-medium">Before you start</h2>

         <ul class="list list-bullet">
           <li>Your accounts need to be prepared, with figures rounded to whole numbers. Round down income, and round up spending.</li>
           <li>Your accounts should have been approved by the director/board of directors.</li>
           <li>Read guidance on <a href="https://www.gov.uk/prepare-file-annual-accounts-for-limited-company">what your annual accounts should include</a></li>
         </ul>


         <h2 class="heading-medium">What you need</h2>

         <p>You’ll need the:</p>

         <ul class="list list-bullet">
           <li>email address and password you used to sign up for the Companies House online service</li>
           <li>authentication code Companies House sent you</li>
         </ul>

         <h3 class="heading-small">If you haven’t used the service before</h3>

      <p>You can <a rel="external" href="javascript:void(0)">register online.</a> You’ll need to give your email address and create a password, then Companies House will post an authentication code to your registered office address.</p>


       </form>







  </div><!-- text-->

</main>

{% endblock %}
