{% extends "layout.html" %}

{% block page_title %}
  Accounting policies
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a> | UTR: 012345678<br>Period of accounts: 1 April 2015 to 31 March 2016</p>



<a class="link-back" href="cato-style-balance-sheet-statements">Back</a>


      <div class="text">
      <h1 class="heading-xlarge">Accounting policies</h1>

      <p>You must provide information on all policies that apply to your company as shown on your prepared accounts.</p>
      <p>Accounting policies are usually found as Note 1 of your prepared accounts.</p>
      </div><!--text-->

      <form class="form" method="get" action="">


      <div class="form-group">
      <fieldset>

        <h2 class="heading-medium">Basis of preparation</h2>
        <legend class="visuallyhidden">Basis of preparation</legend>
        <label class="block-label text" for="1">
        <input type="radio" id="1" value="" name="basis-of-preparation">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tria genera bonorum non est ista, inquam, Piso, magna dissensio. Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta. Sed tempus est, si videtur, et recta quidem ad me. Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur.
        </label>
        <label data-target="2-reveal" class="block-label" for="2">
          <input type="radio" id="2" value="" name="basis-of-preparation" aria-controls="micro" aria-expanded="false">
          I want to provide my own basis of preparation policy.
        </label>
        <div id="2-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
          <label class="visuallyhidden" for="2-textarea"></label>
          <textarea type="text" id="2-textarea" class="form-control" rows="10"></textarea>
        </div>

      </fieldset>
      </div>



      <div class="form-group">
      <fieldset>

        <h2 class="heading-medium">Other accounting policy</h2>
        <legend class="visuallyhidden">Other accounting policy</legend>
        <label class="visuallyhidden" for="other-1"></label>
        <textarea type="text" id="other-1" class="form-control" rows="5"></textarea>

      </fieldset>
      </div>



      <div class="form-group">
      <fieldset>

        <h2 class="heading-medium">Another accounting policy</h2>
        <legend class="visuallyhidden">Other accounting policy</legend>
        <label class="visuallyhidden" for="other-2"></label>
        <textarea type="text" id="other-2" class="form-control" rows="5"></textarea>

      </fieldset>
      </div>

      <div class="form-group">
      <fieldset>

        <h2 class="heading-medium">Yet another accounting policy</h2>
        <legend class="visuallyhidden">Other accounting policy</legend>
        <label class="visuallyhidden" for="other-3"></label>
        <textarea type="text" id="other-3" class="form-control" rows="5"></textarea>

      </fieldset>
      </div>


    </form>
      <div class="form-group">
        <a class="button" href="cato-style-approval" role="button">Save and continue to Approval</a>
      </div>









</main>

{% endblock %}
