{% extends "layout-chs.html" %}

{% block page_title %}
  Balance sheet notes
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<main id="content" role="main" class="two-column-accounts">
<div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>


<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>

  <h1 class="heading-xlarge">Balance sheet notes</h1>

  <div class="text">
    <p>You need to add notes about some of the figures you entered in your balance sheet.</p>
  </div>



  <table class="check-your-answers">
  <caption class="visuallyhidden">Mandatory notes</caption>
  <thead>
    <tr>
      <th class="heading-large" colspan="4">Mandatory notes
        <span class="form-hint text">Based on your balance sheet entries, you must supply these notes. You can add other notes later if you need to.</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="note-completed"><i class="fa fa-check fa-lg accounts-success" aria-hidden="true"></i></td>
      <td>Accounting policies</td>
      <td></td>
      <td class="change-answer"><a href="cato-style-accounting-policies">Change note <span class="visuallyhidden">Accounting policies</span></a></td>
    </tr>

      <tr>
        <td class="note-completed"></td>
        <td>Intangible assets</td>
        <td></td>
        <td class="change-answer"><a href="cato-style-abridged-intangible-note">Add note <span class="visuallyhidden">Intangible assets</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Tangible assets</td>
        <td></td>
        <td class="change-answer"><a href="cato-style-abridged-tangible-note">Add note <span class="visuallyhidden">Tangible assets</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Revaluation reserve</td>
        <td></td>
        <td class="change-answer"><a href="cato-style-revaluation-reserve">Add note <span class="visuallyhidden">Revaluation reserve</span></a></td>
      </tr>
    </tbody>
  </table>





</main>

{% endblock %}
