{% extends "layout-chs.html" %}

{% block page_title %}
  Balance sheet
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="cato-style-start-page-abridged">Back</a>


  <h1 class="heading-xlarge">Balance sheet</h1>

  <div class="grid-row" id="accounts-header">
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2016</h2>
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2015</h2>
    </div>
  </div>



<form action="/" method="post" class="form">

<h2 class="heading-medium">Fixed assets</h2>

  <!--Start intangible assets-->
  <div class="grid-row">
    <div class="column-half">
        <details>
          <summary><span class="summary">Intangible assets</span></summary>
          <div class="panel panel-border-narrow">
            <p>The value of the company's non-physical assets - for example, patents, trademarks, licences, goodwill (taking account of depreciation).</p>
          </div>
        </details>
    </div>

    <div class="column-quarter">
      <div class="form-group">
        <label for="intangible-assets-current"><span class="visuallyhidden">Intangible assets (current year)</span>
          <input type="number" class="form-control" id="intangible-assets-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="intangible-assets-previous"><span class="visuallyhidden">Intangible assets (previous year)</span>
          <input type="number" class="form-control" id="intangible-assets-previous">
        </label>
      </div>
    </div>

  </div>
  <!--End intangible assets-->

  <!--Start tangible assets-->
  <div class="grid-row">
    <div class="column-half">
        <details>
          <summary><span class="summary">Tangible assets</span></summary>
          <div class="panel panel-border-narrow">
            <p>The value of the company's physical assets used in the business - for example, machinery, fixtures and fittings, office equipment, vehicles, buildings, land (taking account of depreciation).</p>
          </div>
        </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="tangible-assets-current"><span class="visuallyhidden">Tangible assets (current year)</span>
          <input type="number" class="form-control" id="tangible-assets-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="tangible-assets-previous"><span class="visuallyhidden">Tangible assets (previous year)</span>
          <input type="number" class="form-control" id="tangible-assets-previous">
        </label>
      </div>
    </div>
  </div>
  <!--End tangible assets-->

  <!--Start total fixed assets-->
  <div class="grid-row accounts-total">
    <div class="column-half">
      <details>
        <summary><span class="summary">Total fixed assets</span></summary>
        <div class="panel panel-border-narrow">
          <p>'Intangible assets' plus 'tangible assets'.</p>
        </div>
      </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="total-fixed-assets-current"><span class="visuallyhidden">Total fixed assets (current year)</span>
          <input type="number" class="form-control" id="total-fixed-assets-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="total-fixed-assets-previous"><span class="visuallyhidden">Total fixed assets (previous year)</span>
          <input type="number" class="form-control" id="total-fixed-assets-previous">
        </label>
      </div>
    </div>

  </div>
  <!--End total fixed assets-->



  <h2 class="heading-medium">Current assets</h2>

    <!--Start stocks-->
    <div class="grid-row">
      <div class="column-half">
          <details>
            <summary><span class="summary">Stocks</span></summary>
            <div class="panel panel-border-narrow">
              <p>The value of goods or services bought or made, but not yet sold - for example, raw materials, balance of long-term contracts.</p>
            </div>
          </details>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="stocks-current"><span class="visuallyhidden">Stocks (current year)</span>
            <input type="number" class="form-control" id="stocks-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="stocks-current"><span class="visuallyhidden">Stocks (previous year)</span>
            <input type="number" class="form-control" id="stocks-previous">
          </label>
        </div>
      </div>

    </div>
    <!--End stocks-->

    <!--Start debtors-->
    <div class="grid-row">
      <div class="column-half">
          <details>
            <summary><span class="summary">Debtors</span></summary>
            <div class="panel panel-border-narrow">
              <p>Amount owed to the company - for example, debts, payments or income owed but not yet received.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="debtors-current"><span class="visuallyhidden">Debtors (current year)</span>
            <input type="number" class="form-control" id="debtors-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="debtors-previous"><span class="visuallyhidden">Debtors (previous year)</span>
            <input type="number" class="form-control" id="debtors-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End debtors-->


    <!--Start cash at bank and in hand-->
    <div class="grid-row">
      <div class="column-half">
          <details>
            <summary><span class="summary">Cash at bank and in hand</span></summary>
            <div class="panel panel-border-narrow">
              <p>Total cash available on demand, either in the bank or in petty cash.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="cash-at-bank-and-in-hand-current"><span class="visuallyhidden">Cash at bank and in hand (current year)</span>
            <input type="number" class="form-control" id="cash-at-bank-and-in-hand-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="cash-at-bank-and-in-hand-previous"><span class="visuallyhidden">Cash at bank and in hand (previous year)</span>
            <input type="number" class="form-control" id="cash-at-bank-and-in-hand-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End cash at bank and in hand-->



    <!--Start total current assets-->
    <div class="grid-row accounts-total">
      <div class="column-half">
        <details>
          <summary><span class="summary">Total current assets</span></summary>
          <div class="panel panel-border-narrow">
            <p>'Stocks' plus 'debtors' plus 'cash at bank and in hand'. </p>
          </div>
        </details>
            </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="total-fixed-current-current"><span class="visuallyhidden">Total current assets (current year)</span>
            <input type="number" class="form-control" id="total-current-assets-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="total-current-assets-previous"><span class="visuallyhidden">Total current assets (previous year)</span>
            <input type="number" class="form-control" id="total-current-assets-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End total current assets-->



    <!--Start prepayments and accrued income-->
    <div class="grid-row accounts-row-spacer">
      <div class="column-half">
          <details>
            <summary><span class="summary">Prepayments and accrued income</span></summary>
            <div class="panel panel-border-narrow">
              <p>Prepayments and accrued income help goes here</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="prepayments-and-and-accrued-income-current"><span class="visuallyhidden">Prepayments and accrued income (current year)</span>
            <input type="number" class="form-control" id="prepayments-and-and-accrued-income-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="prepayments-and-and-accrued-income-previous"><span class="visuallyhidden">Prepayments and accrued income (previous year)</span>
            <input type="number" class="form-control" id="prepayments-and-and-accrued-income-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End prepayments and accrued income-->





    <!--Start creditors - amounts falling due within one year-->
    <div class="grid-row">
      <div class="column-half">
          <details>
            <summary><span class="summary">Creditors - amounts falling due within one year</span></summary>
            <div class="panel panel-border-narrow">
              <p>Debts you expect to settle within a year - for example, unpaid supplier invoices, bank loans or overdrafts.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="creditors-amounts-falling-due-within-one-year-current"><span class="visuallyhidden">Creditors - amounts falling due within one year (current year)</span>
            <input type="number" class="form-control" id="creditors-amounts-falling-due-within-one-year-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="creditors-amounts-falling-due-within-one-year-previous"><span class="visuallyhidden">Creditors - amounts falling due within one year (previous year)</span>
            <input type="number" class="form-control" id="creditors-amounts-falling-due-within-one-year-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End creditors - amounts falling due within one year-->



    <!--Start net current assets (liabilities)-->
    <div class="grid-row accounts-total">
      <div class="column-half">
          <details>
            <summary><span class="summary">Net current assets (liabilities)</span></summary>
            <div class="panel panel-border-narrow">
              <p>'Total current assets' minus 'creditors amounts falling due within 1 year'.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="net-current-assets-liabilities-current"><span class="visuallyhidden">Net current assets (liabilities) (current year)</span>
            <input type="number" class="form-control" id="net-current-assets-liabilities-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="net-current-assets-liabilities-previous"><span class="visuallyhidden">Net current assets (liabilities) (previous year)</span>
            <input type="number" class="form-control" id="net-current-assets-liabilities-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End net current assets (liabilities)-->


    <!--Start total assets less current liabilities-->
    <div class="grid-row accounts-total accounts-row-spacer">
      <div class="column-half">
          <details>
            <summary><span class="summary">Total assets less current liabilities</span></summary>
            <div class="panel panel-border-narrow">
              <p>'Total fixed assets' plus 'net current assets or liabilities'.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="total-assets-less-current-liabilities-current"><span class="visuallyhidden">Net current assets (liabilities) (current year)</span>
            <input type="number" class="form-control" id="total-assets-less-current-liabilities-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="total-assets-less-current-liabilities-previous"><span class="visuallyhidden">Net current assets (liabilities) (previous year)</span>
            <input type="number" class="form-control" id="total-assets-less-current-liabilities-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End total assets less current liabilities-->


    <!--Start creditors - amounts falling due after more than one year-->
    <div class="grid-row accounts-row-spacer">
      <div class="column-half">
          <details>
            <summary><span class="summary">Creditors - amounts falling due after more than one year</span></summary>
            <div class="panel panel-border-narrow">
              <p>Debts you expect to settle after more than 1 year - for example, bank loans with instalments due after more than a year. </p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="creditors-amounts-falling-due-after-more-than-one-year-current"><span class="visuallyhidden">Creditors - amounts falling due within one year (current year)</span>
            <input type="number" class="form-control" id="creditors-amounts-falling-due-after-more-than-one-year-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="creditors-amounts-falling-due-after-more-than-one-year-previous"><span class="visuallyhidden">Creditors - amounts falling due within one year (previous year)</span>
            <input type="number" class="form-control" id="creditors-amounts-falling-due-after-more-than-one-year-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End creditors - amounts falling due after more than one year-->

    <!--Start provision for liabilities-->
    <div class="grid-row">
      <div class="column-half">
          <details>
            <summary><span class="summary">Provision for liabilities</span></summary>
            <div class="panel panel-border-narrow">
              <p>An amount set aside to cover future costs - for example, for tax, costs of restructuring or providing pensions.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="provision-for-liabilities-current"><span class="visuallyhidden">Provision for liabilities (current year)</span>
            <input type="number" class="form-control" id="provision-for-liabilities-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="provision-for-liabilities-previous"><span class="visuallyhidden">Provision for liabilities (previous year)</span>
            <input type="number" class="form-control" id="provision-for-liabilities-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End provision for liabilities-->


    <!--Start accruals and deferred income-->
    <div class="grid-row">
      <div class="column-half">
          <details>
            <summary><span class="summary">Accruals and deferred income</span></summary>
            <div class="panel panel-border-narrow">
              <p>Help for accruals and deferred income goes here.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="accruals-and-deferred-income-current"><span class="visuallyhidden">Accruals and deferred income (current year)</span>
            <input type="number" class="form-control" id="accruals-and-deferred-income-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="accruals-and-deferred-income-previous"><span class="visuallyhidden">Accruals and deferred income (previous year)</span>
            <input type="number" class="form-control" id="accruals-and-deferred-income-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End accruals and deferred income-->

        <!--Start total net assets (liabilities)-->
        <div class="grid-row accounts-total">
          <div class="column-half">
              <details>
                <summary><span class="summary">Total net assets (liabilities)</span></summary>
                <div class="panel panel-border-narrow">
                  <p>'Total assets less current liabilities' minus 'creditors amounts falling due after more than 1 year' minus 'provision for liabilities'. This must match 'total shareholders' funds'.</p>
                </div>
              </details>
          </div>

          <div class="column-quarter">
            <div class="form-group">
              <label for="total-net-assets-liabilities-current"><span class="visuallyhidden">Total net assets (liabilities) (current year)</span>
                <input type="number" class="form-control" id="total-net-assets-liabilities-current">
              </label>
            </div>
          </div>
          <div class="column-quarter">
            <div class="form-group">
              <label class="form-label" for="total-net-assets-liabilities-previous"><span class="visuallyhidden">Total net assets (liabilities) (previous year)</span>
                <input type="number" class="form-control" id="total-net-assets-liabilities-previous">
              </label>
            </div>
          </div>
        </div>
        <!--End total net assets (liabilities)-->




        <h2 class="heading-medium">Capital and reserves</h2>

          <!--Start called up share capital-->
          <div class="grid-row">
            <div class="column-half">
              <label class="form-label" for="stocks-previous">
                <details>
                  <summary><span class="summary">Called up share capital</span></summary>
                  <div class="panel panel-border-narrow">
                    <p>Total amount received or owed to the company for sold shares.</p>
                  </div>
                </details>
              </label>
            </div>

            <div class="column-quarter">
              <div class="form-group">
                <label for="called-up-share-capital-current"><span class="visuallyhidden">Called up share capital (current year)</span>
                  <input type="number" class="form-control" id="called-up-share-capital-current">
                </label>
              </div>
            </div>
            <div class="column-quarter">
              <div class="form-group">
                <label for="called-up-share-capital-current"><span class="visuallyhidden">Called up share capital (previous year)</span>
                  <input type="number" class="form-control" id="called-up-share-capital-previous">
                </label>
              </div>
            </div>
          </div>
          <!--End called up share capital-->

          <!--Start revaluation reserve-->
          <div class="grid-row">
            <div class="column-half">
                <details>
                  <summary><span class="summary">Revaluation reserve</span></summary>
                  <div class="panel panel-border-narrow">
                    <p>How much assets have changed in value due to being revalued, compared to their previous values on the balance sheet - for example, to reflect market value. </p>
                  </div>
                </details>
            </div>

            <div class="column-quarter">
              <div class="form-group">
                <label for="revaluation-reserve-current"><span class="visuallyhidden">Revaluation reserve (current year)</span>
                  <input type="number" class="form-control" id="revaluation-reserve-current">
                </label>
              </div>
            </div>
            <div class="column-quarter">
              <div class="form-group">
                <label class="form-label" for="revaluation-reserve-previous"><span class="visuallyhidden">Revaluation reserve (previous year)</span>
                  <input type="number" class="form-control" id="revaluation-reserve-previous">
                </label>
              </div>
            </div>
          </div>
          <!--End revaluation reserve-->


          <!--Start profit and loss account-->
          <div class="grid-row">
            <div class="column-half">
                <details>
                  <summary><span class="summary">Profit and loss account</span></summary>
                  <div class="panel panel-border-narrow">
                    <p>Total cash available on demand, either in the bank or in petty cash.</p>
                  </div>
                </details>
            </div>

            <div class="column-quarter">
              <div class="form-group">
                <label for="profit-and-loss-account-current"><span class="visuallyhidden">Profit and loss account (current year)</span>
                  <input type="number" class="form-control" id="profit-and-loss-account-current">
                </label>
              </div>
            </div>
            <div class="column-quarter">
              <div class="form-group">
                <label class="form-label" for="profit-and-loss-account-previous"><span class="visuallyhidden">Profit and loss account (previous year)</span>
                  <input type="number" class="form-control" id="profit-and-loss-account-previous">
                </label>
              </div>
            </div>
          </div>
          <!--End profit and loss account-->



          <!--Start total shareholders' funds-->
          <div class="grid-row accounts-total">
            <div class="column-half">
              <details>
                <summary><span class="summary">Total shareholders' funds</span></summary>
                <div class="panel panel-border-narrow">
                  <p>'Called up share capital' plus 'revaluation reserve' plus 'profit and loss account'. This must match 'total net assets or liabilities'.</p>
                </div>
              </details>
            </div>

            <div class="column-quarter">
              <div class="form-group">
                <label for="total-shareholders-funds-current"><span class="visuallyhidden"> Total shareholders' funds (current year)</span>
                  <input type="number" class="form-control" id="total-shareholders-funds-current">
                </label>
              </div>
            </div>
            <div class="column-quarter">
              <div class="form-group">
                <label class="form-label" for="total-shareholders-funds-previous"><span class="visuallyhidden"> Total shareholders' funds (previous year)</span>
                  <input type="number" class="form-control" id="total-shareholders-funds-previous">
                </label>
              </div>
            </div>
          </div>
          <!--End total shareholders' funds-->

      <div class="form-group">
        <a class="button" href="cato-style-balance-sheet-statements">Save and continue to Balance sheet statements</a>
      </div>

</form>
</main>
{% endblock %}
