{% extends "layout-chs.html" %}

{% block page_title %}
  Balance Sheet Statements
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>

<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>



      <h1 class="heading-xlarge">Balance sheet statements</h1>
      <form action="/cato-style/cato-style-balance-sheet-notes" method="get" class="form">

      <div class="notice">
      <p>
        <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
        <strong class="bold-small">You’re legally required to include statements describing your accounts with your balance sheet.</strong>
      </p>
      </div>

      <p>The statements confirm that your accounts:</p>
       <ul class=" list list-bullet">
           <li>follow the required standards</li>
           <li>don’t need to be audited (reviewed by an independent accountant)</li>
       </ul>


        <details>

        <summary><span class="summary">Read the full legal statements</span></summary>

        <div class="panel panel-border-narrow">

          <fieldset>


            <legend class="visuallyhidden">Balance sheet statements</legend>

            <label class="block-label" for="section-477">
              <input type="checkbox" id="section-477" value="" name="balance-sheet-statements" class="confirmation-child">
              For the year ending 31 March 2016 the company was entitled to exemption under section 477 of the Companies Act 2006 relating to small companies.
            </label>

            <label class="block-label" for="section-476">
              <input type="checkbox" id="section-476" value="" name="balance-sheet-statements" class="confirmation-child">
               The members have not required the company to obtain an audit in accordance with section 476 of the Companies Act 2006.
            </label>

            <label class="block-label" for="preparation-of-accounts">
              <input type="checkbox" id="preparation-of-accounts" value="" name="balance-sheet-statements" class="confirmation-child">
                The directors acknowledge their responsibilities for complying with the requirements of the Act with respect to accounting records and the preparation of accounts.
            </label>

            <label class="block-label" for="small-companies-regime">
              <input type="checkbox" id="small-companies-regime" value="" name="balance-sheet-statements" class="confirmation-child">
              These accounts have been prepared in accordance with the provisions applicable to companies subject to the small companies regime.
            </label>

            <label class="block-label" for="section-444">
              <input type="checkbox" id="section-444" value="" name="balance-sheet-statements" class="confirmation-child">
                The members have agreed to the preparation of abridged accounts for this accounting period in accordance with Section 444(2A).
            </label>

          </fieldset>

        </div>

      </details>




      <h2 class="heading-medium">Confirmation</h2>

      <div class="form-group">
      <fieldset>

        <legend class="visuallyhidden">Confirmation</legend>

        <label class="block-label" for="confirmation">
          <input type="checkbox" id="confirmation" value="agree" name="confirmation">
           I agree to the legal statements - include them with my balance sheet.
        </label>

      </fieldset>
      </div>


      <div class="form-group">
        <input type="submit" class="button" value="Continue to Balance Sheet notes" id="statements-button">
      </div>

    </form>







  </div><!-- text-->

</main>

{% endblock %}
