{% extends "layout-chs.html" %}

{% block page_title %}
  Intangible assets
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="cato-style-balance-sheet-notes">Back</a>

  <div class="text">

  <h1 class="heading-xlarge">Intangible assets</h1>

  <div class="panel panel-border-wide">
    <p>As you have made an entry for intangible assets on the balance sheet, you are required to select at least one intangible assets note.</p>
  </div>

     <div class="form-group">
               <fieldset>

                 <legend class="visuallyhidden">Select intangible assets note(s)</legend>

                 <label class="block-label" for="intangible-assets-goodwill">
                   <input type="checkbox" id="intangible-assets-goodwill" value="goodwill" name="intangibleassets">
                   <span class="heading-small">Goodwill</span><br>
                   Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
                 </label>

                 <label class="block-label" for="intangible-assets-other">
                   <input type="checkbox" id="intangible-assets-other" value="other" name="intangibleassets">
                   <span class="heading-small">Other</span><br>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tria genera bonorum non est ista, inquam, Piso, magna dissensio
                 </label>


               </fieldset>
             </div>


      <div class="form-group accounts-row-spacer">
        <a class="button" href="cato-style-balance-sheet-notes">Save and continue</a>
      </div>

</div><!--text-->
</main>
{% endblock %}
