{% extends "layout-chs.html" %}

{% block page_title %}
  Loans to directors note
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a id="back" class="link-back" href="javascript:history.back()">Back</a>
<div class="text">

  <h1 class="heading-xlarge">Review your loans to directors note</h1>

</div><!--text-->

<form action="/cato-style/cato-style-loans-to-directors" method="get" class="form">


  <table class="check-your-answers">
    <caption class="visuallyhidden">Review your loans to directors note</caption>
      <thead>
        <tr>
          <th class="check-your-answers-section"><h2 class="heading-medium">Joe Bloggs</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <details>
              <summary><span class="summary">Description of the transaction</span></summary>
              <div class="panel panel-border-narrow">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et dolor sed ex hendrerit imperdiet sed congue dolor. Quisque sed nisl est. Nunc in velit nec mi semper pretium quis et lectus. Quisque hendrerit lectus vel sapien mollis, at dictum velit mattis.</p>
              </div>
            </details>
          </td>
        </tr>
        <tr>
          <td>
            <details>
              <summary><span class="summary">Sub-heading needed here</span></summary>
              <div class="review-reveal">


                <div class="grid-row">
                  <div class="column-one-half">
                    <p>Balance at 1 April 2015</p>
                  </div>
                  <div class="column-one-half">
                    <p>£X,XXX</p>
                  </div>
                </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Advances or credits made</p>
                </div>
                <div class="column-one-half">
                  <p>£X,XXX</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Advances or credits repaid</p>
                </div>
                <div class="column-one-half">
                  <p>£X,XXX</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-half">
                  <p class=""><strong>Balance at 31 March 2016</strong></p>
                </div>
                <div class="column-one-half">
                  <p><strong>£X,XXX</strong></p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Additional information (optional)</p>
                </div>
                <div class="column-one-half">
                  <p>Sed at dolor mauris. Fusce justo dolor, facilisis sed ipsum eget, interdum scelerisque urna. Nullam leo nisl, viverra id venenatis id, sagittis quis orci. In efficitur enim dolor, ut aliquet urna ultrices sed</p>
                </div>
              </div><!--grid-row-->



            </div><!--review-reveal-->
            </details>


          </td>
        </tr>
      </tbody>

    </table>
    <br>
    <p><a href="/cato-style/cato-style-balance-sheet-completed" class="button">Amend Joe Bloggs note</a></p>



<div class="text">
      <h2 class="heading-medium">Do you have more loans to directors to report?</h2>

               <div class="form-group">
                 <fieldset class="inline">

                   <legend class="visuallyhidden">
                     Do you have more loans to  directors to report?
                   </legend>

                   <label class="block-label" for="more-loans-directors-yes">
                     <input type="radio" value="yes" name="moreloansdirectors" id="more-loans-directors-yes">
                      Yes
                   </label>

                   <label class="block-label" for="more-loans-directors-no">
                     <input type="radio" value="no" name="moreloansdirectors" id="more-loans-directors-no">
                     No
                   </label>

                 </fieldset>
               </div>




    <div class="form-group accounts-row-spacer">
      <input type="submit" class="button" value="Save and continue">
    </div>
  </form>


</main>
{% endblock %}
