{% extends "layout-chs.html" %}

{% block page_title %}
  Eligibility
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>

<div class="text">

<a class="link-back" href="cato-style-start-page">Back</a>



      <h1 class="heading-xlarge">Eligibility</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed porta leo, quis interdum justo. Suspendisse potenti. In porta ex at sapien ultricies.</p>

      <form class="form" method="get" action="">


              <h2 class="heading-medium">Are you eligible?</h2>

              <div class="form-group">
                <fieldset class="inline">

                  <legend class="visuallyhidden">Are you eligible?</legend>

                  <label class="block-label" for="true">
                    <input type="radio" id="true" value="true" name="true">
                    Yes
                  </label>

                  <label class="block-label" for="false">
                    <input type="radio" id="false" value="false" name="false">
                    No
                  </label>

                </fieldset>
              </div>


            </form>
      <div class="form-group">
        <a class="button" href="cato-style-type-of-accounts" role="button">Choose type of accounts</a>
      </div>








  </div><!-- text-->

</main>

{% endblock %}
