{% extends "layout-chs.html" %}

{% block page_title %}
  Related party transactions
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="cato-style-balance-sheet-notes">Back</a>
<div class="text">

  <h1 class="heading-xlarge">Related party transactions</h1>



  <h2 class="heading-medium"><span class="circle circle-step">1</span> Related party transactions</h2>

  <details>
    <summary><span class="summary">Name of related party</span></summary>
    <div class="panel panel-border-narrow">
      <p>The name of the related party over whom the controlling party has influence. Only provide the transaction details for each individual related party. You can report more transactions for related parties if you need to.</p>
    </div>
  </details>
  <div class="form-group">
    <label for="name-of-related-party" class="visuallyhidden">Name of related party</label>
    <input type="text" id="name-of-related-party" class="form-control">
  </div>

  <details>
    <summary><span class="summary">Relationship</span></summary>
    <div class="panel panel-border-narrow">
      <p>The relationship between the controlling and related parties. For example, business partner or employee.</p>
    </div>
  </details>
  <div class="form-group">
    <label for="relationship" class="visuallyhidden">Relationship</label>
    <input type="text" id="relationship" class="form-control">
  </div>

  <details>
    <summary><span class="summary">Description of the transaction</span></summary>
    <div class="panel panel-border-narrow">
      <p>A brief description of the transaction between both parties. For example, the loan of an asset.</p>
    </div>
  </details>
  <div class="form-group">
    <label for="description-transaction" class="visuallyhidden">Description of the transaction</label>
    <input type="text" id="description-transaction" class="form-control">
  </div>


</div><!--text-->
<br>


  <h2 class="heading-medium"><span class="circle circle-step">2</span> Sub-heading needed here</h2>

    <!--Start balance at start-->
    <div class="grid-row accounts-row-spacer">
      <div class="column-half">
          <details>
            <summary><span class="summary">Balance at 1 April 2015 (optional)</span></summary>
            <div class="panel panel-border-narrow">
              <p>The amount due to or from the director for this transaction at the start of the accounting period.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="balance-at-start"><span class="visuallyhidden">Balance at 1 April 2015 (optional)</span>
            <input type="number" class="form-control" id="balance-at-start">
          </label>
        </div>
      </div>

    </div>
    <!--End balance at start-->


    <!--Start balance at end-->
    <div class="grid-row">
      <div class="column-half">
        <details>
          <summary><span class="summary">Balance at 31 March 2016 (optional)</span></summary>
          <div class="panel panel-border-narrow">
            <p>The amount of the advance or credit repaid by the director for this particular transaction.</p>
          </div>
        </details>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="balance-at-end"><span class="visuallyhidden">Balance at 31 March 2016 (optional)</span>
            <input type="number" class="form-control" id="balance-at-end">
          </label>
        </div>
      </div>
    </div>
    <!--End balance at end--->


    <details class="text">
      <summary><span class="summary">Additional information (optional)</span></summary>
      <div class="panel panel-border-narrow">
        <label class="visuallyhidden" for="textarea">Additional information (optional)</label>
        <p class="form-hint">Scaevola mnesarchum assueverit vis in. Unum novum sententiae cu duo, ex dico modus inimicus mel, justo appetere vel ex</p>
        <textarea type="text" id="" class="form-control" rows="10"></textarea>
      </div>
    </details>



    <div class="text">
          <h2 class="heading-medium"><span class="circle circle-step">3</span> Do you have more related party transactions to report?</h2>

                   <div class="form-group">
                     <fieldset class="inline">

                       <legend class="visuallyhidden">Do you have more related party transactions to report?</legend>

                       <label class="block-label" for="more-related-transactions-yes">
                         <input type="radio" value="Yes" name="more-related-transactions" id="more-related-transactions-yes">
                          Yes
                       </label>

                       <label class="block-label" for="more-related-transactionsno">
                         <input type="radio" value="no" name="more-related-transactions" id="more-related-transactions-no">
                         No
                       </label>

                     </fieldset>
                   </div>




        <div class="form-group accounts-row-spacer">
          <a class="button" href="cato-style-financial-commitments-check">Save and continue</a>
        </div>

    </div><!--text-->



</main>
{% endblock %}
