{% extends "layout-chs.html" %}

{% block page_title %}
  Loans to directors
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a id="back" class="link-back" href="javascript:history.back()">Back</a>
<div class="text">

  <h1 class="heading-xlarge">Loans to directors</h1>



      <div class="form-hint">
        <p>The disclosure of any transactions with your company's directors, such as advances and credits, or loans guaranteed by a director.</p>
        <p>Details of any other elements that support the understanding of the financial statements should be provided as additional information. For example, the rate of interest on advances and details of any guarantees given by the company on behalf of a director.</p>
      </div>



        <h2 class="heading-medium"><span class="circle circle-step">1</span> Name of director receiving advance or credit</h2>
        <details>
          <summary><span class="summary">What's this?</span></summary> <span class="visuallyhidden">Name of director receiving advance or credit</span>
          <div class="panel panel-border-narrow">
            <p>The disclosure of any transactions with your company's directors, such as advances and credits, or loans guaranteed by a director.</p>
            <p>Details of any other elements that support the understanding of the financial statements should be provided as additional information. For example, the rate of interest on advances and details of any guarantees given by the company on behalf of a director.</p>
          </div>
        </details>
        <br>

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">Name of director receiving advance or credit</legend>

            <label class="block-label" for="joe-bloggs">
              <input type="checkbox" id="joe-bloggs" value="Joe Bloggs" name="joe-bloggs">
              Joe Bloggs
            </label>

            <label class="block-label" for="john-doe">
              <input type="checkbox" id="john-doe" value="John Doe" name="john-doe">
              John Doe
            </label>

          </fieldset>
        </div>


        <h2 class="heading-medium"><span class="circle circle-step">2</span> Description of the transaction</h2>

        <details>
          <summary><span class="summary">What's this?</span></summary> <span class="visuallyhidden">Description of the transaction</span>
          <div class="panel panel-border-narrow">
            <p>A brief description of the transaction, for example, an advance or loan for a car.</p>
            <p>Only provide the details for each individual transaction to the director. You can report more transactions for the same director or other directors separately if you need to.</p>
          </div>
        </details>
        <br>
        <textarea rows="5" class="form-control" id="textarea" type="text"></textarea>


</div><!--text-->


      <h2 class="heading-medium"><span class="circle circle-step">3</span> Sub-heading</h2>

        <!--Start balance at start-->
        <div class="grid-row accounts-row-spacer">
          <div class="column-half">
              <details>
                <summary><span class="summary">Balance at 1 April 2015</span></summary>
                <div class="panel panel-border-narrow">
                  <p>The amount due to or from the director for this transaction at the start of the accounting period.</p>
                </div>
              </details>
          </div>

          <div class="column-quarter">
            <div class="form-group">
              <label for="balance-at-start"><span class="visuallyhidden">Balance at 1 April 2015</span>
                <input type="number" class="form-control" id="loans-to-directors-balance-at-start">
              </label>
            </div>
          </div>

        </div>
        <!--End balance at start-->

        <!--Start Advances or credits made  -->
        <div class="grid-row">
          <div class="column-half">
              <details>
                <summary><span class="summary">Advances or credits made</span></summary>
                <div class="panel panel-border-narrow">
                  <p>The amount of the advance or credit made to the director for this particular transaction.</p>
                </div>
              </details>
          </div>
          <div class="column-quarter">
            <div class="form-group">
              <label for="advances-or-credits-made"><span class="visuallyhidden">Advances or credits made</span>
                <input type="number" class="form-control" id="loans-to-directors-advances-or-credits-made">
              </label>
            </div>
          </div>
        </div>
        <!--End Advances or credits made  -->

        <!--Start Advances or credits repaid-->
        <div class="grid-row">
          <div class="column-half">
            <details>
              <summary><span class="summary">Advances or credits repaid</span></summary>
              <div class="panel panel-border-narrow">
                <p>The amount of the advance or credit repaid by the director for this particular transaction.</p>
              </div>
            </details>
          </div>
          <div class="column-quarter">
            <div class="form-group">
              <label for="advances-or-credits-repaid"><span class="visuallyhidden">Advances or credits repaid</span>
                <input type="number" class="form-control" id="loans-to-directors-advances-or-credits-repaid">
              </label>
            </div>
          </div>
        </div>
        <!--End Advances or credits repaid-->

        <!--Start balance at end-->
        <div class="grid-row accounts-total">
          <div class="column-half">
            <details>
              <summary><span class="summary">Balance at 31 March 2016</span></summary>
              <div class="panel panel-border-narrow">
                <p>The amount of the advance or credit repaid by the director for this particular transaction.</p>
              </div>
            </details>
          </div>
          <div class="column-quarter">
            <div class="form-group">
              <label for="balance-at-end"><span class="visuallyhidden"> Balance at 31 March 2016</span>
                <input type="number" class="form-control" id="loans-to-directors-balance-at-end">
              </label>
            </div>
          </div>
        </div>
        <!--End balance at end--->


        <details class="text">
          <summary><span class="summary">Additional information (optional) </span></summary>
          <div class="panel panel-border-narrow">
            <label class="visuallyhidden" for="textarea">Additional information (optional)</label>
            <p class="form-hint">Scaevola mnesarchum assueverit vis in. Unum novum sententiae cu duo, ex dico modus inimicus mel, justo appetere vel ex</p>
            <textarea type="text" id="" class="form-control" rows="10"></textarea>
          </div>
        </details>



<div class="text">
      <h2 class="heading-medium"><span class="circle circle-step">4</span> Do you have more transactions with directors to report?</h2>

               <div class="form-group">
                 <fieldset class="inline">

                   <legend class="visuallyhidden">
                     Do you have more transactions with directors to report?
                   </legend>

                   <label class="block-label" for="more-director-transactions-yes">
                     <input type="radio" value="Yes" name="more-director-transactions" id="more-director-transactions-yes">
                      Yes
                   </label>

                   <label class="block-label" for="more-director-transactions-no">
                     <input type="radio" value="no" name="more-director-transactions" id="more-director-transactions-no">
                     No
                   </label>

                 </fieldset>
               </div>


       <h2 class="heading-medium"><span class="circle circle-step">5</span> Do you want to change the content of this note for your abdridged accounts?</h2>

                <div class="form-group">
                  <fieldset class="inline">

                    <legend class="visuallyhidden">Do you want to change the content of this note for your abbreviated accounts?</legend>
                    <span class="form-hint">If not, all of the data provided in the note above will be included in your abridged accounts.</span>

                    <label class="block-label" for="change-content-yes">
                      <input type="radio" value="Yes" name="change-content" id="change-content-yes">
                       Yes
                    </label>

                    <label class="block-label" for="change-content-no">
                      <input type="radio" value="no" name="change-content" id="change-content-no">
                      No
                    </label>

                  </fieldset>
                </div>

    <div class="form-group accounts-row-spacer">
      <a class="button" href="cato-style-financial-commitments-check">Save and continue</a>
    </div>

</div><!--text-->

</main>
{% endblock %}
