{% extends "layout.html" %}

{% block page_title %}
  Accounts - Start
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a> | UTR: 012345678<br>Period of accounts: 1 April 2015 to 31 March 2016</p>

<div class="text">

<a class="link-back" href="/chs/chs-profile-page">Back</a>



      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed porta leo, quis interdum justo. Suspendisse potenti. In porta ex at sapien ultricies.</p>

        <ol class="list example-icon-list">
          <li><i class="icon icon-step-1"></i>  Eligibility</li>
          <li><i class="icon icon-step-2"></i>  Directors' report</li>
          <li><i class="icon icon-step-3"></i>  Balance sheet</li>
          <li><i class="icon icon-step-4"></i>  Balance sheet notes</li>
          <li><i class="icon icon-step-5"></i>  Balance sheet statement</li>
          <li><i class="icon icon-step-6"></i>  Approval</li>
          <li><i class="icon icon-step-7"></i>  Submission</li>
        </ol>

    <h2 class="heading-medium">Before you start</h2>
    <ul class="list list-bullet">
      <li>Vivamus tincidunt, purus in auctor feugiat.</li>
      <li>Ex arcu scelerisque mi, id congue mauris augue ac purus.</li>
      <li>Ut vel libero tristique, mollis ante vel</li>
    </ul>


      <br>
      <p>
        <a class="button" href="cato-style-eligibility" role="button">Continue to eligibility</a>
      </p>








  </div><!-- text-->

</main>

{% endblock %}
