{% extends "layout-chs.html" %}

{% block page_title %}
  Abridged accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>




<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>

  <form action="/cato-style/cato-style-start-page-abridged-before-start" method="get" class="form">


      <h1 class="heading-xlarge">Abridged accounts</h1>

      <p>Abridged accounts must meet <strong>at least 2</strong> of the following criteria:</p>
      <ol class="list list-number">
        <li>Turnover can't exceed £10.2 million<span class="form-hint">If you sell books and the total sales of books during the accounting period amounts to £10,000 then that is your turnover. </span></li>
        <li>The balance sheet total can't be more than £5.1 million<span class="form-hint">This is the sum of the total fixed assets plus total current assets</span></li>
        <li>There can't be more than an average of 50 employees during the year</li>
      </ol>






         <div class="form-group">
           <input type="submit" class="button" value="Continue" id="">
         </div>


       </form>







  </div><!-- text-->

</main>

{% endblock %}
