{% extends "layout-chs.html" %}

{% block page_title %}
  Post balance sheet events note
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="cato-style-balance-sheet-notes">Back</a>
<div class="text">

  <h1 class="heading-xlarge">Post balance sheet events note</h1>
  <form action="/" method="post" class="form">
    <label class="visuallyhidden" for="textarea">Post balance sheet events</label>
    <p class="form-hint">Enter details of any events which happened between the balance sheet date and the date your company accounts were authorised if they had an impact on your accounts. For example, if a trade debtor was declared bankrupt after the balance sheet date and the money they owe can't be recovered.</p>
  <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
    <div class="form-group accounts-row-spacer">
      <a class="button" href="cato-style-balance-sheet-notes">Save and continue</a>
    </div>
  </form>
</div><!--text-->

</main>
{% endblock %}
