{% extends "layout-chs.html" %}

{% block page_title %}
  Accounting policies  - check your answers
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>

  


  <a class="link-back" href="cato-style-directors-report-1">Back</a>

  <h1 class="heading-xlarge">Check your answers
    <span class="heading-secondary">Accounting policies</span>
  </h1>

  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2"><h2 class="heading-medium">Basis of preparation</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>The financial statements have been prepared under the historical cost convention.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Basis of preparation</span>
          </a>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2"><h2 class="heading-medium">Turnover policy</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Turnover is measured at the fair value of the consideration received or receivable, excluding discounts, rebates, value added tax and other sales taxes.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Turnover policy</span>
          </a>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2"><h2 class="heading-medium">Tangible assets depreciation policy</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Depreciation is provided at the following annual rates in order to write off each asset over its estimated useful life or, if held under a finance lease, over the lease term, whichever is the shorter. Stocks are valued at the lower of cost and net realisable value, after making due allowance for obsolete and slow moving items. </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Tangible assets depreciation policy</span>
          </a>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2"><h2 class="heading-medium">Intangible assets amortisation policy</h2></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Goodwill, being the amount paid in connection with the acquisition of a business in 0, is being amortised evenly over its estimated useful life of nil years.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Intangible assets amortisation policy</span>
          </a>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2"><h2 class="heading-medium">Valuation information policy</h2></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No information supplied.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Valuation information policy</span>
          </a>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2"><h2 class="heading-medium">Other policy</h2></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p class="heading-small">Deferred tax</p>
	          <p>Deferred tax is recognised in respect of all timing differences that have originated but not reversed at the
	statement of financial position date.</p>

          <p class="heading-small">Hire purchase and leasing commitments</p>
		          <p>Assets obtained under hire purchase contracts or finance leases are capitalised in the balance sheet. Those
	held under hire purchase contracts are depreciated over their estimated useful lives. Those held under finance
	leases are depreciated over their estimated useful lives or the lease term, whichever is the shorter.</p>

		          <p>The interest element of these obligations is charged to profit or loss over the relevant period. The capital element
	of the future payments is treated as a liability.</p>

		          <p>Rentals paid under operating leases are charged to profit or loss on a straight line basis over the period of the
	lease.</p>

          <p class="heading-small">Pension costs and other post-retirement benefits</p>
			          <p>The company operates a defined contribution pension scheme. Contributions payable to the company's pension
	scheme are charged to profit or loss in the period to which they relate.</p></td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Other policy</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
    <div class="form-group">
      <p><a href="cato-style-balance-sheet-notes" class="button">Save and continue</a></p>
    </div>



</main>

{% endblock %}
