{% extends "layout-chs.html" %}

{% block page_title %}
  Abridged accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">username@email.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>

<div class="text">

<a class="link-back" href="cato-style-type-of-accounts">Back</a>



      <h1 class="heading-xlarge">Abridged accounts</h1>

      <p>You'll need your organisation's <a href="https://www.gov.uk/annual-accounts" target="_blank">statutory accounts <span class="visuallyhidden">Link opens in a new tab or window</span></a>. They must be ‘balanced' - for example, your total assets should match what you owe.</p>
      <p>There are 5 parts to this thing:</p>
        <ol class="list example-icon-list">
          <li><i class="icon icon-step-1"></i>  Balance sheet</li>
          <li><i class="icon icon-step-2"></i>  Notes to the accounts</li>
          <li><i class="icon icon-step-3"></i>  Balance sheet statements</li>
          <li><i class="icon icon-step-4"></i>  Approval</li>
          <li><i class="icon icon-step-5"></i>  Submission</li>
        </ol>

    <h2 class="heading-medium">Before you start</h2>
      <p>You'll need your accounts prepared already, with figures rounded to whole numbers – round down income, and round up spending.</p>

          <details role="group">
            <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="false"><span class="summary">Sample abridged accounts templates</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true" style="display: none;">
            <p>These example accounts show the information you'll need to enter when submitting abridged accounts to Companies House.</p>
            <ul class="list list-bullet">
              <li><a href="javascript:void(0)" target="_parent">Word or similar: accounts for private limited companies (88KB)  <span class="visuallyhidden">Link opens in a new tab or window</span></a></li>
              <li><a href="javascript:void(0)" target="_blank">PDF: accounts for private limited companies (140KB)  <span class="visuallyhidden">Link opens in a new tab or window</span></a></li>
            </ul>
          </div>
          </details>
          <br>
      <p>
        <a class="button" href="cato-style-balance-sheet" role="button">Continue to Balance sheet</a>
      </p>








  </div><!-- text-->

</main>

{% endblock %}
