{% extends "layout-chs.html" %}

{% block page_title %}
  Profit before tax  - check your answers
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>

  <p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


  <a class="link-back" href="cato-style-directors-report-1">Back</a>

  <h1 class="heading-xlarge">Check your answers
    <span class="heading-secondary">Financial commitments</span>
  </h1>

  <table class="check-your-answers">
    <tbody>
      <tr>
        <td>Scaevola mnesarchum assueverit vis in. Unum novum sententiae cu duo, ex dico modus inimicus mel, justo appetere vel ex. At est oportere explicari rationibus, repudiare moderatius omittantur in cum. Pri nominavi comprehensam te, sint accusam incorrupte quo ea.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Basis of preparation</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
    <div class="form-group">
      <p><a href="cato-style-balance-sheet-notes" class="button">Save and continue</a></p>
    </div>



</main>

{% endblock %}
