{% extends "layout-chs.html" %}

{% block page_title %}
  Resume your abridged accounts?
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="cato-style-balance-sheet-notes">Back</a>
<form action="/" method="post" class="form">

<div class="text">
  <h1 class="heading-xlarge">Resume your abridged accounts?</h1>

  <p>Last time you logged in, you were filing abridged accounts which you have not completed. Would you like to:</p>

  <div class="form-group">
  <fieldset>

    <legend class="visuallyhidden">Basis of preparation</legend>
    <label class="block-label text" for="1">
    <input type="radio" id="1" value="" name="basis-of-preparation">
      Continue with your abridged accounts
    </label>
    <label class="block-label" for="2">
      <input type="radio" id="2" value="" name="basis-of-preparation" aria-controls="micro" aria-expanded="false">
        Delete these abridged accounts and start something else (not sure of wording here! -JF)
    </label>

  </fieldset>
  </div>





      <div class="form-group accounts-row-spacer">
        <a class="button" href="javascript:void(0)">Next</a>
      </div>
</div>
</form>
</main>
{% endblock %}
