{% extends "layout.html" %}
{% block pageTitle %}
  Check your answers - Directors' report
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Check your answers - directors' report
          </h1>

          <!-- only add a heading for a list if there is more than one list -->
          <h2 class="govuk-heading-m">
            Directors who served in the accounting period
          </h2>

          <div id="directors">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Director's name</th>
                  <th class="govuk-table__header" scope="col">Appointed</th>
                  <th class="govuk-table__header" scope="col">Resigned</th>
                  <th class="govuk-table__header" scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">John Smith</th>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <a href="javascript:void(0)" onclick="removeDirector(0)">Change</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Jane Smith</th>
                  <td class="govuk-table__cell">1 Jun 2019</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <a href="javascript:void(0)" onclick="removeDirector(1)">Change</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Lisa Smith</th>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">1 Jun 2019</td>
                  <td class="govuk-table__cell">
                    <a href="javascript:void(0)" onclick="removeDirector(2)">Change</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="govuk-heading-m">
            Company secretary
          </h2>

          <div id="directors">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Secretary's name</th>
                  <th class="govuk-table__header" scope="col">&nbsp;</th>
                  <th class="govuk-table__header" scope="col">&nbsp;</th>
                  <th class="govuk-table__header" scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">John Smith</th>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <a href="javascript:void(0)" onclick="removeDirector(0)">Change</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <h2 class="govuk-heading-m">
            Directors' report notes
          </h2>

          <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Principal activities of the company
              </dt>
              <dd class="app-check-your-answers__answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim dui nec mauris dictum pretium. Duis non eros nunc. Donec sollicitudin nisi vitae massa sodales, a venenatis erat hendrerit. Integer
                sem sapien, eleifend quis mauris id, ullamcorper fringilla ligula. Proin cursus dui at porttitor mollis.
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="/cics/general-description">
                  Change<span class="govuk-visually-hidden">
                    Principal activities of the company
                  </span>
                </a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Political and charitable donations
              </dt>
              <dd class="app-check-your-answers__answer">Fusce sit amet augue et ipsum aliquam convallis et vel velit. Nunc tortor ante, vulputate a justo in, finibus pharetra massa.
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="/cics/consultation-with-stakeholders">
                  Change<span class="govuk-visually-hidden">
                    political and charitable donations</span>
                </a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Company policy on disabled employees
              </dt>
              <dd class="app-check-your-answers__answer">In viverra dolor eu fermentum pulvinar. In dapibus ligula tortor, at pulvinar sem viverra ac. Sed sed justo tortor. Donec nibh ante, tristique tristique sapien vitae, posuere varius odio.
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="/cics/directors-remuneration">
                  Change<span class="govuk-visually-hidden">
                    company policy on disabled employees</span>
                </a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Additional information
              </dt>
              <dd class="app-check-your-answers__answer">Curabitur tincidunt leo at tortor interdum semper. Duis pulvinar purus cursus, varius sem vitae, blandit urna. Vestibulum accumsan a justo a viverra. Morbi nec lacus libero. Morbi fringilla nulla at dui
                ornare, at eleifend lorem pharetra. Nunc blandit lobortis justo, hendrerit vehicula leo euismod nec. Quisque a semper urna. Cras posuere scelerisque sagittis. Vestibulum aliquet ultricies nisi, viverra fringilla velit interdum vitae. Vivamus rutrum
                turpis vel magna iaculis, ac rhoncus lectus mattis.
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="/cics/directors-remuneration">
                  Change<span class="govuk-visually-hidden">
                    additional information</span>
                </a>
              </dd>
            </div>

          </dl>

          <a class="govuk-button" href="/small-full/profit-and-loss-account" role="button">
            Save and continue
          </a>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}