{% extends "layout.html" %}
{% block pageTitle %}
  Do you want to include a company secretary in your directors' report?

{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/chs-user-menu-logged-in.html" %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/small-full/directors-report-become" method="get" class="form">

        {% set emailHtml %}
        {{ govukInput({
        id: "contact-by-email",
        name: "contact-by-email",
        type: "email",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Email address"
        },
        attributes: {
          spellcheck: "false"
        }
      }) }}
        {% endset -%}

        {% set secretaryHtml %}
        {{ govukInput({
        id: "dr-company-secretary",
        name: "dr-company-secretary",
        type: "text",
        classes: "govuk-!-width-one-half",
        label: {
          text: "Enter the name of the company secretary"
        }
      }) }}
        {% endset -%}

        {{ govukRadios({
        idPrefix: "dr-company-secretaryyes-no-conditional",
        name: "dr-company-secretary-yes-no",
        fieldset: {
          legend: {
            text: "Do you want to include a company secretary in your directors' report?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: secretaryHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
        {{ govukButton({
            text: "Save and continue"
          }) }}
      </form>

    </div>
  </div>

{% endblock %}