{% extends "layout.html" %}
{% block pageTitle %}
  Directors' report
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/small-full/directors-report-add" method="get" class="form">

            <h1 class="govuk-heading-l">Directors' report</h1>

            <h2 class="govuk-heading-m">Directors at the end of the period</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>John Edwards</li>
              <li>David Smith</li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-m">Directors appointed during the period</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>David Smith appointed 3 April 2019</li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-m">Directors resigned during the period</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>Lisa Smith resigned 3 April 2019</li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-m">Company secretary</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>Jane Edwards</li>
            </ul>

            {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "directorsreport1",
              name: "directorsreport1",
              fieldset: {
                legend: {
                  text: "Are these details correct?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l  govuk-!-padding-top-7"
                }
              },

              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No, I need to make changes"
                }
              ]
            }) }}

            {{ govukButton({
                  text: "Save and continue"
                }) }}
          </form>
        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->
    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}