{% extends "layout-chs.html" %}

{% block page_title %}
  File your accounts (prototype)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">File small full company accounts (prototype) V1
      </h1>

			<h2 class="heading-medium">Starting points</h2>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-small-full">gov.uk > accounts chooser (alternative CHS search)</a></li>
      </ul>
      <p>&nbsp;</p>
      <h2 class="heading-medium">Shortcuts</h2>

      <ul class="list list-bullet">
        <li><a href="/chs/chs-choose-accounts-alternative-chs-search-small-full">Accounts chooser</a></li>
        <li><a href="/small-full/directors-report-yes-no">Include 'directors report' and/or 'profit and loss account'?</a></li>
        <li><a href="/small-full/directors-report">Directors report</a></li>
        <li><a href="/small-full/directors-report-notes-principal">Directors report notes</a></li>
        <li><a href="/small-full/directors-report-changes">Directors report changes</a></li>
        <li><a href="/small-full/profit-and-loss-account">Profit and loss</a></li>


      </ul>



    </div>
  </div>
</main>

{% endblock %}
