{% extends "layout.html" %}
{% block pageTitle %}
  File full company accounts (prototype)
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">File full company accounts (prototype)<span class="govuk-caption-xl">Alpha V4 (August 2018)</span></h1>
          <h2 class="govuk-heading-m">Journeys</h2>

        </div>
      </div>

      <ul class="govuk-list">
        <li>
          <a href="/chs/chs-start-page-cics">MVP</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m form-group">CHS screens</h2>

      <ul class="govuk-list">
        <li>
          <a href="/chs/chs-start-page-cics">CHS start page</a>
        </li>
        <li>
          <a href="/chs/chs-file-abridged-accounts">File abridged or full accounts</a>
        </li>
        <li>
          <a href="/chs/chs-start-page-results">Search results</a>
        </li>
        <li>
          <a href="/chs/chs-profile-page-cics">CHS profile page (not signed in or authenticated)</a>
        </li>
        <li>
          <a href="/chs/chs-login-page-cics">Sign in to Companies House</a>
        </li>
        <li>
          <a href="/chs/chs-authenticate-page-cics">Company authentication</a>
        </li>
        <li>
          <a href="/chs/chs-profile-page-logged-in-cics">CHS profile page (signed in and authenticated)</a>
        </li>
        <li>
          <a href="/chs/chs-choose-accounts-small-full-radio">Which type of accounts have you prepared?</a>
        </li>
        <li>
          <a href="/chs/chs-choose-small-full-or-other">File full accounts (criteria)</a>
        </li>
        <li>
          <a href="/chs/chs-other-ways-to-file">Other ways to file full accounts</a>
        </li>
        <li>
          <a href="/accounts/accounts-start-page-small-full-mvp">File full accounts (steps to complete)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m form-group">Balance sheet screens</h2>

      <ul class="govuk-list">
        <li>
          <a href="/small-full/small-full-balance-sheet-mvp">Balance sheet</a>
        </li>
        <li>
          <a href="/small-full/small-full-balance-sheet-statements-mvp">Balance sheet statements</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m form-group">Accounting policies</h2>

      <ul class="govuk-list">
        <li>
          <a href="/small-full/small-full-accounting-policies-mvp">How did you prepare your accounts? (accounting policies)</a>
        </li>
        <li>
          <a href="/small-full//small-full-other-accounting-policies-mvp">Do your prepared accounts include any additional accounting policies?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-turnover-policy-yes-no-mvp">Do your prepared accounts include a 'turnover' policy</a>
        </li>
        <li>
          <a href="/small-full/small-full-turnover-policy-mvp">Enter your 'turnover' policy</a>
        </li>
        <li>
          <a href="/small-full/small-full-tangible-policy-yes-no-mvp">Do your prepared accounts include a 'tangible fixed assets depreciation' policy?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-tangible-policy-mvp">Enter your 'tangible fixed assets depreciation' policy
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-intangible-policy-yes-no-mvp">Do your prepared accounts include an 'intangible fixed assets amortisation' policy?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-intangible-policy-mvp">Enter your 'intangible fixed assets amortisation' policy
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-valuation-policy-yes-no-mvp">Do your prepared accounts include a 'valuation information' policy?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-valuation-policy-mvp">Enter your 'valuation information' policy</a>
        </li>
        <li>
          <a href="/small-full/small-full-any-other-accounting-policies-yes-no-mvp">Do your prepared accounts include any other accounting policies?</a>
        </li>
        <li>
          <a href="/small-full/small-full-any-other-accounting-policies-mvp">Enter your other policies</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m form-group">'Mandatory' notes</h2>

      <ul class="govuk-list">
        <li>
          <a href="/small-full/small-full-tangible-assets-note-mvp">Tangible assets note</a>
        </li>
        <li>
          <a href="/small-full/small-full-stocks-note-mvp">Stocks note</a>
        </li>
        <li>
          <a href="/small-full/small-full-debtors-note-mvp">Debtors note</a>
        </li>
        <li>
          <a href="/small-full/small-full-creditors-within-note-mvp">Creditors - amounts falling due within one year note</a>
        </li>
        <li>
          <a href="/small-full/small-full-creditors-after-note-mvp">Creditors - amounts falling due after one year note</a>
        </li>
        <li>
          <a href="/small-full/small-full-revaluation-reserve-note-mvp">Revaluation reserve note</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m form-group">'Optional' notes</h2>

      <ul class="govuk-list">
        <li>
          <a href="/small-full/small-full-employees-yes-no-mvp">Do your prepared accounts include an 'employees' note?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-employees-note-mvp">Employees note</a>
        </li>
        <li>
          <a href="/small-full/small-full-fixed-assets-yes-no-mvp">Do your prepared accounts include a 'fixed assets investments' note?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-fixed-assets-investments-note-mvp">Enter your 'fixed assets investments' note
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-current-assets-yes-no-mvp">Do your prepared accounts include a 'current assets investments' note?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-current-assets-investments-note-mvp">Enter your 'current assets investments' note
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-commitments-yes-no-mvp">Do your prepared accounts include a 'financial commitments' note?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-financial-commitments-note-mvp">Enter your 'financial commitments' note
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-loans-yes-no-mvp">Do your prepared accounts include any 'loans to directors' notes?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-loans-yes-1-mvp">First loan to director</a>
        </li>
        <li>
          <a href="/small-full/small-full-loans-yes-no-2-mvp">Loans to directors added</a>
        </li>
        <li>
          <a href="/small-full/small-full-loans-any-other-mvp">Do your prepared accounts include any other 'loans to directors' notes?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-loans-additional-info-yes-no-mvp">Do your prepared accounts include any additional 'loans to directors' information?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-loans-additional-info-mvp">Enter your additional 'loans to directors' note information
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-changes-in-presentation-yes-no-mvp">Do your prepared accounts include a 'changes in presentation and prior period adjustments' note?</a>
        </li>
        <li>
          <a href="/small-full/small-full-changes-in-presentation-note-mvp">Enter your 'changes in presentation and prior period adjustments' note
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-related-transactions-yes-no-mvp">Do your prepared accounts include any 'related party transactions' notes?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-related-transactions-yes-1-mvp">First related party transaction</a>
        </li>
        <li>
          <a href="/small-full/small-full-transactions-yes-no-2-mvp">Related party transactions added</a>
        </li>
        <li>
          <a href="/small-full/small-full-transactions-any-other-mvp">Do your prepared accounts include any other 'related party transactions' notes?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-transactions-additional-info-yes-no-mvp">Do your prepared accounts include any additional 'related party transactions' information?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-transactions-additional-info-mvp">Enter your additional 'related party transactions' note information</a>
        </li>
        <li>
          <a href="/small-full/small-full-post-events-yes-no-mvp">Do your prepared accounts include a 'post balance sheet events' note?
          </a>
        </li>
        <li>
          <a href="/small-full/small-full-post-balance-sheet-events-note-mvp">Enter your 'post balance sheet events' note
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m form-group">Check/submit screens</h2>

      <ul class="govuk-list">

        <li>
          <a href="/small-full/small-full-check-before-you-submit-mvp">Check your answers</a>
        </li>
        <li>
          <a href="/cics/cics-accounts-approval-mvp">Approve your accounts</a>
        </li>
        <li>
          <a href="/accounts/small-full-submission">'Full accounts received' (Confirmation of submission)</a>
        </li>
      </ul>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}