{% extends "layout-chs.html" %} {% block page_title %} File your full accounts (prototype) {% endblock %} {% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">File full company accounts (prototype)<span class="heading-secondary">Alpha V3 (May 2018)</span></h1>
      <h2 class="heading-medium">Journeys</h2>
      <ul class="list list-bullet">
        <!--<li><a href="/small-full/small-full-routing-1">Choose between MVP and 'full'</a></li>-->
        <li><a href="/cics-or-small-full">Choose between CICS or full accounts (MVP)</a></li>

      </ul>
      <!--<h2 class="heading-medium">Starting points</h2>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-small-full">gov.uk > accounts chooser (alternative CHS search)</a></li>
      </ul>-->
      <h2 class="heading-medium form-group">Shortcuts</h2>
      <ul class="list list-bullet">
        <li><a href="/chs/chs-choose-accounts-small-full">Accounts chooser</a> | <a href="/chs/chs-choose-accounts-small-full-radio">Accounts chooser (radio buttons)</a></li>
        <li><a href="/chs/chs-choose-small-full-or-other">Criteria page</a> | <a href="/chs/chs-choose-small-full-or-other">MVP</a></li>
        <li><a href="/small-full/directors-report-yes-no">Include 'directors report' and/or 'profit and loss account'?</a></li>
        <li><a href="/small-full/small-full-company-number">Choose company by number</a></li>
      </ul>
      <h3 class="heading-small">Directors' report</h3>
      <ul class="list list-bullet">
        <li><a href="/small-full/directors-report">Directors' report</a></li>
        <li><a href="/small-full/directors-report-notes-principal">Directors' report notes</a></li>
        <li><a href="/small-full/directors-report-changes">Directors' report changes</a></li>
      </ul>
      <h3 class="heading-small">Profit and loss account</h3>
      <ul class="list list-bullet">
        <li><a href="/small-full/profit-and-loss-account">Profit and loss account</a></li>
        <li><a href="/small-full/profit-and-loss-account-note">Profit and loss account note</a></li>
      </ul>
      <h3 class="heading-small">Balance sheet</h3>
      <ul class="list list-bullet">
        <li><a href="/small-full/small-full-balance-sheet">Balance sheet</a> | <a href="/small-full/small-full-balance-sheet-mvp">MVP</a></li>
        <li><a href="/small-full/small-full-balance-sheet-statements">Balance sheet statements</a> | <a href="/small-full/small-full-balance-sheet-statements-mvp">MVP</a></li>
        <li>Mandatory notes
          <ul class="list list-bullet">
            <li><a href="/small-full/small-full-accounting-policies">Basis of accounts preparation</a> | <a href="/small-full/small-full-accounting-policies-mvp">MVP</a></li>
            <li><a href="/small-full/small-full-other-accounting-policies">Any other accounting policies?</a>
              <ul class="list list-bullet" style="margin-bottom:0;">
                <li><a href="/small-full/small-full-turnover-policy-yes-no">Turnover policy</a></li>
                <li><a href="/small-full/small-full-tangible-policy-yes-no">Tangible fixed assets depreciation policy</a></li>
                <li><a href="/small-full/small-full-intangible-policy-yes-no">Intangible fixed assets amortisation policy</a></li>
                <li><a href="/small-full/small-full-valuation-policy-yes-no">Valuation information policy</a></li>
                <li><a href="/small-full/small-full-other-accounting-policy-yes-no">Any other accounting policies</a></li>
              </ul>
            </li>
            <li><a href="/small-full/small-full-intangible-assets-note">Intangible assets</a></li>
            <li><a href="/small-full/small-full-tangible-assets-choose">Tangible assets</a> | <a href="/small-full/small-full-tangible-assets-note-mvp">MVP</a></li>
            <li><a href="/small-full/small-full-stocks-note">Stocks</a> | <a href="/small-full/small-full-stocks-note-mvp">MVP</a></li>
            <li><a href="/small-full/small-full-debtors-note">Debtors</a> | <a href="/small-full/small-full-debtors-note-mvp">MVP</a></li>
            <li><a href="/small-full/small-full-creditors-within-note">Creditors - amounts falling due within one year</a> | <a href="/small-full/small-full-creditors-within-note-mvp">MVP</a></li>
            <li><a href="/small-full/small-full-creditors-after-note">Creditors - amounts falling due after one year</a> | <a href="/small-full/small-full-creditors-after-note">MVP</a></li>
            <li><a href="/small-full/small-full-revaluation-reserve-note">Revaluation reserve</a></li>
          </ul>
        </li>
        <li>Other notes
          <ul class="list list-bullet">
            <li><a href="/small-full/small-full-other-notes-yes-no">Any other notes?</a></li>
            <li><a href="/small-full/small-full-employees-yes-no">Employees</a></li>
            <li><a href="/small-full/small-full-fixed-assets-yes-no">Fixed assets investments</a></li>
            <li><a href="/small-full/small-full-current-assets-yes-no">Current investments</a></li>
            <li><a href="/small-full/small-full-commitments-yes-no">Financial commitments</a></li>
            <li><a href="/small-full/small-full-loans-yes-no">Loans to directors</a></li>
            <li><a href="/small-full/small-full-changes-in-presentation-yes-no">Changes in presentation and prior period adjustments</a></li>
            <li><a href="/small-full/small-full-related-transactions-yes-no">Related party transactions</a></li>
            <li><a href="/small-full/small-full-post-events-yes-no">Post balance sheet events</a></li>
          </ul>
        </li>
      </ul>
      <h3 class="heading-small">Review/Approval</h3>
      <ul class="list list-bullet">
        <li><a href="/small-full/small-full-review">Check before you submit</a> | <a href="/small-full/small-full-review-mvp">MVP</a></li>
        <li><a href="/small-full/small-full-approval">Approval</a> | <a href="/small-full/small-full-approval-mvp">MVP</a></li>
        <li><a href="/small-full/small-full-submission">Submission complete</a> | <a href="/small-full/small-full-submission">MVP</a></li>
        <li><a href="/chs/chs-your-filings-small-full-accounts">Your filings</a></li>
      </ul>
    </div>
    <!--column-two-thirds-->
  </div>
  <!--grid-row-->
</main>

{% endblock %}