{% extends "layout.html" %}
{% block pageTitle %}
  Tangible assets
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper two-column-accounts" id="main-content" role="main">

      <h1 class="govuk-heading-l">Tangible assets note</h1>

      <!--<p class="warning-note warning-note-large">You only need to enter items included in your prepared accounts.</p>-->
      <h2 class="govuk-heading-m">Cost</h2>

      <div class="govuk-grid-row" id="accounts-header">

        <div class="govuk-grid-column-one-quarter">&nbsp;</div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Land &amp; buildings<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Plant &amp; machinery<!--<br />£--></h2>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <h2 class="govuk-heading-s">Fixtures &amp; fittings<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Office equipment<!--<br />£--></h2>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <h2 class="govuk-heading-s">Motor vehicles<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Totals<!--<br />£--></h2>
        </div>
      </div>

      <form action="/small-full/small-full-stocks-note" class="form currency-included-within-inputs govuk-body" id="" method="get" name="">

        <!--Start Cost at start-->
        <div class="govuk-grid-row accounts-row-spacer">
          <div class="govuk-grid-column-one-quarter">
            <!--<details> <summary> <span class="summary">-->Cost at 1 April 2017
            <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The cost of your tangible assets at the start of this accounting period. </p> </div>-->
          </details>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-start-land-buildings">
              <span class="mobile-only-label">Cost at 1 April 2017 - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="cost-start-land-buildings" name="cost-start-land-buildings" value="{{ data['cost-start-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-start-plant-machinery">
              <span class="mobile-only-label">Cost at 1 April 2017 - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="cost-start-plant-machinery" name="cost-start-plant-machinery" value="{{ data['cost-start-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-start-fixtures-fittings">
              <span class="mobile-only-label">Cost at 1 April 2017 - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="cost-start-fixtures-fittings" name="cost-start-fixtures-fittings" value="{{ data['cost-start-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-start-office-equipment">
              <span class="mobile-only-label">Cost at 1 April 2017 - Office equipment</span>
              <input type="number" class="govuk-input" id="cost-start-office-equipment" name="cost-start-office-equipment" value="{{ data['cost-start-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-start-motor-vehicles">
              <span class="mobile-only-label">Cost at 1 April 2017 - Motor vehicles</span>
              <input type="number" class="govuk-input" id="cost-start-motor-vehicles" name="cost-start-motor-vehicles" value="{{ data['cost-start-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-start-total">
              <span class="mobile-only-label">Cost at 1 April 2017 - Total</span>
              <input type="number" class="govuk-input" id="cost-start-total" name="cost-start-total" readonly="readonly" value="{{ data['cost-start-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Cost at start-->
      <!--Start Additions -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <!-- <details> <summary> <span class="summary">-->Additions
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The cost of your tangible assets aquired during this accounting period. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="additions-land-buildings">
              <span class="mobile-only-label">Additions - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="additions-land-buildings" name="additions-land-buildings" value="{{ data['additions-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="additions-plant-machinery">
              <span class="mobile-only-label">Additions - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="additions-plant-machinery" name="additions-plant-machinery" value="{{ data['additions-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="additions-fixtures-fittings">
              <span class="mobile-only-label">Additions - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="additions-fixtures-fittings" name="additions-fixtures-fittings" value="{{ data['additions-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="additions-office-equipment">
              <span class="mobile-only-label">Additions - Office equipment</span>
              <input type="number" class="govuk-input" id="additions-office-equipment" name="additions-office-equipment" value="{{ data['additions-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="additions-motor-vehicles">
              <span class="mobile-only-label">Additions - Motor vehicles</span>
              <input type="number" class="govuk-input" id="additions-motor-vehicles" name="additions-motor-vehicles" value="{{ data['additions-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="additions-total">
              <span class="mobile-only-label">Additions - Total</span>
              <input type="number" class="govuk-input" id="additions-total" name="additions-total" readonly="readonly" value="{{ data['additions-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Additions-->
      <!--Start Disposals-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <!--<details> <summary> <span class="summary"-->Disposals
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The cost of tangible assets disposed of in this acccounting period. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="disposals-land-buildings">
              <span class="mobile-only-label">Disposals - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="disposals-land-buildings" name="disposals-land-buildings" value="{{ data['disposals-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="disposals-plant-machinery">
              <span class="mobile-only-label">Disposals - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="disposals-plant-machinery" name="disposals-plant-machinery" value="{{ data['disposals-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="disposals-fixtures-fittings">
              <span class="mobile-only-label">Disposals - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="disposals-fixtures-fittings" name="disposals-fixtures-fittings" value="{{ data['disposals-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="disposals-office-equipment">
              <span class="mobile-only-label">Disposals - Office equipment</span>
              <input type="number" class="govuk-input" id="disposals-office-equipment" name="disposals-office-equipment" value="{{ data['disposals-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="disposals-motor-vehicles">
              <span class="mobile-only-label">Disposals - Motor vehicles</span>
              <input type="number" class="govuk-input" id="disposals-motor-vehicles" name="disposals-motor-vehicles" value="{{ data['disposals-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="disposals-total">
              <span class="mobile-only-label">Disposals - Total</span>
              <input type="number" class="govuk-input" id="disposals-total" name="disposals-total" readonly="readonly" value="{{ data['disposals-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Disposals=-->
      <!--Start Revaluations-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <!-- <details> <summary> <span class="summary">-->Revaluations
          <span class="govuk-hint">If the revaluation reduces the value of the asset, then enter a negative figure.
          </span>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="revaluations-land-buildings">
              <span class="mobile-only-label">Revaluations - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="revaluations-land-buildings" name="revaluations-land-buildings" value="{{ data['revaluations-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="revaluations-plant-machinery">
              <span class="mobile-only-label">Revaluations - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="revaluations-plant-machinery" name="revaluations-plant-machinery" value="{{ data['revaluations-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="revaluations-fixtures-fittings">
              <span class="mobile-only-label">Revaluations - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="revaluations-fixtures-fittings" name="revaluations-fixtures-fittings" value="{{ data['revaluations-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="revaluations-office-equipment">
              <span class="mobile-only-label">Revaluations - Office equipment</span>
              <input type="number" class="govuk-input" id="revaluations-office-equipment" name="revaluations-office-equipment" value="{{ data['revaluations-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="revaluations-motor-vehicles">
              <span class="mobile-only-label">Revaluations - Motor vehicles</span>
              <input type="number" class="govuk-input" id="revaluations-motor-vehicles" name="revaluations-motor-vehicles" value="{{ data['revaluations-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="revaluations-total">
              <span class="mobile-only-label">Revaluations - Total</span>
              <input type="number" class="govuk-input" id="revaluations-total" name="revaluations-total" readonly="readonly" value="{{ data['revaluations-total
                '] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Revaluations=-->
      <!--Start Transfers-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <!-- <details> <summary> <span class="summary">-->Transfers
          <span class="govuk-hint">If the asset is being transferred out, enter a negative figure.</span>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="transfers-land-buildings">
              <span class="mobile-only-label">Transfers - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="transfers-land-buildings" name="transfers-land-buildings" value="{{ data['transfers-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="transfers-plant-machinery">
              <span class="mobile-only-label">Transfers - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="transfers-plant-machinery" name="transfers-plant-machinery" value="{{ data['transfers-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="transfers-fixtures-fittings">
              <span class="mobile-only-label">Transfers - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="transfers-fixtures-fittings" name="transfers-fixtures-fittings" value="{{ data['transfers-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="transfers-office-equipment">
              <span class="mobile-only-label">Transfers - Office equipment</span>
              <input type="number" class="govuk-input" id="transfers-office-equipment" name="transfers-office-equipment" value="{{ data['transfers-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="transfers-motor-vehicles">
              <span class="mobile-only-label">Transfers - Motor vehicles</span>
              <input type="number" class="govuk-input" id="transfers-motor-vehicles" name="transfers-motor-vehicles" value="{{ data['transfers-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="transfers-total">
              <span class="mobile-only-label">Transfers - Total</span>
              <input type="number" class="govuk-input" id="transfers-total" name="transfers-total" readonly="readonly" value="{{ data['transfers-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Transfers-->
      <!--Start Cost at end-->
      <div class="govuk-grid-row accounts-total">
        <div class="govuk-grid-column-one-quarter">
          <!-- <details> <summary> <span class="summary">-->
          <strong>Cost at 31 March 2018</strong>
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> <strong>Calculation:</strong> 'Cost at 1 April 2017' plus 'additions', plus 'revaluations' plus 'transfers' minus 'disposals'. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-end-land-buildings">
              <span class="mobile-only-label">Cost at 31 March 2018 - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="cost-end-land-buildings" name="cost-end-land-buildings" value="{{ data['cost-end-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-end-plant-machinery">
              <span class="mobile-only-label">Cost at 31 March 2018 - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="cost-end-plant-machinery" name="cost-end-plant-machinery" value="{{ data['cost-end-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-end-fixtures-fittings">
              <span class="mobile-only-label">Cost at 31 March 2018 - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="cost-end-fixtures-fittings" name="cost-end-fixtures-fittings" value="{{ data['cost-end-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-end-office-equipment">
              <span class="mobile-only-label">Cost at 31 March 2018 - Office equipment</span>
              <input type="number" class="govuk-input" id="cost-end-office-equipment" name="cost-end-office-equipment" value="{{ data['cost-end-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-end-motor-vehicles">
              <span class="mobile-only-label">Cost at 31 March 2018 - Motor vehicles</span>
              <input type="number" class="govuk-input" id="cost-end-motor-vehicles" name="cost-end-motor-vehicles" value="{{ data['cost-end-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="cost-end-total">
              <span class="mobile-only-label">Cost at 31 March 2018 - Total</span>
              <input type="number" class="govuk-input" id="cost-end-total" name="cost-end-total" readonly="readonly" value="{{ data['cost-end-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Cost at end=-->
      <h2 class="govuk-heading-m">Depreciation</h2>

      <div class="govuk-grid-row accounts-row-spacer" id="accounts-header">
        <div class="govuk-grid-column-one-quarter">&nbsp;</div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Land &amp; buildings<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Plant &amp; machinery<!--<br />£--></h2>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <h2 class="govuk-heading-s">Fixtures &amp; fittings<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Office equipment<!--<br />£--></h2>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <h2 class="govuk-heading-s">Motor vehicles<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Totals<!--<br />£--></h2>
        </div>
      </div>

      <div class="govuk-grid-row accounts-row-spacer">
        <div class="govuk-grid-column-one-quarter">
          <!--<details> <summary> <span class="summary">-->Depreciation at 1 April 2017
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The reduction in your tangible assets at the start of this accounting period. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-start-land-buildings">
              <span class="mobile-only-label">Depreciation at 1 April 2017 - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="depreciation-start-land-buildings" name="depreciation-start-land-buildings" value="{{ data['depreciation-start-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-start-plant-machinery">
              <span class="mobile-only-label">Depreciation at 1 April 2017 - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="depreciation-start-plant-machinery" name="depreciation-start-plant-machinery" value="{{ data['depreciation-start-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-start-fixtures-fittings">
              <span class="mobile-only-label">Depreciation at 1 April 2017 - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="depreciation-start-fixtures-fittings" name="depreciation-start-fixtures-fittings" value="{{ data['depreciation-start-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-start-office-equipment">
              <span class="mobile-only-label">Depreciation at 1 April 2017 - Office equipment</span>
              <input type="number" class="govuk-input" id="depreciation-start-office-equipment" name="depreciation-start-office-equipment" value="{{ data['depreciation-start-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-start-motor-vehicles">
              <span class="mobile-only-label">Depreciation at 1 April 2017 - Motor vehicles</span>
              <input type="number" class="govuk-input" id="depreciation-start-motor-vehicles" name="depreciation-start-motor-vehicles" value="{{ data['depreciation-start-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <span class=" currency-type ">£</span>
          <div class="govuk-form-group">
            <label for="depreciation-start-total">
              <span class="mobile-only-label">Depreciation at 1 April 2017 - Total</span>
              <input type="number" class="govuk-input" id="depreciation-start-total" name="depreciation-start-total" readonly="readonly" value="{{ data['depreciation-start-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Depreciation at start-->
      <!--Start Charge for year-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <!--<details> <summary> <span class="summary">-->Charge for year
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The reduction in tangible asset values during this accounting period. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="charge-year-land-buildings">
              <span class="mobile-only-label">Charge for year - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="charge-year-land-buildings" name="charge-year-land-buildings" value="{{ data['charge-year-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="charge-year-plant-machinery">
              <span class="mobile-only-label">Charge for year - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="charge-year-plant-machinery" name="charge-year-plant-machinery" value="{{ data['charge-year-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="charge-year-fixtures-fittings">
              <span class="mobile-only-label">Charge for year - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="charge-year-fixtures-fittings" name="charge-year-fixtures-fittings" value="{{ data['charge-year-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="charge-year-office-equipment">
              <span class="mobile-only-label">Charge for year - Office equipment</span>
              <input type="number" class="govuk-input" id="charge-year-office-equipment" name="charge-year-office-equipment" value="{{ data['charge-year-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="charge-year-motor-vehicles">
              <span class="mobile-only-label">Charge for year - Motor vehicles</span>
              <input type="number" class="govuk-input" id="charge-year-motor-vehicles" name="charge-year-motor-vehicles" value="{{ data['charge-year-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="charge-year-total">
              <span class="mobile-only-label">Charge for year - Total</span>
              <input type="number" class="govuk-input" id="charge-year-total" name="charge-year-total" readonly="readonly" value="{{ data['charge-year-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Charge for year=-->
      <!--Start On disposals-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <!-- <details> <summary> <span class="summary"-->On disposals
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> Total depreciation for all tangible assets disposed of in this accounting period. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="on-disposals-land-buildings">
              <span class="mobile-only-label">On disposals - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="on-disposals-land-buildings" name="on-disposals-land-buildings" value="{{ data['on-disposals-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="on-disposals-plant-machinery">
              <span class="mobile-only-label">On disposals - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="on-disposals-plant-machinery" name="on-disposals-plant-machinery" value="{{ data['on-disposals-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="on-disposals-fixtures-fittings">
              <span class="mobile-only-label">On disposals - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="on-disposals-fixtures-fittings" name="on-disposals-fixtures-fittings" value="{{ data['on-disposals-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="on-disposals-office-equipment">
              <span class="mobile-only-label">On disposals - Office equipment</span>
              <input type="number" class="govuk-input" id="on-disposals-office-equipment" name="on-disposals-office-equipment" value="{{ data['on-disposals-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="on-disposals-motor-vehicles">
              <span class="mobile-only-label">On disposals - Motor vehicles</span>
              <input type="number" class="govuk-input" id="on-disposals-motor-vehicles" name="on-disposals-motor-vehicles" value="{{ data['on-disposals-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="on-disposals-total">
              <span class="mobile-only-label">On disposals - Total</span>
              <input type="number" class="govuk-input" id="on-disposals-total" name="on-disposals-total" readonly="readonly" value="{{ data['on-disposals-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End On disposals-->
      <!--Start Other adjustments-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <!-- <details> <summary> <span class="summary">-->Other adjustments
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> Any other depreciation adjustment on tangible assets. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="other-adjustments-land-buildings">
              <span class="mobile-only-label">Other adjustments - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="other-adjustments-land-buildings" name="other-adjustments-land-buildings" value="{{ data['other-adjustments-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="other-adjustments-plant-machinery">
              <span class="mobile-only-label">Other adjustments - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="other-adjustments-plant-machinery" name="other-adjustments-plant-machinery" value="{{ data['other-adjustments-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="other-adjustments-fixtures-fittings">
              <span class="mobile-only-label">Other adjustments - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="other-adjustments-fixtures-fittings" name="other-adjustments-fixtures-fittings" value="{{ data['other-adjustments-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="other-adjustments-office-equipment">
              <span class="mobile-only-label">Other adjustments - Office equipment</span>
              <input type="number" class="govuk-input" id="other-adjustments-office-equipment" name="other-adjustments-office-equipment" value="{{ data['other-adjustments-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="other-adjustments-motor-vehicles">
              <span class="mobile-only-label">Other adjustments - Motor vehicles</span>
              <input type="number" class="govuk-input" id="other-adjustments-motor-vehicles" name="other-adjustments-motor-vehicles" value="{{ data['other-adjustments-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="other-adjustments-total">
              <span class="mobile-only-label">Other adjustments - Total</span>
              <input type="number" class="govuk-input" id="other-adjustments-total" readonly="readonly" name="other-adjustments-total" value="{{ data['other-adjustments-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End Other adjustments-->
      <!--Start depreciation at end-->
      <div class="govuk-grid-row accounts-total">
        <div class="govuk-grid-column-one-quarter">
          <!--<details> <summary> <span class="summary"></span>-->
          <strong>Depreciation at 31 March 2018</strong>
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> <strong>Calculation:</strong> 'Depreciation at 1 April 2017' plus 'Charge for year' plus 'Other adjustments' minus 'On disposals'. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-end-land-buildings">
              <span class="mobile-only-label">Depreciation at 31 March 2018 - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="depreciation-end-land-buildings" name="depreciation-end-land-buildings" value="{{ data['depreciation-end-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-end-plant-machinery">
              <span class="mobile-only-label">Depreciation at 31 March 2018 - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="depreciation-end-plant-machinery" name="depreciation-end-plant-machinery" value="{{ data['depreciation-end-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-end-fixtures-fittings">
              <span class="mobile-only-label">Depreciation at 31 March 2018 - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="depreciation-end-fixtures-fittings" name="depreciation-end-fixtures-fittings" value="{{ data['depreciation-end-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-end-office-equipment">
              <span class="mobile-only-label">Depreciation at 31 March 2018 - Office equipment</span>
              <input type="number" class="govuk-input" id="depreciation-end-office-equipment" name="depreciation-end-office-equipment" value="{{ data['depreciation-end-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-end-motor-vehicles">
              <span class="mobile-only-label">Depreciation at 31 March 2018 - Motor vehicles</span>
              <input type="number" class="govuk-input" id="depreciation-end-motor-vehicles" name="depreciation-end-motor-vehicles" value="{{ data['depreciation-end-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="depreciation-end-total">
              <span class="mobile-only-label">Depreciation at 31 March 2018 - Total</span>
              <input type="number" class="govuk-input" id="depreciation-end-total" name="depreciation-end-total" readonly="readonly" value="{{ data['depreciation-end-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End depreciation at end=-->
      <h2 class="govuk-heading-m">Net book value</h2>

      <div class="govuk-grid-row accounts-row-spacer" id="accounts-header">
        <div class="govuk-grid-column-one-quarter">&nbsp;</div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Land &amp; buildings<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Plant &amp; machinery<!--<br />£--></h2>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <h2 class="govuk-heading-s">Fixtures &amp; fittings<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Office equipment<!--<br />£--></h2>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <h2 class="govuk-heading-s">Motor vehicles<!--<br />£--></h2>
        </div>
        <div class="column-fifth">
          <h2 class="govuk-heading-s">Totals<!--<br />£--></h2>
        </div>
      </div>

      <div class="govuk-grid-row accounts-total accounts-row-spacer">
        <div class="govuk-grid-column-one-quarter">
          <!--<details> <summary> <span class="summary">-->
          <strong>Net book value at 31 March 2018</strong>
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> <strong>Calculation:</strong> 'Cost at 31 March 2018' minus 'Depreciation at 31 March 2018'. </p> </div> </details>-->
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="net-book-value-end-land-buildings">
              <span class="mobile-only-label">Net book value at 31 March 2018 - Land &amp; buildings</span>
              <input type="number" class="govuk-input" id="net-book-value-end-land-buildings" name="net-book-value-end-land-buildings" value="{{ data['net-book-value-end-land-buildings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="net-book-value-end-plant-machinery">
              <span class="mobile-only-label">Net book value at 31 March 2018 - Plant &amp; machinery</span>
              <input type="number" class="govuk-input" id="net-book-value-end-plant-machinery" name="net-book-value-end-plant-machinery" value="{{ data['net-book-value-end-plant-machinery'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="net-book-value-end-fixtures-fittings">
              <span class="mobile-only-label">Net book value at 31 March 2018 - Fixtures &amp; fittings</span>
              <input type="number" class="govuk-input" id="net-book-value-end-fixtures-fittings" name="net-book-value-end-fixtures-fittings" value="{{ data['net-book-value-end-fixtures-fittings'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="net-book-value-end-office-equipment">
              <span class="mobile-only-label">Net book value at 31 March 2018 - Office equipment</span>
              <input type="number" class="govuk-input" id="net-book-value-end-office-equipment" name="net-book-value-end-office-equipment" value="{{ data['net-book-value-end-office-equipment'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth" style="display:none;">
          <!--hiding, because calculations won't work if entire div is removed-->
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="net-book-value-end-motor-vehicles">
              <span class="mobile-only-label">Net book value at 31 March 2018 - Motor vehicles</span>
              <input type="number" class="govuk-input" id="net-book-value-end-motor-vehicles" name="net-book-value-end-motor-vehicles" value="{{ data['net-book-value-end-motor-vehicles'] }}">
            </label>
          </div>
        </div>
        <div class="column-fifth accounts-total">
          <div class="govuk-form-group">
            <span class="currency-type">£</span>
            <label for="net-book-value-end-total">
              <span class="mobile-only-label">Net book value at 31 March 2018 - Total</span>
              <input type="number" class="govuk-input" id="net-book-value-end-total" name="net-book-value-end-total" readonly="readonly" value="{{ data['net-book-value-end-total'] }}">
            </label>
          </div>
        </div>
      </div>
      <!--End depreciation at start-->
      <!--Start Additions -->
      <div class="govuk-grid-row accounts-total">
        <div class="govuk-grid-column-one-quarter">
          <!--<details> <summary> <span class="summary">-->
          <strong>Net book value at 31 March 2017</strong>
          <!--</span> </summary> <div class="panel panel-border-narrow"> <p> <strong>Calculation:</strong> 'Cost at 1 April 2017' minus 'Depreciation at 1 April 2017'. </p> </div>-->
        </details>
      </div>
      <div class="column-fifth">
        <div class="govuk-form-group">
          <span class="currency-type">£</span>
          <label for="net-book-value-start-land-buildings">
            <span class="mobile-only-label">Net book value at 31 March 2017 - Land &amp; buildings</span>
            <input type="number" class="govuk-input" id="net-book-value-start-land-buildings" name="net-book-value-start-land-buildings" value="{{ data['net-book-value-start-land-buildings'] }}">
          </label>
        </div>
      </div>
      <div class="column-fifth">
        <div class="govuk-form-group">
          <span class="currency-type">£</span>
          <label for="net-book-value-start-plant-machinery">
            <span class="mobile-only-label">Net book value at 31 March 2017 - Plant &amp; machinery</span>
            <input type="number" class="govuk-input" id="net-book-value-start-plant-machinery" name="net-book-value-start-plant-machinery" value="{{ data['net-book-value-start-plant-machinery'] }}">
          </label>
        </div>
      </div>
      <div class="column-fifth" style="display:none;">
        <!--hiding, because calculations won't work if entire div is removed-->
        <div class="govuk-form-group">
          <span class="currency-type">£</span>
          <label for="net-book-value-start-fixtures-fittings">
            <span class="mobile-only-label">Net book value at 31 March 2017 - Fixtures &amp; fittings</span>
            <input type="number" class="govuk-input" id="net-book-value-start-fixtures-fittings" name="net-book-value-start-fixtures-fittings" value="{{ data['net-book-value-start-fixtures-fittings'] }}">
          </label>
        </div>
      </div>
      <div class="column-fifth">
        <div class="govuk-form-group">
          <span class="currency-type">£</span>
          <label for="net-book-value-start-office-equipment">
            <span class="mobile-only-label">Net book value at 31 March 2017 - Office equipment</span>
            <input type="number" class="govuk-input" id="net-book-value-start-office-equipment" name="net-book-value-start-office-equipment" value="{{ data['net-book-value-start-office-equipment'] }}">
          </label>
        </div>
      </div>
      <div class="column-fifth" style="display:none;">
        <!--hiding, because calculations won't work if entire div is removed-->
        <div class="govuk-form-group">
          <span class="currency-type">£</span>
          <label for="net-book-value-start-motor-vehicles">
            <span class="mobile-only-label">Net book value at 31 March 2017 - Motor vehicles</span>
            <input type="number" class="govuk-input" id="net-book-value-start-motor-vehicles" name="net-book-value-start-motor-vehicles" value="{{ data['net-book-value-start-motor-vehicles'] }}">
          </label>
        </div>
      </div>
      <div class="column-fifth accounts-total">
        <div class="govuk-form-group">
          <span class="currency-type">£</span>
          <label for="net-book-value-start-total">
            <span class="mobile-only-label">Net book value at 31 March 2017 - Total</span>
            <input type="number" class="govuk-input" id="net-book-value-start-total" name="net-book-value-start-total" readonly="readonly" value="{{ data['net-book-value-start-total'] }}">
          </label>
        </div>
      </div>
    </div>
    <!--End Additions -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Add additional information about your 'tangible assets' note?</span>
          </summary>
          <div class="govuk-form-group">
            <label class="govuk-visually-hidden" for="small-full-tangible-note-additional-info">Add additional information about your 'tangible assets' note?</label>
            <span id="more-detail-hint" class="govuk-hint">Enter details of any other 'tangible assets' information not already covered</span>
            <textarea class="govuk-textarea" id="small-full-tangible-note-additional-info" name="small-full-tangible-note-additional-info" value="{{ data['small-full-tangible-note-additional-info'] }}" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>
        </details>
      </div>
    </div>

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>
  <p>
    <a href="javascript:void(0)" class="govuk-link">Sign out</a>
  </p>
</main>
</div>
<!---govuk-width-container-->

{% endblock %}