{% extends "layout.html" %}
{% block pageTitle %}
  Do your prepared accounts include a 'valuation information' policy?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-any-other-accounting-policies" method="get" class="form">

            <h1 class="govuk-heading-l">
              Do your prepared accounts include any other accounting policies?</h1>

            <!-- <p>These are other policies not already covered in this report, such as:</p> <ul class="govuk-list govuk-list--bullet"> <li>depreciation of assets obtained under hire purchases or leases</li> <li>deferred taxation</li> <li>pensions or retirement
            benefits</li> </ul>-->

            {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "anyotheraccountingpolicies",
                name: "anyotheraccountingpolicies",
                fieldset: {
                  attributes : {
                    'data-required': "data-required",
                    'data-error': "Tell us if your prepared accounts include any other accounting policies"
                    },
                legend: {
                  text: "Do your prepared accounts include any other accounting policies?",
                  isPageHeading: true,
                  classes: "govuk-visually-hidden"
                }
                },

                items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked('anyotheraccountingpolicies','yes')
                },
                {
                  value: "no",
                  text: "No",
                  checked: checked('anyotheraccountingpolicies','no')
                }
                ]
                }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}