{% extends "layout.html" %}
{% block pageTitle %}

  Do your prepared accounts include a 'fixed assets investments' note?

{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-current-assets-yes-no" method="get" class="form">

            {% set textAreaHtml %}
            {{ govukTextarea({
              name: "small-full-fixed-assets-investments-note",
              id: "small-full-fixed-assets-investments-note",
              value: data['small-full-fixed-assets-investments-note'],
                label: {
                  text: "Enter your 'fixed assets investments' note"
                }
              }) }}
            {% endset -%}

            {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "fixedassetsinvestmentsyesno",
                name: "fixedassetsinvestmentsyesno",
                fieldset: {
                  legend: {
                    text: "Do your prepared accounts include a 'fixed assets investments' note?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes",
                    checked: checked('fixedassetsinvestmentsyesno','yes'),
                    conditional: {
                      html: textAreaHtml
                      }
                  },
                  {
                    value: "no",
                    text: "No",
                    checked: checked('fixedassetsinvestmentsyesno','no')
                  }
                ]
              }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}