{% extends "layout-chs.html" %}

{% block page_title %}
Balance sheet notes - Post balance sheet events
{% endblock %}

{% block content %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}


  <div class="text">
    <h1 class="heading-xlarge"><!--<span class="circle circle-step-large">5</span>-->
      Balance sheet notes
      <span class="circle-subheading">Post balance sheet events</span>
    </h1>


    <div class="">
    <h2 class="heading-medium">Do your prepared accounts include a 'post balance sheet events' note?</h2>
    <details class="form-group">
      <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Fixed assets investments</span>
      <div class="panel panel-border-narrow form-hint">
        <p>Enter details of any events which happened between the balance sheet date and the date your company accounts were authorised if they had an impact on your accounts. For example, if a trade debtor was declared bankrupt after the balance sheet date and the money they owe can't be recovered.</p>
    </div>
    </details>
    <form action="/small-full/small-full-review-mvp-2" method="get" class="form">
          <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include a 'post balance sheet events' note">
                  <legend class="visually-hidden">Do your prepared accounts include a 'post balance sheet events' note?</legend>
                  <div class="form-group">

                  <label class="block-label selection-button-radio" for="posteventsnoteyes" data-target="posteventsnoteyes-reveal">
                    <input id="posteventsnoteyes" name="posteventsnoteyn" value="Yes" aria-controls="posteventsnoteyes-reveal" type="radio">
                    Yes
                  </label>
                  <label class="block-label selection-button-radio" for="posteventsnoteno">
                    <input id="posteventsnoteno" name="posteventsnoteyn" value="No" type="radio">
                    No
                    </label>
                  </div><!--form-group-->

                </fieldset>



                <div class="panel panel-border-narrow js-hidden" id="posteventsnoteyes-reveal">
                  <label for="textarea" class="heading-medium">Enter your 'post balance sheet events' note</label>
                  <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
                </div><!--posteventsnoteyes-reveal-->



          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Save and continue" id="">
          </div>
        </form>
      </div><!--left-indent-->
    </div><!--text-->


</main>
{% endblock %}
