{% extends "layout.html" %}
{% block pageTitle %}
  Do your prepared accounts include a 'tangible fixed assets depreciation' policy?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-tangible-policy" method="get" class="form">

            {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "tangiblefixedassetsdepreciationpolicy",
        name: "tangiblefixedassetsdepreciationpolicy",
        fieldset: {
          legend: {
            text: "Do your prepared accounts include a 'tangible fixed assets depreciation' policy?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked('tangiblefixedassetsdepreciationpolicy','yes')
          },
          {
            value: "no",
            text: "No",
            checked: checked('tangiblefixedassetsdepreciationpolicy','no')
          }
        ]
      }) }}

            {{ govukButton({
                    text: "Save and continue"
                  }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}