{% extends "layout.html" %}
{% block pageTitle %}
  How did you prepare your accounts?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">
      <form class="form" method="get" action="/small-full/small-full-turnover-policy-yes-no">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">How did you prepare your accounts
                  </h1>
                </legend>
                {{ govukDetails({
                    summaryText: "What's this?",
                    text: "This policy is about the accounting standards you've prepared your accounts to. As a small company you're likely to have prepared your full accounts for shareholders or members using the simpler provisions of Section 1A (Small Entities) of Financial
                          Reporting Standard 102. Your accounts should include a statement about the basis of measurement and preparation."
                  }) }}
                <div class="govuk-radios" data-module="radios">
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="standard-102"
                      name="how-did-you-prepare-your-accounts"
                      type="radio"
                      value="These financial statements have been prepared in accordance with the provisions of Section 1A (Small Entities) of Financial Reporting Standard 102"
                      {{ checked("how-did-you-prepare-your-accounts", "") }}>
                    <label class="govuk-label govuk-radios__label" for="standard-102">
                      These financial statements have been prepared in accordance with the provisions of Section 1A (Small Entities) of Financial Reporting Standard 102
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="other-standard-conditional"
                      name="how-did-you-prepare-your-accounts"
                      type="radio"
                      value=""
                      data-aria-controls="conditional-other-standard-conditional"
                      {{ checked("how-did-you-prepare-your-accounts", "These accounts have been prepared in accordance with another standard:") }}>
                    <label class="govuk-label govuk-radios__label" for="other-standard-conditional">
                      These accounts have been prepared in accordance with another standard
                    </label>
                  </div>
                  <div class="govuk-radios__conditional" id="conditional-other-standard-conditional">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-visually-hidden" for="another-accounting-standard">Enter your other standard
                      </label>
                      <textarea class="govuk-textarea" id="another-accounting-standard" name="another-accounting-standard" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                </div>

              </div>
            </fieldset>

            {{ govukButton({
              text: "Save and continue"
            }) }}

          </div>
          <!--govuk-grid-row-->
        </div>
        <!--govuk-grid-column-two-thirds-->
      </form>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}