{% extends "layout.html" %}
{% block pageTitle %}
  Check your answers
{% endblock %}
{% block main %}

  <!-- START script which hides the delete container if user clicks 'No, keep' on Delete warning -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () { //Only show the button if javascript is on
      $('.post-balance-sheet-events-keep').on('click', function () {
        $(this).parent().parent().remove();
      });
    });
  </script>
  <!-- END script which hides the delete container if user clicks 'No, keep' on Delete warning -->

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper two-column-accounts">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <form action="/cics/cics-approval" method="get" class="form">

        <h2 class="govuk-heading-m">Company account dates</h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">
              1 April 2017 to 31 March 2018</dt>

            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">
                Change<span class="govuk-visually-hidden">
                  Company account dates</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Balance sheet</h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Fixed assets</dt>
            <dd class="app-check-your-answers__answer govuk-heading-s">2018</dd>
            <dd class="app-check-your-answers__answer govuk-heading-s">2017</dd>
            <dd class="app-check-your-answers__change"></dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Tangible assets</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Tangible assets</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Total fixed assets</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Total fixed assets</span></a>
            </dd>
          </div>
        </dl>
        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Current assets</dt>
            <dd class="app-check-your-answers__answer govuk-heading-s">2018</dd>
            <dd class="app-check-your-answers__answer govuk-heading-s">2017</dd>
            <dd class="app-check-your-answers__change"></dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Stocks</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Stocks</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Debtors</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Debtors</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Total current assets</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Total current assets</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Creditors - amounts falling due within one year</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Creditors - amounts falling due within one year</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Total assets less current liabilities</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Total assets less current liabilities</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Provision for liabilities</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Provision for liabilities</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Total net assets (liabilities)</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Total net assets (liabilities)</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Tangible assets</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Tangible assets</span></a>
            </dd>
          </div>
        </dl>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Capital and reserves</dt>
            <dd class="app-check-your-answers__answer govuk-heading-s">2018</dd>
            <dd class="app-check-your-answers__answer govuk-heading-s">2017</dd>
            <dd class="app-check-your-answers__change"></dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Called up share capital</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Called up share capital</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Share premium account</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Share premium account</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Profit and loss account</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Profit and loss account</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Total shareholders' funds</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2018)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(2017)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Balance sheet) Total shareholders' funds</span></a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Balance sheet statements</h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">
              <ul class="govuk-list govuk-list--bullet">
                <li>For the year ending 31 March 2018 the company was entitled to exemption under section 477 of the Companies Act 2006 relating to small companies.</li>
                <li>The members have not required the company to obtain an audit in accordance with section 476 of the Companies Act 2006.</li>
                <li>The directors acknowledge their responsibilities for complying with the requirements of the Act with respect to accounting records and the preparation of accounts.</li>
                <li>These accounts have been prepared and delivered in accordance with the provisions applicable to companies subject to the small companies regime.</li>
                <li>The directors have chosen not to file a copy of the company’s profit and loss account.</li>
              </ul>
            </dt>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Basis of accounts preparation</h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">These financial statements have been prepared in accordance with the provisions of Section 1A (Small Entities) of Financial Reporting Standard 102.</dt>

            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">
                Change<span class="govuk-visually-hidden">
                  Basis of accounts preparation</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Turnover policy</h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">Turnover represents gross invoiced sales of services provided to customers, net of VAT calculated at a flat rate on those gross sales.</dt>

            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">
                Change<span class="govuk-visually-hidden">
                  Turnover policy</span>
              </a>
              <p class="govuk-!-margin-top-1">
                <a href="javascript:void(0)">
                  Delete<span class="govuk-visually-hidden">
                    Turnover policy</span></p>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Tangible assets</h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Cost</dt>
            <dd class="app-check-your-answers__answer govuk-heading-s">Land & buildings</dd>
            <dd class="app-check-your-answers__answer govuk-heading-s">Plant & machinery</dd>
            <dd class="app-check-your-answers__answer govuk-heading-s">Office equipment</dd>
            <dd class="app-check-your-answers__answer govuk-heading-s">Total</dd>
            <dd class="app-check-your-answers__change"></dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Cost at 1 April 2017</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Land & buildings)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Plant & machinery)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Office equipment)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Total)</span>
              £30,740</dd>

            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Cost at 1 April 2017</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Additions</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Land & buildings)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Plant & machinery)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Office equipment)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Total)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Additions</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Disposals</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Land & buildings)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Plant & machinery)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Office equipment)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Total)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Disposals</span></a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Revaluations</dt>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Land & buildings)</span>
              £37,440</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Plant & machinery)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Office equipment)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__answer">
              <span class="mobile-only-label">(Total)</span>
              £30,740</dd>
            <dd class="app-check-your-answers__change">
              <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Revaluations</span></span></a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">Cost at 31 March 2018</dt>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Land & buildings)</span>
            £37,440</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Plant & machinery)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Office equipment)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Total)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__change">
            <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Cost at 31 March 2018</span></a>
          </dd>
        </div>
      </dl>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">Depreciation</dt>
          <dd class="app-check-your-answers__answer govuk-heading-s">Land & buildings</dd>
          <dd class="app-check-your-answers__answer govuk-heading-s">Plant & machinery</dd>
          <dd class="app-check-your-answers__answer govuk-heading-s">Office equipment</dd>
          <dd class="app-check-your-answers__answer govuk-heading-s">Total</dd>
          <dd class="app-check-your-answers__change"></dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">Depreciation at 1 April 2017</dt>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Land & buildings)</span>
            £37,440</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Plant & machinery)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Office equipment)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Total)</span>
            £30,740</dd>

          <dd class="app-check-your-answers__change">
            <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Depreciation at 1 April 2017</span></a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">Charge for year</dt>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Land & buildings)</span>
            £37,440</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Plant & machinery)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Office equipment)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Total)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__change">
            <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Charge for year</span></a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">On disposals</dt>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Land & buildings)</span>
            £37,440</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Plant & machinery)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Office equipment)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Total)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__change">
            <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) On disposals</span></a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">Other adjustments</dt>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Land & buildings)</span>
            £37,440</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Plant & machinery)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Office equipment)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__answer">
            <span class="mobile-only-label">(Total)</span>
            £30,740</dd>
          <dd class="app-check-your-answers__change">
            <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Other adjustments</span></span></a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Depreciation at 31 March 2018</dt>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Land & buildings)</span>
          £37,440</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Plant & machinery)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Office equipment)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Total)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__change">
          <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Depreciation at 31 March 2018</span></a>
        </dd>
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Net book value</dt>
        <dd class="app-check-your-answers__answer govuk-heading-s">Land & buildings</dd>
        <dd class="app-check-your-answers__answer govuk-heading-s">Plant & machinery</dd>
        <dd class="app-check-your-answers__answer govuk-heading-s">Office equipment</dd>
        <dd class="app-check-your-answers__answer govuk-heading-s">Total</dd>
        <dd class="app-check-your-answers__change"></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Net book value at 31 March 2018</dt>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Land & buildings)</span>
          £37,440</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Plant & machinery)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Office equipment)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Total)</span>
          £30,740</dd>

        <dd class="app-check-your-answers__change">
          <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Net book value at 31 March 2018</span></a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Net book value at 31 March 2017</dt>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Land & buildings)</span>
          £37,440</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Plant & machinery)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Office equipment)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(Total)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__change">
          <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Tangible assets note) Net book value at 31 March 2017</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Stocks</h2>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question"></dt>
        <dd class="app-check-your-answers__answer govuk-heading-s">2018</dd>
        <dd class="app-check-your-answers__answer govuk-heading-s">2017</dd>
        <dd class="app-check-your-answers__change"></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Stocks</dt>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(2018)</span>
          £37,440</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(2017)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__change">
          <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Stocks note) Stocks</span></a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Payment on account</dt>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(2018)</span>
          £37,440</dd>
        <dd class="app-check-your-answers__answer">
          <span class="mobile-only-label">(2017)</span>
          £30,740</dd>
        <dd class="app-check-your-answers__change">
          <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Stocks note) Payment on account</span></a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Total</dt>
      <dd class="app-check-your-answers__answer" <span class="mobile-only-label">(2018)</span>
      >£37,440</dd>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Stocks note) Total</span></a>
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Debtors</h2>

<dl class="app-check-your-answers app-check-your-answers--short">
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question"></dt>
    <dd class="app-check-your-answers__answer govuk-heading-s">2018</dd>
    <dd class="app-check-your-answers__answer govuk-heading-s">2017</dd>
    <dd class="app-check-your-answers__change"></dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Trade debtors</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2017)</span>
      £30,740</dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Debtors note) Trade debtors</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Prepayments and accrued income</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2017)</span>
      £30,740</dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Debtors note) Prepayments and accrued income</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Other debtors</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Debtors note) Other debtors</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Total</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Debtors note) Total</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Debtors after more than one year</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Debtors note) Debtors after more than one year</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Additional information</dt>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__answer">The current debtors figure includes trade debtors expected to be fully paid within the next financial period.</dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Debtors note) Additional information</span></a>
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Creditors - amounts falling due within one year</h2>

<dl class="app-check-your-answers app-check-your-answers--short">
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question"></dt>
    <dd class="app-check-your-answers__answer govuk-heading-s">2018</dd>
    <dd class="app-check-your-answers__answer govuk-heading-s">2017</dd>
    <dd class="app-check-your-answers__change"></dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Bank loans and overdrafts</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2017)</span>
      £30,740</dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Creditors - amounts falling due within one year note) Bank loans and overdrafts</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Amounts due under finance leases and hire purchase contracts</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2017)</span>
      £30,740</dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Creditors - amounts falling due within one year note) Amounts due under finance leases and hire purchase contracts</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Trade creditors</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Creditors - amounts falling due within one year note) Trade creditors</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Accruals and deferred income</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Creditors - amounts falling due within one year note) Accruals and deferred income</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Other creditors</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Creditors - amounts falling due within one year note) Other creditors</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Total</dt>
    <dd class="app-check-your-answers__answer">
      <span class="mobile-only-label">(2018)</span>
      £37,440</dd>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Creditors - amounts falling due within one year note) Total</span></a>
    </dd>
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">Additional information</dt>
    <dd class="app-check-your-answers__answer"></dd>
    <dd class="app-check-your-answers__answer">Purchases of various technology shares have recently been acquired as a short term investment and are expected to be sold within the next five months.</dd>
    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">Change<span class="govuk-visually-hidden">(Creditors - amounts falling due within one year note) Debtors after more than one year</span></a>
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Post balance sheet events</h2>

<dl class="app-check-your-answers app-check-your-answers--short">
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__answer">On 5 April 2018, the company acquired the goodwill and net assets of CoHo Marketing Associates for £40,000 financed by a secured bank loan, repayable over 5 years.</dt>

    <dd class="app-check-your-answers__change">
      <a href="javascript:void(0)">
        Change<span class="govuk-visually-hidden">
          Post balance sheet events</span>
      </a>
      <p class="govuk-!-margin-top-1">
        <span id="delete-summary">
          <a href="javascript:void(0)" class="" id="content-delete">Delete
            <span class="govuk-visually-hidden">
              Post balance sheet events</span></a>
        </span>
      </p>
    </dd>
  </div>
  <div id="content-delete-warning" style="display:none;">
    <div class="govuk-error-summary" id="delete-summary">
      <p class="govuk-!-font-weight-bold">Are you sure you want to delete post balance sheet events? This cannot be undone.</p>
      <p>
        <a href="javascript:void" class="govuk-link govuk-!-margin-right-3">Yes, delete
          <span class="govuk-visually-hidden">
            post balance sheet events</span></a>

        <a class="govuk-link no-delete post-balance-sheet-events-keep" href="javascript:void(0)">No, keep<span class="govuk-visually-hidden">
            post balance sheet events</span></a>
      </p>
    </div>
    <!--delete-summary-->
  </div>
  <!--content-delete-warning-->
</dl>

{{ govukButton({
              text: "Continue"
            }) }}
</form>

</main>
</div>
<!---govuk-width-container-->

{% endblock %}