{% extends "layout.html" %}
{% block pageTitle %}
  Community Interest Companies (prototype)
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">File CIC report and accounts (prototype)
          </h1>

          <div class="section-tabs js-tabs">
            <ul>
              <li class="active">
                <a href="/index" id="">Full</a>
              </li>
              <li>
                <a href="/cics/shortcuts-cics" id="">CICs</a>
              </li>
              <li>
                <a href="/accounts/abridged" id="">Abridged</a>
              </li>
            </ul>
          </div>

          <h2 class="govuk-heading-m">The latest version</h2>
          <ul class="govuk-list">
            <li>
              <a href="/small-full/shortcuts-small-full">Beta V24 (October 2018)</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">Previous versions
            <span class="govuk-hint">
              Previous versions might be 'switched off' - contact James Francis for access.
            </span>
          </h2>

          <ul class="govuk-list">
            <li>
              <a href="/small-full/shortcuts-small-full">MVP (August 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v20.herokuapp.com/chs/chs-start-page-small-full">Alpha V3 (May 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v18.herokuapp.com/small-full/shortcuts-small-full">Alpha V2 (April 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v17.herokuapp.com/small-full/shortcuts-small-full">Alpha V1 (March 2018)</a>
            </li>
          </ul>

        </div>
      </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}