{% extends "layout.html" %}
{% block pageTitle %}
  Intangible assets
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper two-column-accounts">

      <h1 class="govuk-heading-l">Intangible assets</h1>

      <!--<p class="warning-note warning-note-large">You only need to enter items included in your prepared accounts.</p>-->

      <form action="/small-full/small-full-tangible-assets-choose" class="form currency-included-within-inputs govuk-body" id="" method="get" name="">
        <h2 class="govuk-heading-m">
          Cost
        </h2>
        <div class="govuk-grid-row" id="accounts-header">
          <div class="govuk-grid-column-one-quarter">&nbsp;</div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Goodwill</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Other</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Total</h2>
          </div>
        </div>

        <!--Start Cost at start-->
        <div class="govuk-grid-row accounts-row-spacer">
          <div class="govuk-grid-column-one-quarter">Cost at 1 April 2017</div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="cost-start-goodwill">
                <span class="mobile-only-label">Cost at 1 April 2017 - Goodwill</span>
                <input type="number" class="govuk-input" id="cost-start-goodwill" name="cost-start-goodwill" value="{{ data['cost-start-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="cost-start-other">
                <span class="mobile-only-label">Cost at 1 April 2017 - Other</span>
                <input type="number" class="govuk-input" id="cost-start-other" name="cost-start-other" value="{{ data['cost-start-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="cost-start-total">
                <span class="mobile-only-label">Cost at 1 April 2017 - Total</span>
                <input type="number" class="govuk-input" id="cost-start-total" name="cost-start-total" readonly="readonly" value="{{ data['cost-start-total'] }}">
              </label>
            </div>
          </div>

        </div>
        <!--End Cost at start-->

        <!--Start Additions -->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">Additions
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="additions-goodwill">
                <span class="mobile-only-label">Additions - Goodwill</span>
                <input type="number" class="govuk-input" id="additions-goodwill" name="additions-goodwill" value="{{ data['additions-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="additions-other">
                <span class="mobile-only-label">Additions - Other</span>
                <input type="number" class="govuk-input" id="additions-other" name="additions-other" value="{{ data['additions-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="additions-total">
                <span class="mobile-only-label">Additions - Total</span>
                <input type="number" class="govuk-input" id="additions-total" name="additions-total" readonly="readonly" value="{{ data['additions-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Additions -->

        <!--Start Disposals-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">Disposals
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="disposals-goodwill">
                <span class="mobile-only-label">Disposals - Goodwill</span>
                <input type="number" class="govuk-input" id="disposals-goodwill" name="disposals-goodwill" value="{{ data['disposals-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="disposals-other">
                <span class="mobile-only-label">Disposals - Other</span>
                <input type="number" class="govuk-input" id="disposals-other" name="disposals-other" value="{{ data['disposals-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="disposals-total">
                <span class="mobile-only-label">Disposals - Total</span>
                <input type="number" class="govuk-input" id="disposals-total" name="disposals-total" readonly="readonly" value="{{ data['disposals-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Disposals--->

        <!--Start Revaluations-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">Revaluations</div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="revaluations-goodwill">
                <span class="mobile-only-label">Revaluations - Goodwill</span>
                <input type="number" class="govuk-input" id="revaluations-goodwill" name="revaluations-goodwill" value="{{ data['revaluations-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="revaluations-other">
                <span class="mobile-only-label">Revaluations - Other</span>
                <input type="number" class="govuk-input" id="revaluations-other" name="revaluations-other" value="{{ data['revaluations-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="revaluations-total">
                <span class="mobile-only-label">Revaluations - Total</span>
                <input type="number" class="govuk-input" id="revaluations-total" name="revaluations-total" readonly="readonly" value="{{ data['revaluations-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Revaluations--->

        <!--Start Transfers-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">Transfers</div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="transfers-goodwill">
                <span class="mobile-only-label">Transfers - Goodwill</span>
                <input type="number" class="govuk-input" id="transfers-goodwill" name="transfers-goodwill" value="{{ data['transfers-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="transfers-other">
                <span class="mobile-only-label">Transfers - Other</span>
                <input type="number" class="govuk-input" id="transfers-other" name="transfers-other" value="{{ data['transfers-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="transfers-total">
                <span class="mobile-only-label">Transfers - Total</span>
                <input type="number" class="govuk-input" id="transfers-total" name="transfers-total" readonly="readonly" value="{{ data['transfers-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Transfers-->

        <!--Start Cost at end-->
        <div class="govuk-grid-row accounts-total">
          <div class="govuk-grid-column-one-quarter">
            <strong>Cost at 31 March 2018</strong>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="cost-end-goodwill">
                <span class="mobile-only-label">Cost at 31 March 2018 - Goodwill</span>
                <input type="number" class="govuk-input" id="cost-end-goodwill" name="cost-end-goodwill" value="{{ data['cost-end-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="cost-end-other">
                <span class="mobile-only-label">Cost at 31 March 2018 - Other</span>
                <input type="number" class="govuk-input" id="cost-end-other" name="cost-end-other" value="{{ data['cost-end-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="cost-end-total">
                <span class="mobile-only-label">Cost at 31 March 2018 - Total</span>
                <input type="number" class="govuk-input" id="cost-end-total" name="cost-end-total" readonly="readonly" value="{{ data['cost-end-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Cost at end--->

        <h2 class="govuk-heading-m">Amortisation
        </h2>

        <div class="govuk-grid-row" id="accounts-header">
          <div class="govuk-grid-column-one-quarter">&nbsp;</div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Goodwill</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Other</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Total</h2>
          </div>
        </div>

        <!--Start Amortisation at start-->
        <div class="govuk-grid-row accounts-row-spacer">
          <div class="govuk-grid-column-one-quarter">Amortisation at 1 April 2015</div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="amortisation-start-goodwill">
                <span class="mobile-only-label">Amortisation at 1 April 2015 - Goodwill</span>
                <input type="number" class="govuk-input" id="amortisation-start-goodwill" name="amortisation-start-goodwill" value="{{ data['amortisation-start-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="amortisation-start-other">
                <span class="mobile-only-label">Amortisation at 1 April 2015 - Other</span>
                <input type="number" class="govuk-input" id="amortisation-start-other" name="amortisation-start-other" value="{{ data['amortisation-start-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="amortisation-start-total">
                <span class="mobile-only-label">Amortisation at 1 April 2015 - Total</span>
                <input type="number" class="govuk-input" id="amortisation-start-total" name="amortisation-start-total" readonly="readonly" value="{{ data['amortisation-start-total'] }}">
              </label>
            </div>
          </div>

        </div>
        <!--End Amortisation at start-->

        <!--Start Charge for year-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">Charge for year</div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="charge-year-goodwill">
                <span class="mobile-only-label">Charge for year - Goodwill</span>
                <input type="number" class="govuk-input" id="charge-year-goodwill" name="charge-year-goodwill" value="{{ data['charge-year-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="charge-year-other">
                <span class="mobile-only-label">Charge for year - Other</span>
                <input type="number" class="govuk-input" id="charge-year-other" name="charge-year-other" value="{{ data['charge-year-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="charge-year-total">
                <span class="mobile-only-label">Charge for year - Total</span>
                <input type="number" class="govuk-input" id="charge-year-total" name="charge-year-total" readonly="readonly" value="{{ data['charge-year-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Charge for year--->
        <!--Start On disposals-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">On disposals</div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="on-disposals-goodwill">
                <span class="mobile-only-label">On disposals - Goodwill</span>
                <input type="number" class="govuk-input" id="on-disposals-goodwill" name="on-disposals-goodwill" value="{{ data['on-disposals-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="on-disposals-other">
                <span class="mobile-only-label">On disposals - Other</span>
                <input type="number" class="govuk-input" id="on-disposals-other" name="on-disposals-other" value="{{ data['on-disposals-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="on-disposals-total">
                <span class="mobile-only-label">On disposals - Total</span>
                <input type="number" class="govuk-input" id="on-disposals-total" name="on-disposals-total" readonly="readonly" value="{{ data['on-disposals-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End On disposals-->

        <!--Start Other adjustments-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">Other adjustments
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="other-adjustments-goodwill">
                <span class="mobile-only-label">Other adjustments- Goodwill</span>
                <input type="number" class="govuk-input" id="other-adjustments-goodwill" name="other-adjustments-goodwill" value="{{ data['other-adjustments-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="other-adjustments-other">
                <span class="mobile-only-label">Other adjustments - Other</span>
                <input type="number" class="govuk-input" id="other-adjustments-other" name="other-adjustments-other" value="{{ data['other-adjustments-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="other-adjustments-total">
                <span class="mobile-only-label">Other adjustments - Total</span>
                <input type="number" class="govuk-input" id="other-adjustments-total" name="other-adjustments-total" readonly="readonly" value="{{ data['other-adjustments-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Other adjustments-->

        <!--Start Amortisation at end-->
        <div class="govuk-grid-row accounts-total">
          <div class="govuk-grid-column-one-quarter">
            <strong>Amortisation at 31 March 2018</strong>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="amortisation-end-goodwill">
                <span class="mobile-only-label">Amortisation at 31 March 2018 - Goodwill</span>
                <input type="number" class="govuk-input" id="amortisation-end-goodwill" name="amortisation-end-goodwill" value="{{ data['amortisation-end-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="amortisation-end-other">
                <span class="mobile-only-label">Amortisation at 31 March 2018 - Other</span>
                <input type="number" class="govuk-input" id="amortisation-end-other" name="amortisation-end-other" value="{{ data['amortisation-end-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="amortisation-end-total">
                <span class="mobile-only-label">Amortisation at 31 March 2018 - Total</span>
                <input type="number" class="govuk-input" id="amortisation-end-total" name="amortisation-end-total" readonly="readonly" value="{{ data['amortisation-end-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Amortisation at end--->
        <h2 class="govuk-heading-m">Net book value</h2>
        <div class="govuk-grid-row" id="accounts-header">
          <div class="govuk-grid-column-one-quarter">&nbsp;</div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Goodwill</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Other</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">Total</h2>
          </div>
        </div>

        <!--Start Amortisation at start-->
        <div class="govuk-grid-row  accounts-total accounts-row-spacer">
          <div class="govuk-grid-column-one-quarter">
            <strong>Net book value at 31 March 2018</strong>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="net-book-value-end-goodwill">
                <span class="mobile-only-label">Net book value at 31 March 2018 - Goodwill</span>
                <input type="number" class="govuk-input" id="net-book-value-end-goodwill" name="net-book-value-end-goodwill" value="{{ data['net-book-value-end-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="net-book-value-end-other">
                <span class="mobile-only-label">Net book value at 31 March 2018- Other</span>
                <input type="number" class="govuk-input" id="net-book-value-end-other" name="net-book-value-end-other" value="{{ data['net-book-value-end-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="net-book-value-end-total">
                <span class="mobile-only-label">Net book value at 31 March 2018 - Total</span>
                <input type="number" class="govuk-input" id="net-book-value-end-total" name="net-book-value-end-total" readonly="readonly" value="{{ data['net-book-value-end-total'] }}">
              </label>
            </div>
          </div>

        </div>
        <!--End Amortisation at start-->

        <!--Start Additions -->
        <div class="govuk-grid-row accounts-total">
          <div class="govuk-grid-column-one-quarter">
            <strong>Net book value at 31 March 2017</strong>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="net-book-value-start-goodwill">
                <span class="mobile-only-label">Net book value at 31 March 2017 - Goodwill</span>
                <input type="number" class="govuk-input" id="net-book-value-start-goodwill" name="net-book-value-start-goodwill" value="{{ data['net-book-value-start-goodwill'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="net-book-value-start-other">
                <span class="mobile-only-label">Net book value at 31 March 2017 - Other</span>
                <input type="number" class="govuk-input" id="net-book-value-start-other" name="net-book-value-start-other" value="{{ data['net-book-value-start-other'] }}">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter accounts-total">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="net-book-value-start-total">
                <span class="mobile-only-label">Net book value at 31 March 2017 - Total</span>
                <input type="number" class="govuk-input" id="net-book-value-start-total" name="net-book-value-start-total" readonly="readonly" value="{{ data['net-book-value-start-total'] }}">
              </label>
            </div>
          </div>
        </div>
        <!--End Additions -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Add additional information about your 'intangible assets' note?</span>
              </summary>
              <div class="govuk-govuk-form-group">
                <label class="govuk-visually-hidden" for="intangible-assets-note-additional-info">Add additional information about your 'intangible assets' note?</label>
                <span id="more-detail-hint" class="govuk-hint">Enter details of any other 'intangible assets' information not already covered</span>
                <textarea class="govuk-textarea" id="intangible-assets-note-additional-info" value="{{ data['intangible-assets-note-additional-info'] }}" name="intangible-assets-note-additional-info" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </details>
          </div>
        </div>

        {{ govukButton({
            text: "Save and continue"
          }) }}
      </form>

      <p>
        <a href="javascript:void(0)" class="govuk-link">Sign out</a>
      </p>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}