{% extends "layout.html" %}
{% block pageTitle %}
  Are these the correct company account dates?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-balance-sheet-choose" method="GET">

            <h1 class="govuk-heading-l">
              <!--<span class="circle circle-step-large">1</span>-->
              Are these the correct company account dates?</h1>
            <p>You need to file accounts for the period:</p>
            <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27">1 April 2017 to 31 March 2018</span>
            <p class="govuk-hint">This should match the dates on your prepared accounts.</p>

            {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "changecompanydates",
                name: "changecompanydates",
                fieldset: {
                  attributes : {
                    'data-required': "data-required",
                    'data-error': "Tell us if you want to change your company account dates"
                    },
                  legend: {
                    text: "Do you want to change your company account dates?",
                    isPageHeading: false,
                    classes: "govuk-visually-hidden"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes",
                    checked: checked('changecompanydates','yes')
                  },
                  {
                    value: "no",
                    text: "No",
                    checked: checked('changecompanydates','no')
                  }
                ]
              }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}