{% extends "layout-chs.html" %} {% block page_title %} What is the company number? {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}







<main id="content" role="main" class="search">

  {% include "includes/phase_banner_beta.html" %}


  <div class="text">


    <header>
      <h1 id="page-header" class="heading-xlarge">What is the company number?</h1>
    </header>


    <!--  <h2 class="heading-medium">Where was the company registered?</h2>-->

    <form>
      <!--  <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">Where was the company registered?</legend>

        <label for="radio-1" class="block-label selection-button-radio">
              <input id="radio-1" type="radio" name="radio-group" value="England/Wales">
England/Wales</label>



        <label for="radio-2" class="block-label selection-button-radio">
            <input id="radio-2" type="radio" name="radio-group" value="Scotland">Scotland</label>


        <label for="radio-3" class="block-label selection-button-radio">
              <input id="radio-3" type="radio" name="radio-group" value="Northern Ireland">
              Northern Ireland</label>


      </fieldset>
    </div>-->



      <div class="form-group">
        <label class=" visuallyhidden" for="co-num">What's the company number?</label>
        <p class="form-hint">This is the 8-character reference issued by Companies House when the company was set up.</p>

        <input type="numeric" class="form-control" maxlength="8" value="" id="co-num" name="co-num" autocomplete="off">

      </div>

      <details>

        <summary><span class="summary">Help with company number</span></summary>
        <div class="panel panel-border-narrow">
          <p>A company number is a unique number issued by Companies House when a limited company is set up. Your company number has 8 numbers, or 2 letters followed by 6 numbers. You can find this by using the <a href="https://beta.companieshouse.gov.uk/"
              target="_blank">Companies House service</a>.</p>
        </div>

      </details>

      <br />
      <div class="form-group">
        <a href="/chs/chs-login-page-small-full" class="button">Next</a>
      </div>
      <input type="hidden" value="" id="request" name="request">
    </form>

  </div>
  <!-- text-->
</main>

{% endblock %}