{% extends "layout.html" %}
{% block pageTitle %}Do your prepared accounts include any additional 'related party transactions' information?{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-transactions-additional-info-mvp" method="get" class="form">

            {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "relatedpartytransactionsadditionalinfoyesno",
                name: "relatedpartytransactionsadditionalinfoyesno",
                fieldset: {
                  attributes : {
                    'data-required': "data-required",
                    'data-error': "Tell us if your prepared accounts include any additional 'related party transactions' information"
                    },
                  legend: {
                    text: "Do your prepared accounts include any additional 'related party transactions' information?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes",
                    checked: checked('relatedpartytransactionsadditionalinfoyesno','yes')
                  },
                  {
                    value: "no",
                    text: "No",
                    checked: checked('relatedpartytransactionsadditionalinfoyesno','no')
                  }
                ]
              }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}