{% extends "layout.html" %}
{% block pageTitle %}
  Which tangible assets are included in your prepared accounts?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-tangible-assets-note-custom" class="form" id="" method="get" name="">
            {{ govukCheckboxes({
              idPrefix: "tangibleType",
              name: "tangibleType",
              fieldset: {
                legend: {
                  text: "Which tangible assets are included in your prepared accounts?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "Select all that apply"
              },
              items: [
                {
                  value: "land",
                  text: "Land and buildings",
                  checked: checked('tangibleType','land')
                },
                {
                  value: "plant",
                  text: "Plant and machinery",
                  checked: checked('tangibleType','plant')
                },
                {
                  value: "fixtures",
                  text: "Fixtures and fittings",
                  checked: checked('tangibleType','fixtures')
                },
                {
                  value: "office",
                  text: "Office equipment",
                  checked: checked('tangibleType','office')
                },
                {
                  value: "motor",
                  text: "Motor vehicles",
                  checked: checked('tangibleType','motor')
                }
              ]
            }) }}

            {{ govukButton({
                  text: "Save and continue"
                }) }}
          </form>

        </div>
        <!--govuk-grid-column-two-thirds-->

      </div>
      <!--govuk-grid-row-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}