{% extends "layout.html" %}

{% block pageTitle %}
  Balance sheet notes - Related party transactions
{% endblock %}

{% block main %}

  <style type="text/css">
    .left-indent {
      margin-left: 3em;
    }
  </style>

  <main id="content" role="main" class="two-column-accounts">
    {% include "includes/phase_banner_beta.html" %}

    <nav class="content" role="navigation">
      <ul id="navigation" class="mobile-hidden">
        <li class="user" id="signed-in-user">jsmith@testcompany.co.uk:
        </li>
        <li>
          <a href="javascript:void(0)">Your details</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="recent_filings">Your filings</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="">Companies you follow</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="user-signout">Sign out</a>
        </li>
      </ul>
    </nav>

    <a id="back" class="link-back" href="javascript:history.back()">Back</a>
    {% include 'includes/error.html' %}

    <div class="text">
      <h1 class="govuk-heading-l">
        <span class="circle circle-step-large">5</span>
        Balance sheet notes
        <span class="circle-subheading">Additional related party transactions</span>
      </h1>
    </div>
    <!--text-->

    <div class="left-indent">

      <form action="/small-full/small-full-post-events-yes-no-mvp" method="get" class="form">

        <table class="check-your-answers check-your-answers-notes">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="govuk-heading-m">Related party transactions added</h2>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="name">{{ data['transaction-1-director'] }}</td>
              <td class="description">{{ data['transaction-1-description'] }}</td>
              <td class="change-answer">
                <a href="/small-full/small-full-related-transactions-yes-no-completed" class="button">Change
                  <span class="visuallyhidden">John Smith loan</span></a>
                <span id="delete-summary">
                  <a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete
                    <span class="visuallyhidden">
                      John Smith loan</span></a>
                </td>
              </tr>
            </tbody>
          </table>

          <h2 class="govuk-heading-m text">Do your prepared accounts include any other 'related party transactions' notes?</h2>

          <div class="form-group">

            <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include any other 'related party transactions' notes">
              <legend class="visually-hidden">Do your prepared accounts include any other 'related party transactions' notes?</legend>

              <label class="block-label selection-button-radio" for="relatedtransactionsnoteyes" data-target="relatedtransactionsnoteyes-reveal">
                <input id="relatedtransactionsnoteyes" name="relatedtransactionsnoteyn" value="Yes" aria-controls="relatedtransactionsnoteyes-reveal" type="radio">
                Yes
              </label>
              <label class="block-label selection-button-radio" for="relatedtransactionsnoteno" data-target="relatedtransactionsnoteno-reveal">
                <input id="relatedtransactionsnoteno" name="relatedtransactionsnoteyn" value="No" type="radio">
                No
              </label>

            </fieldset>
          </div>
          <!--form-group-->

          <div class="js-hidden" id="relatedtransactionsnoteno-reveal">

            <h2 class="govuk-heading-m text">Do your prepared accounts include any additional 'related party transactions' information?</h2>

            <div class="form-group">
              <fieldset class="inline">
                <legend class="visuallyhidden">
                  Do your prepared accounts include any additional 'related party transactions' information?
                </legend>
                <label class="block-label selection-button-radio" for="more-loans-yes" data-target="loansinfoyes-reveal">
                  <input type="radio" value="Yes" name="moreloansinfo" id="more-loans-yes">
                  Yes
                </label>
                <label class="block-label selection-button-radio" for="more-loans-no">
                  <input type="radio" value="no" name="moreloansinfo" id="more-loans-no"/>
                  No
                </label>
              </fieldset>
            </div>
            <!--form-group-->

            <div class="js-hidden text" id="loansinfoyes-reveal">

              <label class="govuk-heading-m" for="textarea">Add any additional information about your 'related party transactions' notes here</label>
              <textarea type="text form" id="" class="form-control text" rows="5"></textarea>

            </div>
            <!--loansinfoyes-reveal-->

          </div>
          <!--relatedtransactionsnoteno-reveal-->

          <div class="js-hidden" id="relatedtransactionsnoteyes-reveal">
            <h2 class="govuk-heading-l">Second transaction</h2>

            <h3 class="govuk-heading-m text">What sort of transaction was this?</h3>

            <div class="form-group">
              <fieldset>

                <legend class="visuallyhidden">What sort of transaction was this?</legend>
                <label class="block-label text selection-button-radio" for="1">
                  <input type="radio" id="1" value="" name="sort-of-transaction">
                  Money given to the company by a related party
                </label>
                <label class="block-label selection-button-radio" for="2">
                  <input type="radio" id="2" value="" name="sort-of-transaction">
                  Money given to a related party by the company
                </label>

              </fieldset>
            </div>
            <!--form-group-->

            <div class="form-group text">
              <label class="govuk-heading-m" for="name-of-related-party">Name of related party</label>
              <span class="govuk-hint">Enter the name of the person the transaction was with.</span>
              <input class="form-control" id="name-of-related-party" type="text">
            </div>
            <!--form-group-->

            <div class="form-group text">
              <label class="govuk-heading-m" for="description-of-transaction">Description of the transaction</label>
              <span class="govuk-hint">Enter a brief description of the transaction. For example, "The transaction was the loan of an asset".</span>
              <textarea type="text" id="description-of-transaction" class="form-control" rows="5"></textarea>
            </div>
            <!--form-group-->

            <!--Start balance at start-->

            <div class="grid-row" id="accounts-header">
              <div class="column-half">
                &nbsp;
              </div>
              <div class="column-quarter">
                <h2 class="govuk-heading-s">£</h2>
              </div>
            </div>

            <div class="grid-row">
              <div class="column-half">
                <details>
                  <summary>
                    <span class="summary">Balance at 1 April 2017</span></summary>
                  <div class="panel panel-border-narrow">
                    <p>Enter the amount paid or owed to or by this related party at the start of the period you're filing for.</p>
                  </div>
                </details>
              </div>
              <div class="column-quarter">
                <div class="form-group">
                  <label for="balance-at-start">
                    <span class="visuallyhidden">Balance at 1 April 2017</span>
                    <input type="number" class="form-control" id="balance-at-start">
                  </label>
                </div>
              </div>
            </div>
            <!--grid-row-->
            <!--End balance at start-->

            <!--Start balance at end-->
            <div class="grid-row">
              <div class="column-half">
                <details>
                  <summary>
                    <span class="summary">Balance at 31 March 2018</span></summary>
                  <div class="panel panel-border-narrow">
                    <p>Enter the amount paid or owed to or by this related party at the end of the period you're filing for.</p>

                  </div>
                </details>
              </div>
              <div class="column-quarter">
                <div class="form-group">
                  <label for="balance-at-end">
                    <span class="visuallyhidden">Balance at 31 March 2018</span>
                    <input type="number" class="form-control" id="balance-at-end">
                  </label>
                </div>
              </div>
            </div>
            <!--grid-row-->
            <!--End balance at end--->

          </div>
          <!--relatedtransactionsnoteyes-reveal-->

          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Save and continue" id="">
          </div>
        </form>
      </div>
      <!--left-indent-->

    </main>
  {% endblock %}