{% extends "layout.html" %}
{% block pageTitle %}Related party transactions added{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-transactions-any-other" method="get" class="form">

            <h1 class="govuk-heading-l">Related party transactions added</h1>

            <dl class="app-check-your-answers app-check-your-answers--short">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  {{ data['transaction-1-director'] }}
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ data['transaction-1-description'] }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <p class="govuk-!-margin-bottom-2">
                    <a href="small-full/small-full-related-transactions-yes-1-completed">
                      Change<span class="govuk-visually-hidden">
                        John Smith - Description goes here
                      </span>
                    </a>
                  </p>

                  <a href="javascript:void(0)">
                    Delete<span class="govuk-visually-hidden">
                      John Smith - Short term loan</span>
                  </a>

                </dd>
              </div>

            </dl>

            {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-top-6"
            }) }}
          </form>
          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>
        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}