{% extends "layout.html" %}
{% block pageTitle %}

  Employees note

{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper two-column-accounts">

      <h1 class="govuk-heading-l">Employees note</h1>

      <div class="govuk-grid-row" id="accounts-header">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">
            <span style="display:none">Employees</span>&nbsp;
            <!-- needs work, trying to hide content from screen but make it 'readable' by screen-readers-->
          </h2>
          <!-- To do - move this style into the SASS file-->
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-s">2018<!--<br />£<--></h2>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-s">2017<!--<br />£--></h2>
        </div>
      </div>

      <form action="/small-full/small-full-fixed-assets-yes-no" class="form govuk-body" id="" method="get" name="">

        <!--Start average number of employees -->
        <div class="govuk-grid-row govuk-!-padding-bottom-5">
          <div class="govuk-grid-column-one-half">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Average number of employees</span>
              </summary>
              <p>Enter the average number of people employed by the company in the period you're filing for.</p>
            </details>
          </div>

          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <label for="average-number-of-employees-current">
                <span class="mobile-only-label">Average number of employees (current year)</span>
                <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="govuk-input" id="average-number-of-employees-current">
              </label>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <label for="average-number-of-employees-previous">
                <span class="mobile-only-label">Average number of employees (previous year)</span>
                <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="govuk-input" id="average-number-of-employees-previous">
              </label>
            </div>
          </div>

        </div>
        <!--End average number of employees -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Add additional information about your 'employees' note?</span>
              </summary>
              <div class="govuk-govuk-form-group">
                <label class="govuk-visually-hidden" for="employees-note-additional-info">Add additional information about your 'employees' note?</label>
                <span id="more-detail-hint" class="govuk-hint">Enter details of any other 'employees' information not already covered</span>
                <textarea class="govuk-textarea" id="more-detail" name="employees-note-additional-info" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </details>
          </div>
        </div>

        {{ govukButton({
              text: "Save and continue"
            }) }}
      </form>

    </div>
    <!--govuk-grid-row-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}