{% extends "layout.html" %}
{% block pageTitle %}
  Revaluation reserve
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper two-column-accounts">

      <h1 class="govuk-heading-l">Revaluation reserve</h1>

      <form action="/small-full/small-full-employees-yes-no-mvp" class="form currency-included-within-inputs govuk-body" id="" method="get" name="">

        <!--Start "At start of period" -->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">At 1 April 2017
            <!--<span class="govuk-hint">This amount is usually already given in the box, as it is the revaluation reserve figure you entered in your balance sheet for the previous year.</span>-->
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="revaluation-reserve-start">
                <span class="mobile-only-label">At 1 April 2017</span>
                <input class="govuk-input" id="revaluation-reserve-start" name="revaluation-reserve-start" type="number" value="{{ data['revaluation-reserve-start'] }}"></label>
            </div>
          </div>
        </div>
        <!--grid-row-->
        <!--End "At start of period" -->

        <!--Start Surplus or deficit after revaluatio-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">Surplus or deficit after revaluation
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="surplus-deficit-previous">
                <span class="mobile-only-label">Surplus or deficit after revaluation</span>
                <input class="govuk-input" id="surplus-deficit-previous" name="surplus-deficit-previous" type="number" value="{{ data['surplus-deficit-previous'] }}"></label>
            </div>
          </div>
        </div>
        <!--End Surplus or deficit after revaluatio-->
        <!--Start Bank loans and overdrafts -->
        <div class="govuk-grid-row accounts-total">
          <div class="govuk-grid-column-one-half">Balance at 31 March 2017</div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <span class="currency-type">£</span>
              <label for="revaluation-reserve-end">
                <span class="mobile-only-label">Balance at 31 March 2017</span>
                <input class="govuk-input" id="revaluation-reserve-end" name="revaluation-reserve-end" type="number" value="{{ data['revaluation-reserve-end'] }}"></label>
            </div>
          </div>
        </div>
        <!--End Balance at 31 March 2017 -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Add additional information about your 'revaluation reserve' note?</span>
              </summary>
              <div class="govuk-govuk-govuk-form-group">

                <label class="govuk-visually-hidden" for="revaluation-reserve-note-additional-info">Add additional information about your 'revaluation reserve' note?</label>
                <span id="more-detail-hint" class="govuk-hint">Enter details of any other 'revaluation reserve' information not already covered</span>
                <textarea class="govuk-textarea" id="revaluation-reserve-note-additional-info" name="revaluation-reserve-note-additional-info" value="{{ data['revaluation-reserve-note-additional-info'] }}" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </details>
          </div>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}