{% extends "layout.html" %}
{% block pageTitle %}
  Which items are included in your prepared balance sheet?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-balance-sheet-temp" class="form" id="" method="get" name="">

            <h1 class="govuk-heading-l">
              Which items are included in your prepared balance sheet?
            </h1>

            <p class="govuk-hint">
              Select all that apply
            </p>

            {{ govukCheckboxes({
              idPrefix: "balanceSheetItems",
              name: "balanceSheetItems",
              fieldset: {
                legend: {
                  text: "Called up share capital not paid",
                  classes: "govuk-visually-hidden"
                }
              },
              items: [
                {
                  value: "balanceSheetItems-called-up-share-capital-not-paid",
                  text: "Called up share capital not paid",
                  checked: checked('balanceSheetItems','balanceSheetItems-called-up-share-capital-not-paid')
                }
              ]
            }) }}

            {{ govukCheckboxes({
              idPrefix: "balanceSheetItems",
              name: "balanceSheetItems",
              fieldset: {
                legend: {
                  text: "Fixed assets",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              govukInsetText: {
                text: "Fixed assets"
              },
              items: [
                {
                  value: "balanceSheetItems-intangible-assets",
                  text: "Intangible assets",
                  checked: checked('balanceSheetItems','balanceSheetItems-intangible-assets')
                },
                {
                  value: "balanceSheetItems-tangible-assets",
                  text: "Tangible assets ",
                  checked: checked('balanceSheetItems','balanceSheetItems-tangible-assets')
                },
                {
                  value: "balanceSheetItems-investments",
                  text: "Investments ",
                  checked: checked('balanceSheetItems','balanceSheetItems-investments ')
                }
              ]
            }) }}

            {{ govukCheckboxes({
              idPrefix: "balanceSheetItems",
              name: "balanceSheetItems",
              fieldset: {
                legend: {
                  text: "Current assets",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              govukInsetText: {
                text: "Current assets"
              },
              items: [
                {
                  value: "balanceSheetItems-stocks",
                  text: "Stocks",
                  checked: checked('balanceSheetItems','balanceSheetItems-stocks')
                },
                {
                  value: "balanceSheetItems-debtors",
                  text: "Debtors ",
                  checked: checked('balanceSheetItems','balanceSheetItems-debtors')
                },
                {
                  value: "balanceSheetItems-cash-at-bank-and-in-hand",
                  text: "Cash at bank and in hand",
                  checked: checked('balanceSheetItems','balanceSheetItems-cash-at-bank-and-in-hand')
                },
                {
                  value: "balanceSheetItems-current-asset-investments",
                  text: "Investments",
                  checked: checked('balanceSheetItems','balanceSheetItems-current-asset-investments')
                }
              ]
            }) }}

            {{ govukCheckboxes({
              idPrefix: "balanceSheetItems",
              name: "balanceSheetItems",
              classes: "govuk-!-padding-top-2",
              fieldset: {
                legend: {
                  text: "Other balance sheet entries",
                  classes: "govuk-visually-hidden"
                }
              },
              items: [
                {
                  value: "balanceSheetItems-prepayments-and-accrued-income",
                  text: "Prepayments and accrued income",
                  checked: checked('balanceSheetItems','balanceSheetItems-prepayments-and-accrued-income')
                },
                {
                  value: "balanceSheetItems-creditors-amounts-falling-due-within-one-year",
                  text: "Creditors - amounts falling due within one year",
                  checked: checked('balanceSheetItems','balanceSheetItems-creditors-amounts-falling-due-within-one-year')
                },
                {
                  value: "balanceSheetItems-creditors-amounts-falling-due-after-one-year",
                  text: "Creditors - amounts falling due after more than one year",
                  checked: checked('balanceSheetItems','balanceSheetItems-creditors-amounts-falling-due-after-one-year')
                },
                {
                  value: "balanceSheetItems-provision-for-liabilities",
                  text: "Provision for liabilities",
                  checked: checked('balanceSheetItems','balanceSheetItems-provision-for-liabilities')
                },
                {
                  value: "balanceSheetItems-accruals-and-deferred-income",
                  text: "Accruals and deferred income",
                  checked: checked('balanceSheetItems','balanceSheetItems-accruals-and-deferred-income')
                }
              ]
            }) }}

            {{ govukCheckboxes({
              idPrefix: "balanceSheetItems",
              name: "balanceSheetItems",
              fieldset: {
                legend: {
                  text: "Capital and reserves",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              govukInsetText: {
                text: "Capital and reserves"
              },
              items: [
                {
                  value: "balanceSheetItems-called-up-share-capital",
                  text: "Called up share capital",
                  checked: checked('balanceSheetItems','balanceSheetItems-called-up-share-capital')
                },
                {
                  value: "balanceSheetItems-share-premium-account",
                  text: "Share premium account",
                  checked: checked('balanceSheetItems','balanceSheetItems-share-premium-account')
                },
                {
                  value: "balanceSheetItems-revaluation-reserve",
                  text: "Revaluation reserve",
                  checked: checked('balanceSheetItems','balanceSheetItems-revaluation-reserve')
                },
                {
                  value: "balanceSheetItems-other-reserves",
                  text: "Other reserves",
                  checked: checked('balanceSheetItems','balanceSheetItems-other-reserves')
                },
                {
                  value: "balanceSheetItems-profit-and-loss-account",
                  checked: checked('balanceSheetItems','balanceSheetItems-profit-and-loss-account'),
                  "html": "Profit and loss account<span class=\"govuk-hint\">(also known as 'retained earnings')</span> " }
              ]
            }) }}

            {{ govukButton({
                  text: "Save and continue"
                }) }}
          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-column-two-thirds-->

      </div>
      <!--govuk-grid-row-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}