{% extends "layout.html" %}
{% block pageTitle %}
  Which tangible assets are included in your prepared accounts?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-tangible-assets-note" class="form" id="" method="get" name="">
            {{ govukCheckboxes({
              idPrefix: "tangibleType",
              name: "tangibleType",
              fieldset: {
                legend: {
                  text: "Which tangible assets are included in your prepared accounts?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "Select all that apply"
              },
              items: [
                {
                  value: "Land and buildings",
                  text: "Land and buildings",
                  checked: checked('tangibleType','Land and buildings')
                },
                {
                  value: "Plant and machinery",
                  text: "Plant and machinery",
                  checked: checked('tangibleType','Plant and machinery')
                },
                {
                  value: "Fixtures and fittings",
                  text: "Fixtures and fittings",
                  checked: checked('tangibleType','Fixtures and fittings')
                },
                {
                  value: "Office equipment",
                  text: "Office equipment",
                  checked: checked('tangibleType','Office equipment')
                },
                {
                  value: "Motor vehicles",
                  text: "Motor vehicles",
                  checked: checked('tangibleType','Motor vehicles')
                }
              ]
            }) }}

            {{ govukButton({
                  text: "Save and continue"
                }) }}
          </form>
          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>
        </div>
        <!--govuk-grid-column-two-thirds-->

      </div>
      <!--govuk-grid-row-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}