{% extends "layout.html" %}
{% block pageTitle %}Related party transactions added{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-transactions-additional-info-yes-no" method="get" class="form">

            <h1 class="govuk-heading-l">Related party transactions added</h1>

            <dl class="app-check-your-answers app-check-your-answers--short">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  {{ data['transaction-1-director'] }}
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ data['transaction-1-description'] }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <p class="govuk-!-margin-bottom-2">
                    <a href="small-full/small-full-related-transactions-yes-1-completed">
                      Change<span class="govuk-visually-hidden">
                        John Smith - Description goes here
                      </span>
                    </a>
                  </p>

                  <a href="javascript:void(0)">
                    Delete<span class="govuk-visually-hidden">
                      John Smith - Short term loan</span>
                  </a>

                </dd>
              </div>

            </dl>
            {{ govukRadios({
                            classes: "govuk-radios--inline",
                            idPrefix: "anyothertransactions1",
                            name: "anyothertransactions1",
                            fieldset: {
                              attributes : {
                                'data-required': "data-required",
                                'data-error': "Tell us if your prepared accounts include any other 'related party transactions' notes"
                                },
                              legend: {
                                text: "Do your prepared accounts include any other 'related party transactions' notes?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--m govuk-!-margin-top-6"
                              }
                            },
                            items: [
                              {
                                value: "yes",
                                text: "Yes",
                                checked: checked('anyothertransactions1','yes')
                              },
                              {
                                value: "no",
                                text: "No",
                                checked: checked('anyothertransactions1','no')
                              }
                            ]
                          }) }}

            {{ govukButton({
                          text: "Continue",
                          classes: "govuk-!-margin-top-6"
                        }) }}
          </form>
          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>
        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}