{% extends "layout.html" %}
{% block pageTitle %}
  Do your prepared accounts include an 'intangible fixed assets amortisation' policy?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/small-full/small-full-valuation-policy-yes-no" method="get" class="form">

            {% set textAreaHtml %}
            {{ govukTextarea({
              name: "small-full-intangible-fixed-assets-amortisation-policy",
              id: "small-full-intangible-fixed-assets-amortisation-policy",
              value: data['small-full-intangible-fixed-assets-depreciation-policy'],
                label: {
                  text: "Enter your 'intangible fixed assets amortisation' policy"
                }
              }) }}
            {% endset -%}

            {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "intangiblefixedassetsamortisationpolicy",
                name: "intangiblefixedassetsamortisationpolicy",
                fieldset: {

                  legend: {
                    text: "Do your prepared accounts include an 'intangible fixed assets amortisation' policy?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },

                items: [
                  {
                    value: "yes",
                    text: "Yes",
                    checked: checked('intangiblefixedassetsamortisationpolicy','yes'),
                    conditional: {
                      html: textAreaHtml
                      }
                  },
                  {
                    value: "no",
                    text: "No",
                    checked: checked('intangiblefixedassetsamortisationpolicy','no')
                  }
                ]
                }) }}

            {{ govukButton({
                text: "Save and continue"
              }) }}
          </form>
          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>
        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}