{% extends "layout.html" %}
{% block pageTitle %}
  Confirm your company account dates
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-accounts-dates-choose" method="GET">

            {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "confirmAccountsDates2020",
                name: "confirmAccountsDates2020",
                fieldset: {
                  legend: {
                    text: "Have the accounts been prepared for the period of 1 April 2019 to 31 March 2020?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },

                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
}) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}