{% extends "layout.html" %}
{% block pageTitle %}
  Balance sheet statements
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-accounting-policies" method="get" class="form">

            <h1 class="govuk-heading-l">
              <!--<span class="circle circle-step-large">2</span>-->
              Balance sheet statements</h1>

            {{ govukWarningText({
      text: "The following statements about your accounts will be included on the public record.",
      iconFallbackText: "Warning"
    }) }}

            <ul class="govuk-list govuk-list--bullet">
              <li>For the year ending 31 March 2018 the company was entitled to exemption under section 477 of the Companies Act 2006 relating to small companies.</li>
              <li>The members have not required the company to obtain an audit in accordance with section 476 of the Companies Act 2006.</li>
              <li>The directors acknowledge their responsibilities for complying with the requirements of the Act with respect to accounting records and the preparation of accounts.</li>
              <li>These accounts have been prepared and delivered in accordance with the provisions applicable to companies subject to the small companies regime.</li>
              <li>The directors have opted, under section 444 of the Companies Act 2006, not to file a copy of the company’s income statement and directors report.</li>
            </ul>

            {{ govukButton({
        text: "Continue"
      }) }}
          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}