{% extends "layout.html" %}
{% block pageTitle %}

  'Changes in presentation and prior period adjustments' note

{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/small-full/small-full-related-transactions-yes-no" method="get" class="form">

            {{ govukTextarea({
                name: "small-full-changes-in-presentation-note",
                id: "small-full-changes-in-presentation-note",
                value: data['small-full-changes-in-presentation-note'],
                label: {
                  text: " Enter your 'changes in presentation and prior period adjustments' note",
                  classes: "govuk-label--l"
                }

              }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

          <p>
            <a href="javascript:void(0)" class="govuk-link">Sign out</a>
          </p>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}