{% extends "layout-chs.html" %}

{% block page_title %}
 Balance sheet
{% endblock %}

{% block content %}

<!-- For testing only, NOT FOR PRODUCTION-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function () {
  $("#creditors-amounts-falling-due-within-one-year-current").keyup(function () {
    if ($('#creditors-amounts-falling-due-within-one-year-current').val().indexOf('(') >= 0 || $('#creditors-amounts-falling-due-within-one-year-current').val().indexOf(',') >= 0 || $('#creditors-amounts-falling-due-within-one-year-current').val().indexOf('-') >= 0 )  {
      $('#creditors-bracket-error').css("display", "block"),
      $('#creditors-amounts-falling-due-within-one-year-current').css("border-color", "#B10E1E");
      $('#creditors-amounts-falling-due-within-one-year-current').css("border-width", "3px");
    }
    else {
      $('#creditors-bracket-error').css("display", "none");
      $('#creditors-amounts-falling-due-within-one-year-current').css("border-color", "#000000");
      $('#creditors-amounts-falling-due-within-one-year-current').css("border-width", "2px");
    }
  });
});
</script>
<script>
$(document).ready(function () {
  $("#tangible-assets-current").keyup(function () {
    if ($('#tangible-assets-current').val().indexOf('(') >= 0 || $('#tangible-assets-current').val().indexOf(',') >= 0 || $('#tangible-assets-current').val().indexOf('-') >= 0 )  {
      $('#tangible-comma-error').css("display", "block"),
      $('#tangible-assets-current').css("border-color", "#B10E1E");
      $('#tangible-assets-current').css("border-width", "3px");
    }
    else {
      $('#tangible-comma-error').css("display", "none");
      $('#tangible-assets-current').css("border-color", "#000000");
      $('#tangible-assets-current').css("border-width", "2px");
    }
  });
});
</script>


<!--End for testing only, NOT FOR PRODUCTION-->




<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
 <ul id="navigation" class="mobile-hidden">
   <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
   <li><a href="javascript:void(0)">Your details</a></li>
   <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
   <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
   <li><a href="/chs/chs-start-page-signed-out" id="user-signout">Sign out</a></li>
 </ul>
</nav>


<a id="back" class="link-back" href="javascript:history.back()">Back</a>



 <h1 class="heading-xlarge"><span class="circle circle-step-large">3</span> Balance sheet </h1>
 <div class="left-indent">

   <div class="panel panel-border-wide">
     <p class="warning">Complete all items that are included in your prepared accounts.</p>
   </div>

 <div class="grid-row" id="accounts-header">
   <div class="column-half">
     &nbsp;
   </div>
   <div class="column-quarter">
     <h2 class="heading-small">2017<br>£</h2>
   </div>
   <div class="column-quarter">
     <h2 class="heading-small">2016<br>£</h2>
   </div>
 </div>

 <!--<div class="grid-row">
   <div class="column-half">
     &nbsp;
   </div>
   <div class="column-half">
     <p class="form-hint">Add your balance sheet numbers without commas or other symbols. </p>
   </div>
 </div>-->


<form action="/" method="post" class="form" id="balance-sheet">

<h2 class="heading-medium margin-top-0">Fixed assets</h2>

 <!--Start intangible assets-->
<div class="grid-row">
   <div class="column-half">
       <details>
         <summary><span class="summary">Intangible assets</span></summary>
         <div class="panel panel-border-narrow">
           <p>The value after depreciation of your company's assets that are not physical. Examples include:</p>
           <ul class="list list-bullet">
              <li>patents</li>
              <li>trademarks</li>
              <li>copyrights</li>
              <li>brand value</li>
              <li>goodwill</li>
          </div>
       </details>
   </div>

   <div class="column-quarter">
     <div class="form-group">
       <label for="intangible-assets-current"><span class="mobile-only-label">Intangible assets (2016)</span>
         <input type="number"  onkeypress="" class="form-control" id="intangible-assets-current">
       </label>
     </div>
   </div>
   <div class="column-quarter">
     <div class="form-group">
       <label for="intangible-assets-previous"><span class="mobile-only-label">Intangible assets (2015)</span>
         <input type="number"  onkeypress="" class="form-control" id="intangible-assets-previous">
       </label>
     </div>
   </div>

 </div>
 <!--End intangible assets-->

 <div class="grid-row" id="tangible-comma-error" style="display:none; margin-bottom:-2em;">
   <div class="column-half">&nbsp;</div>
   <div class="column-quarter"><span class="error-message" id="">Please enter a value between 0 and 99999999 without commas, brackets or other symbols.</span></div>
   <div class="column-quarter">&nbsp;</div>
 </div>

 <!--Start tangible assets-->
 <div class="grid-row">
   <div class="column-half">
       <details>
         <summary><span class="summary">Tangible assets</span></summary>
         <div class="panel panel-border-narrow">
           <p>The value of physical assets your business owns, after depreciation. Examples include:</p>
           <ul class="list list-bullet">
              <li>machinery</li>
              <li>fixtures and fittings</li>
              <li>office equipment</li>
              <li>vehicles</li>
              <li>land and buildings</li>
          </ul>
        </div>
       </details>
   </div>
   <div class="column-quarter">
     <div class="form-group">
       <label for="tangible-assets-current"><span class="mobile-only-label">Tangible assets (2016)</span>
         <input type="text" onkeypress="" class="form-control" id="tangible-assets-current" style="text-align:right;"><!-- changed type to text to get error validation (character) to work-->
       </label>
     </div>
   </div>
   <div class="column-quarter">
     <div class="form-group">
       <label class="form-label" for="tangible-assets-previous"><span class="mobile-only-label">Tangible assets (2015)</span>
         <input type="number"  onkeypress="" class="form-control" id="tangible-assets-previous">
       </label>
     </div>
   </div>
 </div>
 <!--End tangible assets-->

 <!--Start investments (fixed assets) -->
 <!--<div class="grid-row">
   <div class="column-half">
       <details>
         <summary><span class="summary">Investments</span> <span class="mobile-only-label">(fixed assets)</span></summary>
         <div class="panel panel-border-narrow">
           <p>Fixed asset investment refers to any investment made this reporting period in assets used to generate income that will be held for more than one year. Examples include:</p>
           <ul class="list list-bullet">
              <li>new vehicles</li>
              <li>buildings and refurbishment</li>
              <li>equipment</li>
          </div>
       </details>
   </div>
   <div class="column-quarter">
     <div class="form-group">
       <label for="investments-fixed-assets-current"><span class="mobile-only-label">Investments (fixed assets) (2016)</span>
         <input type="number"  onkeypress="" class="form-control" id="investments-fixed-assets-current">
       </label>
     </div>
   </div>
   <div class="column-quarter">
     <div class="form-group">
       <label class="form-label" for="investments-fixed-assets-previous"><span class="mobile-only-label">Investments (fixed assets) (2015)</span>
         <input type="number"  onkeypress="" class="form-control" id="investments-fixed-assets-previous">
       </label>
     </div>
   </div>
 </div>-->
 <!--End investments (fixed assets)-->

 <!--Start total fixed assets-->
 <div class="grid-row accounts-total">
   <div class="column-half">
  <strong class="no-help">Total fixed assets</strong>
     <!--<details>
       <summary><span class="summary">Total fixed assets</span></summary>
       <div class="panel panel-border-narrow">
         <p><strong>Calculation:</strong> 'Intangible assets' plus 'tangible assets' plus 'investments'.</p>
       </div>
     </details>-->
   </div>
   <div class="column-quarter">
     <div class="form-group">
       <label class="form-label-bold" for="total-fixed-assets-current"><span class="mobile-only-label">Total fixed assets (2016)</span>
         <input type="number"  onkeypress="" class="form-control" id="total-fixed-assets-current" readonly>
       </label>
     </div>
   </div>
   <div class="column-quarter">
     <div class="form-group">
       <label class="form-label-bold" for="total-fixed-assets-previous"><span class="mobile-only-label">Total fixed assets (2015)</span>
         <input type="number"  onkeypress="" class="form-control" id="total-fixed-assets-previous" readonly>
       </label>
     </div>
   </div>

 </div>
 <!--End total fixed assets-->


 <h2 class="heading-medium">Current assets</h2>

   <!--Start stocks-->
   <div class="grid-row">
     <div class="column-half">
         <details>
           <summary><span class="summary">Stocks</span></summary>
           <div class="panel panel-border-narrow">
             <p>Goods and services for resale, but unsold as on the date of the balance sheet. Examples include:</p>
             <ul class="list list-bullet">
                <li>raw materials</li>
                <li>the balance of long term contracts</li>
            </ul>
          </div>
         </details>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label for="stocks-current"><span class="mobile-only-label">Stocks (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="stocks-current">
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label for="stocks-current"><span class="mobile-only-label">Stocks (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="stocks-previous">
         </label>
       </div>
     </div>

   </div>
   <!--End stocks-->

   <!--Start debtors-->
   <div class="grid-row">
     <div class="column-half">
         <details>
           <summary><span class="summary">Debtors</span></summary>
           <div class="panel panel-border-narrow">
             <p>Amounts owed to your business from trading activity. Examples include:</p>
             <ul class="list list-bullet">
                <li>debts</li>
                <li>outstanding invoices</li>
              </ul>
          </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="debtors-current"><span class="mobile-only-label">Debtors (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="debtors-current">
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="debtors-previous"><span class="mobile-only-label">Debtors (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="debtors-previous">
         </label>
       </div>
     </div>
   </div>
   <!--End debtors-->


   <!--Start cash at bank and in hand-->
   <div class="grid-row">
     <div class="column-half">
         <details>
           <summary><span class="summary">Cash at bank and in hand</span></summary>
           <div class="panel panel-border-narrow">
             <p>Total cash available either in the bank, or petty cash.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="cash-at-bank-and-in-hand-current"><span class="mobile-only-label">Cash at bank and in hand (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="cash-at-bank-and-in-hand-current">
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="cash-at-bank-and-in-hand-previous"><span class="mobile-only-label">Cash at bank and in hand (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="cash-at-bank-and-in-hand-previous">
         </label>
       </div>
     </div>
   </div>
   <!--End cash at bank and in hand-->

   <!--Start investments (current assets)-->
   <!--<div class="grid-row">
     <div class="column-half">
         <details>
           <summary><span class="summary">Investments</span> <span class="mobile-only-label">(current assets)</span></summary>
           <div class="panel panel-border-narrow">
             <p>A resource held by the company for investment rather than trading purposes, and is likely to be sold soon.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="investments-current-assets-current"><span class="mobile-only-label">Investments (current assets) (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="investments-current-assets-current">
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="investments-current-assets-previous"><span class="mobile-only-label">Investments (current assets) (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="investments-current-assets-previous">
         </label>
       </div>
     </div>
   </div>-->
   <!--End investments (current assets)-->



   <!--Start total current assets-->
   <div class="grid-row accounts-total">
     <div class="column-half">
       <details>
         <summary><span class="summary">Total current assets</span></summary>
         <div class="panel panel-border-narrow">
           <p><strong>Calculation:</strong> 'Stocks' plus 'debtors' plus 'cash at bank and in hand' plus 'investments'. </p>
         </div>
       </details>
           </div>

     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label-bold" for="total-fixed-current-current"><span class="mobile-only-label">Total current assets (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="total-current-assets-current" readonly>
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label-bold" for="total-current-assets-previous"><span class="mobile-only-label">Total current assets (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="total-current-assets-previous" readonly>
         </label>
       </div>
     </div>
   </div>
   <!--End total current assets-->



   <!--Start prepayments and accrued income-->
  <div class="grid-row accounts-row-spacer">
     <div class="column-half">
         <details>
           <summary><span class="summary">Prepayments and accrued income</span></summary>
           <div class="panel panel-border-narrow">
             <p>The amount paid this period for goods and services that weren’t yet received at the end of the period, for example, advance rent payments.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="prepayments-and-and-accrued-income-current"><span class="mobile-only-label">Prepayments and accrued income (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="prepayments-and-and-accrued-income-current">
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="prepayments-and-and-accrued-income-previous"><span class="mobile-only-label">Prepayments and accrued income (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="prepayments-and-and-accrued-income-previous">
         </label>
       </div>
     </div>
   </div>
   <!--End prepayments and accrued income-->



  <div class="grid-row" id="creditors-bracket-error" style="display:none; margin-bottom:-2em;">
    <div class="column-half">&nbsp;</div>
    <div class="column-quarter"><span class="error-message" id="">Please enter a value between 0 and 99999999 without commas, brackets or other symbols. Do not enter a minus sign.</span></div>
    <div class="column-quarter">&nbsp;</div>
  </div>

   <!--Start creditors - amounts falling due within one year-->
   <div class="grid-row accounts-row-spacer">
     <div class="column-half">
         <details>
           <summary><span class="summary">Creditors - amounts falling due within one year</span></summary>
           <div class="panel panel-border-narrow">
             <p class="heading-small">Enter this number as a positive value and we'll calculate your net current assets</p>
             <p>Debts you expect to settle within a year. Examples include:</p>
             <ul class="list list-bullet">
                <li>unpaid invoices</li>
                <li>bank loans</li>
                <li>overdrafts</li>
              </ul>

            </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="creditors-amounts-falling-due-within-one-year-current"><span class="mobile-only-label">Creditors - amounts falling due within one year (2016)</span>
           <input type="text"  onkeypress="" class="form-control" id="creditors-amounts-falling-due-within-one-year-current" style="text-align:right;"> <!-- changed type to text to get error validation (character) to work-->
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="creditors-amounts-falling-due-within-one-year-previous"><span class="mobile-only-label">Creditors - amounts falling due within one year (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="creditors-amounts-falling-due-within-one-year-previous">
         </label>
       </div>
     </div>
   </div>
   <!--End creditors - amounts falling due within one year-->



   <!--Start net current assets (liabilities)-->
   <div class="grid-row accounts-total">
     <div class="column-half">
         <details>
           <summary><span class="summary">Net current assets (liabilities)</span></summary>
           <div class="panel panel-border-narrow">
             <p><strong>Calculation:</strong> 'Total current assets' minus 'creditors amounts falling due within one year'.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label-bold" for="net-current-assets-liabilities-current"><span class="mobile-only-label">Net current assets (liabilities) (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="net-current-assets-liabilities-current" readonly>
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label-bold" for="net-current-assets-liabilities-previous"><span class="mobile-only-label">Net current assets (liabilities) (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="net-current-assets-liabilities-previous" readonly>
         </label>
       </div>
     </div>
   </div>
   <!--End net current assets (liabilities)-->


   <!--Start total assets less current liabilities-->
   <div class="grid-row accounts-total accounts-row-spacer">
     <div class="column-half">
         <details>
           <summary><span class="summary">Total assets less current liabilities</span></summary>
           <div class="panel panel-border-narrow">
             <p><strong>Calculation:</strong> 'Total fixed assets' plus 'net current assets or liabilities'.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label-bold" for="total-assets-less-current-liabilities-current"><span class="mobile-only-label">Total assets less current liabilities (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="total-assets-less-current-liabilities-current" readonly>
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label-bold" for="total-assets-less-current-liabilities-previous"><span class="mobile-only-label">Total assets less current liabilities (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="total-assets-less-current-liabilities-previous" readonly>
         </label>
       </div>
     </div>
   </div>
   <!--End total assets less current liabilities-->


   <!--Start creditors - amounts falling due after more than one year-->
   <div class="grid-row accounts-row-spacer">
     <div class="column-half">
         <details>
           <summary><span class="summary">Creditors - amounts falling due after more than one year</span></summary>
           <div class="panel panel-border-narrow">
             <p class="heading-small">Enter this number as a positive value and we'll calculate your net current assets</p>
             <p>Debts you expect to settle after more than one year. For example, bank loans with instalments due after more than a year.</p>
         </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="creditors-amounts-falling-due-after-more-than-one-year-current"><span class="mobile-only-label">Creditors - amounts falling due within one year (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="creditors-amounts-falling-due-after-more-than-one-year-current">
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="creditors-amounts-falling-due-after-more-than-one-year-previous"><span class="mobile-only-label">Creditors - amounts falling due within one year (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="creditors-amounts-falling-due-after-more-than-one-year-previous">
         </label>
       </div>
     </div>
   </div>
   <!--End creditors - amounts falling due after more than one year-->

   <!--Start provision for liabilities-->
   <div class="grid-row">
     <div class="column-half">
         <details>
           <summary><span class="summary">Provision for liabilities</span></summary>
           <div class="panel panel-border-narrow">
             <p>Money set aside to cover future costs such as:</p>
             <ul class="list list-bullet">
                <li>tax</li>
                <li>pensions</li>
                <li>restructuring costs</li>
            </ul>
          </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="provision-for-liabilities-current"><span class="mobile-only-label">Provision for liabilities (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="provision-for-liabilities-current">
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="provision-for-liabilities-previous"><span class="mobile-only-label">Provision for liabilities (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="provision-for-liabilities-previous">
         </label>
       </div>
     </div>
   </div>
   <!--End provision for liabilities-->


   <!--Start accruals and deferred income-->
    <div class="grid-row">
     <div class="column-half">
         <details>
           <summary><span class="summary">Accruals and deferred income</span></summary>
           <div class="panel panel-border-narrow">
             <p>Goods and services invoiced or billed but not yet provided, plus payments you’ve received before providing goods or services.</p>
           </div>
         </details>
     </div>

     <div class="column-quarter">
       <div class="form-group">
         <label for="accruals-and-deferred-income-current"><span class="mobile-only-label">Accruals and deferred income (2016)</span>
           <input type="number"  onkeypress="" class="form-control" id="accruals-and-deferred-income-current">
         </label>
       </div>
     </div>
     <div class="column-quarter">
       <div class="form-group">
         <label class="form-label" for="accruals-and-deferred-income-previous"><span class="mobile-only-label">Accruals and deferred income (2015)</span>
           <input type="number"  onkeypress="" class="form-control" id="accruals-and-deferred-income-previous">
         </label>
       </div>
     </div>
   </div>
   <!--End accruals and deferred income-->

       <!--Start total net assets (liabilities)-->
       <div class="grid-row accounts-total">
         <div class="column-half">
             <details>
               <summary><span class="summary">Total net assets (liabilities)</span></summary>
               <div class="panel panel-border-narrow">
                 <p><strong>Calculation:</strong> 'Total assets less current liabilities' minus 'creditors amounts falling due after more than one year' minus 'provision for liabilities'. This must match 'total shareholders' funds'.</p>
               </div>
             </details>
         </div>

         <div class="column-quarter">
           <div class="form-group">
             <label class="form-label-bold" for="total-net-assets-liabilities-current"><span class="mobile-only-label">Total net assets (liabilities) (2016)</span>
               <input type="number"  onkeypress="" class="form-control" id="total-net-assets-liabilities-current" readonly>
             </label>
           </div>
         </div>
         <div class="column-quarter">
           <div class="form-group">
             <label class="form-label-bold" for="total-net-assets-liabilities-previous"><span class="mobile-only-label">Total net assets (liabilities) (2015)</span>
               <input type="number"  onkeypress="" class="form-control" id="total-net-assets-liabilities-previous" readonly>
             </label>
           </div>
         </div>
       </div>
       <!--End total net assets (liabilities)-->




       <h2 class="heading-medium">Capital and reserves</h2>

         <!--Start called up share capital-->
         <div class="grid-row">
           <div class="column-half">
             <label class="form-label" for="stocks-previous">
               <details>
                 <summary><span class="summary">Called up share capital</span></summary>
                 <div class="panel panel-border-narrow">
                   <p>The total value of company shares issued at this date. For example, if you issued 100 shares at £1 each at incorporation, and a further 50 shares at £1 each in this period, your called up share capital would be £150.</p>
                  </div>
               </details>
             </label>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="called-up-share-capital-current"><span class="mobile-only-label">Called up share capital (2016)</span>
                 <input type="number"  onkeypress="" class="form-control" id="called-up-share-capital-current">
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label for="called-up-share-capital-current"><span class="mobile-only-label">Called up share capital (2015)</span>
                 <input type="number"  onkeypress="" class="form-control" id="called-up-share-capital-previous">
               </label>
             </div>
           </div>
         </div>
         <!--End called up share capital-->


         <!--Start share premium account-->
        <!-- <div class="grid-row">
           <div class="column-half">
               <details>
                 <summary><span class="summary">Share premium account</span></summary>
                 <div class="panel panel-border-narrow">
                   <p>Amount your shareholders paid for their shares that was more than their value.</p>
                 </div>
               </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="share-premium-account-current"><span class="mobile-only-label">Share premium account (2016)</span>
                 <input type="number"  onkeypress="" class="form-control" id="share-premium-account-current">
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label" for="share-premium-account-previous"><span class="mobile-only-label">Share premium account (2015)</span>
                 <input type="number"  onkeypress="" class="form-control" id="share-premium-account-previous">
               </label>
             </div>
           </div>
         </div>-->
         <!--End share premium account-->


         <!--Start revaluation reserve-->
        <div class="grid-row">
           <div class="column-half">
               <details>
                 <summary><span class="summary">Revaluation reserve</span></summary>
                 <div class="panel panel-border-narrow">
                   <p>The change in asset values after revaluation when compared to their previous balance sheet values.</p>
               </div>
               </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="revaluation-reserve-current"><span class="mobile-only-label">Revaluation reserve (2016)</span>
                 <input type="number"  onkeypress="" class="form-control" id="revaluation-reserve-current">
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label" for="revaluation-reserve-previous"><span class="mobile-only-label">Revaluation reserve (2015)</span>
                 <input type="number"  onkeypress="" class="form-control" id="revaluation-reserve-previous">
               </label>
             </div>
           </div>
         </div>
         <!--End revaluation reserve-->


         <!--Start other reserves-->
        <!-- <div class="grid-row">
           <div class="column-half">
               <details>
                 <summary><span class="summary">Other reserves</span></summary>
                 <div class="panel panel-border-narrow">
                   <p>Any reserves not covered in revaluation or profit and loss account reserve figures.</p>
                 </div>
               </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="other-reserves-current"><span class="mobile-only-label">Other reserves (2016)</span>
                 <input type="number"  onkeypress="" class="form-control" id="other-reserves-current">
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label" for="other-reserves-previous"><span class="mobile-only-label">Other reserves (2015)</span>
                 <input type="number"  onkeypress="" class="form-control" id="other-reserves-previous">
               </label>
             </div>
           </div>
         </div>-->
         <!--End other reserves-->


         <!--Start profit and loss account-->
         <div class="grid-row">
           <div class="column-half">
               <details>
                 <summary><span class="summary">Profit and loss account</span></summary>
                 <div class="panel panel-border-narrow">
                   <p>Earnings not paid out as dividends, but retained by your company. Also known as 'retained earnings'.</p>
                 </div>
               </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label for="profit-and-loss-account-current"><span class="mobile-only-label">Profit and loss account (2016)</span>
                 <input type="number"  onkeypress="" class="form-control" id="profit-and-loss-account-current">
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label" for="profit-and-loss-account-previous"><span class="mobile-only-label">Profit and loss account (2015)</span>
                 <input type="number"  onkeypress="" class="form-control" id="profit-and-loss-account-previous">
               </label>
             </div>
           </div>
         </div>
         <!--End profit and loss account-->







         <!--Start total shareholders' funds-->
         <div class="grid-row accounts-total">
           <div class="column-half">
             <details>
               <summary><span class="summary">Total shareholders' funds</span></summary>
               <div class="panel panel-border-narrow">
                 <p><strong>Calculation:</strong> Called up share capital' plus 'share premium account' plus 'revaluation reserve' plus ‘other reserves' plus ‘profit and loss account'. This must match 'Total net assets (liabilities)'.</p>
               </div>
             </details>
           </div>

           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label-bold" for="total-shareholders-funds-current"><span class="mobile-only-label"> Total shareholders' funds (2016)</span>
                 <input type="number"  onkeypress="" class="form-control" id="total-shareholders-funds-current" readonly>
               </label>
             </div>
           </div>
           <div class="column-quarter">
             <div class="form-group">
               <label class="form-label-bold" for="total-shareholders-funds-previous"><span class="mobile-only-label"> Total shareholders' funds (2015)</span>
                 <input type="number"  onkeypress="" class="form-control" id="total-shareholders-funds-previous" readonly>
               </label>
             </div>
           </div>
         </div>
         <!--End total shareholders' funds-->

     <div class="form-group">
       <a class="button" href="/small-full/small-full-balance-sheet-statements">Next</a>
     </div>

</form>

<!--
<div id="autosave-container">
  <div id="div1" class="display">Autosaving... <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
  <div id="div2" class="display">Your abridged accounts were last saved 5 seconds ago</div>
  <div id="div3" class="display"></div>
</div>-->

</div><!--left-indent-->

</main>

{% endblock %}
