{% extends "layout.html" %} {% block pageTitle %} Balance sheet notes - Turnover policy {% endblock %} {% block main %}

<style type="text/css">
  .left-indent {
    margin-left: 3em
  }
</style>

<main id="content" role="main" class="two-column-accounts">
  {% include "includes/phase_banner_beta.html" %}

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>




  <a id="back" class="link-back" href="javascript:history.back()">Back</a> {% include 'includes/error.html' %}

  <div class="text">

    <h1 class="govuk-heading-xl">
Do your prepared accounts include a 'turnover' policy?
</h1>



    <form action="/small-full/small-full-tangible-policy-yes-no" method="get" class="form">
      <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include a 'turnover' policy">
        <legend class="visually-hidden">Do your prepared accounts include a 'turnover' policy?</legend>
        <div class="form-group">

          <label class="block-label selection-button-radio" for="employeesnoteyes" data-target="turnoverpolicyes-reveal">
                    <input id="employeesnoteyes" name="employeesnoteyn" value="Yes" aria-controls="turnoverpolicyes-reveal" type="radio">
                    Yes
                  </label>
          <label class="block-label selection-button-radio" for="employeesnoteno">
                    <input id="employeesnoteno" name="employeesnoteyn" value="No" type="radio">
                    No
                    </label>
        </div>
        <!--form-group-->

      </fieldset>



      <div class="panel panel-border-narrow js-hidden" id="turnoverpolicyes-reveal">
        <fieldset>
          <legend class="visuallyhidden">Turnover policy</legend>
          <label for="other-1" class="govuk-heading-m">Enter your 'turnover' policy</label>
          <textarea type="text" id="other-1" class="form-control" rows="5"></textarea>
        </fieldset>
      </div>




      <input type="submit" class="button" value="Save and continue" id="">
    </form>
  </div>

</main>
{% endblock %}