{% extends "layout.html" %} {% block pageTitle %} Creditors - amounts falling due within one year note {% endblock %} {% block main %}
<main class="two-column-accounts" id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <nav class="content" role="navigation">
    <ul class="mobile-hidden" id="navigation">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk:
      </li>
      <li>
        <a href="javascript:void(0)">Your details</a>
      </li>
      <li>
        <a href="javascript:void(0)" id="recent_filings">Your filings</a>
      </li>
      <li>
        <a href="javascript:void(0)" id="">Companies you follow</a>
      </li>
      <li>
        <a href="javascript:void(0)" id="user-signout">Sign out</a>
      </li>
    </ul>
  </nav><a class="link-back" href="javascript:history.back()" id="back">Back</a>
  <h1 class="govuk-heading-l">
Creditors - amounts falling due within one year
</h1>
  <div class="">
    <p class="warning-note warning-note-large">Complete all items that are included in your prepared accounts.</p>

    <br>
    <form action="/" class="form currency-included-within-inputs" id="" method="post" name="">
      <div class="grid-row" id="accounts-header">
        <div class="column-half">&nbsp;</div>
        <div class="column-quarter">
          <h2 class="govuk-heading-s">2018<!--<br />£--></h2>
        </div>
        <div class="column-quarter">
          <h2 class="govuk-heading-s">2017<!--<br />£--></h2>
        </div>
      </div>

      <!--Start Creditors - amounts falling due within one year-->
      <div class="grid-row accounts-row-spacer">
        <!--	<div class="column-half">
					<details>
						<summary>
							<span class="summary">Creditors - amounts falling due within one year</span>
						</summary>
						<div class="panel panel-border-narrow">
							<p>This is the figure you entered on the balance sheet. This note shows the breakdown of total creditors falling due within one year.</p>
						</div>
					</details>
				</div>
				<div class="column-quarter">
					<div class="form-group">
						<label for="creditors-within-current"><span class="mobile-only-label">Creditors - amounts falling due within one year - 2017</span>
            <input class="form-control" id="creditors-within-current" type="number"></label>
					</div>
				</div>
				<div class="column-quarter">
					<div class="form-group">
						<label for="creditors-within-previous"><span class="mobile-only-label">Creditors - amounts falling due within one year - 2016</span>
						<input class="form-control" id="creditors-within-previous" type="number"></label>
					</div>
				</div>-->
      </div>
      <!--End Creditors - amounts falling due within one year-->
      <!--Start Bank loans and overdrafts  -->
      <div class="grid-row">
        <div class="column-half">
          <!--<details>
            <summary>
              <span class="summary">-->Bank loans and overdrafts
          <!--</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p>The total value of bank loans and overdrafts your company owes and expects to pay within one year from the end of the period.</p>
            </div>
          </details>-->
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="bank-loans-current"><span class="mobile-only-label">Bank loans and overdrafts - 2017</span>
            <input class="form-control" id="bank-loans-current" type="number"></label>
          </div>
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="bank-loans-previous"><span class="mobile-only-label">Bank loans and overdrafts - 2016</span>
						<input class="form-control" id="bank-loans-previous" type="number"></label>
          </div>
        </div>
      </div>
      <!--End Bank loans and overdrafts  -->
      <!--Start Amounts due under finance leases and hire purchase contracts-->
      <div class="grid-row">
        <div class="column-half">
          <!--<details>
            <summary>
              <span class="summary">-->Amounts due under finance leases and hire purchase contracts
          <!--</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p>The total of capital amounts (original values) your company owes for finance leases and hire purchase contracts and expects to pay within one year from the end of the period.</p>
            </div>
          </details>-->
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="finance-leases-current"><span class="mobile-only-label">Amounts due under finance leases and hire purchase contracts - 2017</span>
            <input class="form-control" id="finance-leases-current" type="number"></label>
          </div>
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="finance-leases-previous"><span class="mobile-only-label">Amounts due under finance leases and hire purchase contracts - 2016</span>
						<input class="form-control" id="finance-leases-previous" type="number"></label>
          </div>
        </div>
      </div>
      <!--End Amounts due under finance leases and hire purchase contracts-->
      <!--Start Trade creditors -->
      <div class="grid-row">
        <div class="column-half">
          <!--<details>
            <summary>
              <span class="summary">-->Trade creditors
          <!--</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p>The total your company owes to trade creditors and expects to pay within one year from the end of the period.</p>
              <p>A trade creditor is someone that your company owes for debts incurred during trading operations, such as buying goods or materials from suppliers for resale.</p>
            </div>
          </details>-->
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="trade-creditors-current"><span class="mobile-only-label">Trade creditors - 2017</span>
            <input class="form-control" id="trade-creditors-current" type="number"></label>
          </div>
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="trade-creditors-previous"><span class="mobile-only-label">Trade creditors - 2016</span>
						<input class="form-control" id="trade-creditors-previous" type="number"></label>
          </div>
        </div>
      </div>
      <!--End Trade creditors =-->
      <!--Start Taxation and social security-->
      <div class="grid-row">
        <div class="column-half">
          <!--  <details>
            <summary>
              <span class="summary">-->Taxation and social security
          <!--</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p>The total of all tax and social security your company is due to pay within one year from the end of the period.</p>
              <p>This is normally the amounts due for:</p>
              <ul class="govuk-list">
                <li>corporation tax</li>
                <li>PAYE</li>
                <li>National Insurance</li>
                <li>VAT</li>
              </ul>
            </div>
          </details>-->
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="social-security-current"><span class="mobile-only-label">Taxation and social security - 2017</span>
            <input class="form-control" id="social-security-current" type="number"></label>
          </div>
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="social-security-previous"><span class="mobile-only-label">Taxation and social security - 2016</span>
						<input class="form-control" id="social-security-previous" type="number"></label>
          </div>
        </div>
      </div>
      <!--End Taxation and social security-->
      <!--Start Accruals and deferred income-->
      <div class="grid-row">
        <div class="column-half">
          <!--<details>
            <summary>
              <span class="summary">-->Accruals and deferred income
          <!--</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p>The total accruals and deferred income your company expects to pay within one year from the end of the period.</p>
              <p><span class="govuk-heading-s">Accruals:</span> Expenses that are not yet paid for, for example, electricity already used but to be paid in the future.</p>
              <p><span class="govuk-heading-s">Deferred income:</span> The amount you were paid for goods and services that you hadn't provided at the end of the period, for example, a client deposit paid before work starts.</p>
            </div>
          </details>-->
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="accruals-current"><span class="mobile-only-label">Accruals and deferred income - 2017</span>
						<input class="form-control" id="accruals-current" type="number"></label>
          </div>
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="accruals-current"><span class="mobile-only-label">Accruals and deferred income - 2016</span>
						<input class="form-control" id="accruals-previous" type="number"></label>
          </div>
        </div>
      </div>
      <!--End Accruals and deferred income-->
      <!--Start Other creditors-->
      <div class="grid-row">
        <div class="column-half">
          <!--<details>
            <summary>
              <span class="summary">-->Other creditors
          <!--</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p>Any other amounts that your company owes and expects to pay within one year from the end of the period. Exclude anything already included in this note.</p>
            </div>
          </details>-->
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="other-creditors-current"><span class="mobile-only-label">Other creditors - 2017</span>
						<input class="form-control" id="other-creditors-current" type="number"></label>
          </div>
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="other-creditors-previous"><span class="mobile-only-label">Other creditors - 2016</span>
						<input class="form-control" id="other-creditors-previous" type="number"></label>
          </div>
        </div>
      </div>
      <!--End Other creditors-->
      <!--Start Total-->
      <div class="grid-row accounts-total">
        <div class="column-half">
          <!--  <details>
            <summary>
              <span class="summary">--><strong>Total</strong>
          <!--</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p>The total value of all creditors amounts falling due within one year.</p>
              <p>This is calculated by adding together:</p>
              <ul class="list list-bullet font-small">
                <li>bank loans and overdrafts</li>
                <li>amounts due under finance leases and hire purchase contracts</li>
                <li>trade creditors</li>
                <li>taxation and social security</li>
                <li>accruals and deferred income</li>
                <li>other creditors</li>
              </ul>
            </div>
          </details>-->
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="total-current"><span class="mobile-only-label">Total - 2017</span>
						<input class="form-control" id="within-one-year-total-current" type="number"></label>
          </div>
        </div>
        <div class="column-quarter">
          <div class="form-group">
            <span class="currency-type">£</span>
            <label for="total-previous"><span class="mobile-only-label">Total - 2016</span>
						<input class="form-control" id="within-one-year-total-previous" type="number"></label>
          </div>
        </div>
      </div>
      <!--End Total-->


      <details class="accounts-row-spacer text">
        <summary>
          <span class="summary">Add additional information about your 'creditors - amounts falling due within one year' note?</span>
        </summary>
        <div class="panel panel-border-narrow">
          <label class="visuallyhidden" for="textarea">Add additional information?</label>
          <span class="govuk-hint">Enter information about amounts owed to creditors, and due to be paid within one year from the end of the period, for which the company has given security. For example, bank overdrafts repayable on demand or short-term instalments of bank loans.</span>
          <textarea class="form-control" id="textarea" rows="10"></textarea>
        </div>
      </details>
      <div class="form-group accounts-row-spacer">
        <a class="button" href="/small-full/small-full-other-notes-yes-no">Save and continue</a>
      </div>
    </form>
  </div>
  <!--left-indent-->
</main>{% endblock %}