{% extends "layout.html" %}
{% block pageTitle %}
  Enter your other policies
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/small-full/small-full-intangible-assets-note" method="get" class="form">

            {{ govukTextarea({
            name: "small-full-other-policies",
            id: "small-full-other-policies",
            label: {
              text: "Enter your other policies",
              isPageHeading: true,
              classes: "govuk-label--l"
            }
          }) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}