{% extends "layout.html" %}

{% block pageTitle %}
   You are eligible to file micro-entity accounts or abridged accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>


<form action="/accounts/accounts-start-page-micros" method="get" class="form">
<div class="text">

      <a id="back" class="link-back" href="javascript:history.back()">Back</a>

      <h1 class="govuk-heading-xl">You are eligible to file micro-entity accounts or abridged accounts</h1>


            <div class="form-group">

            <fieldset class="inline">
              <legend class="visuallyhidden">You are eligible to file micro-entity accounts or abridged accounts</legend>
              <label class="block-label" for="microabridged-micro">
                <input id="microabridged-micro" type="radio" name="microabridged" value="micro">
                Find out more about micro-entity accounts
              </label>
              <label class="block-label" for="microabridged-abridged">
                <input id="microabridged-abridged" type="radio" name="microabridged" value="abridged">
                Find out more about abridged accounts
              </label>
            </fieldset>



        </div><!--form-group-->



        <div class="form-group">
          <input type="submit" class="button" value="Save and continue">
        </div><!--form-group-->

  </div><!-- text-->
</form>
</main>

{% endblock %}
