.two-column-accounts form-control {
  text-align: right;
}

.two-column-accounts #accounts-header {
  text-align: center;
}

.two-column-accounts #accounts-header .heading-medium {
  margin: 0;
}

.two-column-accounts .accounts-total {
  font-weight: 700;
}

.two-column-accounts .accounts-total .form-control {
  border-left: 0;
  border-right: 0;
}

.two-column-accounts .accounts-row-spacer {
  margin-top: 2em;
}

.two-column-accounts .form-control {
  width: 100%;
}

.two-column-accounts .heading-small {
  margin: 0;
}

.two-column-accounts table.check-your-answers thead th {
  padding: 2em 0 1em;
}

.two-column-accounts table.check-your-answers thead th h2.heading-medium,
.two-column-accounts table.check-your-answers thead th h2.heading-small {
  margin: 0;
}

.two-column-accounts table.check-your-answers th.check-your-answers-section {
  width: 45%;
}

.two-column-accounts table.check-your-answers tr.total td {
  font-weight: 700;
}

.two-column-accounts table.check-your-answers td.numeric {
  font-family: inherit;
  font-size: inherit;
  padding-right: 0;
}

.two-column-accounts table.check-your-answers th.notes,
.two-column-accounts table.check-your-answers td.notes {
  font-weight: 700;
  width: 15%;
}

.two-column-accounts table.check-your-answers th.complete,
.two-column-accounts table.check-your-answers td.complete {
  width: 4%;
}

.two-column-accounts table.check-your-answers tr.to-be-completed td,
.two-column-accounts table.check-your-answers tr.to-be-completed th {
  color: #6f777b;
}

.two-column-accounts table.check-your-answers .accounts-success {
  color: #00823b;
  margin: 0 auto;
  display: block;
}

p.company-details {
  font-size: .9em;
}

.group-textarea details {
  margin: -.5em 0 .5em;
}

.group-textarea details summary {
  font-weight: normal;
}
