.normal {
  font-weight: normal;
}

#global-header a#logo {
  background-image: url("/public/images/royal-coat-of-arms-white.png");
  background-position: 10px top;
  background-size: 47px 42px;
  padding: 8px 0 2px 62px;
  width: 400px;
}

#global-header a#proposition-name {
  position: relative;
  top: .35em;
  padding-left: 1em;
}

ul#navigation {
  border-bottom: 1px solid #bfc1c3;
  font-size: .9em;
  margin-bottom: 1em;
  padding: .8em 0;
  text-align: right;
}

ul#navigation li {
  display: inline;
  padding: 0 0 0 1.5em;
}

.center {
  text-align: center;
}

.search-bar-active {
  background: #dee0e2 none repeat scroll 0 0;
  padding: .5em;
}

.searchfield input {
  font-size: 19px;
  font-weight: 400;
  height: 50px;
  line-height: 1.31579;
  margin: 0;
  padding: 0 0 0 10px;
  text-transform: none;
  width: 92%;
}

.searchfield .button {
  background-color: #005ea5;
  background-image: url("/public/images/search-button.png");
  background-position: -12.5% 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #fff;
  height: 54px;
  overflow: hidden;
  text-indent: -5000px;
  width: 54px;
  z-index: 4;
}

sup.label {
  background-color: #f47738;
  color: #fff;
  display: inline-block;
  font-size: .8em;
  padding: .1em .3em;
  position: relative;
  top: .3em;
}

ul.search-tabs {
  border-bottom: 1px solid #bfc1c3;
  font-size: .8em;
  margin-bottom: 30px;
  overflow: auto;
  padding-top: 2.75em;
}

ul.search-tabs li {
  float: left;
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0 8px 10px;
}

ul.search-tabs li.active {
  border-bottom: 2px solid #005ea5;
}

ul.search-tabs li a {
  text-decoration: none;
}

ul.search-tabs li a:hover, ul.search-tabs li a:focus, ul.search-tabs li a:visited {
  color: #005ea5;
}

main.search .results-list p {
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  text-transform: none;
}

main.search .results-list p.meta {
  color: #6f777b;
  font-size: 16px;
  padding: 0 0 3px;
  word-wrap: break-word;
}

main.search .results-list li {
  padding: 0 0 25px;
}

main.search .results-list h3 a {
  color: #005ea5;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}

main.search .results-list h3 a:hover, main.search .results-list h3 a:focus, main.search .results-list h3 a:visited {
  color: #2b8cc4;
  text-decoration: underline;
}

ul.pager {
  padding-top: 2em;
}

ul.pager li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 1.4em 0 0;
}

strong,
b,
.data {
  font-weight: bold;
}

.view {
  display: none;
}

.view.active {
  display: block;
}

.profile dl {
  margin-bottom: 20px;
}

.section-tabs::after {
  clear: both;
  content: '';
  display: block;
}

.section-tabs {
  border-bottom: 1px solid #bfc1c3;
  margin: 1.5em 0;
}

@media (max-width: 640px) {
  .section-tabs {
    border-bottom: medium none;
    margin: 30px 0;
  }
}

.section-tabs ul {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;
}

.section-tabs ul li {
  display: inline;
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  .section-tabs ul li {
    display: block;
    float: none;
  }
}

.section-tabs ul a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #dee0e2 none repeat scroll 0 0;
  border-color: #dee0e2 #dee0e2 -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  display: block;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.31579;
  margin: 5px 5px 6px 0;
  overflow: hidden;
  padding: 5px 0;
  text-decoration: none;
  text-transform: none;
}

.section-tabs ul a:visited {
  color: #005ea5;
}

.section-tabs ul a:hover {
  color: #2b8cc4;
}

@media (max-width: 640px) {
  .section-tabs ul a {
    font-size: 16px;
    line-height: 1.25;
  }
}

.section-tabs ul a:hover .label,
.section-tabs ul a:focus .label {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .section-tabs ul a {
    border-bottom: 1px solid #bfc1c3;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    margin: 5px 0 0;
    padding: 5px 0 5px 5px;
    text-decoration: underline;
    text-transform: none;
    width: calc(100% - 10px);
  }
}

@media (max-width: 640px) and (max-width: 640px) {
  .section-tabs ul a {
    font-size: 14px;
    line-height: 1.14286;
  }
}

@media (min-width: 641px) {
  .section-tabs ul a {
    padding: 11px 14px 9px 9px;
  }
}

.section-tabs ul li.active a {
  background: #fff none repeat scroll 0 0;
  border-color: #bfc1c3;
  margin: 0 5px 0 0;
  padding: 10px 9px;
}

@media (max-width: 640px) {
  .section-tabs ul li.active a {
    border-bottom: 1px solid #bfc1c3;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 5px 0 5px 5px;
    text-decoration: none;
    width: calc(100% - 10px);
  }
}

@media (min-width: 641px) {
  .section-tabs ul li.active a {
    padding: 16px 19px 15px 14px;
  }
}

.section-tabs ul li.active a:focus {
  outline: medium none;
}

.section-tabs ul li.active a .label {
  text-decoration: none;
}

.section-tabs ul.two-tabs li {
  width: 50%;
}

@media (min-width: 769px) {
  .section-tabs ul.two-tabs li {
    min-width: 33.333%;
    width: auto;
  }
}

.section-tabs.plain-tabs .tab-navigation ul li a {
  background-color: #fff;
  border: medium none;
  font-weight: normal;
  text-decoration: underline;
}

.section-tabs.plain-tabs .tab-navigation ul li.active a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #dee0e2 #dee0e2 -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
}

.company-header {
  margin-top: 2em;
}

.company-header .actions {
  margin-top: 1.5em;
  text-align: right;
}

ol.example-icon-list i {
  margin-right: .5em;
  position: relative;
  top: .2em;
}

.get-started .destination {
  display: block;
  font-size: 14px;
  font-size-adjust: .5;
  font-weight: 400;
  line-height: 1.25;
  margin-top: .5em;
  max-width: 13em;
  text-transform: none;
}
