{% extends "layout.html" %}

{% block pageTitle %}
Authentication code requested (letter)
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}







    <main id="content" role="main" class="">

{% include "includes/phase_banner_beta.html" %}

    <div class="text">

    <header>
    	<h1 id="page-header" class="govuk-heading-xl"></h1>
    </header>

    <h1 class="govuk-heading-m">What would happen next</h1>
    <p>User would receive a letter instructing them to go to log back in to the service, and enter the authentication code on the Company authentication page.</p>
    <p><a href="chs-authenticate-page">Company authentication page</a></p>



  </div><!--text-->
</main>

{% endblock %}
