{% extends "layout.html" %}

{% block pageTitle %}
File company annual accounts with Companies House
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<style type="text/css">
a.button-start {
    background-image: url("/public/images/icon-pointer.png");
}</style>





    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    <a href="/chs/chs-choose-accounts-after-chs-profile-alt" style="font-size:14px; margin-top:20px; color:#DEE0E2; float:right;">alternative</a>

    <header class="text">
    	<h1 id="page-header" class="govuk-heading-xl">File company annual accounts with Companies House</h1>
    </header>
    <h2 class="govuk-heading-m">Before you start</h2>

    <p>
      You need to:
    </p>

    <ul class="govuk-list">
      <li>prepare your accounts</li>
      <li>round figures to whole numbers, with income round down and spending round up</li>
      <li>have your accounts approved by the director or board of directors</li>
    </ul>

    <p>
      Read guidance on <a href="javascript:void(0)">what your annual accounts should include</a>.
    </p>


          <p class="get-started" id="get-started">
                <a role="button" class="button button-start" href="/chs/chs-choose-accounts-after-chs-profile">Start now</a>
              </p>






</main>

{% endblock %}
