{% extends "layout-chs.html" %}

{% block page_title %}
Register with Companies House
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">
      Register with Companies House
      </h1>
    </header>

      <div class="text">
      <p>The email address you registered for WebFiling was<br>
      <span class="heading-medium">jsmith@testcompany.co.uk</span></p>

      <form action="chs-choose-password" method="get" class="form">

        <h2 class="heading-medium">
          Do you want to use the same email address for the Companies House service?
        </h2>

          <div class="form-group">

            <fieldset class="inline">

                  <legend class="visually-hidden">Do you already have a personal user account?</legend>

                  <div class="multiple-choice">
                    <input id="radio-inline-1" name="chsfromwebfiling" value="yes" type="radio">
                    <label for="radio-inline-1">Yes</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-inline-2" name="chsfromwebfiling" value="no" type="radio">
                    <label for="radio-inline-2">No</label>
                  </div>

                </fieldset>




          </div>

          <p>If you've already registered for this service, you can <a href="/chs/chs-login-page-from-gov-uk">log in</a> now</p>

          <div class="form-group">
            <input type="submit" class="button" value="Next" id="">
          </div>

          </form>
        </div><!--Text-->
        </main>




{% endblock %}
