{% extends "layout.html" %}
{% block pageTitle %}
  Your filings
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <!-- START script to display current date and time-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
      window.onload = function () {
        DisplayCurrentTime();
      };

      function DisplayCurrentTime() {
        var date = new Date();
        var hours = date.getHours() > 12
          ? date.getHours() - 12
          : date.getHours();
        var am_pm = date.getHours() >= 12
          ? "pm"
          : "am";
        hours = hours < 10
          ? "" + hours
          : hours;
        var minutes = date.getMinutes() < 10
          ? "0" + date.getMinutes()
          : date.getMinutes();
        time = hours + ":" + minutes + am_pm;
        var lblTime = document.getElementById("lblTime");
        lblTime.innerHTML = time;
      };
    </script>
    <!-- END script to display current date and time-->

    <main class="govuk-main-wrapper">

      <header class="text">
        <h1 id="page-header" class="govuk-heading-xl">Your filings</h1>
      </header>

      <p class="form-group">This is a list of company information filed by
        <strong>{{ data['chs-email'] }}</strong>
      </p>

      <div class="your-filings govuk-body">

        <div class="one-filing">

          <h2 class="govuk-heading-m">
            <a href="/chs/chs-profile-page-logged-in-cics">
              <span class="uppercase govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-padding-bottom-1">{{ data['company-name-for-testing'] }}</span></a>
            <span>Company number
              <strong>{{ data['company-number'] }}</strong></span></h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              Description<strong>Annual accounts</strong>
            </div>
            <div class="govuk-grid-column-one-third">
              Reference number<strong>
                776846-998567-228911</strong>
            </div>
            <div class="govuk-grid-column-one-third">
              Received on<strong>
                on
                <span id="day" class="govuk-!-font-weight-bold"></span>
                <span id="month" class="govuk-!-font-weight-bold"></span>
                <span id="year" class="govuk-!-font-weight-bold"></span>
                at
                <span id="lblTime"></span></strong>
            </div>
          </div>
          <!--govuk-grid-row-->

          <table id="rf_table" class="govuk-table">
            <caption class="govuk-visually-hidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header description"></th>
                <th class="govuk-table__header status">Status</th>
                <th class="govuk-table__header actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">
                  <strong>Full accounts</strong>
                  made up to 31 March 2017</td>
                <td class="govuk-table__cell ">
                  <strong class="status">Processing</strong>
                </td>
                <td class="govuk-table__cell ">
                  <a id="" href="/public/pdf/cics-sample.pdf" target="_blank">View<span class="govuk-visually-hidden">A TEST COMPANY LIMITED full accounts made up to 31 March 2017 (Opens PDF in new window)</span</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--One Filing-->

          <div class="one-filing" id="your-filings-5">

            <h2 class="govuk-heading-m">
              <a href="/chs/chs-profile-page-logged-in-cics">
                <span class="uppercase govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-padding-bottom-1">{{ data['company-name-for-testing'] }}</span></a>
              <span>Company number
                <strong>{{ data['company-number'] }}</strong></span></h2>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                Description<strong>Confirmation statement</strong>
              </div>
              <div class="govuk-grid-column-one-third">
                Reference number<strong>776574-455463-009354</strong>
              </div>
              <div class="govuk-grid-column-one-third">
                Received on<strong>23 February 2017 at 15.24pm</strong>
              </div>
            </div>
            <!--govuk-grid-row-->

            <table id="rf_table" class="govuk-table">
              <caption class="govuk-visually-hidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header description"></th>
                  <th class="govuk-table__header status">Status</th>
                  <th class="govuk-table__header actions">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell ">
                    <strong>Confirmation statement</strong>
                    made on 20 February 2017 with updates</td>
                  <td class="govuk-table__cell ">
                    <strong class="status">Accepted</strong>
                  </td>
                  <td class="govuk-table__cell ">
                    <a href="javascript:void(0)" id="">View</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!--One Filing-->

          <div class="one-filing" id="your-filings-5">

            <h2 class="govuk-heading-m">
              <a href="/chs/chs-profile-page-logged-in-cics">
                <span class="uppercase govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-padding-bottom-1">{{ data['company-name-for-testing'] }}</span></a>
              <span>Company number
                <strong>{{ data['company-number'] }}</strong></span></h2>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                Description<strong>Appointments</strong>
              </div>
              <div class="govuk-grid-column-one-third">
                Reference number<strong>667654-998973-387832</strong>
              </div>
              <div class="govuk-grid-column-one-third">
                Received on<strong>19 February 2017 at 8.01am</strong>
              </div>
            </div>
            <!--govuk-grid-row-->

            <table id="rf_table" class="govuk-table">
              <caption class="govuk-visually-hidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header description"></th>
                  <th class="govuk-table__header status">Status</th>
                  <th class="govuk-table__header actions">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell ">
                    <strong>Appointment</strong>
                    of Mr John Smith as Director on 17 February 2017
                  </td>
                  <td class="govuk-table__cell ">
                    <strong class="status">Accepted</strong>
                  </td>
                  <td class="govuk-table__cell ">
                    <a href="javascript:void(0)" id="">View</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!--One Filing-->

        </div>
        <!--your filings-->

      </main>

      <!-- START script to show date-->
      <script>
        var d = new Date();
        var months = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"
        ];
        document.getElementById("month").innerHTML = months[d.getMonth()];
        document.getElementById("day").innerHTML = d.getDate();
        document.getElementById("year").innerHTML = d.getFullYear();
        document.getElementById("hours").innerHTML = d.getHours();
        document.getElementById("minutes").innerHTML = d.getMinutes();
      </script>
      <!-- END script to show date-->
    </div>
    <!---govuk-width-container-->

  {% endblock %}