{% extends "layout-chs.html" %}

{% block page_title %}
  Choose your accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Choose your accounts</h1>
    </header>


    <div class="grid-row">

  <div class="column-one-third">
    	<h2 class="heading-medium">Abridged Accounts</h2>
      <p>Suitable if your company:</p>
      <ul class="list list-bullet">
        <li>turnover less than £10.2m</li>
        <li>balance sheet total less than £5.1m</li>
        <li>accounting date is after January 2016</li>
      </ul>
      <details style="margin:-10px 0 20px 0;">
        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        <p>Praesent nisl turpis, mollis in felis in, pharetra dapibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <p>Sed rutrum nulla sem, sit amet mattis risus pellentesque quis. Quisque sit amet ex sollicitudin, rhoncus nisi at, vehicula sem. Donec auctor non elit et aliquet. Etiam nec maximus diam, et faucibus urna. Nam euismod tortor eu nunc pellentesque dictum. Vestibulum in porta arcu. </p>
        </div>
      </details>

      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="/chs/chs-choose-abridged">File abridged accounts</a>
      </p>
  </div>

  <div class="column-one-third">
    	<h2 class="heading-medium">Abbreviated Accounts</h2>
      <p>Suitable if your company:</p>
      <ul class="list list-bullet">
        <li>turnover less than £6.5m</li>
        <li>balance sheet total less than £3.26m</li>
        <li>accounting date is before January 2016</li>
      </ul>
      <details style="margin:-10px 0 20px 0;">
        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        <p>Praesent nisl turpis, mollis in felis in, pharetra dapibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <p>Sed rutrum nulla sem, sit amet mattis risus pellentesque quis. Quisque sit amet ex sollicitudin, rhoncus nisi at, vehicula sem. Donec auctor non elit et aliquet. Etiam nec maximus diam, et faucibus urna. Nam euismod tortor eu nunc pellentesque dictum. Vestibulum in porta arcu. </p>
        </div>
      </details>
      <p class="get-started group" id="">
      <!--  <a role="button" class="button" data-transaction-slug="" rel="external" href="/chs/chs-choose-abbreviated">File abbreviated accounts</a>-->
        <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">File abbreviated accounts</a>

      </p>
  </div>

  <div class="column-one-third">
    	<h2 class="heading-medium">Dormant Company Accounts</h2>
      <p>Suitable if your company:</p>
      <ul class="list list-bullet">
        <li>has never traded</li>
      </ul>
      <details style="margin:-10px 0 20px 0;">
        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        <p>Praesent nisl turpis, mollis in felis in, pharetra dapibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <p>Sed rutrum nulla sem, sit amet mattis risus pellentesque quis. Quisque sit amet ex sollicitudin, rhoncus nisi at, vehicula sem. Donec auctor non elit et aliquet. Etiam nec maximus diam, et faucibus urna. Nam euismod tortor eu nunc pellentesque dictum. Vestibulum in porta arcu. </p>
        </div>
      </details>
      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">File dormant accounts</a>
      </p>
  </div>

</div><!--grid-row-->
    <div class="grid-row">
  <div class="column-one-third">
      <h2 class="heading-medium">Micro-entity Accounts</h2>
      <p>Suitable if your company:</p>
      <ul class="list list-bullet">
        <li>turnover less than £632,000</li>
        <li>balance sheet total less than £316,000</li>
        <li>average number of employees is less than 10</li>
      </ul>
      <details style="margin:-10px 0 20px 0;">
              <summary><span class="summary">More information</span></summary>
              <div class="panel panel-border-narrow">
              <p>Praesent nisl turpis, mollis in felis in, pharetra dapibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
              <p>Sed rutrum nulla sem, sit amet mattis risus pellentesque quis. Quisque sit amet ex sollicitudin, rhoncus nisi at, vehicula sem. Donec auctor non elit et aliquet. Etiam nec maximus diam, et faucibus urna. Nam euismod tortor eu nunc pellentesque dictum. Vestibulum in porta arcu. </p>
              </div>
            </details>
      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">File micro-entity accounts</a>
      </p>
  </div>

  <div class="column-one-third">
      <h2 class="heading-medium">Full Accounts <span class="subheading">(with abbreviated option)</span></h2>
      <p>Suitable if your company:</p>
      <ul class="list list-bullet">
        <li>aliquam sit amet purus dignissim felis</li>
        <li>mauris pellentesque metus metus</li>
        <li>nullam mattis metus ligula</li>
      </ul>
      <details style="margin:-10px 0 20px 0;">
        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        <p>Praesent nisl turpis, mollis in felis in, pharetra dapibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <p>Sed rutrum nulla sem, sit amet mattis risus pellentesque quis. Quisque sit amet ex sollicitudin, rhoncus nisi at, vehicula sem. Donec auctor non elit et aliquet. Etiam nec maximus diam, et faucibus urna. Nam euismod tortor eu nunc pellentesque dictum. Vestibulum in porta arcu. </p>
        </div>
      </details>
       <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">File full accounts</a>
      </p>
  </div>

  <div class="column-one-third">
      <h2 class="heading-medium">Full Accounts <span class="subheading">with Companies House and HMRC</span></h2>
      <p>Suitable if your company:</p>
      <ul class="list list-bullet">
        <li>cras rutrum id nulla vitae consequa</li>
        <li>morbi malesuada, odio et accumsa</li>
        <li>ut fringilla justo odio a massa</li>
      </ul>
      <details style="margin:-10px 0 20px 0;">
        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        <p>Praesent nisl turpis, mollis in felis in, pharetra dapibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <p>Sed rutrum nulla sem, sit amet mattis risus pellentesque quis. Quisque sit amet ex sollicitudin, rhoncus nisi at, vehicula sem. Donec auctor non elit et aliquet. Etiam nec maximus diam, et faucibus urna. Nam euismod tortor eu nunc pellentesque dictum. Vestibulum in porta arcu. </p>
        </div>
      </details>
        <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">File full accounts</a>
        <span class="destination" style="display:block; font-size:16px; margin-top: .5em; max-width: 13em;">on HMRC's tax service</span>

      </p>
  </div>

</div><!--grid-row-->

<div class="grid-row">

        <div class="column-one-third">
            <h2 class="heading-medium">Still not sure?</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque imperdiet tincidunt. Mauris ac venenatis erat.</p>
            <p class="get-started group" id="">
              <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">Help me choose</a>
            </p>
        </div>

</div><!--grid-row-->

</div>
</main>

{% endblock %}
