{% extends "layout-chs.html" %}

{% block page_title %}
  Your filings
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script type="text/javascript">
   window.onload = function () {
       DisplayCurrentTime();
   };
   function DisplayCurrentTime() {
       var date = new Date();
       var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();
       var am_pm = date.getHours() >= 12 ? "pm" : "am";
       hours = hours < 10 ? "" + hours : hours;
       var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
       time = hours + ":" + minutes + am_pm;
       var lblTime = document.getElementById("lblTime");
       lblTime.innerHTML = time;
   };
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">




    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}

    <nav class="content" role="navigation">
      <ul id="navigation" class="mobile-hidden">
        <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
        <li><a href="javascript:void(0)">Your details</a></li>
        <li>Your filings</li>
        <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
        <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
      </ul>
    </nav>

    <a class="link-back" href="javascript:history.back()">Back</a>


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Your filings</h1>
    </header>


    <p class="form-group">This is a list of company information filed by <strong>jsmith@testcompany.co.uk</strong></p>

    <div class="your-filings">





                <div class="one-filing">

                    <h2 class="heading-medium"><a href="/chs/chs-profile-page-logged-in-small-full">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
                    <div class="grid-row">
                      <div class="column-third">
                        Description<strong>Annual accounts</strong>
                      </div>
                      <div class="column-third">
                        Reference number<strong> 776846-998567-228911</strong>
                      </div>
                      <div class="column-third">
                        Received on<strong><span id="displayMoment"></span> at <span id="lblTime"></span></strong>
                      </div>
                    </div><!--grid-row-->


                    <table id="rf_table">
                    <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
                    <thead>
                      <tr>
                        <th class="description"></th>
                        <th class="status">Status</th>
                        <th class="actions">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>Small full accounts</strong> made up to 30 March 2017</td>
                        <td><strong class="status">Processing</strong></td>
                        <td><a id="" href="/public/pdf/small-full-accounts-sample.pdf" target="_blank">View<span class="visuallyhidden">A TEST COMPANY LIMITED Small full accounts made up to 30 March 2017 (Opens PDF in new window)</span</a></td>
                      </tr>
                    </tbody>
                  </table>

                  </div><!--One Filing-->


      </div><!--your filings-->





</main>
<script type="text/javascript">
( function()
{
// instantiate a Moment object
var NowMoment = moment().format('D MMMM YYYY');
// display value of NowMoment in #displayMoment div
var eDisplayMoment = document.getElementById('displayMoment');
eDisplayMoment.innerHTML = NowMoment;
})();
</script>
{% endblock %}
