
{% extends "layout-chs.html" %}

{% block page_title %}
  Other ways to file accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    <div class="text">

    <header>
    	<h1 id="page-header" class="heading-xlarge">Other ways to file accounts</h1>
    </header>

    <p class="lede">There are currently two other ways to file abridged company accounts to Companies House:</p>
    <h2 class="heading-medium">1. Using the Companies House-HMRC joint filing service</h2>
    <p>You’ll need to use your Government Gateway account or register if you don’t have one. This method lets you file your tax return to HMRC at the same time.</p>
    <p><a href="https://www.gov.uk/file-your-company-accounts-and-tax-return" class="button">Go to HMRC to use the joint filing accounts service<span class="visuallyhidden"> Link opens in a new tab/window<span></a></p>

    <h2 class="heading-medium">2. Using third party software</h2>
    <p>This service is open to everyone, but will mostly benefit those who file frequently - on a daily or weekly basis. The more documents you file, the more appropriate software filing is likely to be.</p>
<p><a href="https://www.gov.uk/company-filing-software/filing-annual-accounts-returns-and-tax-accounts" class="button">View list of third-party software providers<span class="visuallyhidden"> Link opens in a new tab/window<span></a></p>

    </div>

</main>

{% endblock %}
