{% extends "layout-chs.html" %}

{% block page_title %}
Choose a password
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}






    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}

{% include 'includes/error.html' %}


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">
      Choose a password
      </h1>
    </header>

<!--<p class="warning-note warning-note-large text">As this is the first time you are using this new service you will need to set a password.</p>-->


      <p>Choose a password for<br>
      <span class="heading-medium">jsmith@testcompany.co.uk</span></p>

      <form action="chs-authenticate-page" method="get" class="form">




      <div class="form-group">
        <fieldset data-required data-error="Password must be at least 8 characters, and contain at least 1 upper case letter, 1 lower case letter, 1 number and 1 symbol">
          <label class="form-label-bold" for="full-name">
            Choose a password
            <span class="form-hint">Password must be at least 8 characters and contain 1 upper case letter, 1 number and 1 symbol</span>
          </label>
          <input id="full-name" class="form-control" name="full-name" type="text">
        </fieldset>
      </div>

      <div class="form-group">
        <fieldset data-required data-error="Password is required">
          <label class="form-label-bold" for="password">
            Re-enter password
          </label>
          <input id="password" class="form-control" name="password" type="text">
        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Complete registration and sign in">
      </div>


    </form>

</main>

{% endblock %}
