{% extends "layout.html" %}

{% block pageTitle %}
  Activate your account
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <header class="text">
    	<h1 id="page-header" class="govuk-heading-xl">Activate your account </h1>
    </header>


    <div class="text">
      <p>An activation email has been sent to <strong>jsmith@testcompany.co.uk</strong>.</p>
      <p>Select the link in the email to verify the email address and activate your account.</p>
      <p>The link must be used within 24 hours or it will expire and you will need to register again.</p>
    </div>

    <p style="margin-top:100px; font-size:16px;"><a href="chs-email-registration-from-wf">link to email</a></p>
</main>

{% endblock %}
