{% extends "layout.html" %}

{% block pageTitle %}
  Filing abridged accounts using our new service
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>


    <header class="text">
      <h1 id="page-header" class="govuk-heading-xl">File abridged accounts</h1>
    </header>


    <h2 class="govuk-heading-m">Criteria</h2>
  <p>
    You can file abridged accounts here if:

  </p>

          <ul class="list list-bullet text">
            <li>your accounting period starts on or after 1 January 2016</li>
            <li>your balance sheet doesn’t include 'intangible assets', 'fixed asset investments' or 'revaluation reserve'</li>
            <li>you just need to supply an 'accounting policies' note (and, if needed, a 'tangible assets' note and/or a 'creditors - amounts falling due within one year’ note)</li>
            <li>you don't need to change the date the accounts are made up to</li>
        </ul>




            <h2 class="govuk-heading-m">Do your prepared abridged accounts meet the criteria?</h2>

      <form action="/accounts/accounts-start-page-abridged-direct" method="get" class="form">
        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Do you still want to file using the new service?</legend>

            <label class="block-label selection-button-radio" for="release1yes">
              <input id="release1yes" type="radio" name="chsrelease1" value="Yes">
              Yes my accounts meet the above criteria
            </label>
            <label class="block-label selection-button-radio" for="release1no">
              <input id="release1no" type="radio" name="chsrelease1" value="No">
              No - Show me other ways to file abridged accounts
            </label>
            <label class="block-label selection-button-radio" for="release1other">
              <input id="release1no" type="radio" name="chsrelease1" value="Other">
              No - I'll file other types of accounts
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" id="">
        </div>
      </form>




</main>

{% endblock %}
