{% extends "layout.html" %}

{% block pageTitle %}
Other document filings
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    <div class="text">

    <header>
    	<h1 id="page-header" class="govuk-heading-xl">
Other document filings
</h1>
    </header>

    <p>During the beta service development you should continue to use <a href="javascript:void(0)">WebFiling</a> to file your company information online.</p>

    <p>This includes:</p>
    <ul class="govuk-list">
      <li>confirmation statements</li>
      <li>company accounts</li>
      <li>directors and company secretaries - for example new appointments, resignations, or changes to personal details</li>
      <li>changing company name</li>
      <li>changing accounting reference date</li>
    </ul>


<h2 class="govuk-heading-m">If you haven't used the WebFiling service before</h2>
<p>You'll need to <a href="javascript:void(0)">register a password and email address</a>, then request an authentication code for your company - which is sent to your company's registered office by post, so allow plenty of time for delivery.</p>
  <p> <a href="javascript:void(0)" class="button">Go to WebFiling</a></p>

  </div>

</main>

{% endblock %}
