{% extends "layout-chs.html" %}

{% block page_title %}
  Activate your account
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>



    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Activate your account </h1>
    </header>


    <div class="text">
      <p>An activation email has been sent to <strong>user@testcompany.co.uk</strong>.</p>
      <p>Select the link in the email to verify the email address and activate your account.</p>
      <p>The link must be used within 24 hours or it will expire and you will need to register again.</p>
    </div>
</main>

{% endblock %}
