{% extends "layout-chs.html" %}

{% block page_title %}
  Company authentication
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}
<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<a id="back" class="link-back" href="javascript:history.back()">Back</a>


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Company authentication</h1>
    </header>



      <div class="form-group">
        <label class="form-label" for="auth_code">Company number</label>
        <span class="form-hint">This is the 8 character reference that uniquely identifies your company.</span>
        <details style="margin-bottom:.7em;">
          <summary><span class="summary">Not sure of your company number?</span></summary>
            <div class="panel panel-border-narrow text">
              <p>You'll find your company number on any correspondence from Companies House, or you can <a href="javascript:void(0)">search for your company on our service</a>.</p>
            </div>
          </details>
          <input type="number" class="form-control medium" maxlength="8" value="" id="auth_code" name="auth_code" autocomplete="off">

      </div>
      <div class="form-group">
        <label class="form-label" for="auth_code">Authentication code</label>
        <input type="password" class="form-control medium" maxlength="6" value="" id="auth_code" name="auth_code" autocomplete="off">
      </div>
      <div class="form-group">
        <a href="/accounts/accounts-start-page" class="button">Authenticate</a>
      </div>
      <input type="hidden" value="" id="request" name="request">

    <p class="text"><a href="javascript:void(0)" id="auth_code_request">Request an authentication code</a></p>

</main>

{% endblock %}
