{% extends "layout-chs.html" %}

{% block page_title %}
  Your filings
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">





    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}

    <nav class="content" role="navigation">
      <ul id="navigation" class="mobile-hidden">
        <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
        <li><a href="javascript:void(0)">Your details</a></li>
        <li>Your filings</li>
        <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
      </ul>
    </nav>

    <a class="link-back" href="javascript:history.back()">Back</a>


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Your filings</h1>
    </header>


    <!--<p class="form-group">This is a list of company information filed by <strong>jsmith@testcompany.co.uk</strong></p>-->

    <div class="your-filings">



      <div class="one-filing no-table" id="your-filings-1">

          <h2 class="heading-medium"><a href="chs-profile-page-logged-in-submitted">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
          <div class="grid-row">
            <div class="column-quarter column-description">
              Description<strong>Appointments</strong>
            </div>
            <div class="column-quarter column-reference">
              Reference number<strong>645362-998745-887465</strong>
            </div>

            <div class="column-quarter column-status">
              Status<strong class="status">Incomplete</strong>
            </div>

            <div class="column-quarter column-actions">
              Actions<strong><a href="javascript:void(0)" id="">Resume</a> or <a href="javascript:void(0)" id="">Delete</a></strong>
            </div>

          </div><!--grid-row-->




        </div><!--One Filing-->



        <div class="one-filing" id="your-filings-2">

          <h2 class="heading-medium"><a href="javascript:void(0)">ANOTHER COMPANY LIMITED</a><span>Company number <strong>11223344</strong></span></h2>
            <div class="grid-row">
              <div class="column-third">
                Description<strong>Confirmation statement</strong>
              </div>
              <div class="column-third">
                Reference number<strong>335467-998743-000808</strong>
              </div>


            </div><!--grid-row-->


            <table id="rf_table">
            <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
            <thead>
              <tr>
                <th class="description"></th>
                <th class="status">Status</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Please use application <strong>"Name Of Software Package"</strong> to modify this activity.</td>
                <td><strong class="status">Incomplete</strong></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          </div><!--One Filing-->








          <div class="one-filing" id="your-filings-3">

              <h2 class="heading-medium"><a href="chs-profile-page-logged-in-submitted">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
              <div class="grid-row">
                <div class="column-third">
                  Description<strong>Appointments</strong>
                </div>
                <div class="column-third">
                  Reference number<strong>776456-000808-873534</strong>
                </div>
                <div class="column-third">
                  Received on<strong>15 March 2017 at 11.11am</strong>
                </div>
              </div><!--grid-row-->


              <table id="rf_table">
              <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
              <thead>
                <tr>
                  <th class="description"></th>
                  <th class="status">Status</th>
                  <th class="actions">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Appointment</strong> of David Jones as a Director</td>
                  <td><strong class="status">Processing</strong></td>
                  <td><a href="javascript:void(0)" id="">View</a></td>
                </tr>
              </tbody>
            </table>

            </div><!--One Filing-->




          <div class="one-filing rejected" id="your-filings-4">

          <h2 class="heading-medium"><a href="javascript:void(0)">ANOTHER COMPANY WITH A VERY LONG NAME THAT GOES ACROSS MORE THAN ONE LINE LIMITED</a><span>Company number <strong>98765432</strong></span></h2>
          <div class="grid-row">
            <div class="column-third">
              Description<strong>Annual accounts</strong>
            </div>
            <div class="column-third">
              Reference number<strong>664573-998764-009876</strong>
            </div>
            <div class="column-third">
              Received on<strong>15 March 2017 at 10.45am</strong>
            </div>
          </div><!--grid-row-->

          <table id="rf_table">
          <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
          <thead>
            <tr>
              <th class="description"></th>
              <th class="status">Status</th>
              <th class="actions">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Abridged accounts</strong> made up to 31 March 2016</td>
              <td><strong class="status">Processing</strong></td>
              <td><a href="javascript:void(0)" id="">View</a></td>
            </tr>
            <tr>
              <td class="rejected-type"><strong>Abridged accounts</strong> made up to 31 March 2015
                <details>
                  <summary><span class="summary">Why was this rejected?</span></summary>
                  <div class="panel panel-border-narrow">
                    <ul class="list list-bullet font-xsmall">
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum faucibus urna lorem, sed sodales ex tincidunt vel. </li>
                      <li>Sed non ante consectetur, auctor quam maximus, bibendum tellus. Ut ac justo et mi pharetra aliquam. Pellentesque viverra tortor tortor, eu malesuada dui pulvinar eu. Donec vitae nibh id metus vulputate pretium non sed magna.</li>
                    </ul>
                  </div>
                </details>
              </td>
              <td>
                <div class="notice">
                  <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
                  <strong class="bold-small">Rejected</strong>
                </div>
              </td>
              <td><a href="javascript:void(0)" id="">Change</a></td>
            </tr>
          </tbody>
        </table>


        </div><!--One Filing-->

        <div class="one-filing" id="your-filings-5">

            <h2 class="heading-medium"><a href="chs-profile-page-logged-in-submitted">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
            <div class="grid-row">
              <div class="column-third">
                Description<strong>Annual accounts</strong>
              </div>
              <div class="column-third">
                Reference number<strong>777763-231092-999642</strong>
              </div>
              <div class="column-third">
                Received on<strong>15 March 2017 at 8.01am</strong>
              </div>
            </div><!--grid-row-->


            <table id="rf_table">
            <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
            <thead>
              <tr>
                <th class="description"></th>
                <th class="status">Status</th>
                <th class="actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Abridged accounts</strong> for the period 31 March 2016 to 31 March 2017</td>
                <td><strong class="status">Accepted</strong></td>
                <td><a href="javascript:void(0)" id="">View</a></td>
              </tr>
            </tbody>
          </table>

          </div><!--One Filing-->




        <div class="one-filing rejected" id="your-filings-6">

            <h2 class="heading-medium"><a href="javascript:void(0)">ANOTHER COMPANY LIMITED</a><span>Company number <strong>11223344</strong></span></h2>
            <div class="grid-row">
              <div class="column-third">
                Description<strong>Appointments</strong>
              </div>
              <div class="column-third">
                Reference number<strong>777763-231092-999642</strong>
              </div>
              <div class="column-third">
                Received on<strong>14 March 2017 at 11.58pm</strong>
              </div>
            </div><!--grid-row-->


            <table id="rf_table">
            <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
            <thead>
              <tr>
                <th class="description"></th>
                <th class="status">Status</th>
                <th class="actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Appointment</strong> of Bob Jones as a Director</td>
                <td>
                  <div class="notice">
                    <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
                    <strong class="bold-small">Rejected</strong>
                  </div>
                </td>
                <td><a href="javascript:void(0)" id="">Change</a></td>
              </tr>
            </tbody>
          </table>

          </div><!--One Filing-->

      </div><!--your filings-->





</main>

{% endblock %}
