{% extends "layout.html" %}

{% block pageTitle %}
  Abridged accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}

    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    <header class="text">
    <h1 id="page-header" class="govuk-heading-xl">Abridged accounts</h1>
    </header>
    <div class="text">
      <p>To file abridged accounts, your accounts must meet <strong>at least two of the following:</strong></p>
      <ul class="govuk-list">
                  <li>Turnover must not be more than £10.2 million</li>
                  <li>Balance sheet total must not be more than £5.1 million (this is the sum of the total fixed assets plus total current assets)</li>
                  <li>The average number of employees during the year must not be more than 50</li>
                </ul>
      <details class="form-group">
        <summary><span class="summary">Not sure what type of accounts you have?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Our example accounts may help you identify which type of accounts you've prepared.</p>
          <ul class="govuk-list">
            <li><a href="javascript:void(0)">Word or similar: accounts for private limited companies (88KB)</a></li>
            <li><a href="javascript:void(0)">PDF: accounts for private limited companies (24KB)</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Before you start</h2>
      <ul class="govuk-list">
        <li>The abridged accounts need to be prepared, with figures rounded to whole numbers. Round down income, and round up spending.</li>
        <li>The abridged accounts should have been approved by the director/board of directors.</li>
      </ul>

      <a role="button" class="button" href="/chs/chs-start-page">File abridged accounts</a>
    </div>
</main>

{% endblock %}
