{% extends "layout.html" %}
{% block pageTitle %}
  Which type of accounts have you prepared?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Which type of accounts have you prepared?</h1>
          <p class="lede">If you’re not sure, you may want to ask an accountant.</p>

          <form action="/cics/cics-about-service" method="get" class="form">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Which type of accounts have you prepared?</legend>
                <div class="govuk-radios" data-module="radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadioGovCics-conditional-1" name="chooseAccountsRadioGovCics" type="radio" value="Micro" data-aria-controls="conditional-chooseAccountsRadioGovCics-conditional-1">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadioGovCics-conditional-1">
                      Micro-entity accounts
                    </label>
                  </div>
                  <div class="govuk-radios__conditional" id="conditional-chooseAccountsRadioGovCics-conditional-1">
                    <div class="govuk-form-group">
                      <p>Must meet at least 2 of the following:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Turnover is no more than £632,000</li>
                        <li>Balance sheet total is no more than £316,000</li>
                        <li>Average number of employees is no more than 10</li>
                      </ul>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadioGovCics-conditional-2" name="chooseAccountsRadioGovCics" type="radio" value="Abridged" data-aria-controls="conditional-chooseAccountsRadioGovCics-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadioGovCics-conditional-2">
                      Abridged accounts
                    </label>
                  </div>
                  <div class="govuk-radios__conditional" id="conditional-chooseAccountsRadioGovCics-conditional-2">
                    <div class="govuk-form-group">
                      <p>Must meet at least 2 of the following:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Turnover is no more than £10.2 million</li>
                        <li>Balance sheet total is no more than £5.1 million</li>
                        <li>Average number of employees is no more than 50</li>
                      </ul>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadioGovCics-conditional-3" name="chooseAccountsRadioGovCics" type="radio" value="FullCH" data-aria-controls="conditional-chooseAccountsRadioGovCics-conditional-3">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadioGovCics-conditional-3">
                      Full accounts (with Companies House only)
                    </label>
                  </div>
                  <div class="govuk-radios__conditional" id="conditional-chooseAccountsRadioGovCics-conditional-3">
                    <div class="govuk-form-group">
                      <p>Must meet at least 2 of the following:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Turnover is no more than £10.2 million</li>
                        <li>Balance sheet total is no more than £5.1 million</li>
                        <li>Average number of employees is no more than 50</li>
                      </ul>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadioGovCics-conditional-4" name="chooseAccountsRadioGovCics" type="radio" value="FullJoint" data-aria-controls="conditional-chooseAccountsRadioGovCics-conditional-4">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadioGovCics-conditional-4">
                      Full accounts (with Companies House and HMRC)
                    </label>
                  </div>
                  <div class="govuk-radios__conditional" id="conditional-chooseAccountsRadioGovCics-conditional-4">
                    <div class="govuk-form-group">
                      <p>These joint accounts are suitable for small audit exempt full accounts to both Companies House and HMRC.</p>
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadioGovCics-conditional-5" name="chooseAccountsRadioGovCics" type="radio" value="Dormant" data-aria-controls="conditional-chooseAccountsRadioGovCics-conditional-5">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadioGovCics-conditional-5">
                      Dormant company accounts
                    </label>
                  </div>
                  <div class="govuk-radios__conditional" id="conditional-chooseAccountsRadioGovCics-conditional-5">
                    <div class="govuk-form-group">
                      <p>These accounts are suitable for companies limited by shares or by guarantee that have never traded.</p>
                    </div>
                  </div>

                </fieldset>
              </div>

              <div class="form-group">
                <input type="submit" class="govuk-button" value="Continue">
              </div>

            </form>
            <!--<p>Are you filing for a <a href="/gov-uk/gov-uk-start-page-cics">Community Interest Company</a>?</p>-->

            <p>Looking to file
              <a href="https://ch-accounts-v20.herokuapp.com/webfiling/webfiling-login-page-chs-search">abbreviated accounts</a>?
            </p>

          </div>
          <!--govuk-grid-row-->
        </div>
        <!--govuk-grid-column-two-thirds-->

      </main>
    </div>
    <!---govuk-width-container-->

  {% endblock %}