{% extends "layout-chs.html" %}

{% block page_title %}
  Which type of accounts have you prepared?
{% endblock %}



{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Which type of accounts have you prepared?</h1>
    </header>
    <p class="lede">If you’re not sure, you may want to ask an accountant.</p>




    <div class="grid-row">

        <div class="column-half">
          	<h2 class="heading-medium">Micro-entity accounts</h2>
            Must meet at least 2 of the following:
            <ul class="list list-bullet">
              <li>Turnover is no more than £632,000</li>
              <li>Balance sheet total is no more than £316,000</li>
              <li>Average number of employees is no more than 10</li>
            </ul>
            <p class="get-started group" id="">
              <a role="button" class="button" data-transaction-slug="" rel="external" href="/accounts/accounts-start-page-micros">File micro-entity accounts</a>
              <span class="destination" style="display:block; font-size:16px; margin-top: 0; max-width: 13em;">on the WebFiling service</span>
            </p>
        </div>

      <!--  <div class="column-half">
            <h2 class="heading-medium">Abbreviated accounts</h2>
            Must meet at least 2 of the following:
            <ul class="list list-bullet">
              <li>Turnover is no more than £6.5 million</li>
              <li>Balance sheet total is no more than £3.26 million</li>
              <li>Average number of employees is no more than 50</li>
            </ul>
            <p class="heading-small">Only suitable if your accounting period ends on or before 31 December 2015</p>

            <p class="get-started group" id="">
              <a role="button" class="button" data-transaction-slug="" rel="external" href="/accounts/accounts-start-page-abbreviated">File abbreviated accounts</a>
              <span class="destination" style="display:block; font-size:16px; margin-top: 0; max-width: 13em;">on the WebFiling service</span>
            </p>
        </div>-->

        <div class="column-half">
          	<h2 class="heading-medium">Abridged accounts</h2>
            Must meet at least 2 of the following:
            <ul class="list list-bullet">
              <li>Turnover is no more than £10.2 million</li>
              <li>Balance sheet total is no more than £5.1 million</li>
              <li>Average number of employees is no more than 50</li>
            </ul>
             <p class="get-started group" id="">
              <a role="button" class="button" data-transaction-slug="" rel="external" href="/accounts/accounts-start-page">File abridged accounts</a>
              <span class="destination" style="display:block; font-size:16px; margin-top: 0; max-width: 13em;">on the Companies House service</span>
            </p>
        </div>

      </div>


        <div class="grid-row">


        <div class="column-half">
            <h2 class="heading-medium">Full accounts <span class="subheading">with Companies House and HMRC</span></h2>
            <p>These joint accounts are suitable for small audit exempt full accounts to both Companies House and HMRC.</p>
            <p class="get-started group" id="">
              <a role="button" class="button" data-transaction-slug="" rel="external" href="https://www.gov.uk/file-your-company-accounts-and-tax-return">File full accounts</a>
              <span class="destination" style="display:block; font-size:16px; margin-top: 0; max-width: 13em;">on HMRC's tax service</span>

            </p>
        </div>

        <div class="column-half">
            <h2 class="heading-medium">Dormant company accounts</h2>
            <p>These accounts are suitable for companies limited by shares or by guarantee that have never traded.</p>
            <p class="get-started group" id="">
             <a role="button" class="button" data-transaction-slug="" rel="external" href="/accounts/accounts-start-page-dormant">File dormant accounts</a>
             <span class="destination" style="display:block; font-size:16px; margin-top: 0; max-width: 13em;">on the WebFiling service</span>
           </p>
        </div>

    </div>

    <br />
        <p>Looking to file <a href="/webfiling/webfiling-login-page-chs-search">abbreviated accounts</a>?</p>




</main>

{% endblock %}
