{% extends "layout.html" %}

{% block pageTitle %}
  Paper just doesn't addup for accounts...
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <header class="text">
    	<h1 id="page-header" class="govuk-heading-xl">Paper just doesn't addup for accounts...</h1>
    </header>


      <div class="grid-row">

      <div class="column-two-thirds">
      <h2 class="heading-large" style="margin-top:0;">We now offer a new improved WebFiling option to file your abbreviated accounts with us</h2>

      <p>Switch to online filing of accounts and save time and money every time you file. It's quick and easy, and you'll soon start reaping the benefits of reduced admin, stationery and postage costs for every single submission.</p>
      <p><a href="/gov-uk/gov-uk-start-page" class="button">file your accounts here</a></p>
      <h2 class="govuk-heading-m">WebFiling offers...</h2>
      <p>Web screens with in-built checks that will help you get your accounts right first time. The chances of having your accounts rejected are then significantly reduced.</p>
      <h2 class="govuk-heading-m">WebFiling gives...</h2>
      <p>Peace of mind that your accounts will reach us without delay. You’ll know we’ve received them as we email an acknowledgement straight away.</p>
      <p><a href="javascript:void(0)">Watch a demo video of accounts</a></p>
      <h2 class="govuk-heading-m">Key Once Use Twice</h2>
      <p>File <a href="javascript:void(0)">via HMRC and submit to Companies House at the same time</a>. This service is suitable for small companies with straightforward circumstances.</p>
      <h2 class="govuk-heading-m">Software Filing</h2>
      <p>Some commercially available software packages allow you to file accounts data directly to Companies House.</p>
      <p>The Software Filing service is open to everyone but will be of most benefit if you are a high-volume filer and file documents on a daily or weekly basis.</p>

      <h2 class="govuk-heading-m">Frequently asked questions</h2>
      <p>Must the company deliver the accounts each year?<br>
      <span class="govuk-hint">Yes, regardless of whether or not it has traded during the period.</span></p>
      <p>What will happen if the deadline is missed?<br>
      <span class="govuk-hint">Accounts received late automatically incur a financial penalty; the amount will depend on the period of delay.</span></p>
      <p>What can I do if my company can’t meet the deadline?<br>
      <span class="govuk-hint">In exceptional circumstances you can apply for an extension.</span></p>
      <p>I no longer need the company. What must I do?<br>
      <span class="govuk-hint">You may be able to apply to remove the company from the Register.</span></p>
      <p>Can all companies file accounts online?<br>
      <span class="govuk-hint">Limited Liability Partnerships and Community Interest Companies cannot currently file accounts online. For all other company types, please check the online accounts exceptions.</span></p>
      </div>

      <div class="column-one-third">
        <img src="/public/images/calculator.jpg">
        <h2 class="govuk-heading-m">Advantages of filing online</h2>
        <ul class="govuk-list">
          <li>On-screen checks to help you avoid errors</li>
          <li>Direct from your computer so you save time and postage</li>
          <li>Send your information safely and securely</li>
          <li>Be certain your information will reach us</li>
          <li>Get an automatic acknowledgement</li>
        </ul>
        <p><a href="javascript:void(0)">Watch our video demos</a></p>
        <h2 class="govuk-heading-m">Find out how accountants are filing online</h2>
        <p><img src="/public/images/accountant.jpg" style="float:right; padding:0 0 10px 20px;">We've spoken to accountancy firms and other intermediaries from across the UK that have already switched to online filing of dormant and abbreviated accounts.</p>
        <p>Here's how they managed to change their business processes, and what they have to say:</p>
        <p><a href="javascript:void(0)">Read on about the benefits of WebFiling</a></p>
        <h2 class="govuk-heading-m">See how accountants software file iXBRL with Companies House</h2>
        <p><a href="javascript:void(0)">Watch our case studies</a></p>
      </div>

    </div>

</main>

{% endblock %}
