{% extends "layout-chs.html" %}

{% block page_title %}
  Sign in to Companies House
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function () {
  $("#choose-password").keyup(function () {
    if ($('#choose-password').val().indexOf('pa55w0rd') >= 0)  {
      $('#webfiling-password').css("display", "block"),
      $('#webfiling-password-summary').css("display", "block"),
      $('#choose-password').css("border-color", "#B10E1E");
      $('#choose-password').css("border-width", "3px");
    }
    else {
      $('#webfiling-password').css("display", "none");
      $('#webfiling-password-summary').css("display", "none");
      $('#choose-password').css("border-color", "#000000");
      $('#choose-password').css("border-width", "2px");
    }
  });
});
</script>





    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}

<div class="error-summary" id="webfiling-password-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="display:none;">

      <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        Sign in failed
      </h1>
      <p>WebFiling and WebCheck users will need to <a class="button-link" id="register" href="chs-register-page">register</a> for this service</p>

      <ul class="error-summary-list">
        <li><a href="#password">Invalid email address or password, 4 attempts remain.</a></li>
      </ul>

</div>

    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Sign in to Companies House</h1>
    </header>

<!--<p class="warning-note warning-note-large text">Your existing WebFiling or WebCheck password will not work with this service, you will need to <a href="chs-register-page">register</a>.</p>-->

    <form method="POST" action="/oauth2/user/signin" class="form " name="signin">
      <fieldset>
        <legend class="visuallyhidden">Sign in details</legend>

        <div class="form-group ">
          <label class="form-label" for="signin_email">Email address</label>
          <input type="email" class="form-control" autocomplete="off" value="" id="signin_email" name="signin_email">
        </div>

        <div class="form-group">
          <label class="form-label" for="choose-password">Password</label>
          <span class="error-message" id="webfiling-password" style="display:none;  margin:0 0 0.7em;">Invalid email address or password, 4 attempts remain.</span>
          <input type="password" class="form-control password" value="" id="choose-password" name="password" autocomplete="off">
        </div>

        <div class="form-group">
          <a href="/chs/chs-authenticate-page-search" class="button" id="submit">Sign in</a>
        </div>

        <div class="form-group">
          <p class="action-link"><a class="button-link" id="register" href="javascript:void(0)">Register</a></p>
          <input type="hidden" value="" id="request" name="request">
          <p><a id="forgotten_password" href="javascript:void(0)">Forgotten your password?</a></p>
        </div>

      </fieldset>
    </form>

</main>

{% endblock %}
