{% extends "layout-chs.html" %}

{% block page_title %}
  Abbreviated accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    <header class="text">
    <h1 id="page-header" class="heading-xlarge">Abbreviated accounts</h1>
    </header>
    <div class="text">
      <p>Make sure in the accounting period the company meets two of the following:</p>
      <ul class="list list-bullet">
        <li>the company <a href="javascript:void(0)">qualifies as a small company</a></li>
        <li>annual turnover is not more than £6.5 million</li>
        <li>the balance sheet total is not more than £3.26 million</li>
      </ul>
      <p>Please <a href="javascript:void(0)">check the exclusions</a> to ensure your company is able to file audit exempt abbreviated accounts.</p>
      <details class="form-group">
        <summary><span class="summary">Not sure what type of accounts you have?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Our example accounts may help you identify which type of accounts you've prepared.</p>
          <ul class="list list-bullet">
            <li><a href="javascript:void(0)">Word or similar: accounts for private limited companies (88KB)</a></li>
            <li><a href="javascript:void(0)">PDF: accounts for private limited companies (24KB)</a></li>
          </ul>
        </div>
      </details>
      <a role="button" class="button" href="/webfiling/webfiling-login-page">File abbreviated accounts</a>
    </div>
</main>

{% endblock %}
