{% extends "layout-chs.html" %}

{% block page_title %}
  You're nearly ready to start filling in your accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    <div class="text">
    <header>
    	<h1 id="page-header" class="heading-xlarge">You're nearly ready to start filing in your accounts</h1>
    </header>


    <p class="lede">These are the accounts types you are eligible to file.</p>

      <div class="panel panel-border-wide">
        <p>You should choose the filing type that matches the accounts you’ve prepared.</p>
      </div>


        <form action="/cato-style/cato-style-start-page-abridged-no-eligibility" method="get" class="form">


        <div class="form-group">
            <fieldset>

              <legend class="visually-hidden">Which type of accounts do you want to file?</legend>
              <label class="block-label" for="choose-micro">
                <input id="choose-micro" type="radio" name="choosetypeaccounts" value="micro">
                <span class="heading-small">Micro-entity accounts</span><br>
                 Shorter balance sheet, and optional footnotes
              </label>
              <label class="block-label" for="choose-abridged">
                <input id="choose-abridged" type="radio" name="choosetypeaccounts" value="abridged">
                <span class="heading-small">Abridged accounts</span><br>
                 Balance sheet and less detailed notes
              </label>
    
              <label class="block-label" for="choose-filleted-full">
                <input id="choose-filleted-full" type="radio" name="choosetypeaccounts" value="filleted">
                <span class="heading-small">Filleted-full accounts</span><br>
                 Balance sheet and more detailed notes
              </label>
              </label>
              <label class="block-label" for="choose-full-ch-hmrc">
                <input id="choose-full-ch-hmrc" type="radio" name="choosetypeaccounts" value="fullchhmrc">
                <span class="heading-small">Full accounts<br>(for filing with both Companies House and HMRC)</span><br>
                 Balance sheet, profit and loss, directors' report and detailed notes
              </label>
            </fieldset>
          </div>




      <div class="form-group">
        <input type="submit" class="button" value="Next" id="choose-accounts-button">
      </div>

      </form>
    </div><!--text-->

</main>

{% endblock %}
