{% extends "layout-chs.html" %}

{% block page_title %}
  Company selection
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Company selection</h1>
    </header>


    <h2 class="heading-medium">Where was the company registered?</h2>

    <form>
      <div class="form-group">
        <fieldset>

          <legend class="visually-hidden">Where was the company registered?</legend>

            <label for="radio-1" class="block-label selection-button-radio">
              <input id="radio-1" type="radio" name="radio-group" value="England/Wales">
England/Wales</label>



            <label for="radio-2" class="block-label selection-button-radio">
            <input id="radio-2" type="radio" name="radio-group" value="Scotland">Scotland</label>


            <label for="radio-3" class="block-label selection-button-radio">
              <input id="radio-3" type="radio" name="radio-group" value="Northern Ireland">
              Northern Ireland</label>


        </fieldset>
      </div>



      <div class="form-group">
        <p><label class="heading-medium" for="co-num">What is the company number?</label></p>
        <input type="password" class="form-control medium" maxlength="6" value="" id="co-num" name="co-num" autocomplete="off">

      </div>
      <div class="form-group">
        <a href="/chs/chs-authenticate-page-from-WF" class="button">Next</a>
      </div>
      <input type="hidden" value="" id="request" name="request">
    </form>


</main>

{% endblock %}
