{% extends "layout-chs.html" %}

{% block page_title %}
  Choose your accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Choose your accounts</h1>
    </header>


    <div class="grid-row">

  <div class="column-one-third">
    	<h2 class="heading-medium">Abridged Accounts</h2>
      <p>These audit exempt accounts are suitable for companies to input figures from already prepared and approved abridged accounts.</p>
      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="/chs/chs-choose-abridged">File abridged accounts</a>
      </p>
  </div>

  <div class="column-one-third">
    	<h2 class="heading-medium">Abbreviated Accounts</h2>
      <p>These audit exempt accounts are suitable for companies to input abbreviated figures from their already prepared and approved full accounts.</p>
      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="/chs/chs-choose-abbreviated">File abbreviated accounts</a>
      </p>
  </div>

  <div class="column-one-third">
    	<h2 class="heading-medium">Dormant Company Accounts</h2>
      <p>These accounts are suitable for companies limited by shares or by guarantee that have never traded.</p>
      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">File dormant accounts</a>
      </p>
  </div>

</div><!--grid-row-->
    <div class="grid-row">
  <div class="column-one-third">
      <h2 class="heading-medium">Micro-entity Accounts</h2>
      <p>These audit exempt accounts are suitable for companies that fall within <a href="javascript:void(0)">the micro-entity definition</a>.</p>
      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">File micro-entity accounts</a>
      </p>
  </div>

  <div class="column-one-third">
      <h2 class="heading-medium">Full Accounts <span class="subheading">(with abbreviated option)</span></h2>
      <p>These accounts are suitable for full accounts figures, from which the abbreviated figures are extracted for Companies House.</p>
      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="javascript:void(0)">File full accounts</a>
      </p>
  </div>

  <div class="column-one-third">
      <h2 class="heading-medium">Full Accounts <span class="subheading">with Companies House and HMRC</span></h2>
      <p>These joint accounts are suitable for small audit exempt full accounts to both Companies House and HMRC</p>
      <p class="get-started group" id="">
        <a role="button" class="button" data-transaction-slug="" rel="external" href="https://www.gov.uk/file-your-company-accounts-and-tax-return">File full accounts</a>
        <span class="destination" style="display:block; font-size:16px; margin-top: .5em; max-width: 13em;">on HMRC's tax service</span>

      </p>
  </div>

</div>
</main>

{% endblock %}
