{% extends "layout-chs.html" %}

{% block page_title %}
  Your filings
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">






    <main id="content" role="main" class="search">

      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <nav class="content" role="navigation">
      <ul id="navigation" class="mobile-hidden">
        <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
        <li><a href="javascript:void(0)">Your details</a></li>
        <li>Your filings</li>
        <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
      </ul>
    </nav>

    <a class="link-back" href="/accounts/accounts-submission">Back</a>


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Your filings</h1>
    </header>


    <p class="form-group">This is a list of company information filed by <strong>user@testcompany.co.uk</strong> within the last 30 days.</p>

    <div class="your-filings">

      <div class="one-filing">

          <div class="grid-row">
            <div class="column-two-thirds">
              <h2 class="bold-medium"><span>Abridged accounts</span> made up to 31 March 2016</h2>
            </div>
            <div class="column-third status incomplete">
              <strong>Incomplete</strong>
            </div>
          </div>

          <div class="grid-row">

            <div class="column-one-quarter your-filings-company">
              <p>Company<strong>A TEST COMPANY LIMITED (01234567)</strong></p>
            </div>

            <div class="column-one-quarter your-filings-received">
              <p>Received<strong>12:33pm on 16 February 2017</strong></p>
            </div>

            <div class="column-one-quarter your-filings-number">
              <p>Submission number<strong>1234-5678-9012-3456-7890</strong></p>
            </div>

            <div class="column-one-quarter your-filings-actions">
              Action(s)
              <strong>
                <a href="javascript:void(0)" id="viewSubmission00">Resume</a>
                <a href="javascript:void(0)" id="viewSubmission00">Delete</a>
              </strong>
            </div>

          </div>

        </div><!--One Filing-->

        <div class="one-filing">

          <div class="grid-row">
            <div class="column-two-thirds">
              <h2 class="bold-medium"> <span>Confirmation statement</span> made on 1 February 2017 with updates</h2>
            </div>
            <div class="column-third status accepted">
              <strong>Accepted</strong>
            </div>
          </div>

          <div class="grid-row">

            <div class="column-one-quarter your-filings-company">
              <p>Company<strong>ACME WIDGETS LIMITED (08765678)</strong></p>
            </div>

            <div class="column-one-quarter your-filings-received">
              <p>Received<strong>15:08pm on 12 February 2017</strong></p>
            </div>

            <div class="column-one-quarter your-filings-number">
              <p>Submission number<strong>4456-3456-9999-0089-0987</strong></p>
            </div>

            <div class="column-one-quarter your-filings-actions">
              Action(s)
              <strong>
                <a href="javascript:void(0)" id="viewSubmission00">View</a>
              </strong>
            </div>

          </div>

        </div><!--One Filing-->

        <div class="one-filing">

          <div class="grid-row">
            <div class="column-two-thirds">
              <h2 class="bold-medium"><span>Termination of appointment</span> of Jane Miranda Richardson as a director on 31 August 2015</h2>
            </div>
            <div class="column-third status processing">
              <strong>Processing</strong>
            </div>
          </div>

          <div class="grid-row">

            <div class="column-one-quarter your-filings-company">
              <p>Company<strong>A TEST COMPANY LIMITED (01234567)</strong></p>
            </div>

            <div class="column-one-quarter your-filings-received">
              <p>Received<strong>12:33pm on 16 February 2017</strong></p>
            </div>

            <div class="column-one-quarter your-filings-number">
              <p>Submission number<strong>1234-5678-9012-3456-7890</strong></p>
            </div>

            <div class="column-one-quarter your-filings-actions">
              Action(s)
              <strong>
                <a href="javascript:void(0)" id="viewSubmission00">View</a>
                <a href="javascript:void(0)" id="viewSubmission00">Repay</a>
              </strong>
            </div>

          </div>

        </div><!--One Filing-->



      <div class="one-filing">

        <div class="grid-row">
          <div class="column-two-thirds">
            <h2 class="bold-medium"><span>Appointment</span> of David Smith as a director on 23 January 2017</h2>
          </div>
          <div class="column-third status rejected">
            <strong>Rejected</strong>
          </div>
        </div>

        <div class="grid-row">

          <div class="column-one-quarter your-filings-company">
            <p>Company<strong>ACME WIDGETS LIMITED (08765678)</strong></p>
          </div>

          <div class="column-one-quarter your-filings-received">
            <p>Received<strong>7:59am on 3 February 2017</strong></p>
          </div>

          <div class="column-one-quarter your-filings-number">
            <p>Submission number<strong>9987-0980-3342-5564-7785</strong></p>
          </div>

          <div class="column-one-quarter your-filings-actions">
            Action(s)
            <strong>
              <a href="javascript:void(0)" id="viewSubmission00">View</a>
              <a href="javascript:void(0)" id="viewSubmission00">Resubmit</a>
            </strong>
          </div>

        </div>

      </div><!--One Filing-->



      </div><!--your filings-->




</main>

{% endblock %}
