{% extends "layout-chs.html" %}

{% block page_title %}
  A TEST COMPANY LIMITED - Overview (free company information from Companies House)
{% endblock %}



{% block content %}








  <main id="content" role="main" class="profile">

  {% include "includes/phase_banner_beta.html" %}
  <a id="back" class="link-back" href="javascript:history.back()">Back</a>
  <div class="text">

  <h1 class="heading-xlarge">Filing accounts for A TEST COMPANY LIMITED</h1>
      <p>Company number <strong>01234567</strong></p>
    <p>Registered office address <strong>1 Any Street, Cardiff, Wales, CF12 3AB </strong></p>
  <div class="panel panel-border-wide">
    <p>Next accounts made up to <strong>31 March 2017</strong><br />due by <strong>31 December 2017</strong>  </p>
    <p>Last accounts made up to <strong>31 March 2016</strong></p>
  </div>
    <p class="heading-medium">You can't file abridged accounts for this company.</p>
    <p>You can either <a href="/chs/chs-choose-accounts">choose a different type of accounts to file</a>
      <br />or <a href="javascript:history.back()">file accounts for a different company</a>.</p>
    <a href="/chs/chs-confirm-company-alternative-chs-search-not-yet" style="font-size:14px; margin-top:20px; color:#DEE0E2; float:right;">Not yet</a>
    <a href="/chs/chs-confirm-company-alternative-chs-search-2" style="font-size:14px; margin-top:20px; color:#DEE0E2; float:right; margin-right:20px; display:inline-block;">Yes</a>

  </div>
  </main>


{% endblock %}
