{% extends "layout-chs.html" %}

{% block page_title %}
Choose a password
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function () {
  $("#choose-password").keyup(function () {
    if ($('#choose-password').val().indexOf('pa55w0rd') >= 0)  {
      $('#webfiling-password').css("display", "block"),
      $('#webfiling-password-summary').css("display", "block"),
      $('#choose-password').css("border-color", "#B10E1E");
      $('#choose-password').css("border-width", "3px");
    }
    else {
      $('#webfiling-password').css("display", "none");
      $('#webfiling-password-summary').css("display", "none");
      $('#choose-password').css("border-color", "#000000");
      $('#choose-password').css("border-width", "2px");
    }
  });
});
</script>




    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}

{% include 'includes/error.html' %}

<div class="error-summary" role="group"  id="webfiling-password-summary" style="display:none;">
  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    There's been a problem
  </h1>

  <p>
    Check the following:
  </p>

  <ul class="error-summary-list">
  <li><a href="#choose-password">The password you’ve entered isn’t strong enough</a></li>
</ul>
</div>

    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">
      Choose a password
      </h1>
    </header>

<!--<p class="warning-note warning-note-large text">As this is the first time you are using this new service you will need to set a password.</p>-->


      <p>Choose a password for<br>
      <span class="heading-medium">jsmith@testcompany.co.uk</span></p>

      <form action="chs-authenticate-page-from-wf" method="get" class="form">




      <div class="form-group">
        <fieldset data-required data-error="Password must be at least 8 characters, and contain at least 1 upper case letter, 1 lower case letter, 1 number and 1 symbol">
          <label class="form-label-bold" for="choose-password">
            Choose a password
            <span class="form-hint">Password must be at least 8 characters and contain 1 upper case letter, 1 number and 1 symbol.</span>
            <span class="form-hint">If you try to use your Webfiling password, it may not meet these requirements.</span>
            <span id="webfiling-password" class="error-message" style="display:none;  margin:0 0 0.7em;">Your password must be at least 8 characters, and contain at least 1 upper case letter, 1 number and 1 symbol. If you’re trying to use your Webfiling password, it may not meet these requirements.</span>
          </label>
          <input id="choose-password" class="form-control" name="choose-password" type="password">
        </fieldset>
      </div>

      <div class="form-group">
        <fieldset data-required data-error="Password is required">
          <label class="form-label-bold" for="confirm-password">
            Re-enter password
          </label>
          <input id="confirm-password" class="form-control" name="confirm-password" type="password">
        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Complete registration and sign in">
      </div>


    </form>

</main>

{% endblock %}
