{% extends "layout.html" %}

{% block pageTitle %}
  Your filings
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
          $("a.PDF").addClass("hidden");
          $("a.pop").removeClass("hidden");

  });
</script>
<script>
function openWin() {
    window.open("/public/pdf/abridged-accounts-sample.pdf","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=900, height=500, top=500, left=200");
}
</script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>






    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}

    <nav class="content" role="navigation">
      <ul id="navigation" class="mobile-hidden">
        <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
        <li><a href="javascript:void(0)">Your details</a></li>
        <li>Your filings</li>
        <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
        <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
      </ul>
    </nav>

    <a class="link-back" href="javascript:history.back()">Back</a>


    <header class="text">
    	<h1 id="page-header" class="govuk-heading-xl">Your filings</h1>
    </header>


    <p class="form-group">This is a list of company information filed by <strong>jsmith@testcompany.co.uk</strong></p>

    <div class="your-filings">





                <div class="one-filing">

                    <h2 class="govuk-heading-m"><a href="chs-profile-page-logged-in-submitted">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
                    <div class="grid-row">
                      <div class="column-third">
                        Description<strong>Annual accounts</strong>
                      </div>
                      <div class="column-third">
                        Reference number<strong> 776846-998567-228911</strong>
                      </div>
                      <div class="column-third">

                      </div>
                    </div><!--grid-row-->


                    <table id="rf_table">
                    <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
                    <thead>
                      <tr>
                        <th class="description"></th>
                        <th class="status">Status</th>
                        <th class="actions">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>Abridged accounts</strong> made up to 31 March 2017</td>
                        <td><strong class="status">Incomplete</strong></td>
                        <td><a href="/accounts/accounts-balance-sheet-completed" id="">Resume</a> <!--or <a href="javascript:void(0)" id="content-delete">Delete</a>--></td>

                      </tr>
                      <tr>
                        <div id="content-delete-warning"  style="display: none;">
                          <div class="error-summary" id="delete-summary">
                            <p><strong>Are you sure you want to delete 'Abridged accounts made up to 31 March 2017'?</strong></p>
                             <p>
                               <a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> turnover policy</span></a>
                               <a class="button no-delete" href="javascript:void(0)">No, keep<span class="visuallyhidden"> turnover policy</span></a>
                             </p>
                          </div><!--delete-summary-->
                        </div><!--content-delete-warning-->
                      </tr>
                    </tbody>
                  </table>

                  </div><!--One Filing-->

                  <div class="one-filing" id="your-filings-5">

                      <h2 class="govuk-heading-m"><a href="chs-profile-page-logged-in-submitted">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
                      <div class="grid-row">
                        <div class="column-third">
                          Description<strong>Appointments</strong>
                        </div>
                        <div class="column-third">
                          Reference number<strong>667654-998973-387832</strong>
                        </div>
                        <div class="column-third">
                          Received on<strong>19 February 2017 at 8.01am</strong>
                        </div>
                      </div><!--grid-row-->


                      <table id="rf_table">
                      <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
                      <thead>
                        <tr>
                          <th class="description"></th>
                          <th class="status">Status</th>
                          <th class="actions">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><strong>Director's details changed</strong>  for Mr John Smith on 17 February 2017 </td>
                          <td><strong class="status">Accepted</strong></td>
                          <td><a href="javascript:void(0)" id="">View</a></td>
                        </tr>
                      </tbody>
                    </table>

                    </div><!--One Filing-->


                      <div class="one-filing" id="your-filings-5">

                          <h2 class="govuk-heading-m"><a href="chs-profile-page-logged-in-submitted">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
                          <div class="grid-row">
                            <div class="column-third">
                              Description<strong>Confirmation statement</strong>
                            </div>
                            <div class="column-third">
                              Reference number<strong>776574-455463-009354</strong>
                            </div>
                            <div class="column-third">
                              Received on<strong>2 February 2017 at 8.01am</strong>
                            </div>
                          </div><!--grid-row-->


                          <table id="rf_table">
                          <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
                          <thead>
                            <tr>
                              <th class="description"></th>
                              <th class="status">Status</th>
                              <th class="actions">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><strong>Confirmation statement</strong> made on 1 February 2017 with updates</td>
                              <td><strong class="status">Accepted</strong></td>
                              <td><a href="javascript:void(0)" id="">View</a></td>
                            </tr>
                          </tbody>
                        </table>

                        </div><!--One Filing-->


                                            <div class="one-filing" id="your-filings-5">

                                                <h2 class="govuk-heading-m"><a href="chs-profile-page-logged-in-submitted">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
                                                <div class="grid-row">
                                                  <div class="column-third">
                                                    Description<strong>Annual accounts</strong>
                                                  </div>
                                                  <div class="column-third">
                                                    Reference number<strong>777763-231092-999642</strong>
                                                  </div>
                                                  <div class="column-third">
                                                    Received on<strong>15 April 2016 at 8.01am</strong>
                                                  </div>
                                                </div><!--grid-row-->


                                                <table id="rf_table">
                                                <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
                                                <thead>
                                                  <tr>
                                                    <th class="description"></th>
                                                    <th class="status">Status</th>
                                                    <th class="actions">Actions</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td><strong>Total exemption small company accounts</strong> made up to 31 March 2016</td>
                                                    <td><strong class="status">Accepted</strong></td>
                                                    <td><a href="javascript:void(0)" id="">View</a></td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                              </div><!--One Filing-->


                        <div class="one-filing" id="your-filings-5">

                            <h2 class="govuk-heading-m"><a href="chs-profile-page-logged-in-submitted">A TEST COMPANY LIMITED</a><span>Company number <strong>01234567</strong></span></h2>
                            <div class="grid-row">
                              <div class="column-third">
                                Description<strong>Incorporation</strong>
                              </div>
                              <div class="column-third">
                                Reference number<strong>888765-224567-000909</strong>
                              </div>
                              <div class="column-third">
                                Received on<strong>15 January 2015 at 8.01am</strong>
                              </div>
                            </div><!--grid-row-->


                            <table id="rf_table">
                            <caption class="visuallyhidden">This is a list of company information filed by jsmith@testcompany.co.uk</caption>
                            <thead>
                              <tr>
                                <th class="description"></th>
                                <th class="status">Status</th>
                                <th class="actions">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><strong>Statement of capital</strong></td>
                                <td><strong class="status">Accepted</strong></td>
                                <td><a href="javascript:void(0)" id="">View</a></td>
                              </tr>
                            </tbody>
                          </table>

                          </div><!--One Filing-->


      </div><!--your filings-->





</main>
<script type="text/javascript">
( function()
{
// instantiate a Moment object
var NowMoment = moment().format('D MMMM YYYY');
// display value of NowMoment in #displayMoment div
var eDisplayMoment = document.getElementById('displayMoment');
eDisplayMoment.innerHTML = NowMoment;
})();
</script>
{% endblock %}
