{% extends "layout-chs.html" %}

{% block page_title %}
  Which type of accounts have you prepared?
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style type="text/css">
.bubble {
  display:inline;
  background-color: #f47738;
  color:white;
  padding:0.2em .5em;
  border-radius: 15px;
  font-weight:normal;
  font-size:0.7em;
  position:relative;
  left:.5em;
  top:-0.1em;

}
</style>





    <main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    {% include 'includes/error.html' %}

    <div class="text">



    <header>
    	<h1 id="page-header" class="heading-xlarge">File abridged accounts</h1>
    </header>






  <h2 class="heading-medium">Criteria</h2>
<p>
  You can file abridged accounts if:

</p>

        <ul class="list list-bullet text">
          <li>your accounting period starts on or after 1 January 2016</li>
          <li>your balance sheet doesn’t include 'intangible assets', 'fixed asset investments' or 'revaluation reserve'</li>
          <li>you just need to supply an 'accounting policies' note (and, if needed, a 'tangible assets' note and/or a 'creditors - amounts falling due within one year’ note)</li>
          <li>you don't need to change the date the accounts are made up to</li>
      </ul>




          <h2 class="heading-medium">Do your prepared abridged accounts meet the criteria?</h2>

          <!-- For time reasons, currently both radio button answers ON THIS VERSION OF THE PAGE send you to Start page-->

          <form action="/accounts/accounts-start-page-r1" method="get" class="form">
              <fieldset class="" data-required="" data-error="Please confirm if your prepared abridged accounts meet the criteria">
                <div class="form-group">

                <legend class="visually-hidden">Do your prepared abridged accounts meet the criteria?</legend>

                <label class="block-label selection-button-radio" for="release1yes">
                  <input id="release1yes" type="radio" name="chsr1" value="Yes">
                  Yes
                </label>
                <label class="block-label selection-button-radio" for="release1no">
                  <input id="release1no" type="radio" name="chsr1" value="No">
                  No - Show me other ways to file abridged accounts
                </label>
                <!--<label class="block-label selection-button-radio" for="release1other">
                  <input id="release1other" type="radio" name="chsr1" value="Other">
                  No - I'll file other types of accounts
                </label>-->
                </div><!--form-group-->
              </fieldset>












          <div class="form-group">
          <input type="submit" class="button" value="Next">
          </div>

          </div><!--left-indent-->


          </div><!--text-->

          </form>



          </main>

{% endblock %}
