{% extends "layout-chs.html" %}

{% block page_title %}
  Your filings
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <nav class="content" role="navigation">
      <ul id="navigation" class="mobile-hidden">
        <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
        <li><a href="javascript:void(0)">Your details</a></li>
        <li>Your filings</li>
        <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
      </ul>
    </nav>

    <a class="link-back" href="/accounts/accounts-submission">Back</a>


    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">Your filings</h1>
    </header>


    <p class="text">This is a list of company information filed by <strong>user@testcompany.co.uk</strong> within the last 30 days.</p>

    <table class="" id="rf_table">
    <thead>
      <tr>
      <th>Time and date</th>
      <th>Company name and number</th>
      <th>Submission number</th>
      <th>Filing description</th>
      <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>
        <ul>
          <li>12:33pm on<br> 16 February 2017</li>
        </ul>
      </td>
      <td>A TEST COMPANY LIMITED<br>(01234567)</td>
      <td>9873479264091</td>
      <td>
        <ul>
        <li>Abridged accounts</li>
        <li><a href="javascript:void(0)" id="viewSubmission00">View submission</a></li>
        </ul>
      </td>
      <td>
        <ul>
        <li>Processing</li>
        </ul>
      </td>
      </tr>
    </tbody>
    </table>

</main>

{% endblock %}
