{% extends "layout-chs.html" %}

{% block page_title %}
Your password has been changed
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <header class="text">
    	<h1 id="page-header" class="heading-xlarge">
      Your password has been changed
      </h1>
    </header>

    <p><a href="chs-start-page">Go to company search</a></p>

</main>

{% endblock %}
