{% extends "layout-chs.html" %}

{% block page_title %}
  Which type of accounts have you prepared?
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style type="text/css">
.bubble {
  display:inline;
  background-color: #f47738;
  color:white;
  padding:0.2em .5em;
  border-radius: 15px;
  font-weight:normal;
  font-size:0.7em;
  position:relative;
  left:.5em;
  top:-0.1em;

}
</style>





    <main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>
    <div class="text">



    <header>
    	<h1 id="page-header" class="heading-xlarge">File abridged accounts</h1>
    </header>



      <p>Currently, you can only file <strong>abridged accounts</strong> using this service.</p>

      <p>You can file other types of accounts (dormant, micro-entity, full) using <a href="">our WebFiling service</a>.</p>

      <div class="panel panel-border-wide text">
        <p>  If you’re not sure which types of accounts you want to file, you may want to ask an accountant.</p>
      </div>



  <h2 class="heading-medium">You can file abridged accounts if:</h2>
        <ul class="list list-bullet text">

          <li>your balance sheet doesn’t include 'intangible assets', 'fixed asset investments' or 'revaluation reserve'</li>
          <li>you only need to supply an 'accounting policies' note (and, if needed, a 'tangible assets' note and/or a 'creditors - amounts falling due within one year’ note)</li>
          <li>you don't need to change the date the accounts are made up to</li>
          <li>
            your company meets at least 2 of the following:
            <ul class="list list-bullet">
              <li>turnover is no more than £10.2 million</li>
              <li>balance sheet total is no more than £5.1 million</li>
              <li>average number of employees is no more than 50</li>
            </ul>
          </li>
        </ul>


          <h2 class="heading-medium">Do your prepared abridged accounts meet the criteria?</h2>

          <form action="/accounts/accounts-start-page-no-gov-uk" method="get" class="form">
            <div class="form-group">
              <fieldset class="inline">

                <legend class="visually-hidden">Do your prepared abridged accounts meet the criteria?</legend>

                <label class="block-label selection-button-radio" for="release1yes">
                  <input id="release1yes" type="radio" name="chsrelease1" value="Yes">
                  Yes
                </label>
                <label class="block-label selection-button-radio" for="release1no">
                  <input id="release1no" type="radio" name="chsrelease1" value="No">
                  No
                </label>

              </fieldset>
            </div>

            <div class="form-group">
              <input type="submit" class="button" value="Next" id="">
            </div>
          </form>





    </div>



</main>

{% endblock %}
