{% extends "layout.html" %}

{% block pageTitle %}
  Accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}

    <nav class="content" role="navigation">
      <ul id="navigation" class="mobile-hidden">
        <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
        <li><a href="javascript:void(0)">Your details</a></li>
        <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
        <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
        <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
      </ul>
    </nav>

    <a class="link-back" href="chs-your-filings">Back</a>

    <div class="text">
    <header>
    	<h1 id="page-header" class="govuk-heading-xl">Accounts<span>(AB1234C-567-8)</span></h1>
    </header>

    <p>This information was submitted to Companies House on 11 July 2016 at 07:51:58 am.</p>

    <p>Company<br>
    <span class="govuk-heading-s">A TEST COMPANY LIMITED (01234567)</span></p>

    <p id="">Accounts type<br>
    <span id="" class="govuk-heading-s">Abridged accounts</span></p>

    <p id="">Something<br>
    <span id="" class="govuk-heading-s">If we list everything they entered here</span></p>


    <p id="">Something<br>
    <span id="" class="govuk-heading-s">then this page is going to huge</span></p>


    <p id="">Something<br>
    <span id="" class="govuk-heading-s">so maybe we just have a link</span></p>

    <p id="">Something<br>
    <span id="" class="govuk-heading-s">to the HTML version of what they can</span></p>

    <p id="">Something<br>
    <span id="" class="govuk-heading-s">preview on the Approval page?</span></p>


  </div><!--text-->


</main>

{% endblock %}
