{% extends "layout.html" %}

{% block pageTitle %}
  A TEST COMPANY LIMITED - Overview (free company information from Companies House)
{% endblock %}



{% block content %}








  <main id="content" role="main" class="profile">

  {% include "includes/phase_banner_beta.html" %}
  <a id="back" class="link-back" href="javascript:history.back()">Back</a>
  <div class="text">

  <h1 class="govuk-heading-xl">Filing accounts for A TEST COMPANY LIMITED</h1>
      <p>Company number <strong>01234567</strong></p>
    <p>Registered office address <strong>1 Any Street, Cardiff, Wales, CF12 3AB </strong></p>
  <div class="panel panel-border-wide">
    <p>Next accounts made up to <strong>31 March 2017</strong><br />due by <strong>31 December 2017</strong>  </p>
    <p>Last accounts made up to <strong>31 March 2016</strong></p>
  </div>

    <p><a class="button" href="chs-login-page-alternative-chs-search-small-full">File full accounts for this company</a></p>
    <p>or, <a href="javascript:history.back()">file for a different company</a></p>
  </div>
  </main>


{% endblock %}
