{% extends "layout.html" %}

{% block pageTitle %}
  Company authentication
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

{% include "includes/phase_banner_beta.html" %}



    <header class="text">
    	<h1 id="page-header" class="govuk-heading-xl">Company authentication</h1>
    </header>


    <p>To file company information you will need an authentication code.</p>
    <p class="normal">Authenticating for<br><span id="company_details" class="govuk-heading-m">A TEST COMPANY LIMITED (01234567)</span></p>

      <div class="form-group">
        <label class="form-label" for="auth_code">Authentication code</label>
        <input type="password" class="form-control medium" maxlength="6" value="" id="auth_code" name="auth_code" autocomplete="off">
      </div>
      <div class="form-group">
        <a href="/webfiling/webfiling-profile-alt" class="button">Authenticate</a>
      </div>
      <input type="hidden" value="" id="request" name="request">

    <p class="text"><a href="javascript:void(0)" id="auth_code_request">Request an authentication code</a></p>

</main>

{% endblock %}
