{% extends "layout.html" %}

{% block pageTitle %}
  File abbreviated accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}

<style type="text/css">
.bubble {
  display:inline;
  background-color: #f47738;
  color:white;
  padding:0.2em .5em;
  border-radius: 15px;
  font-weight:normal;
  font-size:0.7em;
  position:relative;
  left:.5em;
  top:-0.1em;

}
</style>





    <main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}



    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    {% include 'includes/error.html' %}

    <div class="text">



    <header>
    	<h1 id="page-header" class="govuk-heading-xl">File abbreviated accounts</h1>
    </header>







  <div class="panel panel-border-wide">
    <p>You can only file abbreviated accounts if the accounting period you’re filing for starts on or after 31 December 2015.</p>
  </div>

  <p>If this doesn’t apply to your company, you’ll have to file other types of accounts.</p>




          <h2 class="govuk-heading-m">Does the accounting period start on or before 31 December 2015?</h2>

          <!-- For time reasons, currently both radio button answers ON THIS VERSION OF THE PAGE send you to Start page-->

          <form action="/webfiling/webfiling-login-page-chs-search" method="get" class="form">
              <fieldset class="" data-required="" data-error="Please confirm if your accounting period starts on or before 31 December 2015?">
                <div class="form-group">

                <legend class="visually-hidden">Does the accounting period start on or before 31 December 2015?</legend>

                <label class="block-label selection-button-radio" for="chsabbreviatedsearchyes">
                  <input id="chsabbreviatedsearchyes" type="radio" name="chsabbreviatedsearch" value="Yes">
                  Yes
                </label>
                <label class="block-label selection-button-radio" for="chsabbreviatedsearchno">
                  <input id="chsabbreviatedsearchno" type="radio" name="chsabbreviatedsearch" value="Other">
                  No - I'll file other types of accounts
                </label>
                </div><!--form-group-->
              </fieldset>












          <div class="form-group">
          <input type="submit" class="button" value="Continue">
          </div>

          </div><!--left-indent-->


          </div><!--text-->

          </form>



          </main>

{% endblock %}
