{% extends "layout.html" %}
{% block pageTitle %}
  Which type of accounts have you prepared?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Which type of accounts have you prepared?</h1>
          <p class="lede">If you’re not sure, you may want to ask an accountant.</p>

          <form action="/cics/cics-criteria-mvp" method="get" class="form">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Which type of accounts have you prepared?</legend>
                <div class="govuk-radios" data-module="radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadio-conditional-1" name="chooseAccountsRadio" type="radio" value="micro-entity" data-aria-controls="conditional-chooseAccountsRadio-conditional-1">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadio-conditional-1">
                      Micro-entity accounts
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadio-conditional-2" name="chooseAccountsRadio" type="radio" value="abridged" data-aria-controls="conditional-chooseAccountsRadio-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadio-conditional-2">
                      Abridged accounts
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadio-conditional-3" name="chooseAccountsRadio" type="radio" value="full" data-aria-controls="conditional-chooseAccountsRadio-conditional-3">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadio-conditional-3">
                      Full accounts
                      <!--(with Companies House only)-->
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseAccountsRadio-conditional-4" name="chooseAccountsRadio" type="radio" value="dormant-company" data-aria-controls="conditional-chooseAccountsRadio-conditional-5">
                    <label class="govuk-label govuk-radios__label" for="chooseAccountsRadio-conditional-4">
                      Dormant company accounts
                    </label>
                  </div>

                </fieldset>
              </div>

              <div class="form-group">
                <input type="submit" class="govuk-button" value="Save and continue">
              </div>

            </form>
            <!--<p>Are you filing for a <a href="/gov-uk/gov-uk-start-page-cics">Community Interest Company</a>?</p>-->

            <p>Looking to file
              <a href="/cics/cics-accounts-type">abbreviated accounts</a>?
            </p>

          </div>
          <!--govuk-grid-row-->
        </div>
        <!--govuk-grid-column-two-thirds-->

      </main>
    </div>
    <!---govuk-width-container-->

  {% endblock %}