{% extends "layout-chs.html" %}

{% block page_title %}
  Abridged accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="search">

      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    <header class="text">
    <h1 id="page-header" class="heading-xlarge">Abridged accounts</h1>
    </header>
    <div class="text">
      <p>To file abridged accounts, your accounts must meet <strong>at least two of the following:</strong></p>
      <ul class="list list-bullet">
        <li>Turnover must not be more than £10.2 million</li>
        <li>Balance sheet total must not be more than £5.1 million</li>
        <li>The average number of employees during the year must not be more than 50</li>
      </ul>
      <a role="button" class="button" href="/webfiling/webfiling-login-page">File abbreviated accounts</a>
    </div>
</main>

{% endblock %}
