{% extends "layout.html" %}

{% block pageTitle %}
  A TEST COMPANY LIMITED - Overview (free company information from Companies House)
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}


<style type="text/css">
.button {padding-top:0.3em; padding-bottom: 0.2em; margin-top:0.4em;}
</style>






    <main id="content" role="main" class="profile">

{% include "includes/phase_banner_beta.html" %}

    <nav class="content" role="navigation">
      <ul id="navigation" class="mobile-hidden">
        <li class="user" id="signed-in-user">jsmith@testcompany.co.uk:</li>
        <li><a href="javascript:void(0)">Your details</a></li>
        <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
        <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
        <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
      </ul>
    </nav>



          <div class="column-full-width">
            <form id="search" action="results.html" method="get" accept-charset="utf-8" role="search" class="search-header js-search-hash">
              <div class="searchfield search-bar-active">
                <input type="search" autocomplete="off" name="q" id="site-search-text" placeholder="Search for a company or officer" class="js-search-focus " />
                <a href="#" id="search-submit" class="search-submit enable-view2 button">Search</a>
                <p id="slowsearch" class="slow-search-msg" style="display:none">Please press ENTER to search</p>
              </div>
            </form>
          </div>

          <div class=" company-header">
              <p class="govuk-heading-xl" id="company-name">A TEST COMPANY LIMITED</p>
              <p id="company-number">Company number  <strong>01234567</strong></p>
              <div id="action-buttons">
                <a id="" class="button" href="javascript:void(0)">Follow this company</a>
                <!--<a id="file-for-this-company" class="button" href="chs-login-page-no-gov-uk">File for this company</a>-->
                <a id="manage-company-authentication" class="" href="javascript:void(0)">Manage company authentication</a>
              </div>
          </div>

          <div class="section-tabs js-tabs" id="overview-tabs">
            <ul>
              <li class="active"><h1><a href="javascript:void(0)" id="company-overview-tab"><span class="visuallyhidden">Company </span>Overview<span class="visuallyhidden"> for A TEST COMPANY LIMITED (01234567)</span></a></h1></li>
              <li><a href="javascript:void(0)" id="filing-history-tab">Filing history<span class="visuallyhidden"> for A TEST COMPANY LIMITED (01234567)</span></a></li>
              <li><a href="javascript:void(0)" id="people-tab">People<span class="visuallyhidden"> for A TEST COMPANY LIMITED (01234567)</span></a></li>
            </ul>
          </div>




          <dl>
          <dt>Registered office address</dt>
          <dd class="text data">1 Any Street, Cardiff, Wales, CF12 3AB
          <br><a href="javascript:void(0)" class="normal">Change address</a></dd>
          </dl>


          <div class="grid-row">
          <dl class="column-two-thirds">
          <dt>Company status</dt>
          <dd id="company-status" class="text data">
          Active
          </dd>
          </dl>
          </div>

          <div class="grid-row">
          <dl class="column-two-thirds">
            <dt>Company type</dt>
            <dd id="company-type" class="text data">
            Private limited Company
            </dd>
          </dl>

          <dl class="column-third">
            <dt id="company-birth-type">Incorporated on</dt>
            <dd id="company-creation-date" class="data">27 November 1996</dd>
          </dl>
          </div>
          <div class="grid-row">
          <div class="column-half">

          <h2 class="govuk-heading-m"><strong>Accounts</strong></h2>

          <p>Next accounts made up to <strong>31 March 2017</strong>
          <br>due by <strong>31 December 2017</strong><br>
          <a href="chs-choose-accounts-small-full-radio" class="normal button" id="overview-accounts">File accounts</a></p>
          <p>Last accounts made up to <strong>31 March 2016</strong></p>
          </div>

          <div class="column-half">
          <h2 class="govuk-heading-m"><strong>Confirmation statement</strong></h2>
          First statement date <strong>22 November 2017</strong> <br>
            due by <strong>6 December 2017</strong>
          </div>

          <div class="column-half">
            <h2 class="govuk-heading-m"><strong>Annual return</strong></h2>
            <p>Last annual return made up to <strong>22 November 2016</strong></p>
          </div>
          </div>


          <h2 class="govuk-heading-m" id="sic-title">Nature of business (SIC)</h2>
          <ul>
            <li>
              <span id="sic0">01234 - Example only</span>
            </li>
          </ul>
    </main>


{% endblock %}
