{% extends "layout-chs.html" %}

{% block page_title %}
  Accounts - Start
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}


<!--
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
This code is only for testing - trying to reproduce the established CHS/GOV.UK email styles - it is NOT for production
-->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>






    <main id="content" role="main" class="chs-email">

    <h1 class="heading-xlarge">Submission confirmation</h1>
    <p>Thank you for completing a submission for A TEST COMPANY LIMITED (01234567).</p>

    <table>
    <thead>
    <tr>
      <th>Submission number</th>
      <th>Filing type</th>
    </tr>
    </thead>
    <tbody>
      <td>AB1234C-567-8</td>
      <td>Accounts</td>
    </tbody>
    </table>


    <p>We will email you within 2 working days to confirm acceptance or rejection of this filing.</p>

    <ul class="form-hint">
      <li>All documents filed online are available from 'Your filings' for 30 days after submission.</li>
      <li>Contact Centre tel +44 (0)303 1234 500<br>
         or email <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a>.</li>
      <li>This email was sent from a notification-only email address which cannot accept incoming mail. Please do not reply directly to this message.</li>
    </ul>

    </main>





{% endblock %}
