{% extends "layout.html" %}
{% block pageTitle %}
  Do you also want to file your corporation tax with HMRC now?
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    {% include 'includes/error.html' %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/chs/chs-choose-accounts-small-full-radio-from-gov-uk" method="get" class="form">

            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "corporationTax",
              name: "corporationTax",
              fieldset: {
                legend: {
                  text: "Do you also want to file your corporation tax with HMRC now?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Continue"
            }) }}

          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}