{% extends "layout-chs.html" %}

{% block page_title %}
  Request an authentication code
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}







    <main id="content" role="main" class="">
      <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
      </p>
    </div>


    <div class="text">
      <a id="back" class="link-back" href="javascript:history.back()">Back</a>

    <header>
    	<h1 id="page-header" class="heading-xlarge">Request an authentication code</h1>
    </header>


    <p>Request an authentication code for<br><span id="company_details" class="heading-medium">A TEST COMPANY LIMITED (01234567)</span></p>


    <p>The authentication code will be sent by post to the registered office address below:</p>
    <p id="ro_address">
    <strong>1 Any Street<br>
    Anytown<br>
    Cardiff<br>
    CF14 3UZ</strong>
    </p>

    <div class="form-group">
      <a href="auth-code-requested" class="button">Request authentication code</a>
    </div>

  </div><!--text-->
</main>

{% endblock %}
