{% extends "layout-chs.html" %}

{% block page_title %}
  Tangible assets
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}


  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>

<p class="company-details">Filing for <span class="heading-small">A TEST COMPANY LIMITED</span> | UTR: 012345678<br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="question-intangible-assets-check">Back</a>

<div class="text">


  <h1 class="heading-xlarge">Tangible assets
    <span class="heading-secondary">Fixed assets (Balance sheet)</span>
  </h1>


  <p>Tangible assets are value of the company's physical assets used in the business - for example, machinery, fixtures and fittings, office equipment, vehicles, buildings, land (taking account of depreciation).</p>

  <details>
    <summary><span class="summary">Help with tangible assets</span></summary>
    <div class="panel panel-border-narrow">
      <p>A tangible asset is physical property - it can be touched. The term is most commonly associated with fixed assets, such as machinery, vehicles, and buildings. It is not used to describe shorter-term assets, such as inventory, since these items are intended for sale or conversion to cash. Tangible assets comprise the key competitive advantage of some organizations, especially if they use the assets efficiently to produce sales. <span class="heading-small">This is sample content is for testing only, not for production</span></p>
      <p>Tangible assets are frequently used as collateral for loans, since they tend to have robust, long-term valuations that are valuable to a lender. These assets typically require a significant amount of maintenance to uphold their values and productive capabilities, and likely require insurance protection.</p>
      <p>The opposite of a tangible asset is an intangible one, which is not physically present. Examples of intangible assets are copyrights, patents, and operating licenses.</p>
      <p>You can get further help on this by <a href="javascript:void(0)">lorem ipsum dolor sit amet</a>, quas lorem cum an, natum ludus mea cu, at qui harum tantas constituto. Ne assum <a href="javascript:void(0)">dicit conclusionemque nec</a>. Ut eam cibo mollis commodo, pri vidit iudico ne, ex mei option efficiantur.</p>
    </div>
  </details>

  <form class="form">

    <fieldset class="form-group">
    <legend class="visuallyhidden">Tangible assets</legend>
    <div class="form-group">
      <label for="Tangible-assets-current" class=""><h2 class="heading-medium">What was the value of the company's tangible assets in 2016?</h2>
      <input type="number" class="form-control" id="Tangible-assets-current">
      </label>
    </div>
    </fieldset>

    <fieldset class="form-group">
      <legend class="visuallyhidden">Tangible assets</legend>
      <div class="form-group">
        <label for="Tangible-assets-previous" class=""><h2 class="heading-medium">What was the value of the company's tangible assets in 2015?</h2>
        <input type="number" class="form-control" id="Tangible-assets-previous">
        </label>
      </div>
    </fieldset>


  </form>

    <div class="form-group">
      <p><a href="question-tangible-assets-check" class="button">Save and continue</a></p>
    </div>



</div><!--text-->
</main>

{% endblock %}
