{% extends "layout-chs.html" %}


{% block page_title %}
  Balance sheet - check your answers
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>


  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">username@email.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>

<p class="company-details">Filing for <span class="heading-small">A TEST COMPANY LIMITED</span> | UTR: 012345678<br>Period of accounts: 1 April 2015 to 31 March 2016</p>


<a class="link-back" href="question-intangible-assets">Back</a>

  <h1 class="heading-xlarge">Balance sheet
    <span class="heading-secondary">Check your answers</span>
  </h1>

  <table class="check-your-answers">
  <caption class="visuallyhidden">Balance sheet - check your answers</caption>.
    <thead>
      <tr>
        <th class="complete"></th>
        <th class="check-your-answers-section"><h2 class="heading-medium">Fixed assets</h2></th>
        <th class="numeric">2015</th>
        <th class="numeric">2016</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-check fa-lg accounts-success" aria-hidden="true"></i></td>
        <td>Intangible assets</td>
        <td class="numeric">£1,000</td>
        <td class="numeric">£2,000</td>
        <td class="change-answer"><a href="question-intangible-assets">Change <span class="visuallyhidden">Intangible assets</span></a></td>
      </tr>
      <tr class="to-be-completed">
        <td></td>
        <td>Tangible assets</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
      <tr class="to-be-completed total">
        <td></td>
        <td>Total fixed assets</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr class="to-be-completed">
        <td></td>
        <th class="check-your-answers-section"><h2 class="heading-medium">Current assets</h2></th>
        <th class="numeric"></th>
        <th class="numeric"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="to-be-completed">
        <td></td>
        <td>Stocks</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
      <tr class="to-be-completed">
        <td></td>
        <td>Debtors</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
      <tr class="to-be-completed">
        <td></td>
        <td>Cash at bank and in hand</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
      <tr class="to-be-completed total">
        <td></td>
        <td>Total current assets</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr class="to-be-completed">
        <td></td>
        <th class="check-your-answers-section"></th>
        <th class="numeric"></th>
        <th class="numeric"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="to-be-completed">
        <td></td>
        <td>Prepayments and accrued income</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
      <tr class="to-be-completed">
        <td></td>
        <td>Creditors - amounts falling due within one year</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
      <tr class="to-be-completed total">
        <td></td>
        <td>Net current assets (liabilities)</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr class="to-be-completed">
        <td></td>
        <th class="check-your-answers-section"></th>
        <th class="numeric"></th>
        <th class="numeric"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="to-be-completed total">
        <td></td>
        <td>Total assets less current liabilities</td>
        <td class="numeric">–</td>
        <td class="numeric">–</td>
        <td></td>
      </tr>
    </tbody>
  <thead>
    <tr class="to-be-completed">
      <td></td>
      <th class="check-your-answers-section"></th>
      <th class="numeric"></th>
      <th class="numeric"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="to-be-completed">
      <td></td>
      <td>Creditors - amounts falling due after more than one year</td>
      <td class="numeric">–</td>
      <td class="numeric">–</td>
      <td></td>
    </tr>
    <tr class="to-be-completed">
      <td></td>
      <td>Provision for liabilities</td>
      <td class="numeric">–</td>
      <td class="numeric">–</td>
      <td></td>
    </tr>
    <tr class="to-be-completed">
      <td></td>
      <td>Accruals and deferred income</td>
      <td class="numeric">–</td>
      <td class="numeric">–</td>
      <td></td>
    </tr>
    <tr class="to-be-completed total">
      <td></td>
      <td>Total net assets (liabilities)</td>
      <td class="numeric">–</td>
      <td class="numeric">–</td>
      <td></td>
    </tr>
  </tbody>
  <thead>
    <tr class="to-be-completed">
      <td></td>
      <th class="check-your-answers-section"><h2 class="heading-medium">Capital and reserves</h2></th>
      <th class="numeric"></th>
      <th class="numeric"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="to-be-completed">
      <td></td>
      <td>Called up share capital</td>
      <td class="numeric">–</td>
      <td class="numeric">–</td>
      <td></td>
    </tr>
    <tr class="to-be-completed">
      <td></td>
      <td>Revaluation reserve</td>
      <td class="numeric">–</td>
      <td class="numeric">–</td>
      <td></td>
    </tr>
    <tr class="to-be-completed">
      <td></td>
      <td>Profit and loss account</td>
      <td class="numeric">–</td>
      <td class="numeric">–</td>
      <td></td>
    </tr>
    <tr class="to-be-completed total">
      <td></td>
      <td>Total shareholders' funds</td>
      <td class="numeric">–</td>
      <td class="numeric">–</td>
      <td></td>
    </tr>
  </tbody>
  </table>
<br>
  <div class="form-group">
    <p><a href="question-tangible-assets" class="button">Save and continue to Tangible assets</a></p>
  </div>

</main>

{% endblock %}
