{% extends "layout-chs.html" %}

{% block page_title %}
  Intangible assets
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>

<p class="company-details">Filing for <span class="heading-small">A TEST COMPANY LIMITED</span> | UTR: 012345678<br>Period of accounts: 1 April 2015 to 31 March 2017</p>

<div class="text">

<a class="link-back" href="/index">Back</a>

  <h1 class="heading-xlarge">Intangible assets
    <span class="heading-secondary">Fixed assets (Balance sheet)</span>
  </h1>

<div class="text">

  <p>Intangible assets are the value of the company's non-physical assets - for example, patents, trademarks, licences, goodwill (taking account of depreciation).</p>

  <details>
    <summary><span class="summary">Help with intangible assets</span></summary>
    <div class="panel panel-border-narrow">
      <p>An intangible asset is a non-physical asset having a useful life greater than one year. If an intangible asset is determined to have a useful life, then its book value is amortized over that useful life. If at any point there is judged to be a decline in the remaining value of an intangible asset below its carrying amount, then the difference is recognised as an impairment expense in the current period; that is, the impairment charge is not spread out over a number of periods. <span class="heading-small">This is sample content is for testing only, not for production</span></p>
      <p>Examples of intangible assets are:</p>
      <h2 class="heading-small">Marketing-related intangible assets</h2>
      <ul class="list list-bullet">
        <li>Trademarks</li>
        <li>Newspaper mastheads</li>
        <li>Internet domain names</li>
        <li>Noncompetition agreements</li>
      </ul>
      <h2 class="heading-small">Customer-related intangible assets</h2>
      <ul class="list list-bullet">
        <li>Customer lists</li>
        <li>Order backlog</li>
        <li>Customer relationships</li>
      </ul>
      <h2 class="heading-small">Artistic-related intangible assets</h2>
      <ul class="list list-bullet">
        <li>Performance events</li>
        <li>Literary works</li>
        <li>Musical works</li>
        <li>Pictures</li>
        <li>Motion pictures and television programs</li>
      </ul>
      <h2 class="heading-small">Contract-based intangible assets</h2>
      <ul class="list list-bullet">
        <li>Licensing agreements</li>
        <li>Service contracts</li>
        <li>Lease agreements</li>
        <li>Franchise agreements</li>
        <li>Broadcast rights</li>
        <li>Employment contracts</li>
        <li>Use rights (such as drilling rights or water rights)</li>
      </ul>
      <h2 class="heading-small">Technology-based intangible assets</h2>
      <ul class="list list-bullet">
        <li>Patented technology</li>
        <li>Computer software</li>
        <li>Trade secrets (such as secret formulas and recipes)</li>
      </ul>
      <p>The other type of long-term asset is a tangible fixed asset, such as a vehicle, office equipment, or machinery.</p>
      <p>You can get further help on this by <a href="javascript:void(0)">lorem ipsum dolor sit amet</a>, quas lorem cum an, natum ludus mea cu, at qui harum tantas constituto. Ne assum <a href="javascript:void(0)">dicit conclusionemque nec</a>. Ut eam cibo mollis commodo, pri vidit iudico ne, ex mei option efficiantur.</p>
    </div>
  </details>

  <form class="form">

    <fieldset class="form-group">
    <legend class="visuallyhidden">Intangible assets</legend>
    <div class="form-group">
      <label for="intangible-assets-current" class=""><h2 class="heading-medium">What was the value of the company's intangible assets in 2016?</h2>
      <input type="number" class="form-control" id="intangible-assets-current">
      </label>
    </div>
    </fieldset>

    <fieldset class="form-group">
      <legend class="visuallyhidden">Intangible assets</legend>
      <div class="form-group">
        <label for="intangible-assets-previous" class=""><h2 class="heading-medium">What was the value of the company's intangible assets in 2015?</h2>
        <input type="number" class="form-control" id="intangible-assets-previous">
        </label>
      </div>
    </fieldset>


  </form>

    <div class="form-group">
      <p><a href="question-intangible-assets-check" class="button">Save and continue</a></p>
    </div>



</div><!--text-->
</main>

{% endblock %}
