{% extends "layout-webfiling.html" %}

{% block page_title %}
  Request an authentication code
{% endblock %}


{% block content %}





<div id="container">
    <!-- FILE_START::header.tmpl -->
<div class="headerLogo">
	<div class="container_16">
		<a href="/index" class="chLogo">
      <img src="/public/images/ch_gds_logo_white.png" alt="">
    </a>
	</div><!--End of class="headerLogo"-->
</div><!--End of div id="header"-->
<!-- FILE_END::header.tmpl -->


<div class="container_16" id="mainContent">

                <div class="grid_3 alpha userMenu">

<!-- FILE_START::userHeaderBar.tmpl -->

<div class="grid_3 alpha userMenu">

		<p>Signed in to <br>Companies House
			<!-- jfrancis@companieshouse.gov.uk --><br>
			<a href="javascript:void(0)">Sign out</a>
		</p>

		<ul style="padding-left:0;">
			<li><a class="" href="javascript:void(0)">Change account details</a></li>
			<li><a class="" href="webfiling-my-recent-filings">My recent filings</a></li>

		</ul>
</div>
<!-- FILE_END::userHeaderBar.tmpl -->

                </div>



                <div class="container-content registration current">

                                     <h1 class="">Request an authentication code</h1>

                					<h2 class="margin-bottom-20"><strong>Step 1 of 2: Complete your details</strong></h2>

                                    <p>The company authentication code will be posted to the registered office address. If a company authentication code doesn't exist then a new one will be generated.</p>
                    		<form action="" method="post">

                			<fieldset class="selection-group">
                					<legend><div>Where was the company registered?</div></legend>
                					<ul style="margin-left:-2.8em;">
                						<li>
                                          <input name="companySignUpPage.coType" id="companySignUpPage.coType_EW" value="EW" checked="checked" type="radio">
                                          <label for="companySignUpPage.coType_EW">England / Wales</label>
                						</li>
                						<li>
                                          <input name="companySignUpPage.coType" id="companySignUpPage.coType_SC" value="SC" type="radio">
                                          <label for="companySignUpPage.coType_SC">Scotland</label>
                						</li>
                						<li>
                                          <input name="companySignUpPage.coType" id="companySignUpPage.coType_NI" value="NI" type="radio">
                                          <label for="companySignUpPage.coType_NI">Northern Ireland</label>
                						</li>
                					</ul>
                				</fieldset>

                				<div class="string">
                					<label for="companySignUpPage.coNum">
                						<span>Company number</span>
                						<input id="companySignUpPage.coNum" name="companySignUpPage.coNum" maxlength="8" class="medium" value="" type="text">

                					</label>
                				</div>

                                <p class="">Don't know it? <a href="https://beta.companieshouse.gov.uk/" class="" target="_blank">Look up your company number on the new Companies House service</a></p>

                					<a class="button positive regular" href="webfiling-request-auth-2"><strong>Continue</strong></a>
                					<a class="cancel right" href="javascript:history.back()">Back</a>

                				<p class=" margin-top-30">Are you a lender? <a href="/help/en/stdwf/charges.html" target="_blank">Find out how to request a lender authentication code</a>.</p>
                </form>

        </div><!--End of div class="grid_12 omega"-->
    <div class="clear"></div>
</div>

<!-- FILE_START::footer.tmpl -->
	<div id="footer">

        <div class="container_16">
            <span class="email">
            <a href="javascript:void(0)">Email Companies House</a></span>
            <span class="telephone">Telephone +44 (0)303 1234 500 <em>8:30am to 6pm (UK time) Monday to Friday</em></span>
            <span class="help"><a href="javascript:void(0)" target="_blank">Help</a></span>
            <!-- FILE_START::language.tmpl -->

<a id="i18nLink" href="javascript:void(0)" class="language">Cymraeg</a>


<!-- FILE_END::language.tmpl -->

        </div>

    </div><!--End of div id="footer"-->
    <!-- FILE_START::tracker.tmpl -->
<!-- Piwik -->



</div>
{% endblock %}
