{% extends "layout-webfiling.html" %}

{% block pageTitle %}
  Register for Companies House WebFiling
{% endblock %}


{% block main %}





<div id="container">
    <!-- FILE_START::header.tmpl -->
<div class="headerLogo">
	<div class="container_16">
		<a href="/index" class="chLogo">
      <img src="/public/images/ch_gds_logo_white.png" alt="">
    </a>
	</div><!--End of class="headerLogo"-->
</div><!--End of div id="header"-->
<!-- FILE_END::header.tmpl -->


<div class="container_16" id="mainContent">

                <div class="grid_3 alpha userMenu">

<!-- FILE_START::userHeaderBar.tmpl -->

<div class="grid_3 alpha userMenu">

		<p><strong>Not signed in</strong>
			<!-- jfrancis@companieshouse.gov.uk --><br>
			<a href="webfiling-login-page">Sign in</a>
		</p>

</div>
<!-- FILE_END::userHeaderBar.tmpl -->

                </div>

        <div class="container-content signIn">

                <h1 class="">Register for Companies House WebFiling</h1>


                <form method="POST" action="" class="current">




                <h2 class="complete"><strong>Account details</strong></h2>

              					<fieldset class="container-multiple-field-question-ui">
              						<legend class="hidden"><div>Account details</div></legend>
              						<!-- enter and confirm email address -->
              						<label for="signUpPage.email">
              							<span>Email address</span>
              							<input name="signUpPage.email" id="signUpPage.email" class="" maxlength="64" value="jsmith@testcompany.co.uk" type="text">

              						</label>

              						<label for="signUpPage.emailConfirm">
              							<span>Confirm email address</span>
              							<input name="signUpPage.emailConfirm" id="signUpPage.emailConfirm" class="" maxlength="64" value="jsmith@testcompany.co.uk" type="text">

              						</label>
              						<!-- End of enter and confirm email address -->

              						<label for="signUpPage.password">
              							<span>Password</span>
              							<input name="signUpPage.password" id="signUpPage.password" class=" left" maxlength="32" value="" type="password">
              							<div class="clear"></div>

              							<span class="help smallFont">The password must consist of between 8 and 32 alphanumeric characters, containing at least 2 numbers.</span>
              						</label>

              						<label for="signUpPage.passwordconf" class="clear-both margin-top-10">
              							<span>Confirm password</span>
              							<input name="signUpPage.passwordconf" id="signUpPage.passwordconf" class="" maxlength="32" value="" type="password">

              						</label>

              						<p class="checkbox">
              							<input name="signUpPage.mailshot" id="signUpPage.mailshot" class="" type="checkbox">
              							<label for="signUpPage.mailshot" class="">
              							Tick this box if you would like Companies House to email you useful news and information. We will not share your details with third parties.
              							</label>
              						</p>
              					</fieldset>

              					<div class="clear"></div>
                        <a class="button positive regular left" name="cancel" href="webfiling-company-auth-from-registration"><strong>Register and sign in</strong></a>

              				<a class="cancel margin-top-5 right" name="cancel" href="javascript:history.back()">Cancel</a>




				</fieldset>

<!-- FILE_END::companySignInForm.tmpl -->

</form>






        </div><!--End of div class="grid_12 omega"-->
    <div class="clear"></div>
</div>

<!-- FILE_START::footer.tmpl -->
	<div id="footer">

        <div class="container_16">
            <span class="email">
            <a href="javascript:void(0)">Email Companies House</a></span>
            <span class="telephone">Telephone +44 (0)303 1234 500 <em>8:30am to 6pm (UK time) Monday to Friday</em></span>
            <span class="help"><a href="javascript:void(0)">Help</a></span>
            <!-- FILE_START::language.tmpl -->

<a id="i18nLink" href="javascript:void(0)" class="language">Cymraeg</a>


<!-- FILE_END::language.tmpl -->

        </div>

    </div><!--End of div id="footer"-->
    <!-- FILE_START::tracker.tmpl -->
<!-- Piwik -->



</div>
{% endblock %}
