{% extends "layout-webfiling.html" %}

{% block page_title %}
Register with Companies House
{% endblock %}


{% block content %}





<div id="container">
    <!-- FILE_START::header.tmpl -->
<div class="headerLogo">
	<div class="container_16">
		<a href="/index" class="chLogo">
      <img src="/public/images/ch_gds_logo_white.png" alt="">
    </a>
	</div><!--End of class="headerLogo"-->
</div><!--End of div id="header"-->
<!-- FILE_END::header.tmpl -->


<div class="container_16" id="mainContent">

<h1 class="large-heading"><strong>Register with Companies House</strong></h1>
<p>We’re currently developing a new service for filing accounts with Companies house. If you’re filing abridged accounts, you can use our new Beta service now. To be able to access all our new services as they become available, you’ll need to register.</p>
<p>To do this you'll need:</p>
<ul>
	<li>to set a password (this service uses different password rules, you may not be able to use your WebFiling password)</li>
	<li>your company authentication code from Companies House</li>
	<li>a valid email address. You can use the same email as you do for Webfiling</li>
</ul>
<p class="margin-top-30"><a class="button positive regular" title="Something" href="/chs/chs-register-page-prefilled">Register with Companies House</a>
<a class="button positive regular" title="Something" href="/chs/chs-register-page-prefilled">I'm already registered, skip this step</a>

<a href="javascript:history.back()" class="negative right margin-top-0">Back</a></p>
	<div class="clear"></div>


</div>
	<!-- FILE_START::footer.tmpl -->
	<div id="footer">

        <div class="container_16">
            <span class="email">
            <a href="javascript:void(0)">Email Companies House</a></span>
            <span class="telephone">Telephone +44 (0)303 1234 500 <em>8:30am to 6pm (UK time) Monday to Friday</em></span>
            <span class="help"><a href="javascript:void(0)">Help</a></span>
            <!-- FILE_START::language.tmpl -->

<a id="i18nLink" href="javascript:void(0)" class="language">Cymraeg</a>


<!-- FILE_END::language.tmpl -->

        </div>

    </div><!--End of div id="footer"-->



</div>   <!--End of div id="container"-->
{% endblock %}
