{% extends "layout-webfiling.html" %}

{% block page_title %}
  Filing abridged accounts using our new service
{% endblock %}


{% block content %}





<div id="container">
    <!-- FILE_START::header.tmpl -->
<div class="headerLogo">
	<div class="container_16">
		<a href="/index" class="chLogo">
      <img src="/public/images/ch_gds_logo_white.png" alt="">
    </a>
	</div><!--End of class="headerLogo"-->
</div><!--End of div id="header"-->
<!-- FILE_END::header.tmpl -->


<div class="container_16" id="mainContent">


<!-- FILE_START::userHeaderBar.tmpl -->

<div class="grid_3 alpha userMenu">

		<p>Signed in to <br />Companies House
			<!-- jfrancis@companieshouse.gov.uk --><br/>
			<a href="javascript:void(0)">Sign out</a>
		</p>

		<ul style="padding-left:0;">
			<li><a class="" href="javascript:void(0)">Change account details</a></li>
      <li><a class="" href="webfiling-my-recent-filings">My recent filings</a></li>

			    <li><a class="" href="javascript:void(0)">Company authentication</a></li>
                <li><a class="" href="javascript:void(0)">File for a different company</a></li>
			    <li><a class="" href="javascript:void(0)">Company overview</a></li>

		</ul>
</div>
<!-- FILE_END::userHeaderBar.tmpl -->

<div class="container-content">

<h1 class="large-heading"><strong>Filing abridged accounts using our new service</strong></h1>

    <p>You can file using the new service if:</p>
    <ul>
      <li>your balance sheet doesn’t include intangible assets, fixed asset investments, or revaluation reserve</li>
      <li>you only need to supply an "accounting policies" note (and, if needed, a "tangible assets" note and a "creditors - amounts falling due within one year" note</li>
      <li>you don't need to change the date the accounts are made up to</li>
    </ul>

    <div class="message warning">
        <h2 class="margin-left-5 margin-top-5">About the new service</h2>
        <p>The new service is in <strong>BETA</strong>. This means it is currenty being tested and improved. It may not work for evereyone. <a href="https://www.gov.uk/help/beta" target="_blank">More information about Beta<span class="visuallyhidden"> Link opens in new tab/window</a>. </p>
          <ul>
            <li>Currently, you can't save your progress and return to it later - you'll need to complete your filing in one sitting. In future the service will allow you to save and resume.</li>
            <li>Something else</li>
          </ul>
      </div>

    <div class="clear"></div>
    <form action="/chs/chs-from-webfiling" method="get" class="form">

  <h2>Do you still want to file using the new service?</h2>


  <p class="margin-top-20"><a class="button positive regular" title=" Yes, take me to the new filing service" href="/chs/chs-from-webfiling"> Yes, take me to the new filing service</a></p>
  <p class="margin-top-20"><a class="button positive regular" title="No, my accounts don't meet the above criteria" href="webfiling-hmrc-third-party"> No, my accounts don't meet the above criteria</a></p>

  <p><a href="webfiling-accounts-picker" class="negative right">Back</a></p>


	<div class="clear"></div>

</div>
		<!-- FILE_START::footer.tmpl -->
	<div id="footer">

        <div class="container_16">
            <span class="email">
            <a href="javascript:void(0)">Email Companies House</a></span>
            <span class="telephone">Telephone +44 (0)303 1234 500 <em>8:30am to 6pm (UK time) Monday to Friday</em></span>
            <span class="help"><a href="javascript:void(0)" target="_blank">Help</a></span>
            <!-- FILE_START::language.tmpl -->


<!-- FILE_END::language.tmpl -->

        </div>

    </div><!--End of div id="footer"-->
    <!-- FILE_START::tracker.tmpl -->
<!-- Piwik -->

</div>   <!--End of div id="container"-->
{% endblock %}
