{% extends "layout-webfiling.html" %}

{% block page_title %}
  Companies House WebFilingx
{% endblock %}


{% block content %}





<div id="container">
    <!-- FILE_START::header.tmpl -->
<div class="headerLogo">
	<div class="container_16">
		<a href="/index" class="chLogo">
      <img src="/public/images/ch_gds_logo_white.png" alt="">
    </a>
	</div><!--End of class="headerLogo"-->
</div><!--End of div id="header"-->
<!-- FILE_END::header.tmpl -->


<div class="container_16" id="mainContent">



  <div class="container-content login">

  <h1>Companies House WebFiling</h1>

  <h2>Security update</h2>

  <p><strong>We have updated the security of our WebFiling user accounts, and so we need to ask all WebFiling users to reset their passwords.</strong></p>
  <p>You can do this by continuing to the Sign in screen then clicking <strong>register</strong>.</p>
  <p>If you are an existing WebFiling user, you can register using the same email address that may have used previously (using a different email address will mean you will not see previously made filings)</p>
  <p class="margin-top-20"><a href="/chs/chs-login-page-from-WF" class="button positive regular"><strong>Continue to Sign in</strong></a></p>

  </div><!--End of div class="grid_12 omega"-->
      <div class="clear"></div>
</div>

<!-- FILE_START::footer.tmpl -->
	<div id="footer">

        <div class="container_16">
            <span class="email">
            <a href="javascript:void(0)">Email Companies House</a></span>
            <span class="telephone">Telephone +44 (0)303 1234 500 <em>8:30am to 6pm (UK time) Monday to Friday</em></span>
            <span class="help"><a href="javascript:void(0)">Help</a></span>
            <!-- FILE_START::language.tmpl -->

<a id="i18nLink" href="javascript:void(0)" class="language">Cymraeg</a>


<!-- FILE_END::language.tmpl -->

        </div>

    </div><!--End of div id="footer"-->
    <!-- FILE_START::tracker.tmpl -->



</div>
{% endblock %}
