{% extends "layout-webfiling.html" %}

{% block page_title %}
  Companies House
{% endblock %}


{% block content %}

<style type="text/css">
#filing-alert {
    background: #666;
    color: #fff;
    display: inline-block;
    position: absolute;
    top:20.5em;
    width: 12em;
    padding:.4em .8em;
    text-align: center;
    border-radius:3px;
}
#filing-alert:before {
    border-bottom: 15px solid #666;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    height: 0;
    left: 44%;
    position: absolute;
    top: -15px;
    width: 0;
}
.profile-important {
    background-color:#DEE0E2;
    padding:.5em .5em;
    margin:1em 0 1em -.5em;
    width:250px;
    border-radius:7px;
    background: #DEE0E2 url("/public/images/reminder.png") no-repeat scroll 95% 10%;
  }
</style>



<div id="container">
    <!-- FILE_START::header.tmpl -->
<div class="headerLogo">
	<div class="container_16">
		<a href="/index" class="chLogo">
      <img src="/public/images/ch_gds_logo_white.png" alt="">
    </a>
	</div><!--End of class="headerLogo"-->
</div><!--End of div id="header"-->
<!-- FILE_END::header.tmpl -->


<div class="container_16" id="mainContent">



<!-- FILE_START::userHeaderBar.tmpl -->

<div class="grid_3 alpha userMenu">

		<p>Signed in to <br />Companies House
			<!-- jfrancis@companieshouse.gov.uk --><br/>
			<a href="javascript:void(0)">Sign out</a>
		</p>

		<ul style="padding-left:0;">
			<li><a class="" href="javascript:void(0)">Change account details</a></li>
      <li><a class="" href="javascript:void(0)">My recent filings</a></li>
		  <li><a class="" href="javascript:void(0)">Company authentication</a></li>
      <li><a class="" href="javascript:void(0)">File for a different company</a></li>
		  <li><a class="" href="javascript:void(0)">Company overview</a></li>
		</ul>
</div>
<!-- FILE_END::userHeaderBar.tmpl -->


	<div class="grid_13 omega">
    <!-- FILE_START::companyHeaderBar.tmpl -->
    <a href="javascript:void(0)" id="tabFormListing" class="right allForms">All forms</a>

<div class="clear"></div>

<!-- FILE_START::superSecureText.tmpl -->



<!-- FILE_END::superSecureText.tmpl -->


<div class="companyHeader">
	<h1 class="width-11">A TEST COMPANY LIMITED</h1>
	<p>Company Number <strong> 01234567</strong></p>
	<p>A Private Limited Company incorporated on <strong>27 November 1996</strong></p>



        <p class="label ROA">
            Registered office address is
            <!-- FILE_START::displayROAddressInline.tmpl -->
<strong>

          1 Any Street, Cardiff, Wales, CF12 3AB

</strong>
<!-- FILE_END::displayROAddressInline.tmpl -->

            <a href="javascript:void(0)" id="changeRO" class="">Change address</a>
        </p>

</div><!--End of div id="container"-->

<div class="clear"></div>
<!--<div id="filing-alert">Get filing reminders?</div>-->
            <ul class="status">

                <li class="pendingEmail">
                        Get emailed when filings are due<br />
                        <a href="javascript:void(0)"> Set up reminders<span class="hidden"> email notifications</span></a>

                </li>


					<li class="proofUnlocked">

                            Protect your company<br />
                            <a href="javascript:void(0)" class="none">Join PROOF<span class="hidden"> to get protected by PROOF</span></a>



					</li>


                 <li class="emailCompanySummary">

                        Current company information<br />
                        <a href="javascript:void(0)"><span class="hidden">Current company information</span>Request email</a>

                </li>




                            <li class="manageRegisters">
                                Company register details<br />
                                <a href="javascript:void(0)">
                                <span class="hidden">Company register details</span>Manage registers</a>
                            </li>




				<div class="clear"></div>
            </ul>

<!-- FILE_END::companyHeaderBar.tmpl -->


    <!-- FILE_START::viewControl.tmpl -->
<form name="menutabform" method="post" id="menutabform" action="">

<div class="clear"></div>
<input type="hidden" name="__VIEWSTATE" value="" data-postback="0"/>
</form>

<!-- FILE_START::viewCompanyProfileControl.tmpl -->
<div id="formlist">

    <div class="grid_5 alpha hidden">

            <p class="label ROA">Registered office address</p>


<!-- FILE_START::displayAddressControl.tmpl -->

<p class="margin-top-10 bold">


        1 Any Street<br>Cardiff<br>Wales<br>CF12 3AB</p>


<!-- FILE_END::displayAddressControl.tmpl -->

        <a href="javascript:void(0)" id="changeRO" class="">Change address</a>
    </div>

    <div class="grid_6 alpha accounting-dates">
<!-- FILE_START::displayAccountingDatesControl.tmpl -->
			<h2 class="infolabel ">Accounts due</h2>

        <p class="label">Next accounts made up to<br /><span class="value"><strong>31 March 2017</strong></span></p>
        <div class="profile-important">
        Next accounts due by<br /><strong>31 December 2017</strong><br /><a href="javascript:void(0)"> Set up a reminder?</a> <!--<img src="/public/images/reminder.png" / />-->
        </div>
        <p class="label">Last accounts made up to<br /><span class="value"><strong>31 March 2016</strong></span></p>
        <p class="margin-top-20"><a href="javascript:void(0)" class="">Change accounting reference date</a></p>
        <p><a id="fileAccountsLink" href="javascript:void(0)" class="button positive regular">File company accounts</a></p>

<!-- FILE_END::displayAccountingDatesControl.tmpl -->
</div>
    <div class="grid_7 omega confirmation-statement">
<!-- FILE_START::displayConfirmationStatementDatesControl.tmpl -->




            <h2 class="infolabel">First confirmation statement due</h2>






    <p><a href="javascript:void(0)" class="margin-top-minus-20 margin-bottom-20" target="_blank">
    Help with confirmation statement<span class="hidden"> Link opens in a new window</span>
  </a></p>

    <p class="label">Confirmation statement date<br /><span class="value"><strong id="CSMUD">19 January 2017</strong></span></p>
    <div class="profile-important">
      Next statement to be filed by<br /><span class="value"><strong id="CSDue">2 February 2017</strong><br /><a href="javascript:void(0)"> Set up a reminder?</a></span>
    </div>
    <p>Your payment period is from<strong id="CSPayStart">19 January 2016</strong><br/>to<strong id="CSPayEnd">18 January 2017</strong></p>
    <p class="margin-top-20"><a id="fileCS01Link" href="javascript:void(0)" class="button positive regular">File confirmation statement</a></p>







<!-- FILE_END::displayConfirmationStatementDatesControl.tmpl -->


</div>
    <div class="clear"></div>



            <!-- FILE_START::pscsListingCtrl.tmpl -->
<!-- FILE_START::pscsListing_include.tmpl -->
    <table id="psc-listing">
         <caption><span class="hidden">Persons with Significant Control (PSC)</span></caption>
        <thead>

        <tr>
            <th class="listing-heading">

                    <h2>Persons with Significant Control (PSC)</h2>

            </th>
        </tr>
        <!-- choosePSC -->
        <tr>

                <th></th>

        </tr>
        </thead>
        <tbody id="tbodyPSC">

            <tr><td>There are currently no persons with significant control registered.

            </td></tr>

        </tbody>
    </table>

<!-- FILE_END::pscsListing_include.tmpl -->


<!-- FILE_END::pscsListingCtrl.tmpl -->


            <!-- FILE_START::pscStatementListing_include.tmpl -->
        <table id="psc-listing-statements">

	<caption><span class="hidden">Persons of significant control (PSCs) - Statements</span></caption>
                <thead>
                <tr>
                        <th class="name">Statement</th>
                        <th class="dob">Date notified</th>
                        <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>

            <tr><td colspan="3">There are currently no persons with significant control statements registered.</td></tr>

            </tbody>
        </table>
<!-- FILE_END::pscStatementListing_include.tmpl -->



                <a href="javascript:void(0)" class="margin-right-30">Add a PSC notification</a>






    <!-- FILE_START::officersListingCtrl.tmpl -->

    <!-- FILE_START::officersListing_include.tmpl -->
    <table id="dir-sec-listing">
        <caption><span class="hidden">Directors and Secretaries</span></caption>
        <thead>
        <tr>
            <th class="listing-heading">



                    <h2>Directors and Secretaries</h2>


            </th>
	</tr>
	<tr>

	    <th class="name">Name</th>
	    <th class="role">Role</th>
            <th class="dob">Date of birth</th>
            <th colspan="2">&nbsp;</th>

        </tr>
        </thead>
        <tbody>


            <tr>

                <td>John SMITH</td>
                <td>

                    Secretary


                </td>
                <td>&nbsp;</td>
                <td><a href="javascript:void(0)">Edit <span class="hidden">John SMITH</span></a></td>
                <td><a href="javascript:void(0)">Remove<span class="hidden"> John SMITH</span></a></td>
            </tr>

            <tr>

                <td>John DOE</td>
                <td>
                    Director



                </td>
                <td>1 February 1954</td>
                <td><a href="javascript:void(0)">Edit <span class="hidden">John DOE</span></a></td>
                <td><a href="javascript:void(0)">Remove<span class="hidden"> John DOE</span></a></td>
            </tr>



        </tbody>
    </table>
<!-- FILE_END::officersListing_include.tmpl -->



    <p>


        <a href="javascript:void(0)" class="">Appoint a director</a>
        <a href="javascript:void(0)" class="margin-left-30">Appoint a secretary</a>





   </p>

<!-- FILE_END::officersListingCtrl.tmpl -->



    <div class="clear"></div>

    <!-- FILE_START::jquery.tmpl -->

</div>
<!-- FILE_END::viewCompanyProfileControl.tmpl -->


<div class="clear"></div>

<!-- FILE_END::viewControl.tmpl -->

	</div>
	<div class="clear"></div>


</div>
	<!-- FILE_START::footer.tmpl -->
	<div id="footer">

        <div class="container_16">
            <span class="email">
            <a href="javascript:void(0)">Email Companies House</a></span>
            <span class="telephone">Telephone +44 (0)303 1234 500 <em>8:30am to 6pm (UK time) Monday to Friday</em></span>
            <span class="help"><a href="javascript:void(0)">Help</a></span>
            <!-- FILE_START::language.tmpl -->

<a id="i18nLink" href="javascript:void(0)" class="language">Cymraeg</a>


<!-- FILE_END::language.tmpl -->

        </div>

    </div><!--End of div id="footer"-->



</div>   <!--End of div id="container"-->
{% endblock %}
