{% extends "layout-webfiling.html" %}

{% block page_title %}
  Companies House
{% endblock %}


{% block content %}





<div id="container">
    <!-- FILE_START::header.tmpl -->
<div class="headerLogo">
	<div class="container_16">
		<a href="/index" class="chLogo">
      <img src="/public/images/ch_gds_logo_white.png" alt="">
    </a>
	</div><!--End of class="headerLogo"-->
</div><!--End of div id="header"-->
<!-- FILE_END::header.tmpl -->


<div class="container_16" id="mainContent">

<h1 class="large-heading"><strong>Register on the Companies House service</strong></h1>
<p>Aenean rhoncus urna in erat new <a href="https://www.gov.uk/government/news/launch-of-the-new-companies-house-public-beta-service">Companies House service</a> vitae enim. Suspendisse tincidunt tristique mi. Integer auctor, nulla quis pharetra faucibus, lacus felis vestibulum neque, vel cursus metus justo sit amet ligula. Aliquam risus nibh, elementum nec erat sed, placerat dapibus nisi. Donec elementum sem orci, non dignissim ex lobortis iaculis. </p>
<ul>
  <li>Nunc at enim lacus. Nunc dolor ligula, sagittis ullamcorper fermentum a, ullamcorper sed metus. Morbi a ligula sem. Ut id ante elit. Donec malesuada neque sed quam bibendum pharetra</li>
  <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer at enim non augue suscipit varius</li>
  <li>Quisque scelerisque nunc a massa interdum efficitur. Maecenas vel auctor neque. Nullam finibus pulvinar lorem a suscipit. </li>
</ul>
<p class="margin-top-30"><a class="button positive regular" title="Something" href="/chs/chs-register-page-prefilled">Register on the Companies House service</a>
<a href="javascript:history.back()" class="negative right margin-top-0">Back</a></p>
	<div class="clear"></div>


</div>
	<!-- FILE_START::footer.tmpl -->
	<div id="footer">

        <div class="container_16">
            <span class="email">
            <a href="javascript:void(0)">Email Companies House</a></span>
            <span class="telephone">Telephone +44 (0)303 1234 500 <em>8:30am to 6pm (UK time) Monday to Friday</em></span>
            <span class="help"><a href="javascript:void(0)">Help</a></span>
            <!-- FILE_START::language.tmpl -->

<a id="i18nLink" href="javascript:void(0)" class="language">Cymraeg</a>


<!-- FILE_END::language.tmpl -->

        </div>

    </div><!--End of div id="footer"-->



</div>   <!--End of div id="container"-->
{% endblock %}
