{% extends "layout-chs.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">File your accounts prototype</h1>

			<h2 class="heading-medium">CATO-style</h2>
			<ul class="list list-bullet">
				<li><a href="/gov-uk/gov-uk-start-page">Starting from gov.uk (including CHS pages)</a></li>
        <li><a href="cato-style/cato-style-start-page">Shortcut to "Start" page</a></li>
      </ul>

      <h2 class="heading-medium">CATO-style (quicklinks)</h2>
      <ul class="list list-bullet">
        <li><a href="cato-style/cato-style-accounts-dates">Confirm your company account dates</a></li>
        <li><a href="cato-style/cato-style-about-your-business">About your business</a></li>
        <li><a href="cato-style/cato-style-type-of-accounts">Choose type of accounts</a></li>
        <li><a href="cato-style/cato-style-choose-micros">File Micros?</a></li>
        <li><a href="cato-style/cato-style-choose-full-or-abridged">File Abridged or Full?</a></li>
        <li><a href="cato-style/cato-style-start-page-abridged">Abridged - overview</a></li>
        <li><a href="cato-style/cato-style-balance-sheet">Abridged - balance sheet</a></li>
        <li><a href="cato-style/cato-style-balance-sheet-statements">Abridged - statements</a></li>
        <li><a href="cato-style/cato-style-balance-sheet-notes">Abridged - notes</a></li>
        <li><a href="cato-style/cato-style-approval">Approval</a></li>
        <li><a href="cato-style/cato-style-review">Review your filing</a></li>
        <li><a href="cato-style/cato-style-submission">Confirmation</a></li>
      </ul>

      <h2 class="heading-medium">One thing per page</h2>
			<ul class="list list-bullet">
				<li><a href="/question-style/question-intangible-assets">Intangible assets</a></li>
			</ul>

      <h2 class="heading-medium">Emails</h2>

      <ul class="list list-bullet">
        <li><a href="/chs/chs-email-example">Submission confirmation</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
