{% extends "layout-chs.html" %}

{% block page_title %}
  File your accounts (prototype)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">File your accounts (Discovery)</h1>

			<h2 class="heading-medium">The latest version</h2>
      <ul class="list list-bullet">
        <li><a href="/shortcuts">Discovery</a></li>
      </ul>

    </div>
  </div><!--grid-row-->
</main>

{% endblock %}
