{% extends "layout.html" %}
{% block pageTitle %}
  Community Interest Companies (prototype)
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">File CIC report and accounts (prototype)
          </h1>

          <div class="section-tabs js-tabs">
            <ul>
              <li>
                <a href="/small-full/small-full" id="">Full</a>
              </li>
              <li class="active">
                <a href="javascript:void(0)" id="">CICs</a>
              </li>
              <li>
                <a href="/accounts/abridged" id="">Abridged</a>
              </li>
            </ul>
          </div>

          <h2 class="govuk-heading-m">The latest version</h2>
          <ul class="govuk-list">
            <li>
              <a href="/cics/shortcuts-cics">Beta V7 (late September 2018)</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">Previous versions
            <span class="govuk-hint">
              Older versions might be 'switched off' - contact James Francis for access
            </span>
          </h2>
          <ul class="govuk-list">
            <li>
              <a href="https://ch-accounts-v23.herokuapp.com/cics/shortcuts-cics">Beta V6 (early September 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v22.herokuapp.com/cics/shortcuts-cics">Beta V5 (August 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v21.herokuapp.com/cics/shortcuts-cics">Beta V4 (July 2018)</a>
            </li>
            <li>
              <a href="https://ch-accounts-v20.herokuapp.com/cics/shortcuts-cics">Alpha V3 (June 2018)</a>
            <li>
              <a href="https://ch-accounts-v19.herokuapp.com/cics/shortcuts-cics">Alpha V2 (May 2018)</a>
              <span class="govuk-hint">V2 was sent to GDS for the Alpha assessment</span></li>
            <li>
              <a href="https://ch-accounts-v18.herokuapp.com/cics/shortcuts-cics">Alpha V1 (April 2018)</a>
            </li>
          </ul>

        </div>
      </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}