{% extends "layout-chs.html" %}

{% block page_title %}
  File your accounts (prototype)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">File company accounts V8<br> (Beta)
        <span class="form-hint" style="margin-top:.7em; font-size:21px">(Release 1 journey)</span></li>
      </h1>

			<h2 class="heading-medium">Starting points</h2>
      <h3 class="heading-small">WebFiling</h3>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-wf-abridged-register">gov.uk into WebFiling (only abbreviated users get CHS registration)</a></li>
        <li><a href="/gov-uk/gov-uk-start-page-wf-all-register">gov.uk into WebFiling (everyone gets CHS registration)</a></li>
        <li><a href="/gov-uk/gov-uk-start-page-wf-chs-search">gov.uk into WebFiling (then CHS search)</a></li>
      <!--  <li><a href="/webfiling/webfiling-login-page-chs-register">Start at WebFiling (password expiry)</a></li>-->
      </ul>
      <h3 class="heading-small">GOV.UK</h3>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-test">gov.uk into CHS accounts chooser (CHS search)</a></li>
        <li><a href="/gov-uk/gov-uk-start-page-direct">gov.uk into CHS accounts chooser (no CHS search)</a></li>
      </ul>

      <h3 class="heading-small">CHS</h3>
      <ul class="list list-bullet">
        <li><a href="/chs/chs-start-page">Starting from CHS</a></li>
      </ul>

      <p>&nbsp;</p>
      <h2 class="heading-medium">Shortcuts</h2>
      <ul class="list list-bullet">
        <li><a href="accounts/accounts-start-page">File abridged accounts (steps to complete)</a></li>
        <li><a href="accounts/accounts-accounts-dates">Confirm your company account dates</a></li>
        <!--<li><a href="accounts/accounts-start-page-abridged"><s>Abridged - overview</s></li>-->
        <li><a href="accounts/accounts-balance-sheet">Abridged - balance sheet</a></li>
        <li><a href="accounts/accounts-balance-sheet-statements">Abridged - statements</a></li>
        <li><a href="accounts/accounts-accounting-policies">Abridged - Notes (Accounting policies)</a></li>
        <li><a href="accounts/accounts-abridged-tangible-note">Abridged - Notes (Tangible assets)</a></li>
        <li><a href="accounts/accounts-abridged-creditors-yes-no">Abridged - Notes (Creditors - Yes/No)</a></li>

        <!--<li><a href="accounts/accounts-balance-sheet-notes">Abridged - notes</a></li>
        <li><a href="accounts/accounts-balance-sheet-notes-completed-5">Abridged - notes (showing 2 mandatory and 1 optional completed)</a></li>
        <li><a href="accounts/accounts-balance-sheet-notes-completed-5-warning">Abridged - notes (showing 2 mandatory and "change this note" warning)</a></li>-->
        <li><a href="accounts/accounts-review">Review your filing</a></li>
        <li><a href="accounts/accounts-approval">Approval</a></li>
        <li><a href="accounts/accounts-submission">Submission complete</a></li>
        <li><a href="chs/chs-your-filings">Your filings (showing accounts only)</a></li>


        <!--<li><a href="accounts/accounts-abridged-eligibility"><s>Eligibility</s></li>
        <li><a href="accounts/accounts-about-your-business"><s>About your business</s></li>
        <li><a href="accounts/accounts-type-of-accounts"><s>Choose type of accounts</s></li>
        <li><a href="accounts/accounts-choose-micros">File Micros?</a><s>File Micros?</s></li>
        <li><a href="accounts/accounts-choose-full-or-abridged">File Abridged or Full?</a><s>File Abridged or Full?</s></li>-->
      </ul>

      <h2 class="heading-medium">Other</h2>
      <ul class="list list-bullet">
        <li><a href="/webfiling/webfiling-profile">WebFiling profile</a></li>
        <li><a href="chs/chs-profile-page-logged-in">CHS profile (logged in)</a></li>
        <li><a href="chs/chs-profile-page-logged-in-notification">CHS profile (with in progress filings)</a></li>
        <li><a href="accounts/accounts-abridged-other-notes-yes-no">Other notes?</a></li>
        <li><a href="accounts/resume-submission">Resume your submission?</a></li>
        <li><a href="chs/chs-start-page-signed-in">CHS search (signed in)</a></li>
        <li><a href="accounts/contact-us">Contact us</a></li>
        <li><a href="chs/chs-eaccounts">eAccounts info page</a></li>
        <li><a href="accounts/wizard/wizard-trading">"I don't know" wizard</a></li>
        <li><a href="accounts/accounts-balance-sheet-notes-all">"Autosave" alerts</a></li>
        <li><a href="accounts/accounts-approval-B">View PDF (force download)</a></li>
        <li><a href="accounts/accounts-approval-C">View PDF (embedded in new page)</a></li>
        <li><a href="accounts/accounts-balance-sheet-with-errors">Balance sheet errors</a></li>
        <li><a href="accounts/accounts-balance-sheet-A">Balance sheet warning (yellow)</a></li>
      </ul>

      <h2 class="heading-medium">Your filings</h2>
      <ul class="list list-bullet">
        <li><a href="chs/chs-your-filings-alt">Your filings (showing various types)</a></li>
        <li><a href="chs/chs-your-filings-alt-2">Your filings (alternative designs)</a></li>
        <li><a href="chs/chs-your-filings-admin">Your filings (showing Admin view)</a></li>
        <li><a href="chs/chs-your-filings-with-warning">Your filings (with "rejected warnings")</a></li>
        <li><a href="chs/chs-your-filings-accounts-incomplete">Your filings (more alternative designs)</a></li>
      </ul>

      <h2 class="heading-medium">One thing per page</h2>
			<ul class="list list-bullet">
				<li><a href="/question-style/question-intangible-assets">Intangible assets</a></li>
			</ul>

      <h2 class="heading-medium">Emails</h2>

      <ul class="list list-bullet">
        <li><a href="/chs/chs-email-registration">CHS registration</a></li>
        <li><a href="/chs/chs-email-submission-confirmation">Submission confirmation (for Craig)</a></li>
        <li><a href="/chs/chs-email-submission-confirmation-test">Submission confirmation (testing)</a></li>
        <li><a href="/chs/chs-email-submission-accepted">Submission accepted</a></li>
        <li><a href="/chs/chs-email-submission-rejection">Submission rejected</a></li>
        <li><a href="/chs/ereminder-example">Accounts e-Reminder</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
