{% extends "layout-chs.html" %}

{% block page_title %}
  File your accounts (prototype)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">File abridged company accounts (prototype) V15
      </h1>

			<h2 class="heading-medium">Starting points</h2>
      <h3 class="heading-small">Proposed</h3>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-alternative-chs-search">Starting at gov.uk > new CHS search then chooser</a></li>
        <li><a href="/gov-uk/gov-uk-start-page-test">Starting at gov.uk > chooser then new CHS search</a></li>
        <li><a href="/chs/chs-start-page-no-gov-uk">Starting at CHS > accounts chooser</a></li>
      </ul>
      <h3 class="heading-small">Private Beta</h3>
      <ul class="list list-bullet">
        <li><a href="/webfiling/webfiling-login-page-chs-search">Starting at WebFiling > CHS (no search)</a></li>
        <li><a href="/gov-uk/gov-uk-start-page-wf-r1">Starting at gov.uk > WebFiling</a></li>
        <li><a href="/chs/chs-start-page-r1">Starting at CHS > R1 criteria page</a></li>
      </ul>

        <!--<li><a href="/webfiling/webfiling-login-page">Starting at WebFiling (only abridged users get CHS registration)</a></li>
      <li><a href="/webfiling/webfiling-chs-register">Starting at WebFiling (everyone gets CHS registration)</a></li>
      </ul>
      <h3 class="heading-small">GOV.UK</h3>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-test">gov.uk > accounts chooser (CHS search)</a></li>
        <li><a href="/chs/chs-start-page-r1">gov.uk into CHS accounts chooser (Release 1)</a></li>
      </ul>

      <h3 class="heading-small">CHS</h3>
      <ul class="list list-bullet">
        <li><a href="/chs/chs-start-page-no-gov-uk">Starting at CHS</a></li>
        <li><a href="/chs/chs-start-page-r1">Starting at CHS (Private beta)</a></li>
      </ul>

      <h3 class="heading-small">Google</h3>
      <ul class="list list-bullet">
        <li><a href="/other/google">Google  > gov.uk > accounts chooser (CHS search)</a></li>
      </ul>

      <h3 class="heading-small">Future journeys</h3>
      <ul class="list list-bullet">
        <li><a href="/gov-uk/gov-uk-start-page-current-chs-search">gov.uk > accounts chooser (current CHS search)</a></li>
        <li><a href="/gov-uk/gov-uk-start-page-alternative-chs-search">gov.uk > accounts chooser (alternative CHS search)</a></li>
        <li><a href="/gov-uk/gov-uk-start-page-direct">gov.uk > accounts chooser (company number only)</a></li>-->
      </ul>
      <h2 class="heading-medium">Shortcuts</h2>

      <ul class="list list-bullet">
        <li><a href="accounts/accounts-start-page">File abridged accounts (steps to complete)</a></li>
        <li><a href="accounts/accounts-accounts-dates">Confirm your company account dates</a></li>
        <!--<li><a href="accounts/accounts-start-page-abridged"><s>Abridged - overview</s></li>-->
        <li><a href="accounts/accounts-balance-sheet">Abridged - balance sheet</a></li>
        <li><a href="accounts/accounts-balance-sheet-statements">Abridged - statements</a></li>
      </ul>
        <h3 class="heading-small">Mandatory notes</h3>
        <ul class="list list-bullet">

        <li><a href="accounts/accounts-accounting-policies">Abridged - Notes (Accounting policies - basis of accounts preparation)</a></li>
        <li><a href="accounts/accounts-other-accounting-policies">Abridged - Notes (Accounting policies - other policies yes/no)</a></li>
        <li><a href="accounts/accounts-abridged-intangible-note">Abridged - Notes (Intangible assets)</a></li>
        <li><a href="accounts/accounts-abridged-tangible-note">Abridged - Notes (Tangible assets)</a></li>
        <li><a href="accounts/accounts-abridged-revaluation-reserve-note">Abridged - Notes (Revaluation reserve)</a></li>


        <!--<li><a href="accounts/accounts-abridged-creditors-yes-no">Abridged - Notes (Creditors - Yes/No)</a></li>-->
      </ul>
        <h3 class="heading-small">Other notes</h3>
        <ul class="list list-bullet">
          <li><a href="accounts/accounts-abridged-other-notes-yes-no">Other notes (yes/no questions)</a></li>
          <li><a href="accounts/accounts-abridged-other-notes">Other notes (revealed on same page)</a></li>
        <li><a href="accounts/accounts-abridged-employees-yes-no">Employees note - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-fixed-assets-yes-no">Fixed assets investments note - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-current-assets-yes-no">Current investments note - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-debtors-yes-no">Debtors note - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-creditors-within-yes-no">Creditors (amounts falling due within one year note) - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-creditors-after-yes-no">Creditors (amounts falling due after one year note) - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-commitments-yes-no">Financial commitments note - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-loans-yes-no">Loans to directors note - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-changes-in-presentation-yes-no">Changes in presentation and prior period adjustments note - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-related-transactions-yes-no">Related party transactions note - Yes/No</a></li>
        <li><a href="accounts/accounts-abridged-post-events-yes-no">Post balance sheet events note - Yes/No</a></li>
        <!--<li><a href="accounts/accounts-balance-sheet-notes">Abridged - notes</a></li>
        <li><a href="accounts/accounts-balance-sheet-notes-completed-5">Abridged - notes (showing 2 mandatory and 1 optional completed)</a></li>
        <li><a href="accounts/accounts-balance-sheet-notes-completed-5-warning">Abridged - notes (showing 2 mandatory and "change this note" warning)</a></li>-->
      </ul>
      <h3 class="heading-small">Review/Approval</h3>

      <ul class="list list-bullet">
        <li><a href="accounts/accounts-review">Check before you submit</a></li>
        <li><a href="accounts/accounts-approval">Approval</a></li>
        <li><a href="accounts/accounts-submission">Submission complete</a></li>
        <li><a href="chs/chs-your-filings">Your filings (showing accounts processing)</a></li>
        <li><a href="chs/chs-your-filings-incomplete">Your filings (showing accounts in progress)</a></li>
<!--<li><a href="accounts/accounts-abridged-eligibility"><s>Eligibility</s></li>
        <li><a href="accounts/accounts-about-your-business"><s>About your business</s></li>
        <li><a href="accounts/accounts-type-of-accounts"><s>Choose type of accounts</s></li>
        <li><a href="accounts/accounts-choose-micros">File Micros?</a><s>File Micros?</s></li>
        <li><a href="accounts/accounts-choose-full-or-abridged">File Abridged or Full?</a><s>File Abridged or Full?</s></li>-->
      </ul>

      <h2 class="heading-medium">Other</h2>
      <ul class="list list-bullet">
        <li><a href="/chs/chs-choose-abridged-or-other-r1">Criteria page (accounting period starts on or after 1 January 2016)</a></li>
        <li><a href="/chs/chs-choose-abridged-or-other-r1-not-eligible">Criteria page (accounting period starts before 1 January 2016)</a></li>
        <li><a href="/webfiling/webfiling-profile">WebFiling profile</a></li>
        <li><a href="/webfiling/webfiling-hmrc-third-party-before-abridged-go-live">WebFiling options for abridged before service goes live</a></li>
        <li><a href="chs/chs-profile-page-logged-in">CHS profile (logged in)</a></li>
        <li><a href="chs/chs-profile-page-logged-in-notification">CHS profile (with in progress filings)</a></li>
        <li><a href="chs/chs-choose-abridged-or-other">CHS choose abridged (or other)</a></li>
        <li><a href="accounts/accounts-abridged-other-notes-yes-no">Other notes (Yes/No questions)</a></li>
        <li><a href="/chs/chs-start-page-resume">Resume</a></li>
        <li><a href="chs/chs-start-page-signed-in">CHS search (signed in)</a></li>
        <li><a href="accounts/contact-us">Contact us</a></li>
        <li><a href="chs/chs-eaccounts">eAccounts info page</a></li>
        <li><a href="accounts/wizard/wizard-trading">"I don't know" wizard</a></li>
        <li><a href="accounts/accounts-approval-B">View PDF (force download)</a></li>
        <li><a href="accounts/accounts-approval-C">View PDF (embedded in new page)</a></li>
        <li><a href="accounts/accounts-balance-sheet-with-errors">Balance sheet errors</a></li>
        <li><a href="accounts/accounts-balance-sheet-A">Balance sheet (showing "yellow" optional warning)</a></li>
        <li><a href="accounts/accounts-balance-sheet-completed-with-warning">Balance sheet (showing "yellow" remove note warning)</a></li>
        <li><a href="/webfiling/webfiling-login-page-with-banner">WebFiling login (with private beta banner)</a></li>
        <li><a href="/webfiling/webfiling-accounts-picker-with-banner">WebFiling accounts chooser (with private beta banner)</a></li>


      </ul>

      <h2 class="heading-medium">Your filings</h2>
      <ul class="list list-bullet">
        <li><a href="chs/chs-your-filings-alt">Your filings (showing various types)</a></li>
        <li><a href="chs/chs-your-filings-alt-2">Your filings (alternative designs)</a></li>
        <li><a href="chs/chs-your-filings-admin">Your filings (showing Admin view)</a></li>
        <li><a href="chs/chs-your-filings-with-warning">Your filings (with "rejected warnings")</a></li>
        <li><a href="chs/chs-your-filings-accounts-incomplete">Your filings (more alternative designs)</a></li>
        <li><a href="chs/chs-your-filings-incomplete">Your filings (showing one incomplete)</a></li>

      </ul>

      <h2 class="heading-medium">One thing per page</h2>
			<ul class="list list-bullet">
				<li><a href="/question-style/question-intangible-assets">Intangible assets</a></li>
			</ul>

      <h2 class="heading-medium" id="emails">Emails</h2>

      <ul class="list list-bullet">
        <li><a href="/chs/chs-email-registration">CHS registration</a></li>
        <li><a href="/chs/chs-email-submission-confirmation">Submission confirmation (for Craig)</a></li>
        <li><a href="/chs/chs-email-submission-confirmation-test">Submission confirmation (testing)</a></li>
        <li><a href="/chs/chs-email-submission-accepted">Submission accepted</a></li>
        <li><a href="/chs/chs-email-submission-rejection">Submission rejected</a></li>
        <li><a href="/chs/ereminder-example">Accounts e-Reminder</a></li>
        <li><a href="/chs/private-beta-intro">Private Beta email (introduction)</a></li>

      </ul>

      <h2 class="heading-medium" id="cics">CICs</h2>

      <ul class="list list-bullet">
        <li><a href="/accounts/accounts-payment">Payment</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
