{% extends "layout.html" %}

{% block pageTitle %}
  Intangible assets
{% endblock %}

{% block main %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a class="link-back" href="accounts-balance-sheet-notes">Back</a>

  <div class="text">

  <h1 class="govuk-heading-xl">Intangible assets</h1>

  <div class="panel panel-border-wide">
    <p>As you have made an entry for intangible assets on the balance sheet, you are required to select at least one intangible assets note.</p>
  </div>

     <div class="form-group">
               <fieldset>

                 <legend class="visuallyhidden">Select intangible assets note(s)</legend>

                 <label class="block-label" for="intangible-assets-goodwill">
                   <input type="checkbox" id="intangible-assets-goodwill" value="goodwill" name="intangibleassets">
                   <span class="govuk-heading-s">Goodwill</span><br>
                   Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
                 </label>

                 <label class="block-label" for="intangible-assets-other">
                   <input type="checkbox" id="intangible-assets-other" value="other" name="intangibleassets">
                   <span class="govuk-heading-s">Other</span><br>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tria genera bonorum non est ista, inquam, Piso, magna dissensio
                 </label>


               </fieldset>
             </div>


      <div class="form-group accounts-row-spacer">
        <a class="button" href="accounts-balance-sheet-notes">Save and continue</a>
      </div>

</div><!--text-->
</main>
{% endblock %}
