{% extends "layout-chs.html" %}

{% block page_title %}
  Called up share capital
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>

    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2017</p>


<a class="link-back" href="accounts-balance-sheet-notes-completed">Back</a>


  <h1 class="heading-xlarge">Called up share capital</h1>

  <div class="grid-row" id="accounts-header">
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2016</h2>
    </div>
    <div class="column-quarter">
      <h2 class="heading-small">2015</h2>
    </div>
  </div>



<form action="/" method="post" class="form">

<h2 class="heading-medium">Ordinary shares</h2>

  <!--Start number of ordinary shares-->
  <div class="grid-row">
    <div class="column-half">
        <details>
          <summary><span class="summary">Number of shares</span></summary>
          <div class="panel panel-border-narrow">
            <p>The total number of ordinary shares your company has received or requested payment for – referred to as shares ‘called up’ by the company. Details of any ordinary shares that were issued, redeemed or cancelled during the year can be provided as additional information. </p>
          </div>
        </details>
    </div>

    <div class="column-quarter">
      <div class="form-group">
        <label for="number-ordinary-shares-current"><span class="visuallyhidden">Number of ordinary shares (current year)</span>
          <input type="number" class="form-control" id="number-ordinary-shares-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="number-ordinary-shares-previous"><span class="visuallyhidden">Number of ordinary shares (previous year)</span>
          <input type="number" class="form-control" id="number-ordinary-shares-previous">
        </label>
      </div>
    </div>

  </div>
  <!--End number of ordinary shares-->

  <!--Start nominal value per ordinary share (£)-->
  <div class="grid-row">
    <div class="column-half">
        <details>
          <summary><span class="summary">Nominal value per share (£)</span></summary>
          <div class="panel panel-border-narrow">
            <p>The individual nominal value (face value) of the ordinary share.</p>
          </div>
        </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="nominal-value-ordinary-shares-current"><span class="visuallyhidden">Nominal value per ordinary share (£) (current year)</span>
          <input type="number" class="form-control" id="nominal-value-ordinary-shares-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="nominal-value-ordinary-shares-previous"><span class="visuallyhidden">Nominal value per ordinary share (£) (previous year)</span>
          <input type="number" class="form-control" id="nominal-value-ordinary-shares-previous">
        </label>
      </div>
    </div>
  </div>
  <!--End nominal value per ordinary share (£)-->

  <!--Start total ordinary shares-->
  <div class="grid-row accounts-total">
    <div class="column-half">
      <details>
        <summary><span class="summary">Total (£)</span></summary>
        <div class="panel panel-border-narrow">
          <p>The total nominal value (face value) of all ordinary shares. This is calculated by multiplying the number of ordinary shares by their nominal value.</p>
        </div>
      </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="total-ordinary-shares-current"><span class="visuallyhidden">Total ordinary shares (current year)</span>
          <input type="number" class="form-control" id="total-ordinary-shares-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="total-ordinary-shares-previous"><span class="visuallyhidden">Total ordinary shares (previous year)</span>
          <input type="number" class="form-control" id="total-ordinary-shares-previous">
        </label>
      </div>
    </div>

  </div>
  <!--End total ordinary shares -->



  <h2 class="heading-medium">Preference shares</h2>

    <!--Start number of preference shares-->
    <div class="grid-row">
      <div class="column-half">
          <details>
            <summary><span class="summary">Number of shares</span></summary>
            <div class="panel panel-border-narrow">
              <p>The total number of preference shares your company has received or requested payment for – referred to as shares ‘called up’ by the company. Preference shares are shares which have priorities or additional rights associated with them. Details of any preference shares that were issued, redeemed or cancelled during the year can be provided as additional information. </p>
            </div>
          </details>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="number-preference-shares-current"><span class="visuallyhidden">Number of preference shares (current year)</span>
            <input type="number" class="form-control" id="number-preference-shares-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="number-preference-shares-current"><span class="visuallyhidden">Number of preference shares (previous year)</span>
            <input type="number" class="form-control" id="number-preference-shares-previous">
          </label>
        </div>
      </div>

    </div>
    <!--End number of preference shares--->

    <!--Start nominal value per preference share (£)-->
    <div class="grid-row">
      <div class="column-half">
          <details>
            <summary><span class="summary">Nominal value per share (£)</span></summary>
            <div class="panel panel-border-narrow">
              <p>The individual nominal value (face value) of the ordinary share.</p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="nominal-value-preference-shares-current"><span class="visuallyhidden">Nominal value per preference share (£) (current year)</span>
            <input type="number" class="form-control" id="nominal-value-preference-shares-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="nominal-value-preference-shares-previous"><span class="visuallyhidden">Nominal value per preference share (£) (previous year)</span>
            <input type="number" class="form-control" id="nominal-value-preference-shares-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End nominal value per preference share (£)-->





    <!--Start total preference shares-->
    <div class="grid-row accounts-total">
      <div class="column-half">
        <details>
          <summary><span class="summary">Total (£) </span></summary>
          <div class="panel panel-border-narrow">
            <p>The total nominal value (face value) of all ordinary shares. This is calculated by multiplying the number of ordinary shares by their nominal value. </p>
          </div>
        </details>
            </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="total-preference-shares-current"><span class="visuallyhidden">Total share capital (current year)</span>
            <input type="number" class="form-control" id="total-preference-shares-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="total-preference-shares-previous"><span class="visuallyhidden">Total share capital (previous year)</span>
            <input type="number" class="form-control" id="total-preference-shares-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End total preference shares-->




    <!--Start total share capital (£)-->
    <div class="grid-row accounts-total accounts-row-spacer">
      <div class="column-half">
          <details>
            <summary><span class="summary">Total share capital (£)</span></summary>
            <div class="panel panel-border-narrow">
              <p>The total value of all called up share capital. This is calculated by adding together the total value of ordinary shares and preference shares. </p>
            </div>
          </details>
      </div>

      <div class="column-quarter">
        <div class="form-group">
          <label for="total-share-capital-current"><span class="visuallyhidden">Total share capital (£) (current year)</span>
            <input type="number" class="form-control" id="total-share-capital-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="total-share-capital-previous"><span class="visuallyhidden">Total share capital (£) (previous year)</span>
            <input type="number" class="form-control" id="total-share-capital-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End total share capital (£))-->




    <details class="accounts-row-spacer text">
      <summary><span class="summary">Additional information (optional) </span></summary>
      <div class="panel panel-border-narrow">
        <label class="visuallyhidden" for="textarea">Additional information (optional)</label>
        <p class="form-hint">Scaevola mnesarchum assueverit vis in. Unum novum sententiae cu duo, ex dico modus inimicus mel, justo appetere vel ex</p>
        <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
      </div>
    </details>



      <div class="form-group accounts-row-spacer">
        <a class="button" href="accounts-balance-sheet-notes">Save and continue</a>
      </div>

</form>
</main>
{% endblock %}
