{% extends "layout.html" %}

{% block pageTitle %}
  Creditors - amounts falling due after one year note
{% endblock %}

{% block main %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a class="link-back" href="accounts-balance-sheet-notes">Back</a>
<div class="text">

  <h1 class="govuk-heading-l">Creditors - amounts falling due after one year note</h1>

  <form action="/" method="post" class="form">
    <label class="visuallyhidden" for="textarea">Creditors - amounts falling due after one year</label>
    <p class="govuk-hint">Use this note to record information about people or businesses that your company owes, but who you expect to pay after more than one year from the end of the period you're filing for. Include information about:</p>
    <ul class="list list-bullet govuk-hint">
      <li>money owed to secured creditors, for example bank loans or overdrafts</li>
      <li>instalment debts (where you repay in instalments)</li>
      <li>non-instalment debts (where you repay a lump sum)</li>
  </ul>
    <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
    <div class="form-group accounts-row-spacer">
      <a class="button" href="accounts-balance-sheet-notes-completed-5">Save and continue</a>
    </div>
  </form>
</div><!--text-->

</main>
{% endblock %}
