{% extends "layout-chs.html" %}

{% block page_title %}
Balance sheet notes - Related party transactions
{% endblock %}

{% block content %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}


  <div class="text">
    <h1 class="heading-xlarge"><span class="circle circle-step-large">4</span>
      Balance sheet notes
      <span class="circle-subheading">Related party transactions</span>
    </h1>
  </div><!--text-->

  <form action="/accounts/accounts-abridged-related-transactions-yes-no-2" method="get" class="form">

    <div class="left-indent">
      <div class="text">
        <h2 class="heading-medium">Do your prepared accounts include any 'related party transactions' notes?</h2>
        <details class="form-group">
          <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Fixed assets investments</span>
          <div class="panel panel-border-narrow form-hint">
            <p>Use this note to record transactions between related parties, for example, selling a company asset for more or less than market value or paying them rent or consultancy fees.</p>
            <p>Parties are 'related' when one has control or significant influence over the other, for example directors and investors (or close family members of either).  </p>
          </div>
        </details>
      </div><!--text-->

          <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include a 'related party transactions' note">
                  <legend class="visually-hidden">Do your prepared accounts include a 'related party transactions' note?</legend>
                  <div class="form-group">

                  <label class="block-label selection-button-radio" for="relatedtransactionsnoteyes" data-target="relatedtransactionsnoteyes-reveal">
                    <input id="relatedtransactionsnoteyes" name="relatedtransactionsnoteyn" value="Yes" aria-controls="relatedtransactionsnoteyes-reveal" type="radio">
                    Yes
                  </label>
                  <label class="block-label selection-button-radio" for="relatedtransactionsnoteno">
                    <input id="relatedtransactionsnoteno" name="relatedtransactionsnoteyn" value="No" type="radio">
                    No
                    </label>
                  </div><!--form-group-->

                </fieldset>



            <div class="js-hidden" id="relatedtransactionsnoteyes-reveal">
              <div class="panel panel-border-wide text">
              <p><strong>You can report up to 20 related party transactions.</strong></p>
            </div>

              <h2 class="heading-medium text">What sort of transaction was this?</h2>

                <div class="form-group">
                <fieldset>

                  <legend class="visuallyhidden">What sort of transaction was this?</legend>
                  <label class="block-label text selection-button-radio" for="1">
                  <input type="radio" id="1" value="" name="sort-of-transaction">
                    Money given to the company by a related party
                  </label>
                  <label class="block-label selection-button-radio" for="2">
                    <input type="radio" id="2" value="" name="sort-of-transaction">
                    Money given to a related party by the company
                  </label>


                </fieldset>
                </div>



              <div class="form-group text">
                <label class="heading-medium" for="name-of-related-party">Name of related party</label>
                <span class="form-hint">Enter the name of the person the transaction was with.</span>
                <input class="form-control" id="name-of-related-party" type="text">
              </div>


              <div class="form-group text">
                <label class="heading-medium" for="description-of-transaction">Description of the transaction</label>
                <span class="form-hint">Enter a brief description of the transaction. For example, "The transaction was the loan of an asset".</span>
                <textarea type="text" id="description-of-transaction" class="form-control" rows="5"></textarea>
              </div>





                  <!--Start balance at start-->

                  <div class="grid-row" id="accounts-header">
                    <div class="column-half">
                      &nbsp;
                    </div>
                    <div class="column-quarter">
                      <h2 class="heading-small">£</h2>
                    </div>
                  </div>

                  <div class="grid-row">
                    <div class="column-half">
                        <details>
                          <summary><span class="summary">Balance at 1 April 2016</span></summary>
                          <div class="panel panel-border-narrow">
                              <p>Enter the amount paid or owed to or by this related party at the start of the period your'e filing for.</p>
                          </div>
                        </details>
                    </div>

                    <div class="column-quarter">
                      <div class="form-group">
                        <label for="balance-at-start"><span class="visuallyhidden">Balance at 1 April 2016</span>
                          <input type="number" class="form-control" id="balance-at-start">
                        </label>
                      </div>
                    </div>

                  </div>
                  <!--End balance at start-->


                  <!--Start balance at end-->
                  <div class="grid-row">
                    <div class="column-half">
                      <details>
                        <summary><span class="summary">Balance at 31 March 2017</span></summary>
                        <div class="panel panel-border-narrow">
                          <p>Enter the amount paid or owed to or by this related party at the end of the period you're filing for.</p>
                        </div>
                      </details>
                    </div>
                    <div class="column-quarter">
                      <div class="form-group">
                        <label for="balance-at-end"><span class="visuallyhidden">Balance at 31 March 2017 (optional)</span>
                          <input type="number" class="form-control" id="balance-at-end">
                        </label>
                      </div>
                    </div>
                  </div>
                  <!--End balance at end--->






















            </div><!--relatedtransactionsnoteyes-reveal-->



          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Save and continue" id="">
          </div>
        </form>
      </div><!--left-indent-->


</main>
{% endblock %}
