{% extends "layout.html" %}

{% block pageTitle %}
  Dividends
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}
<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a class="link-back" href="accounts-balance-sheet-notes">Back</a>


  <h1 class="govuk-heading-xl">Dividends</h1>

  <div class="grid-row" id="accounts-header">
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-quarter">
      <h2 class="govuk-heading-s">2016</h2>
    </div>
    <div class="column-quarter">
      <h2 class="govuk-heading-s">2015</h2>
    </div>
  </div>



<form action="/" method="post" class="form">


  <!--Start dividends -->
  <div class="grid-row accounts-row-spacer">
    <div class="column-half">
        <details>
          <summary><span class="summary">Dividends</span></summary>
          <div class="panel panel-border-narrow">
            <p>The average number of persons employed by the company during the accounting period.</p>
          </div>
        </details>
    </div>

    <div class="column-quarter">
      <div class="form-group">
        <label for="dividends-current"><span class="visuallyhidden">Dividends (current year)</span>
          <input type="number" class="form-control" id="dividends-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="dividends-previous"><span class="visuallyhidden">Dividends (previous year)</span>
          <input type="number" class="form-control" id="dividends-previous">
        </label>
      </div>
    </div>
  </div>
  <!--End dividends -->





      <div class="form-group accounts-row-spacer">
        <a class="button" href="accounts-balance-sheet-notes">Save and continue</a>
      </div>

</form>
</main>
{% endblock %}
