{% extends "layout-chs.html" %}

{% block page_title %}
  Accounting policies
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>





<a class="link-back" href="javascript:history.back()">Back</a>

{% include 'includes/error.html' %}


  <h1 class="heading-xlarge"><span class="circle circle-step-large">4</span>
    Basis of accounts preparation
    <span class="circle-subheading">Balance sheet notes</span>
  </h1>


  <div class="left-indent text">
    <!--<p class="lede">This page describes the methods and measurements you've used to prepare your company accounts.</p>-->


    <form class="form" method="get" action="/accounts/accounts-review">
      <h2 class="bold-medium text">Choose the statement that reflects the way your accounts were prepared:</h2>

      <p>
        <details class="text">
          <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Choose the statement that reflects the way your accounts were prepared</span>
          <div class="panel panel-border-narrow form-hint">
            <p>This policy is about the accounting standards you've prepared your accounts to. As a small company you're likely to have prepared your full accounts for shareholders or members using the simpler provisions of Section 1A (Small Entities) of Financial Reporting Standard 102. Your accounts should include a statement about the basis of measurement and preparation.</p>
          </div>
        </details>
      </p>



      <fieldset data-required="" data-error=" You must choose the statement that reflects the way your accounts were prepared">

              <legend class="visuallyhidden">Basis of preparation</legend>
              <div class="form-group">

              <label class="block-label text selection-button-radio" for="1">
                <input id="1" value="" name="basis-of-preparation" type="radio" checked="checked">
                These financial statements have been prepared in accordance with the provisions of Section 1A (Small Entities) of Financial Reporting Standard 102
              </label>

              <label data-target="2-reveal" class="block-label text selection-button-radio" for="2">
                <input id="2" value="" name="basis-of-preparation" aria-controls="2-reveal" aria-expanded="false" type="radio">
                These accounts have been prepared in accordance with another standard
              </label>
            </div><!--form-group-->

            </fieldset>

    <div id="2-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
      <label class="visuallyhidden" for="2-textarea"></label>
      Enter the basis of measurement and preparation for your accounts:
      <textarea type="text" id="2-textarea" class="form-control" rows="10"></textarea>
    </div>





    <div class="form-group">
      <input type="submit" class="button" value="Save and continue">
      </div>
    </form>

  </div><!--left-indent-->


</div><!--text-->




</main>

{% endblock %}
