{% extends "layout-chs.html" %}

{% block page_title %}
  Financial commitments note
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a class="link-back" href="accounts-balance-sheet-notes">Back</a>
<div class="text">

  <h1 class="heading-xlarge">Financial commitments note</h1>

  <form action="/" method="post" class="form">
    <label class="visuallyhidden" for="textarea">Financial commitments</label>
    <p class="form-hint">Use this note to record the total amount (or estimated amount) your company has committed to spend on future assets.</p>
    <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
    <div class="form-group accounts-row-spacer">
      <a class="button" href="accounts-balance-sheet-notes-completed-5">Save and continue</a>
    </div>
  </form>
</div><!--text-->

</main>
{% endblock %}
