{% extends "layout-chs.html" %}

{% block page_title %}
   Eligibility
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>



      <form action="/accounts/accounts-accounts-dates" method="get" class="form">


                    <h1 class="heading-xlarge">Eligibility</h1>
                    <p>To file abridged accounts, your accounts must meet <strong>at least two of the following:</strong></p>
                    <ul class="list list-bullet">
                      <li>Turnover must not be more than £10.2 million</li>
                      <li>Balance sheet total must not be more than £5.1 million</li>
                      <li>The average number of employees during the year must not be more than 50</li>
                    </ul>



      <div class="form-group">
        <input type="submit" class="button" value="Continue to Account dates" id="">
      </div>

            </form>






        </div><!-- text-->

      </main>

      {% endblock %}
