{% extends "layout.html" %}

{% block pageTitle %}
  Creditors - amounts falling due within one year note
{% endblock %}

{% block main %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a id="back" class="link-back" href="javascript:history.back()">Back</a>

  <div class="text">
    <h1 class="govuk-heading-xl"><span class="circle circle-step-large">3</span>
      Balance sheet notes
      <span class="circle-subheading">Creditors - amounts falling due within one year</span>
    </h1>
      <form action="/" method="post" class="form">
    <label class="visuallyhidden" for="textarea">Creditors - amounts falling due within one year</label>
    <div class="left-indent">
      <p class="govuk-hint">Provide information about who your business owes money to and you expect to pay within one year from the filing date.</p>
      <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>

    <div class="form-group accounts-row-spacer">
      <a class="button" href="accounts-balance-sheet-notes-creditors-within-completed">Next</a>
    </div>

    </div><!--left-indent-->

  </div><!--text-->

</main>
{% endblock %}
