{% extends "layout-chs.html" %} {% block page_title %} Tangible assets note {% endblock %} {% block content %}
<main class="two-column-accounts" id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<nav class="content" role="navigation">
		<ul class="mobile-hidden" id="navigation">
			<li class="user" id="signed-in-user">jsmith@testcompany.co.uk:
			</li>
			<li>
				<a href="javascript:void(0)">Your details</a>
			</li>
			<li>
				<a href="javascript:void(0)" id="recent_filings">Your filings</a>
			</li>
			<li>
				<a href="javascript:void(0)" id="">Companies you follow</a>
			</li>
			<li>
				<a href="javascript:void(0)" id="user-signout">Sign out</a>
			</li>
		</ul>
	</nav><a class="link-back" href="javascript:history.back()" id="back">Back</a>
	<h1 class="heading-xlarge">
		<span class="circle circle-step-large">3</span> Balance sheet notes <span class="circle-subheading">Revaluation reserve</span>
	</h1>
	<div class="left-indent">
		<div class="panel panel-border-wide">
			<p>
				Use this note to provide information about the revaluation reserve value from your balance sheet.
			</p>
		</div>
		<form action="/" class="form" id="" method="post" name="">
			<div class="grid-row accounts-row-spacer" id="accounts-header">
				<div class="column-half">
					<h2 class="heading-medium">
						&nbsp;
					</h2>
				</div>
				<div class="column-quarter">
					<h2 class="heading-small">
						£
					</h2>
				</div>
				<div class="column-quarter">
					<h2 class="heading-small"></h2>
				</div>
			</div>

			<!--Start "At start of period"  -->
			<div class="grid-row">
				<div class="column-half">
					<details>
						<summary>
							<span class="summary">At 1 April 2016</span>
						</summary>
						<div class="panel panel-border-narrow">
	            <p>The total amount of revaluation reserve (surplus or deficit) at the start of the financial period.</p>
	            <p class="bold-small">This amount is usually already given in the box, as it is the revaluation reserve figure you entered in your balance sheet for the previous year.</p>
							<p>If the revaluation results in a deficit (reduction in value) of the asset, then you’ll see a negative value with a minus sign.</p>
	        </div>
					</details>
				</div>
				<div class="column-quarter">
					<div class="form-group">
						<label for="revaluation-reserve-start"><span class="visuallyhidden">At start of period</span>
            <input class="form-control" id="revaluation-reserve-start" type="number" value="100" readonly=""></label>
					</div>
			</div>
		</div><!--grid-row-->
		<!--End "At start of period"  -->


			<!--Start "Surplus or deficit arising from revaluation-->
			<div class="grid-row">
				<div class="column-half">
					<details>
						<summary>
							<span class="summary">Surplus or deficit arising from revaluation</span>
						</summary>
						<div class="panel panel-border-narrow">
	            <p>The cumulative surplus or deficit (increase or reduction) in the value of your company's tangible (physical) and intangible (non-physical) assets after a revaluation. For example, an increase in the value of land after a revaluation.</p>
							<p>If the revaluation results in a deficit (reduction in value) of the asset, then enter a negative value using a minus sign.</p>
	          </div>
					</details>
				</div>
				<div class="column-quarter">
					<div class="form-group">
						<label for="revaluation-reserve-surplus"><span class="visuallyhidden">Surplus or deficit arising from revaluation</span>
            <input class="form-control" id="revaluation-reserve-surplus" type="number"></label>
					</div>
			</div>
		</div><!--grid-row-->
		<!--End "Surplus or deficit arising from revaluation"-->

			<!--Start "At end of period"-->
			<div class="grid-row accounts-total">
				<div class="column-half">
					<details>
						<summary>
							<span class="summary">At 31 March 2017</span>
						</summary>
						<div class="panel panel-border-narrow">
		          <p>The total amount of revaluation reserve at the end of the accounting period.</p>
		          <p>This is calculated by adding together the revaluation reserve at the start of the accounting period and the surplus arising from revaluations (or subtracting the deficit arising from revaluations).</p>
		        </div>
					</details>
				</div>
				<div class="column-quarter">
					<div class="form-group">
						<label for="revaluation-reserve-end"><span class="visuallyhidden">At end of period</span>
            <input class="form-control" id="revaluation-reserve-end" type="number" readonly></label>
					</div>
				</div>
			</div><!--grid-row-->
			<!--End "At end of period"-->

			<details class="accounts-row-spacer text">
				<summary>
					<span class="summary">Add additional information? (optional)</span>
				</summary>
				<div class="panel panel-border-narrow">
					<label class="visuallyhidden" for="textarea">Add additional information? (optional)</label>
					<textarea class="form-control" id="textarea" rows="10"></textarea>
				</div>
			</details>

			<div class="form-group accounts-row-spacer">
				<a class="button" href="/accounts/accounts-abridged-other-notes-yes-no">Next</a>
			</div>
		</form>
	</div><!--left-indent-->
</main>{% endblock %}
