{% extends "layout.html" %}

{% block pageTitle %}
Balance sheet notes - Changes in presentation and prior period adjustments
{% endblock %}

{% block main %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<!--<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>-->




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}


  <div class="text">
    <h1 class="govuk-heading-xl"><span class="circle circle-step-large">4</span>
      Balance sheet notes
      <span class="circle-subheading">Changes in presentation and prior period adjustments</span>
    </h1>


    <div class="left-indent">
    <h2 class="govuk-heading-m">Do your prepared accounts include a 'changes in presentation and prior period adjustments' note?</h2>

    <form action="/accounts/accounts-abridged-post-events-yes-no-r1" method="get" class="form">
          <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include a 'changes in presentation and prior period adjustments' note">
                  <legend class="visually-hidden">Do your prepared accounts include a 'changes in presentation and prior period adjustments' note?</legend>
                  <div class="form-group">

                  <label class="block-label selection-button-radio" for="changespresentationnoteyes" data-target="changespresentationnoteyes-reveal">
                    <input id="changespresentationnoteyes" name="changespresentationnoteyn" value="Yes" aria-controls="changespresentationnoteyes-reveal" type="radio">
                    Yes
                  </label>
                  <label class="block-label selection-button-radio" for="changespresentationnoteno">
                    <input id="changespresentationnoteno" name="changespresentationnoteyn" value="No" type="radio">
                    No
                    </label>
                  </div><!--form-group-->

                </fieldset>



            <div class="panel panel-border-narrow js-hidden" id="changespresentationnoteyes-reveal">
              <p class="govuk-hint">Use this note to describe any changes you've made to your accounts to accommodate changes in accounting standards. For example, if you've had to recalculate a previous years accounts figures.</p>
                  <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
            </div><!--changespresentationnoteyes-reveal-->



          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Save and continue" id="">
          </div>
        </form>
      </div><!--left-indent-->
    </div><!--text-->


</main>
{% endblock %}
