{% extends "layout-chs.html" %}

{% block page_title %}
  File abridged accounts with Companies House
{% endblock %}



{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}




<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>



      <h1 class="heading-xlarge">File abridged accounts with Companies House</h1>


               <h2 class="heading-medium">A heading about accounting periods</h2>

               <p>A body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
               <ul class="list list-bullet">
                 <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
                 <li>vestibulum id ligula porta felis euismod semper</li>
                 <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
               </ul>


               <h2 class="heading-medium">Does your accounting period end on or before 31 December 2015?</h2>

               <form action="/accounts/accounts-start-page-abbreviated" method="get" class="form">

                   <fieldset class="inline" data-required="" data-error="Please confirm if your accounting period end on or before 31 December 2015">
                     <div class="form-group">

                     <legend class="visually-hidden">Does your accounting period end on or before 31 December 2015?</legend>

                     <label class="block-label selection-button-radio" for="abbreviateddate-yes">
                       <input id="abbreviateddate-yes" type="radio" name="abbreviateddates" value="Yes">
                       Yes
                     </label>
                     <label class="block-label selection-button-radio" for="abbreviateddate-no">
                       <input id="abbreviateddate-no" type="radio" name="abbreviateddates" value="No">
                       No
                     </label>
                   </div><!--form-group-->

                 </fieldset>

                 <div class="form-group">
                 <input type="submit" class="button" value="Continue">
                 </div>




       </form>







  </div><!-- text-->

</main>

{% endblock %}
