{% extends "layout.html" %}

{% block pageTitle %}
  Balance sheet notes
{% endblock %}

{% block main %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}


<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>



  <h1 class="govuk-heading-l"><span class="circle circle-step-large">4</span> Balance sheet notes</h1>

    <div class="text">
      <p class="lede">You need to provide additional information about some of the figures you entered in your balance sheet.</p>
    </div>

  <table class="check-your-answers">
  <caption class="visuallyhidden">Mandatory notes</caption>
  <thead>
    <tr>
      <th class=" heading-large" colspan="4">
    Mandatory notes
    <div class="panel panel-border-wide">
      <p>Based on your balance sheet entries, you <strong>must</strong> supply these notes.</p>
    </div>
        </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="note-completed">
        <span class="fa-stack fa-lg accounts-success">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-check fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
        <span class="visuallyhidden">Accounting policies completed</span>
      </td>
      <td>Accounting policies</td>
      <td></td>
      <td class="change-answer"><a href="accounts-accounting-policies">Change note <span class="visuallyhidden">Accounting policies</span></a></td>
    </tr>
      <tr>
        <td class="note-completed">
          <span class="fa-stack fa-lg accounts-success">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse aria-hidden="true""></i>
          </span>
          <span class="visuallyhidden">Tangible assets note completed</span>
        </td>
        <td>Tangible assets</td>
        <td></td>
        <td class="change-answer"><a href="accounts-abridged-tangible-note">Change note <span class="visuallyhidden">Tangible assets</span></a></td>
      </tr>
    </tbody>
  </table>






  <table class="check-your-answers">
  <caption class="visuallyhidden">Optional notes</caption>
  <thead>
    <tr>
      <th class="govuk-heading-l" colspan="4">Optional notes
        <span class="govuk-hint text">You can add these notes if you want to.</span>
      </th>
    </tr>
  </thead>
  <tbody>
      <tr id="employees-delete-warning"  style="display: none;">
        <td colspan="4" class="error-summary" id="delete-summary">
        <p><strong>Are you sure you want to delete the Employees note?</strong></p>
        <p><a href="javascript:void(0)" class="button">Yes, delete <span class="visuallyhidden">Employees note</span></a> <a class="no-delete " href="javascript:void(0)">No, keep <span class="visuallyhidden">Employees note</span></a></p>
        </td>
      </tr>
      <tr>
        <td class="note-completed">
          <span class="fa-stack fa-lg accounts-success">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse" aria-hidden="true"></i>
          </span>
          <span class="visuallyhidden">Employees note completed</span></td>
        <td>Employees</td>
        <td></td>
        <td class="change-answer"><a href="accounts-employees" id="employees-delete">Delete note<span class="visuallyhidden">Employees</span></a> | <a href="accounts-employees">Change note<span class="visuallyhidden">Employees</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Fixed assets investments<span class="govuk-hint text">Use this note to provide a more detailed breakdown of the fixed asset investments figure you entered on your balance sheet</span></td>
        <td><!--£15--></td>
        <td class="change-answer"><a href="accounts-fixed-assets-investments-note">Add note<span class="visuallyhidden">Fixed assets investments</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Current assets investments<span class="govuk-hint text">Use this note to provide a more detailed breakdown of the current assets investment figure you entered on your balance sheet</span></td>
        <td><!--£15--></td>
        <td class="change-answer"><a href="accounts-current-assets-investments-note">Add note<span class="visuallyhidden">Current assets investments</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Debtors<span class="govuk-hint text">Use this note to record information about people who owe money for goods or services your company provided as part of its normal trading activities</span></td>
        <td><!--£15--></td>
        <td class="change-answer"><a href="accounts-debtors">Add note<span class="visuallyhidden">Debtors</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Creditors - amounts falling due within one year<span class="govuk-hint text">Use this note to record information about people or businesses that your company owes, but who you expect to pay within one year from the end of the period you're filing for</span></td>
        <td><!--£10--></td>
        <td class="change-answer"><a href="accounts-creditors-amounts-falling-due-within-one-year">Add note<span class="visuallyhidden">Creditors - amounts falling due within one year</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Creditors - amounts falling due after more than one year<span class="govuk-hint text">Use this note to record information about people or businesses that your company owes, but who you expect to pay after more than one year from the end of the period you're filing for</span></td>
        <td><!--£5--></td>
        <td class="change-answer"><a href="accounts-creditors-amounts-falling-due-after-one-year">Add note<span class="visuallyhidden">Creditors - amounts falling due after more than one year</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Financial commitments<span class="govuk-hint text">Use this note to record the total amount (or estimated amount) your company has committed to spend on future assets</span></td>
        <td></td>
        <td class="change-answer"><a href="accounts-financial-commitments">Add note <span class="visuallyhidden">Financial commitments</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Loans to directors<span class="govuk-hint text">Use this note to record any transactions with your company's directors, such as advances and credits, or loans guaranteed by a director</span></td>
        <td></td>
      <td class="change-answer"><a href="accounts-loans-to-directors">Add note <span class="visuallyhidden">Loans to directors</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Changes in presentation and prior period adjustments<span class="govuk-hint text">Use this note to describe any changes you've made to your accounts to accommodate changes in accounting standards</span></td>
        <td></td>
        <td class="change-answer"><a href="accounts-financial-changes-in-presentation">Add note <span class="visuallyhidden">Changes in presentation and prior period adjustments</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Related party transactions<span class="govuk-hint text">Use this note to record transactions between related parties (for example directors and investors)</span></td>
        <td></td>
        <td class="change-answer"><a href="accounts-related-party-transactions">Add note <span class="visuallyhidden">Related party transactions</span></a></td>
      </tr>
      <tr>
        <td class="note-completed"></td>
        <td>Post balance sheet events<span class="govuk-hint text">Use this note to record any events which happened between the balance sheet date and the date your company accounts were authorised if they had an impact on your accounts</span></td>
        <td></td>
        <td class="change-answer"><a href="accounts-post-balance-sheet-events">Add note <span class="visuallyhidden">Post balance sheet events</span></a></td>
      </tr>
    </tbody>
  </table>
<br>
  <div class="form-group">
    <p><a href="accounts-review" class="button">Save and continue</a></p>
  </div>

</main>

{% endblock %}
