{% extends "layout-chs.html" %}

{% block page_title %}
Balance sheet notes - Any other accounting policies
{% endblock %}



{% block content %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}


  <div class="text">
    <h1 class="heading-xlarge"><span class="circle circle-step-large">3</span>
      Balance sheet notes
      <span class="circle-subheading">Any other accounting policies</span>
    </h1>
  </div>

    <div class="left-indent">
      <div class="text">
        <h2 class="heading-medium">Do your prepared accounts include any other accounting policies?</h2>
        <details class="form-group">
          <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Other accounting policies</span>
          <div class="panel panel-border-narrow form-hint">
            <p>Use this policy to report other policies you may have that aren’t covered by the policies earlier, such as:</p>
                <ul class="list list-bullet">
                    <li>depreciation of assets obtained under hire purchases or leases</li>
                    <li>deferred taxation</li>
                    <li>pensions or retirement benefits</li>
                </ul>
          </div>
        </details>


    <form action="/accounts/accounts-abridged-intangible-note" method="get" class="form">
          <fieldset class="inline form-group" data-required="" data-error=" Please confirm if you want to include any other accounting policies">
                  <legend class="visually-hidden">Do your prepared accounts include any other accounting policies?</legend>
                  <label class="block-label selection-button-radio" for="employeesnoteyes" data-target="employeesnoteyes-reveal">
                    <input id="employeesnoteyes" name="employeesnoteyn" value="Yes" aria-controls="employeesnoteyes-reveal" type="radio">
                    Yes
                  </label>
                  <label class="block-label selection-button-radio" for="employeesnoteno">
                    <input id="employeesnoteno" name="employeesnoteyn" value="No" type="radio">
                    No
                    </label>

                </fieldset>




                            <div class="panel panel-border-narrow js-hidden" id="employeesnoteyes-reveal">

                                            <fieldset>
                                            <legend class="visuallyhidden">Other policies</legend>
                                              <label class="visuallyhidden" for="other-1"></label>
                                            <textarea type="text" id="other-1" class="form-control" rows="5"></textarea>

                                          </fieldset>

                              </div>



          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Next" id="">
          </div>
        </form>
      </div>
      </div><!--left-indent-->

</main>
{% endblock %}
