{% extends "layout.html" %}

{% block pageTitle %}
  File full accounts with Companies House
{% endblock %}



{% block main %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}




<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>



      <h1 class="govuk-heading-xl">File full accounts with Companies House</h1>


               <h2 class="govuk-heading-m">Before you start </h2>

               <p>You'll need:</p>

               <ul class="govuk-list">
                 <li>your email address and password you used to sign up for the Companies House service</li>
                 <li>the authentication code Companies House sent you</li>
               </ul>

               <h3 class="govuk-heading-s">If you’re filing for the first time </h3>

            <p>You can <a rel="external" href="javascript:void(0)">register online</a>. You’ll need your email address and create a password.</p>
            <p>Once registered, we’ll post an authentication code to your registered office. If your company already has a code, a reminder will be sent.</p>
            <p>Allow up to 5 days for delivery of your code.</p>
            <p>For security reasons your code can’t be provided by email or over the phone.</p>


         <div class="form-group">
           <a role="button" class="button" href="/chs/chs-start-page-alternative-chs-search-small-full">File full accounts</a>
           <span class="destination"> on the Companies House service</span>
         </div>











  </div><!-- text-->

</main>

{% endblock %}
