{% extends "layout-chs.html" %}

{% block page_title %}
  Changes in presentation and prior period adjustments note
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a class="link-back" href="accounts-balance-sheet-notes">Back</a>
<div class="text">

  <h1 class="heading-xlarge">Changes in presentation and prior period adjustments note</h1>
  <form action="/" method="post" class="form">
    <label class="visuallyhidden" for="textarea">Changes in presentation and prior period adjustments</label>
    <p class="form-hint">Use this note to describe any changes you've made to your accounts to accommodate changes in accounting standards. For example, if you've had to recalculate a previous years accounts figures.</p>
    <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
    <div class="form-group accounts-row-spacer">
      <a class="button" href="accounts-profit-before-tax-check">Save and continue</a>
    </div>
  </form>
</div><!--text-->

</main>
{% endblock %}
