{% extends "layout-chs.html" %}

{% block page_title %}
Balance sheet notes - Financial commitments
{% endblock %}

{% block content %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}


  <div class="text">
    <h1 class="heading-xlarge"><span class="circle circle-step-large">3</span>
      Balance sheet notes
      <span class="circle-subheading">Financial commitments</span>
    </h1>


    <div class="left-indent">
    <h2 class="heading-medium">Do your prepared accounts include a 'financial commitments' note?</h2>

    <form action="/accounts/accounts-abridged-loans-yes-no-completed" method="get" class="form">
          <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include a 'financial commitments' note">
                  <legend class="visually-hidden">Do your prepared accounts include a 'financial commitments' note?</legend>
                  <div class="form-group">

                  <label class="block-label selection-button-radio" for="financialcommitmentsnoteyes" data-target="financialcommitmentsnoteyes-reveal">
                    <input id="financialcommitmentsnoteyes" name="financialcommitmentsnoteyn" value="Yes" aria-controls="financialcommitmentsnoteyes-reveal" type="radio">
                    Yes
                  </label>
                  <label class="block-label selection-button-radio" for="financialcommitmentsnoteno">
                    <input id="financialcommitmentsnoteno" name="financialcommitmentsnoteyn" value="No" type="radio" checked="checked">
                    No
                    </label>
                  </div><!--form-group-->

                </fieldset>



            <div class="panel panel-border-narrow js-hidden" id="financialcommitmentsnoteyes-reveal">
              <p class="form-hint">Use this note to record the total amount (or estimated amount) your company has committed to spend on future assets.</p>
          <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
          </div>



          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Next" id="">
          </div>
        </form>
      </div><!--left-indent-->
    </div><!--text-->


</main>
{% endblock %}
