{% extends "layout-chs.html" %}

{% block page_title %}
  Approval
{% endblock %}


{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
          $("a.PDF").addClass("hidden");
          $("a.pop").removeClass("hidden");

  });
</script>
<script>
function openWin() {
    window.open("/public/pdf/abridged-accounts-sample.pdf","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=900, height=500, top=200");
}
</script>




<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>

  {% include 'includes/error.html' %}


  <form action="/accounts/accounts-submission" method="get" class="form">


      <h1 class="heading-xlarge"><span class="circle circle-step-large">6</span>  Approve and submit</h1>







      <h2 class="heading-medium">Who approved the accounts?</h2>
      <!--<p class="form-hint">If the company has only one director, enter their name here.</p>-->
      <p class="form-hint">If the company has two or more directors, you should select one director authorised to act on their behalf.</p>
      <div class="form-group">
        <fieldset data-required data-error="You must choose a director">
          <legend class="visuallyhidden">Who approved the accounts?</legend>
            <div class="form-group">
              <label class="block-label selection-button-radio" for="john-smith">
                <input type="radio" id="john-smith" value="john-smith" name="name-of-approver">
                John Smith
              </label>
              <label class="block-label selection-button-radio" for="david-smith">
                <input type="radio" id="david-smith" value="david-smith" name="name-of-approver">
                David Smith
              </label>
            </div>
        </fieldset>
      </div>





      <h2 class="heading-medium">When were the accounts approved?</h2>

      <div class="form-group">
          <legend class="visuallyhidden">When were the accounts approved?</legend>

          <fieldset>
            <div class="form-date">
              <p class="form-hint" id="dob-hint">This is the date the accounts were approved by the director. For example, 31 3 2017</p>

              <div class="form-group form-group-day">
                <label for="dob-day">Day</label>
                <input class="form-control" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                   <input class="form-control" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" min="0" max="12">
                </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control" id="dob-year" name="dob-year" type="text" pattern="[0-9]*" min="0" max="2016">
              </div>
            </div>
          </fieldset>
        </div>
  <p>&nbsp;</p>


  <h2 class="heading-medium">View your accounts before submitting</h2>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-file"></i>
      <a href="/public/pdf/abridged-accounts-sample.pdf" download="/public/pdf/abridged-accounts-sample.pdf">View or save a copy of your accounts</a>
      <span class="form-hint">(You'll be asked to open or save a PDF)</span></li>
    </ul>





      <h2 class="heading-medium">Submit your abridged accounts</h2>
      <p class="text">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <div class="form-group">
        <input type="submit" class="button" value="Submit your abridged accounts">
      </div><!--form-group-->
    </form>






  </div><!-- text-->

</main>

{% endblock %}
