{% extends "layout.html" %}

{% block pageTitle %}
   Which type of accounts do you wish to file?
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="govuk-heading-s" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2017</p>
<div class="text">
  <form action="/accounts/accounts-choose-dormant-abridged" method="get" class="form">

<a class="link-back" href="accounts-about-your-business">Back</a>

      <h1 class="govuk-heading-xl">Which type of accounts do you wish to file?</h1>

      <!--<p>If your company:</p>
      <ul class="govuk-list">
        <li>does not qualify as a micro-entity, or</li>
        <li>qualifies as a micro-entity but you do not wish to file micro-entity accounts</li>
      </ul>
      <p>you have two options regarding filing accounts with Companies House: abridged accounts or full accounts.</p>

      <h2 class="govuk-heading-m">Which type of accounts do you want to file?</h2>-->

      <div class="form-group">
      <fieldset>

        <legend class="visuallyhidden">Which type of accounts do you want to file?</legend>

        <label class="block-label" for="abridged-yes">
          <input id="abridged-yes" type="radio" name="abridgedfull" value="abridged-yes">
          Abridged accounts
          <span class="govuk-hint">You can prepare/file abridged accounts if all of the shareholders of the company agree. Abridged accounts require less disclosure than full accounts</span>
        </label>
        <label class="block-label" for="full-yes">
          <input id="full-yes" type="radio" name="abridgedfull" value="full-yes">
          Full accounts
          <span class="govuk-hint">This is the maximum level of disclosure required for filing with Companies House</span>
        </label>

      </fieldset>

    </div><!--form-group-->




      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div><!--form-group-->
</form>
</div><!-- text-->


</main>

{% endblock %}
