{% extends "layout-chs.html" %}

{% block page_title %}
  Balance sheet notes - Other
{% endblock %}

{% block content %}

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a id="back" class="link-back" href="javascript:history.back()">Back</a>

{% include 'includes/error.html' %}

<h1 class="heading-xlarge"><span class="circle circle-step-large">4</span>
  Balance sheet notes
  <span class="circle-subheading">Any other notes</span>
</h1>



<div class="left-indent">
<h2 class="heading-medium">
  Do your prepared accounts include any other notes?
  <span class="form-hint">For example, "Employees", "Fixed asset investments" or "Debtors"</span>
</h2>

<form action="" method="get" class="form">



  <fieldset class="inline" data-required="" data-error=" Please confirm if your prepared accounts include any other notes">
    <div class="form-group">

      <legend class="visually-hidden">Do your prepared accounts include a "Creditors - amounts falling due within one year" note?</legend>
      <label class="block-label selection-button-radio" for="othernotesyes" data-target="other-notes-reveal">
        <input id="othernotesyes" type="radio" name="othernotes" value="Yes">
        Yes
      </label>
      <label class="block-label selection-button-radio" for="othernotesno">
        <input id="othernotesno" type="radio" name="othernotes" value="No">
        No
      </label>
    </div>
    </fieldset>







<div class="panel panel-border-narrow js-hidden" id="other-notes-reveal">

  <table class="check-your-answers">
  <caption class="visuallyhidden">Other notes</caption>
  <thead class="visuallyhidden">
    <tr>
      <th class="heading-large">Other notes
          <div class="panel panel-border-wide">
            <p>You should include these notes if you have them in your prepared and approved accounts.</p>
          </div>
      </th>
      <th></th>
      <th class="change-answer"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <details>

          <summary><span class="summary">Employees</span></summary>
          <div class="panel panel-border-narrow text">
            <p>Provides a more detailed breakdown of the employees figure you entered on your balance sheet</p>
          </div>
        </details>
      </td>
        <td></td>
        <td class="change-answer"><a href="accounts-employees">Add&nbsp;note<span class="visuallyhidden">Employees</span></a></td>
      </tr>
      <tr>
        <td>
          <details>

          <summary><span class="summary">Fixed assets investments</span></summary>
          <div class="panel panel-border-narrow text">
            <p>Provides a more detailed breakdown of the fixed asset investments figure you entered on your balance sheet</p>
          </div>
        </details>
      </td>
        <td><!--£15--></td>
        <td class="change-answer"><a href="accounts-fixed-assets-investments-note">Add&nbsp;note<span class="visuallyhidden">Fixed assets investments</span></a></td>
      </tr>
      <tr>
        <td>
          <details>

          <summary><span class="summary">Current assets investments</span></summary>
          <div class="panel panel-border-narrow text">
            <p>Provides a more detailed breakdown of the current assets investment figure you entered on your balance sheet</p>
          </div>
        </details>
      </td>
        <td><!--£15--></td>
        <td class="change-answer"><a href="accounts-current-assets-investments-note">Add&nbsp;note<span class="visuallyhidden">Current assets investments</span></a></td>
      </tr>
      <tr>
        <td>
          <details>

          <summary><span class="summary">Debtors</span></summary>
          <div class="panel panel-border-narrow text">
            <p>Provides information about people who owe money for goods or services your company provided as part of its normal trading activities</p>
          </div>
        </details>
      </td>
        <td><!--£15--></td>
        <td class="change-answer"><a href="accounts-debtors">Add&nbsp;note<span class="visuallyhidden">Debtors</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
          <summary><span class="summary">Creditors - amounts falling due within one year</span></summary>
            <div class="panel panel-border-narrow text">
              <p>Provides information about people or businesses that your company owes, but who you expect to pay within one year from the end of the period you're filing for</p>
            </div>
          </details>
        </td>
        <td><!--£10--></td>
        <td class="change-answer"><a href="accounts-creditors-amounts-falling-due-within-one-year">Add&nbsp;note<span class="visuallyhidden">Creditors - amounts falling due within one year</span></a></td>
      </tr>
      <tr>
        <td>
          <details>


          <summary><span class="summary">Creditors - amounts falling due after more than one year</span></summary>
          <div class="panel panel-border-narrow text">
            <p>Provides information about people or businesses that your company owes, but who you expect to pay after more than one year from the end of the period you're filing for</p>
          </div>
        </details>
      </td>
        <td><!--£5--></td>
        <td class="change-answer"><a href="accounts-creditors-amounts-falling-due-after-one-year">Add&nbsp;note<span class="visuallyhidden">Creditors - amounts falling due after more than one year</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
          <summary><span class="summary">Financial commitments</span></summary>
              <div class="panel panel-border-narrow text">
                <p>Provides information on the total amount (or estimated amount) your company has committed to spend on future assets</p>
              </div>
            </details>
          </td>
        <td></td>
        <td class="change-answer"><a href="accounts-financial-commitments">Add&nbsp;note <span class="visuallyhidden">Financial commitments</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Loans to directors</span></summary>
            <div class="panel panel-border-narrow text">
              <p>Provides information about transactions with your company's directors, such as advances and credits, or loans guaranteed by a director</p>
            </div>
          </details>
        </td>
        <td></td>
      <td class="change-answer"><a href="accounts-loans-to-directors">Add&nbsp;note <span class="visuallyhidden">Loans to directors</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Changes in presentation and prior period adjustments</span></summary>
            <div class="panel panel-border-narrow text">
              <p>Provides information on changes you've made to your accounts to accommodate changes in accounting standards</p>
            </div>
          </details>
        </td>
        <td></td>
        <td class="change-answer"><a href="accounts-financial-changes-in-presentation">Add&nbsp;note <span class="visuallyhidden">Changes in presentation and prior period adjustments</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Related party transactions</span></summary>
            <div class="panel panel-border-narrow text">
              <p>Provides information on transactions between related parties (for example directors and investors)</p>
            </div>
          </details>
        </td>
        <td></td>
        <td class="change-answer"><a href="accounts-related-party-transactions">Add&nbsp;note <span class="visuallyhidden">Related party transactions</span></a></td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Post balance sheet events</span></summary>
            <div class="panel panel-border-narrow text">
              <p>Provides information on events which happened between the balance sheet date and the date your company accounts were authorised if they had an impact on your accounts</p>
            </div>
          </details>
        </td>
        <td></td>
        <td class="change-answer"><a href="accounts-post-balance-sheet-events">Add&nbsp;note <span class="visuallyhidden">Post balance sheet events</span></a></td>
      </tr>
    </tbody>
  </table>

</div><!--other-notes-reveal-->


  <div class="form-group">
    <a href="javascript:void(0)"class="button">Save and continue</a>
  </div>

  <a href="/accounts/accounts-abridged-other-notes-yes-no" style="float:right; color:#BFC1C3; font-size:14px;">Alternative</a>
</form>
</div><!--left-indent-->




</main>

{% endblock %}
