{% extends "layout-chs.html" %}

{% block page_title %}
  Directors' report
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a class="link-back" href="accounts-eligibility">Back</a>



      <h1 class="heading-xlarge">Directors' report</h1>
      <div class="text">

      </div>

      <form class="form" method="post" action="/">


          <!-- Director1 -->
          <div class="form-group">
            <label for="director1" class="form-label-bold">Director</label>
            <p class="form-hint">For example, John Smith</p>
            <input type="text" id="director1" class="form-control">
          </div>


          <!-- Director3 -->
          <div class="form-group">
            <a class="" href="#" role="button">Add another director</a>
          </div>

          <!-- Director -->
          <div class="form-group">
            <label for="secretary" class="form-label-bold">Secretary (optional)</label>
            <p class="form-hint">For example, James Edwards</p>
            <input type="text" id="secretary" class="form-control">
          </div>


          <div class="form-group">
            <a class="button" href="accounts-directors-report-check" role="button">Continue</a>
          </div>

        </form>





</main>

{% endblock %}
