{% extends "layout.html" %}

{% block pageTitle %}
  Post balance sheet events  - check your answers
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>



  <a class="link-back" href="accounts-directors-report-1">Back</a>

  <h1 class="govuk-heading-xl">Check your answers
    <span class="heading-secondary">Post balance sheet events</span>
  </h1>

  <table class="check-your-answers">
    <tbody>
      <tr>
        <td>Scaevola mnesarchum assueverit vis in. Unum novum sententiae cu duo, ex dico modus inimicus mel, justo appetere vel ex. At est oportere explicari rationibus, repudiare moderatius omittantur in cum. Pri nominavi comprehensam te, sint accusam incorrupte quo ea.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Basis of preparation</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
    <div class="form-group">
      <p><a href="accounts-balance-sheet-notes" class="button">Save and continue</a></p>
    </div>



</main>

{% endblock %}
