{% extends "layout.html" %}

{% block pageTitle %}
   About your business
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>


<form action="/chs/chs-choose-accounts-A" method="get" class="form">
<div class="text">

<a class="link-back" href="accounts-accounts-selection">Back</a>



      <h1 class="govuk-heading-l">About your business</h1>
      <p class="lede">Your answers to these questions will determine which types of accounts you are eligible to file.</p>

      <div class="micro-eligibility-questions">


      <h2 class="govuk-heading-m">Has your company been dormant since you registered it, including during the year you're filing for?</h2>


      <details style="position:relative; top:-20px;">
        <summary><span class="summary">No sure if your company was dormant?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Companies House considers your company to be dormant if it had no transactions in the financial year that you'd be expected to include in your accounts.</p>
          <p>Your company would still be dormant if you made the following transactions (you wouldn't include these in your accounts):</p>
          <ul class="govuk-list">
            <li>filing fees paid to Companies House</li>
            <li>penalties for filing the accounts late</li>
            <li>money paid for shares when the company was incorporated</li>
          </ul>
        </div>
      </details>


            <div class="form-group">

            <fieldset class="inline">
              <legend class="visuallyhidden">Was your company dormant?</legend>
              <label class="block-label" for="dormant-yes">
                <input id="dormant-yes" type="radio" name="dormant" value="Yes">
                Yes
              </label>
              <label class="block-label" for="dormant-no" data-target="the-rest">
                <input id="dormant-no" type="radio" name="dormant" value="No">
                No
              </label>
            </fieldset>




                                                <div class="js-hidden" id="the-rest">

                                          <h2 class="govuk-heading-m">Was your turnover £632,000 or less?</h2>

                                          <div class="micro-eligibility-questions">

                                                <div class="form-group">

                                                <fieldset class="inline">
                                                  <legend class="visuallyhidden">Was your turnover £632,000 or less?</legend>
                                                  <label class="block-label" for="turnover-yes">
                                                    <input id="turnover-yes" type="radio" name="turnover" value="Yes">
                                                    Yes
                                                  </label>
                                                  <label class="block-label" for="turnover-no" data-target="turnover-2-hidden">
                                                    <input id="turnover-no" type="radio" name="turnover" value="No">
                                                    No
                                                  </label>
                                                </fieldset>

                                                <div class="js-hidden" id="turnover-2-hidden">
                                                    <h2 class="govuk-heading-m">Was your turnover £6.5 million or less? </h2>
                                                    <fieldset class="inline">
                                                      <legend class="visuallyhidden"> Was your turnover £6.5 million or less? </legend>
                                                      <label class="block-label" for="turnover-2-yes">
                                                        <input id="turnover-2-yes" type="radio" name="turnover-2" value="Yes">
                                                        Yes
                                                      </label>
                                                      <label class="block-label" for="turnover-2-no">
                                                        <input id="turnover-2-no" type="radio" name="turnover-2" value="No">
                                                        No
                                                      </label>
                                                    </fieldset>
                                                </div><!--js-hidden-->

                                                <h2 class="govuk-heading-m">Was your balance sheet total £316,000 or less?</h2>
                                                <span class="govuk-hint" style="position:relative; top:-20px;">This is the sum of the total fixed assets plus total current assets.</span>
                                                <fieldset class="inline">
                                                  <legend class="visuallyhidden">Was your balance sheet total £316,000 or less?</legend>
                                                  <label class="block-label" for="balance-sheet-yes">
                                                    <input id="balance-sheet-yes" type="radio" name="balance-sheet" value="Yes">
                                                    Yes
                                                  </label>
                                                  <label class="block-label" for="balance-sheet-no" data-target="balance-sheet-2-hidden">
                                                    <input id="balance-sheet-no" type="radio" name="balance-sheet" value="No">
                                                    No
                                                  </label>
                                                </fieldset>

                                                <div class="js-hidden" id="balance-sheet-2-hidden">
                                                    <h2 class="govuk-heading-m">Was your balance sheet total £3.26 million or less?</h2>
                                                    <span class="govuk-hint">This is the sum of the total fixed assets plus total current assets.</span>
                                                    <fieldset class="inline">
                                                      <legend class="visuallyhidden">Was your balance sheet total £3.26 million or less?</legend>
                                                      <label class="block-label" for="balance-sheet-2-yes">
                                                        <input id="balance-sheet-2-yes" type="radio" name="balance-sheet-2" value="Yes">
                                                        Yes
                                                      </label>
                                                      <label class="block-label" for="balance-sheet-2-no">
                                                        <input id="balance-sheet-2-no" type="radio" name="balance-sheet-2" value="No">
                                                        No
                                                      </label>
                                                    </fieldset>
                                                </div><!--js-hidden-->

                                                <h2 class="govuk-heading-m">Did you have an average of 10 employees or fewer during the period?</h2>
                                                <fieldset class="inline">
                                                  <legend class="visuallyhidden">Did you have an average of 10 employees or fewer during the period?</legend>
                                                  <label class="block-label" for="employees-yes">
                                                    <input id="employees-yes" type="radio" name="employees" value="Yes">
                                                    Yes
                                                  </label>
                                                  <label class="block-label" for="employees-no" data-target="employees-2-hidden">
                                                    <input id="employees-no" type="radio" name="employees" value="No">
                                                    No
                                                  </label>
                                                </fieldset>

                                                <div class="js-hidden" id="employees-2-hidden">
                                                    <h2 class="govuk-heading-m">Did you have an average of 50 employees or fewer during the period?</h2>
                                                    <fieldset class="inline">
                                                      <legend class="visuallyhidden">Did you have an average of 50 employees or fewer during the period?</legend>
                                                      <label class="block-label" for="employees-2-yes">
                                                        <input id="employees-2-yes" type="radio" name="employees-2" value="Yes">
                                                        Yes
                                                      </label>
                                                      <label class="block-label" for="employees-2-no">
                                                        <input id="employees-2-no" type="radio" name="employees-2" value="No">
                                                        No
                                                      </label>
                                                    </fieldset>
                                                </div><!--js-hidden-->




                                              <h2 class="govuk-heading-m">Do you want to include profit and loss or a directors report?</h2>
                                              <span class="govuk-hint" style="position:relative; top:-20px;">Some help text</span>

                                              <fieldset class="inline">
                                                <legend class="visuallyhidden">Do you want to include profit and loss and/or a directors report?</legend>
                                                <label class="block-label" for="profit-yes">
                                                  <input id="profit-yes" type="radio" name="profit" value="Yes">
                                                  Yes
                                                </label>
                                                <label class="block-label" for="profit-no">
                                                  <input id="profit-no" type="radio" name="profit" value="No">
                                                  No
                                                </label>
                                              </fieldset>

                                              <h2 class="govuk-heading-m">Do you want to include detailed notes or less detailed notes?</h2>
                                              <span class="govuk-hint" style="position:relative; top:-20px;">Some help text</span>

                                              <fieldset class="">
                                                <legend class="visuallyhidden">Do you want to include detailed notes or less detailed notes?</legend>
                                                <label class="block-label" for="notes-detailed">
                                                  <input id="notes-detailed" type="radio" name="notes" value="Yes">
                                                  Detailed notes
                                                </label>
                                                <label class="block-label" for="notes-less-detailed">
                                                  <input id="notes-less-detailed" type="radio" name="notes" value="No">
                                                  Less detailed notes
                                                </label>
                                              </fieldset>

                                            </div><!--micro-eligibility-questions-->

                                          </div><!--rest-hidden-->


        </div><!--form-group-->





<br>
  <div class="form-group">
  <!--  <input type="submit" class="button micro-eligibility disabled" value="Continue">-->
  <a href="/chs/chs-choose-accounts-A" class="button disabled">Continue</a>
  </div><!--form-group-->
  </div><!-- text-->
</form>
</main>

{% endblock %}
