{% extends "layout-chs.html" %}

{% block page_title %}
  Approval
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<main id="content" role="main">

  <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="javascript:void(0)">feedback</a> will help us to improve it.</span>
  </p>
</div>

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="/chs/chs-your-filings" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>


<div class="text">


  <!--<div class="govuk-box-highlight">
    <h1 class="bold-large">Abridged accounts received</h1>
    <p>on <strong class="heading-medium">16 February 2017</strong> at <strong class="heading-medium">12:33pm</strong> for</p>
    <p><strong class="bold-medium">A TEST COMPANY LIMITED</strong></p>
    <p>Your submission number is<br>
    <strong class="heading-medium">9873479264091</strong></p>
  </div>-->

  <div class="govuk-box-highlight">
    <strong class="heading-small">A TEST COMPANY LIMITED (01234567)</strong></p>
    <h1 class="bold-large">Abridged accounts received</h1>
    <br>
    <p>Submission time and date:<br>
    <strong class="heading-medium">12:33pm</strong> on <strong class="heading-medium">16 February 2017</strong></p>
    <p>Submission number:<br>
    <strong class="heading-medium">9873479264091</strong></p>
  </div>




  <ul class="list list-bullet">
    <li>A confirmation email (containing the submission number) has been sent to <strong>user@testcompany.co.uk</strong></li>
    <li>If you've not received the confirmation, check your spam or junk mail folder. You should <a href="">contact us</a> if you haven't had an email within 2 hours.</li>
    <li>A second email will be sent to confirm that your filing has been processed (normally within 2 working days)</li>
    <li>You can go to '<a href="/chs/chs-your-filings">Your filings</a>' to check the status or get a copy of what you have filed</li>
  </ul>

  <ul class="fa-ul form-group">
    <li><i class="fa-li fa fa-print"></i><a id="" href="/public/pdf/abridged-accounts-sample.pdf" target="_blank">Save/print this page</a>
    <span class="form-hint">(Opens PDF document in a new tab or window)</span></li>
  </ul>

<!--  <p><a href="javascript:window.print()" class="fa fa-print fa-2x" aria-hidden="true" style="text-decoration:none; padding-left:15px;"></a></p>-->

      <div class="form-group">
        <a class="button" href="/chs/chs-profile-page-logged-in-submitted" role="button">Return to company overview</a>
      </div>




  </div><!-- text-->

</main>

{% endblock %}
