{% extends "layout.html" %}

{% block pageTitle %}
  File abbreviated accounts with Companies House
{% endblock %}



{% block main %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>



      <h1 class="govuk-heading-xl">You can't file abbreviated accounts with Companies House </h1>

      <h2 class="govuk-heading-m">Heading</h2>

      <p>Some information explaining that they can't file because the dates aren't correct.</p>



         <div class="form-group">
           <a role="button" class="button" href="/chs/chs-choose-accounts">Choose another accounts type</a>
         </div>







  </div><!-- text-->

</main>

{% endblock %}
