{% extends "layout.html" %}

{% block pageTitle %}
   Micro-entity accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="govuk-heading-s" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2017</p>


<div class="text">
  <form action="/accounts/accounts-choose-dormant" method="get" class="form">

<a class="link-back" href="accounts-about-your-business">Back</a>



      <h1 class="govuk-heading-xl">Your company is eligible to prepare/file<br>micro-entity accounts</h1>


      <p class="govuk-hint">This note is provided for information only and should not be used as advice of any form. It is intended to provide an explanation of how you can decide if your company is a micro-entity so that, if you wish, you can prepare/file micro-entity accounts..</p>


      <h2 class="govuk-heading-m">Do you want to file micro-entity accounts?</h2>

      <div class="form-group">
      <fieldset class="inline">

        <legend class="visuallyhidden">Do you want to file micro-entity accounts?</legend>

        <label class="block-label" for="micro-yes">
          <input id="micro-yes" type="radio" name="micro" value="micros-yes">
          Yes
        </label>
        <label class="block-label" for="micro-no">
          <input id="micro-no" type="radio" name="micro" value="micros-no">
          No
        </label>

      </fieldset>

    </div><!--form-group-->




      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div><!--form-group-->
    </form>

  </div><!-- text-->

</main>

{% endblock %}
