{% extends "layout.html" %}

{% block pageTitle %}
Balance sheet notes - Loans to directors
{% endblock %}

{% block main %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}


  <div class="text">
    <h1 class="govuk-heading-l"><span class="circle circle-step-large">4</span>
      Balance sheet notes
      <span class="circle-subheading">Loans to directors</span>
    </h1>
  </div><!--text-->


    <div class="left-indent">


        <form action="/accounts/accounts-abridged-loans-yes-no-2" method="get" class="form">
          <div class="text">
                 <p class="govuk-heading-m">Do your prepared accounts include any 'loans to directors' notes?<span class="govuk-hint"></span></p>

                 <details class="form-group" role="group">
                   <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What's this?</span></summary><span class="visuallyhidden">Fixed assets investments</span>
                   <div class="panel panel-border-narrow govuk-hint" id="details-content-0" aria-hidden="true">
                     <p>The disclosure of any loans with your company's directors, such as advances and credits, or loans guaranteed by a director.</p>
                     <p>Details of any other elements that support the understanding of the financial statements should be provided as additional information. For example, the rate of interest on advances and details of any guarantees given by the company on behalf of a director.</p>
                 </div>
                 </details>
             </div><!--text-->



             <form action="/accounts/accounts-abridged-loans-yes-no-2" method="get" class="form">
               <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include a 'loans to directors' note">
                       <legend class="visually-hidden">Do your prepared accounts include a 'loans to directors' note?</legend>
                       <div class="form-group">

                       <label class="block-label selection-button-radio selected" for="loansnoteyes" data-target="loansnoteyes-reveal">
                         <input id="loansnoteyes" name="loansnoteyn" value="Yes" aria-controls="loansnoteyes-reveal" aria-expanded="true" type="radio">
                         Yes
                       </label>
                       <label class="block-label selection-button-radio" for="loansnoteno">
                         <input id="loansnoteno" name="loansnoteyn" value="No" aria-expanded="false" type="radio">
                         No
                         </label>
                       </div><!--form-group-->

                     </fieldset>



                 <div class="" id="loansnoteyes-reveal" aria-hidden="false">


                   <div class="panel panel-border-wide text">
                     <p>Only provide the details for each individual loan to the director. You can report more loans for the same director or other directors later if you need to.</p>
                     <p><strong>You can report up to 20 loans.</strong></p>
                 </div>


          <h2 class="govuk-heading-l">First loan</h2>

                      <h3 class="govuk-heading-m">Name of director receiving advance or credit</h3>


                      <div class="form-group">
                        <fieldset>
                          <legend class="visuallyhidden">Name of director receiving advance or credit</legend>

                          <label class="block-label selection-button-radio" for="john-smith">
                            <input type="radio" id="john-smith" value="john-smith" name="name-of-director" checked="checked">
                            John Smith
                          </label>


                          <label class="block-label selection-button-radio" for="david-smith">
                            <input type="radio" id="david-smith" value="david-smith" name="name-of-director">
                            David Smith
                          </label>

                        </fieldset>
                      </div>

                      <br />
                      <h3 class="govuk-heading-m">Description of the loan</h3>

                      <p class="text govuk-hint">A brief description of the loan, for example, an advance or loan for a car.</p>

                      <textarea rows="5" class="form-control text" id="textarea" type="text">Short term loan</textarea>




                    <h3 class="govuk-heading-m">Breakdown of the loan</h3>

                      <!--Start balance at start-->

                      <div class="grid-row" id="accounts-header">
                        <div class="column-half">
                          &nbsp;
                        </div>
                        <div class="column-quarter">
                          <h2 class="govuk-heading-s">£</h2>
                        </div>
                      </div>

                      <div class="grid-row">
                        <div class="column-half">
                            <details>
                              <summary><span class="summary">Balance at 1 April 2016</span></summary>
                              <div class="panel panel-border-narrow">
                                <p>The amount due to or from the director for this loan at the start of the accounting period.</p>
                              </div>
                            </details>
                        </div>

                        <div class="column-quarter">
                          <div class="form-group">
                            <label for="loans-to-directors-balance-at-start"><span class="visuallyhidden">Balance at 1 April 2016</span>
                              <input type="number" class="form-control" id="loans-to-directors-balance-at-start" value="60000">
                            </label>
                          </div>
                        </div>

                      </div>
                      <!--End balance at start-->

                      <!--Start Advances or credits made  -->
                      <div class="grid-row">
                        <div class="column-half">
                            <details>
                              <summary><span class="summary">Advances or credits made</span></summary>
                              <div class="panel panel-border-narrow">
                                <p>The amount of the advance or credit made to the director for this particular loan.</p>
                              </div>
                            </details>
                        </div>
                        <div class="column-quarter">
                          <div class="form-group">
                            <label for="loans-to-directors-advances-or-credits-made"><span class="visuallyhidden">Advances or credits made</span>
                              <input type="number" class="form-control" id="loans-to-directors-advances-or-credits-made" value="10000">
                            </label>
                          </div>
                        </div>
                      </div>
                      <!--End Advances or credits made  -->

                      <!--Start Advances or credits repaid-->
                      <div class="grid-row">
                        <div class="column-half">
                          <details>
                            <summary><span class="summary">Advances or credits repaid</span></summary>
                            <div class="panel panel-border-narrow">
                              <p>The amount of the advance or credit repaid by the director for this particular loan.</p>
                            </div>
                          </details>
                        </div>
                        <div class="column-quarter">
                          <div class="form-group">
                            <label for="loans-to-directors-advances-or-credits-repaid"><span class="visuallyhidden">Advances or credits repaid</span>
                              <input type="number" class="form-control" id="loans-to-directors-advances-or-credits-repaid" value="5000">
                            </label>
                          </div>
                        </div>
                      </div>
                      <!--End Advances or credits repaid-->

                      <!--Start balance at end-->
                      <div class="grid-row accounts-total">
                        <div class="column-half">
                          <details>
                            <summary><span class="summary">Balance at 31 March 2017</span></summary>
                            <div class="panel panel-border-narrow">
                              <p>The amount of the advance or credit repaid by the director for this particular loan.</p>
                            </div>
                          </details>
                        </div>
                        <div class="column-quarter">
                          <div class="form-group">
                            <label for="loans-to-directors-balance-at-end"><span class="visuallyhidden"> Balance at 31 March 2017</span>
                              <input type="number" class="form-control" id="loans-to-directors-balance-at-end" value="65000" readonly>
                            </label>
                          </div>
                        </div>
                      </div>
                      <!--End balance at end--->





          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Save and continue" id="">
          </div>
        </form>
      </div><!--left-indent-->


</main>
{% endblock %}
