{% extends "layout.html" %}

{% block pageTitle %}
  Post balance sheet events note
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}
<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<h1 class="govuk-heading-xl"><span class="circle circle-step-large">3</span>
  Balance sheet notes
  <span class="circle-subheading">Post balance sheet events</span>
</h1>

<div class="left-indent text">

  <form action="/" method="post" class="form">
    <label class="visuallyhidden" for="textarea">Post balance sheet events</label>
    <p class="govuk-hint">Enter details of any events which happened between the balance sheet date and the date your company accounts were authorised if they had an impact on your accounts. For example, if a trade debtor was declared bankrupt after the balance sheet date and the money they owe can't be recovered.</p>
  <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
    <div class="form-group accounts-row-spacer">
      <a class="button" href="accounts-balance-sheet-notes-post-balance-completed">Next</a>
    </div>
  </form>
</div><!--left-indent-->

</main>
{% endblock %}
