<!--This page has been superceded by chs-choose-accounts-->


{% extends "layout-chs.html" %}

{% block page_title %}
  Choose type of accounts
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2017</p>

<div class="text">

<a class="link-back" href="/chs/chs-profile-page-logged-in">Back</a>



      <h1 class="heading-xlarge">What type of accounts have you prepared?</h1>

    <!--  <p>You'll need your organisation's <a href="https://www.gov.uk/annual-accounts" target="_blank">statutory accounts <span class="visuallyhidden">Link opens in a new tab or window</span></a>. They must be ‘balanced' - for example, your total assets should match what you owe.</p>
-->
      <form action="/accounts/accounts-start-page-abridged" method="get" class="form">


        <div class="form-group">
        <fieldset>


          <legend class="visuallyhidden">Choose type of accounts</legend>



            <label data-target="abridged-reveal" class="block-label" for="abridged">
              <input type="radio" id="abridged" value="abridged" name="choosetypeaccounts" aria-controls="abridged" aria-expanded="false">
              <span class="">Abridged accounts</span><br>
              <!--At vix mentitum scaevola, pro in hinc dictas melius, pro praesent definitionem ei.-->
            </label>
            <div id="abridged-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
              <h2 class="">Eligibility</h2>
              <p>To choose this option, your accounts must not exceed <span class="heading-small">two of the following</span>:</p>
              <ul class="list list-bullet">
                <li>Turnover must not be more than £10.2 million</li>
                <li>Balance sheet total must not be more than £5.1 million</li>
                <li>The average number of employees during the year must not be more than 50</li>
              </ul>
            </div>

            <label data-target="micro-reveal" class="block-label" for="micro">
              <input type="radio" id="micro" value="micro" name="choosetypeaccounts" aria-controls="micro" aria-expanded="false">
              <span class="">Micro-entity accounts</span><br>
                            <!--These audit exempt accounts are suitable for companies that fall within the <a href="javascript:void(0)" target="_blank">micro-entity definition<span class="visuallyhidden">Link opens in a new tab/window</span></a>.-->
            </label>
            <div id="micro-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
              <h2 class="">You can't currently file micro-entity accounts using this service</h2>
              <p>You need to use <a href="https://www.gov.uk/government/organisations/companies-house/about/about-our-services#webfiling" target="_blank">our WebFiling service <span class="visuallyhidden">Link opens in a new tab/window</span></a> to file micro-entity accounts.</p>
            </div>

            <label  data-target="dormant-reveal" class="block-label" for="dormant">
              <input type="radio" id="dormant" value="dormant" name="choosetypeaccounts" aria-controls="dormant" aria-expanded="false">
              <span class="">Dormant accounts</span><br>
                            <!--These accounts are suitable for companies limited by shares or by guarantee that have never traded.-->
            </label>
            <div id="dormant-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
              <h2 class="">You can't currently file dormant accounts using this service</h2>
              <p>You need to use <a href="https://www.gov.uk/government/organisations/companies-house/about/about-our-services#webfiling" target="_blank">our WebFiling service <span class="visuallyhidden">Link opens in a new tab/window</span></a> to file dormant accounts.</p>
            </div>

            <label  data-target="full-reveal" class="block-label" for="full">
              <input type="radio" id="full" value="full" name="choosetypeaccounts" aria-controls="full" aria-expanded="false">
              <span class="">Filleted-full accounts</span><br>
                          <!--  Esse elaboraret ius ut, eu mei noluisse laboramus omittantur. Ex assum fierent oportere vim, persius persequeris cum id. Inani electram efficiantur mea in.-->
            </label>
            <div id="full-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
              <h2 class="">You can't currently file filleted-full accounts using this service</h2>
              <p>You need to use <a href="https://www.gov.uk/government/organisations/companies-house/about/about-our-services#webfiling" target="_blank">our WebFiling service <span class="visuallyhidden">Link opens in a new tab/window</span></a> to file filleted-full accounts.</p>
            </div>

            <label data-target="abbreviated-reveal" class="block-label" for="abbreviated">
              <input type="radio" id="abbreviated" value="abbreviated" name="choosetypeaccounts" aria-controls="abbreviated" aria-expanded="false">
              <span class="">Abbreviated accounts</span><br>
                          <!--  These audit exempt accounts are suitable for companies to input abbreviated figures from the full accounts that have already been prepared and approved.-->
            </label>
            <div id="abbreviated-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
              <h2 class="">You can't currently file abbreviated accounts using this service</h2>
              <p>You need to use <a href="https://www.gov.uk/government/organisations/companies-house/about/about-our-services#webfiling" target="_blank">our WebFiling service <span class="visuallyhidden">Link opens in a new tab/window</span></a> to file abbreviated accounts.</p>
            </div>


        <!--  <label  data-target="llp-reveal" class="block-label" for="llp">
            <input type="radio" id="llp" value="" name="choosetypeaccounts" aria-controls="llp" aria-expanded="false">
            <span class="heading-small">Limited Liability Partnership (LLP) accounts</span><br>
            Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
           </label>
                         <div id="llp-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
                           <h2 class="heading-medium">Eligibility</h2>
                           <p>Something goes here <span class="heading-small">and this is important</span>:</p>
                           <ul class="list list-bullet">
                             <li>Something goes here</li>
                             <li>Something goes here</li>
                             <li>Something goes here</li>
                           </ul>
                         </div>-->



        </fieldset>
      </div>

      <!--<div class="form-group">
        <details>
          <summary><span class="summary">Not sure what type of accounts you have?</span></summary>
          <div class="panel panel-border-narrow">
            <p>Our example accounts may help you identify which type of accounts you've prepared.</p>
            <ul class="list list-bullet">
              <li><a href="javascript:void(0)">Word or similar: accounts for private limited companies (88KB)</a></li>
              <li><a href="javascript:void(0)">PDF: accounts for private limited companies (24KB)</a></li>
            </ul>
          </div>
        </details>-->
      <!--  <details>
          <summary><span class="summary">I haven't prepared my accounts</span></summary>
          <div class="panel panel-border-narrow">
            <p>D'oh!</p>
          </div>
        </details>-->
      <!--</div>-->



      <div class="form-group">
        <input type="submit" class="button" value="Next" id="choose-accounts-button">
      </div>

      </form>






  </div><!-- text-->

</main>

{% endblock %}
