{%- extends "layout-chs.html" %}

{% block page_title %}
  Check before you submit
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Javascript that opens/closes details tags - NOT PRODUCTION READY -->
<script>
  $(document).ready(function(){  //Only show the button if javascript is on
          $("a#expand").removeClass("hidden");
  });
</script>
<script type="text/javascript">
var elems = document.getElementsByTagName("details");
function openAll() {
    var x = document.getElementsByTagName("details");
    var i;
    for (i = 0; i < x.length; i++) {
         x[i].setAttribute("open", "true");
    }
    document.getElementById("expand").setAttribute( "onClick", "javascript: closeAll();" );
    document.getElementById("expand").innerHTML = "Hide all";
}
function closeAll() {
    var x = document.getElementsByTagName("details");
    var i;
    for (i = 0; i < x.length; i++) {
         x[i].removeAttribute("open", "true");
    }
    document.getElementById("expand").setAttribute( "onClick", "javascript: openAll();" );
    document.getElementById("expand").innerHTML = "Show all";
}
</script>
<script type="text/javascript">
$(document).ready(function(){  //Only show the button if javascript is on
  $('.turnover').on('click', function(){
      $(this).parent().parent().remove();
  });
});
</script>
<!-- END Javascript that opens/closes details tags - NOT PRODUCTION READY -->


<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}


<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a id="back" class="link-back" href="javascript:history.back()">Back</a>
<h1 class="heading-xlarge">
  <span class="circle circle-step-large">4</span> Check before you submit
</h1>
  <form action="/accounts/accounts-approval" method="get" class="form">

  <div class="">

  <a href="javascript:void(0)" class="heading-small hidden" onclick="openAll()" id="expand">Show all</a>

  <table class="check-your-answers">
  <caption class="visuallyhidden">Check before you submit</caption>
    <thead>
      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Balance sheet</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Balance sheet figures</span></summary>
            <div class="review-reveal">
              <div class="grid-row">
                <div class="column-one-half">&nbsp;
                </div>
                <div class="column-one-quarter">
                  <p><strong>2017<br>£</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>2016<br>£</strong></p>
                </div>
              </div><!--grid-row-->

              <h3 class="heading-medium">Fixed assets</h3>

              <div class="grid-row">
                <div class="column-one-half">
                  <p>Intangible assets</p>
                </div>
                <div class="column-one-quarter">
                  <p>100</p>
                </div>
                <div class="column-one-quarter">
                  <p>100</p>
                </div>
              </div><!--grid-row-->

            <div class="grid-row">
              <div class="column-one-half">
                <p>Tangible assets</p>
              </div>
              <div class="column-one-quarter">
                <p>37,440</p>
              </div>
              <div class="column-one-quarter">
                <p>30,740</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Total fixed assets</strong></p>
              </div>
              <div class="column-one-quarter">
                <p><strong>37,540</strong></p>
              </div>
              <div class="column-one-quarter">
                <p><strong>30,840</strong></p>
              </div>
            </div><!--grid-row-->




          <h3 class="heading-medium" style="margin-top:0.5em;">Current assets</h3>
        <div class="grid-row">
          <div class="column-one-half">
            <p>Debtors</p>
          </div>
          <div class="column-one-quarter">
            <p>32,175</p>
          </div>
          <div class="column-one-quarter">
            <p>16,000</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p>Cash at bank and in hand</p>
          </div>
          <div class="column-one-quarter">
            <p>35,455</p>
          </div>
          <div class="column-one-quarter">
            <p>7,000</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p class=""><strong>Total current assets</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>67,630</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>23,000</strong></p>
          </div>
        </div><!--grid-row-->
      <br>
        <div class="grid-row">
          <div class="column-one-half">
            <p>Creditors - amounts falling due within one year</p>
          </div>
          <div class="column-one-quarter">
            <p>36,500</p>
          </div>
          <div class="column-one-quarter">
            <p>16,700</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p><strong>Net current assets (liabilities)</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>31,130</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>6,300</strong></p>
          </div>
        </div><!--grid-row-->
              <br>
        <div class="grid-row">
          <div class="column-one-half">
            <p><strong>Total assets less current liabilities</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>68,670</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>37,140</strong></p>
          </div>
        </div><!--grid-row-->
        <br>

        <div class="grid-row">
          <div class="column-one-half">
            <p>Creditors - amounts falling due after more than one year</p>
          </div>
          <div class="column-one-quarter">
            <p>2,100</p>
          </div>
          <div class="column-one-quarter">
            <p>1,000</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p>Provision for liabilities</p>
          </div>
          <div class="column-one-quarter">
            <p>2,400</p>
          </div>
          <div class="column-one-quarter">
            <p>700</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p><strong>Total net assets (liabilities)</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>64,170</strong></p>
          </div>
          <div class="column-one-quarter">
            <p><strong>35,440</strong></p>
          </div>
        </div><!--grid-row-->


        <h3 class="heading-medium" style="margin-top:0.5em;">Capital and reserves</h3>
        <div class="grid-row">
          <div class="column-one-half">
            <p>Called up share capital</p>
          </div>
          <div class="column-one-quarter">
            <p>24,400</p>
          </div>
          <div class="column-one-quarter">
            <p>23,840</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
        <div class="column-one-half">
          <p>Revaluation reserve</p>
        </div>
        <div class="column-one-quarter">
          <p>100</p>
        </div>
        <div class="column-one-quarter">
          <p>50</p>
        </div>
      </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p>Other reserves</p>
          </div>
          <div class="column-one-quarter">
            <p>500</p>
          </div>
          <div class="column-one-quarter">
            <p>150</p>
          </div>
        </div><!--grid-row-->
        <div class="grid-row">
          <div class="column-one-half">
            <p>Profit and loss account</p>
          </div>
          <div class="column-one-quarter">
            <p>39,170</p>
          </div>
          <div class="column-one-quarter">
            <p>11,400</p>
          </div>
        </div><!--grid-row-->

      <div class="grid-row">
        <div class="column-one-half">
          <p class=""><strong>Total shareholders' funds</strong></p>
        </div>
        <div class="column-one-quarter">
          <p><strong>64,170</strong></p>
        </div>
        <div class="column-one-quarter">
          <p><strong>35,440</strong></p>
        </div>
      </div><!--grid-row-->


    <p><a href="/accounts/accounts-balance-sheet-completed" class="button">Change<span class="visuallyhidden"> balance sheet figures</span></a></p>

          </div><!--review-reveal-->
          </details>
        </td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Balance sheet statements</span></summary>
            <div class="review-reveal">
            <ul class="list list-bullet">
              <li>For the year ending 31 March 2017 the company was entitled to exemption under section 477 of the Companies Act 2006 relating to small companies.</li>
              <li>The members have not required the company to obtain an audit in accordance with section 476 of the Companies Act 2006.</li>
              <li>The directors acknowledge their responsibilities for complying with the requirements of the Act with respect to accounting records and the preparation of accounts.</li>
              <li>These accounts have been prepared and delivered in accordance with the provisions applicable to companies subject to the small companies regime.</li>
              <li>The members have agreed to the preparation of abridged accounts for this accounting period in accordance with Section 444(2A).</li>
            </ul>
          </div><!--review-reveal-->
          </details>
        </td>
      </tr>

      <tr>
        <th class="check-your-answers-section"><h2 class="heading-medium">Balance sheet notes</h2></th>
      </tr>

      <tr>
        <td>
          <details>
            <summary><span class="summary">Basis of accounts preparation</span></summary>
            <div class="review-reveal">
              <p>These financial statements have been prepared in accordance with the provisions of Section 1A (Small Entities) of Financial Reporting Standard 102.</p>
              <p><a href="/accounts/accounts-accounting-policies-check" class="button">Change<span class="visuallyhidden"> basis of accounts preparation</span></a></p>
            </div><!--review-reveal-->
          </details>
        </td>
      </tr>

      <tr>
        <td>
          <details>
            <summary><span class="summary">Turnover policy</span></summary>
            <div class="review-reveal">
                  </p>Turnover represents gross invoiced sales of services provided to customers, net of VAT calculated at a flat rate on those gross sales.</p>
                   <p><a href="/accounts/accounts-turnover-policy-yes-no-check" class="button">Change<span class="visuallyhidden"> turnover policy</span></a>
                     <span id="delete-summary"><a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete <span class="visuallyhidden"> turnover policy</span></a></span></p>

                   <div id="content-delete-warning"  style="display: none;">
                     <div class="error-summary" id="delete-summary">
                       <p><strong>Are you sure you want to delete the turnover policy?</strong></p>
                        <p>
                          <a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> turnover policy</span></a>
                          <a class="button no-delete turnover" href="javascript:void(0)">No, keep<span class="visuallyhidden"> turnover policy</span></a>
                        </p>
                     </div><!--delete-summary-->
                   </div><!--content-delete-warning-->
            </div><!--review-reveal-->
          </details>
        </td>
      </tr>



      <tr>
        <td>
          <details>
            <summary><span class="summary">Intangible assets note</span></summary>
            <div class="review-reveal">
              <div class="grid-row">
                  <div class="column-one-half">
                    <h3 class="bold-medium">Cost</h3>
                  </div>
                  <div class="column-one-quarter">
                    <p class="bold-small">£</p>
                  </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Cost at 1 April 2016</p>
                </div>
                <div class="column-one-quarter">
                  <p>200</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Disposals</p>
              </div>
              <div class="column-one-quarter">
                <p class="">25</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Revaluations</p>
              </div>
              <div class="column-one-quarter">
                <p class="">50</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Transfers</p>
              </div>
              <div class="column-one-quarter">
                <p class="">25</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Cost at 31 March 2017</strong></p>
              </div>
              <div class="column-one-quarter">
                <p class=""><strong>250</strong></p>
              </div>
            </div><!--grid-row-->


            <div class="grid-row">
                <div class="column-one-half">
                  <h3 class="bold-medium">Amortisation</h3>
                </div>
                <div class="column-one-quarter">
                  <p class="bold-small">£</p>
                </div>
            </div><!--grid-row-->
            <div class="grid-row">
                <div class="column-one-half">
                  <p>Amortisation at 1 April 2016</p>
                </div>
                <div class="column-one-quarter">
                  <p>100</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">On disposals</p>
              </div>
              <div class="column-one-quarter">
                <p class="">65</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Other adjustments</p>
              </div>
              <div class="column-one-quarter">
                <p class="">115</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Amortisation at 31 March 2017</strong></p>
              </div>
              <div class="column-one-quarter">
                <p class=""><strong>150</strong></p>
              </div>
            </div><!--grid-row-->


            <div class="grid-row">
                <div class="column-one-half">
                  <h3 class="bold-medium">Net book value</h3>
                </div>
                <div class="column-one-quarter">
                  <p class="bold-small">£</p>
                </div>
            </div><!--grid-row-->
            <div class="grid-row">
                <div class="column-one-half">
                  <p><strong>Net book value at 31 March 2017</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>100</strong></p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p><strong>Net book value at 31 March 2016</strong></p>
              </div>
              <div class="column-one-quarter">
                <p><strong>100</strong></p>
              </div>
            </div><!--grid-row-->
          <p><a href="javascript:void(0)" class="button">Change<span class="visuallyhidden"> intangible assets note</span></a></p>
          </div><!--review-reveal-->
          </details>
        </td>
      </tr>




      <tr>
        <td>
          <details>
            <summary><span class="summary">Tangible assets note</span></summary>
            <div class="review-reveal">
              <div class="grid-row">
                  <div class="column-one-half">
                    <h3 class="bold-medium">Cost</h3>
                  </div>
                  <div class="column-one-quarter">
                    <p class="bold-small">£</p>
                  </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Cost at 1 April 2016</p>
                </div>
                <div class="column-one-quarter">
                  <p>41,260</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p>Additions</p>
              </div>
              <div class="column-one-quarter">
                <p>11,180</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Disposals</p>
              </div>
              <div class="column-one-quarter">
                <p class="">11,280</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">Transfers</p>
              </div>
              <div class="column-one-quarter">
                <p class="">8,600</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Cost at 31 March 2017</strong></p>
              </div>
              <div class="column-one-quarter">
                <p class=""><strong>49,760</strong></p>
              </div>
            </div><!--grid-row-->


            <div class="grid-row">
                <div class="column-one-half">
                  <h3 class="bold-medium">Depreciation</h3>
                </div>
                <div class="column-one-quarter">
                  <p class="bold-small">£</p>
                </div>
            </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-half">
                  <p>Depreciation at 1 April 2016</p>
                </div>
                <div class="column-one-quarter">
                  <p>10,520</p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p>Charge for year</p>
              </div>
              <div class="column-one-quarter">
                <p>3,000</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class="">On disposals</p>
              </div>
              <div class="column-one-quarter">
                <p class="">1,200</p>
              </div>
            </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p class=""><strong>Depreciation at 31 March 2017</strong></p>
              </div>
              <div class="column-one-quarter">
                <p class=""><strong>12,320</strong></p>
              </div>
            </div><!--grid-row-->


            <div class="grid-row">
                <div class="column-one-half">
                  <h3 class="bold-medium">Net book value</h3>
                </div>
                <div class="column-one-quarter">
                  <p class="bold-small">£</p>
                </div>
            </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-half">
                  <p><strong>Net book value at 31 March 2017</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>37,440</strong></p>
                </div>
              </div><!--grid-row-->
            <div class="grid-row">
              <div class="column-one-half">
                <p><strong>Net book value at 31 March 2016</strong></p>
              </div>
              <div class="column-one-quarter">
                <p><strong>30,740</strong></p>
              </div>
            </div><!--grid-row-->
          <p><a href="/accounts/accounts-abridged-tangible-note-retained" class="button">Change<span class="visuallyhidden"> tangible assets note</span></a></p>
          </div><!--review-reveal-->
          </details>
        </td>
      </tr>







            <tr>
              <td>
                <details>
                  <summary><span class="summary">Revaluation reserve note</span></summary>
                  <div class="review-reveal">
                    <div class="grid-row">
                        <div class="column-one-half">
                        &nbsp;
                        </div>
                        <div class="column-one-quarter">
                          <p class="bold-small">£</p>
                        </div>
                    </div><!--grid-row-->
                    <div class="grid-row">
                      <div class="column-one-half">
                        <p>At 1 April 2016</p>
                      </div>
                      <div class="column-one-quarter">
                        <p>50</p>
                      </div>
                    </div><!--grid-row-->
                  <div class="grid-row">
                    <div class="column-one-half">
                      <p>Surplus or deficit arising from revluation</p>
                    </div>
                    <div class="column-one-quarter">
                      <p>50</p>
                    </div>
                  </div><!--grid-row-->

                  <div class="grid-row">
                    <div class="column-one-half">
                      <p class=""><strong>At 31 March 2017</strong></p>
                    </div>
                    <div class="column-one-quarter">
                      <p class=""><strong>100</strong></p>
                    </div>
                  </div><!--grid-row-->

                <p><a href="javascript:void(0)" class="button">Change<span class="visuallyhidden"> tangible assets note</span></a></p>
                </div><!--review-reveal-->
                </details>
              </td>
            </tr>





      <tr>
        <td>
          <details>
            <summary><span class="summary">Employees note</span></summary>
            <div class="review-reveal">
              <div class="grid-row">
                <div class="column-one-half">&nbsp;
                </div>
                <div class="column-one-quarter">
                  <p><strong>2017</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>2016</strong></p>
                </div>
              </div><!--grid-row-->

              <div class="grid-row">
                <div class="column-one-half">
                  <p>Average number of employees</p>
                </div>
                <div class="column-one-quarter">
                  <p>8</p>
                </div>
              </div><!--grid-row-->

            <p>The average number of persons employed by the company is expected to more than double within the next financial year.</p>


            <p><a href="/accounts/accounts-abridged-employees-yes-no-completed" class="button">Change <span class="visuallyhidden">Employees note</span></a>
              <span id="delete-summary"><a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete <span class="visuallyhidden"> Employees note</span></a></span></p>

            <div id="content-delete-warning"  style="display: none;">
              <div class="error-summary" id="delete-summary">
                <p><strong>Are you sure you want to delete the Employees  note?</strong></p>
                <p><a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> note</span></a> <a class="no-delete " href="javascript:void(0)">No, keep<span class="visuallyhidden"> note</span></a></p>
              </div><!--delete-summary-->
            </div><!--content-delete-warning-->

          </div><!--review-reveal-->
          </details>
        </td>
      </tr>
      <tr>
        <td>
          <details>
            <summary><span class="summary">Current investments note</span></summary>
            <div class="review-reveal">
            <p>All investments (properties/shares purchased in 2016) are measured at fair market value.</p>



            <p><a href="/accounts/accounts-abridged-current-assets-yes-no-checked?fixedassetnoteyn=No" class="button">Change <span class="visuallyhidden">Current investments note</span></a>
              <span id="delete-summary"><a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete <span class="visuallyhidden"> Current investments note</span></a></span></p>

            <div id="content-delete-warning"  style="display: none;">
              <div class="error-summary" id="delete-summary">
                <p><strong>Are you sure you want to delete the current investments note?</strong></p>
                <p><a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> note</span></a> <a class="no-delete " href="javascript:void(0)">No, keep<span class="visuallyhidden"> note</span></a></p>
              </div><!--delete-summary-->
            </div><!--content-delete-warning-->

          </div><!--review-reveal-->
          </details>
        </td>
      </tr>

      <tr>
        <td>
          <details>
            <summary><span class="summary">Debtors note</span></summary>
            <div class="review-reveal">

                <div class="grid-row">
                  <div class="column-one-half">&nbsp;
                  </div>
                  <div class="column-one-quarter">
                    <p><strong>2017<br />£</strong></p>
                  </div>
                  <div class="column-one-quarter">
                    <p><strong>2016<br />£</strong></p>
                  </div>
                </div><!--grid-row-->
                <div class="grid-row">
                  <div class="column-one-half">
                    <p>Debtors due after more than one year</p>
                  </div>
                  <div class="column-one-quarter">
                    <p>32,175</p>
                  </div>
                  <div class="column-one-quarter">
                    <p>16,000</p>
                  </div>
                </div><!--grid-row-->

            <p>The current debtors figure includes trade debtors expected to be fully paid within the next financial period.</p>
            <p><a href="/accounts/accounts-abridged-debtors-yes-no-completed" class="button">Change <span class="visuallyhidden">Debtors note</span></a>
              <span id="delete-summary"><a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete <span class="visuallyhidden"> Debtors note</span></a></span></p>

            <div id="content-delete-warning"  style="display: none;">
              <div class="error-summary" id="delete-summary">
                <p><strong>Are you sure you want to delete the debtors note?</strong></p>
                <p><a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> note</span></a> <a class="no-delete " href="javascript:void(0)">No, keep<span class="visuallyhidden"> note</span></a></p>
              </div><!--delete-summary-->
            </div><!--content-delete-warning-->

          </div><!--review-reveal-->
          </details>
        </td>
      </tr>


      <tr>
        <td>
          <details>
            <summary><span class="summary">Creditors - amounts falling due within one year note</span></summary>
            <div class="review-reveal">
            <p>Purchases of various technology shares have recently been acquired as a short term investment and are expected to be sold within the next five months.</p>



            <p><a href="/accounts/accounts-abridged-creditors-within-yes-no-completed" class="button">Change <span class="visuallyhidden">creditors - amounts falling due within one year note</span></a>
              <span id="delete-summary"><a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete <span class="visuallyhidden"> creditors - amounts falling due within one year note</span></a></span></p>

            <div id="content-delete-warning"  style="display: none;">
              <div class="error-summary" id="delete-summary">
                <p><strong>Are you sure you want to delete the Creditors - amounts falling due within one year note?</strong></p>
                <p><a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> note</span></a> <a class="no-delete " href="javascript:void(0)">No, keep<span class="visuallyhidden"> note</span></a></p>
              </div><!--delete-summary-->
            </div><!--content-delete-warning-->

          </div><!--review-reveal-->
          </details>
        </td>
      </tr>





      <tr>
        <td>
          <details>
            <summary><span class="summary">Loans to directors note</span></summary>
            <div class="review-reveal">

              <div class="grid-row">
                <div class="column-one-third">
                  <p><strong>Name of director receiving advance or credit</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>John Smith</strong></p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p>Description of the transaction</p>
                </div>
                <div class="column-one-quarter">
                  <p>Short term loan</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                  <div class="column-one-third">
                  &nbsp;
                  </div>
                  <div class="column-one-quarter">
                    <p class="bold-small">£</p>
                  </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p>Balance at 1 April 2016</p>
                </div>
                <div class="column-one-quarter">
                  <p>60,000</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p>Advances or credits made</p>
                </div>
                <div class="column-one-quarter">
                  <p>10,000</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p>Advances or credits repaid</p>
                </div>
                <div class="column-one-quarter">
                  <p>5,000</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p><strong>Balance at 31 March 2017</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>65,000</strong></p>
                </div>
              </div><!--grid-row-->
              <p><a href="/accounts/accounts-abridged-loans-yes-no-completed" class="button">Change<span class="visuallyhidden"> John Smith - Short term loan - Loans to directors note</span></a>
                <span id="delete-summary"><a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete <span class="visuallyhidden"> John Smith - Short term loan - Loans to directors note</span></a></span></p>

              <div id="content-delete-warning"  style="display: none;">
                <div class="error-summary" id="delete-summary">
                  <p><strong>Are you sure you want to delete the Loans to directors note?</strong></p>
                  <p><a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> John Smith - Short term loan - Loans to directors note</span></a> <a class="no-delete " href="javascript:void(0)">No, keep<span class="visuallyhidden"> David Smith - car loan - Loans to directors note</span></a></p>
                </div><!--delete-summary-->
              </div><!--content-delete-warning-->

              <div class="grid-row accounts-row-spacer">
                <div class="column-one-third">
                  <p><strong>Name of director receiving advance or credit</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>David Smith</strong></p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p>Description of the transaction</p>
                </div>
                <div class="column-one-quarter">
                  <p>Car loan</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                  <div class="column-one-third">
                  &nbsp;
                  </div>
                  <div class="column-one-quarter">
                    <p class="bold-small">£</p>
                  </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p>Balance at 1 April 2016</p>
                </div>
                <div class="column-one-quarter">
                  <p>12,500</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p>Advances or credits repaid</p>
                </div>
                <div class="column-one-quarter">
                  <p>5,000</p>
                </div>
              </div><!--grid-row-->
              <div class="grid-row">
                <div class="column-one-third">
                  <p><strong>Balance at 31 March 2017</strong></p>
                </div>
                <div class="column-one-quarter">
                  <p><strong>12,000</strong></p>
                </div>
              </div><!--grid-row-->

            <p><a href="/accounts/accounts-abridged-loans-yes-no-completed-2" class="button">Change<span class="visuallyhidden"> David Smith - car loan - Loans to directors note</span></a>
              <span id="delete-summary"><a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete <span class="visuallyhidden"> David Smith - car loan - Loans to directors note</span></a></span></p>

            <div id="content-delete-warning"  style="display: none;">
              <div class="error-summary" id="delete-summary">
                <p><strong>Are you sure you want to delete the Loans to directors note?</strong></p>
                <p><a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> David Smith - car loan - Loans to directors note</span></a> <a class="no-delete " href="javascript:void(0)">No, keep<span class="visuallyhidden"> David Smith - car loan - Loans to directors note</span></a></p>
              </div><!--delete-summary-->
            </div><!--content-delete-warning-->

          </div><!--review-reveal-->
          </details>
        </td>
      </tr>

      <tr>
        <td>
          <details>
            <summary><span class="summary">Post balance sheet events note</span></summary>
            <div class="review-reveal">
            <p>On 5 April 2017, the company acquired the goodwill and net assets of CoHo Marketing Associates for 40,000 financed by a secured bank loan, repayable over 5 years.</p>

            <p><a href="/accounts/accounts-abridged-post-events-yes-no-completed" class="button">Change <span class="visuallyhidden">Post balance sheet events note</span></a>
              <span id="delete-summary"><a href="javascript:void(0)" class="button" id="content-delete" style="margin-left:.5em;">Delete <span class="visuallyhidden"> Post balance sheet events note</span></a></span></p>

            <div id="content-delete-warning"  style="display: none;">
              <div class="error-summary" id="delete-summary">
                <p><strong>Are you sure you want to delete the Creditors - amounts falling due within one year note?</strong></p>
                <p><a href="javascript:void" class="button">Yes, delete <span class="visuallyhidden"> note</span></a> <a class="no-delete " href="javascript:void(0)">No, keep<span class="visuallyhidden"> note</span></a></p>
              </div><!--delete-summary-->
            </div><!--content-delete-warning-->
          </div><!--review-reveal-->
          </details>
        </td>
      </tr>
    </tbody>
  </table>

<!--<p class="accounts-row-spacer">
  <a href="/accounts/accounts-abridged-fixed-assets-yes-no">Add additional balance sheet notes?</a>
</p>-->

    <div class="accounts-row-spacer">
      <input type="submit" class="button" value="Next" id="">
    </div>
</form>
</div><!--left-indent-->

</main>

{% endblock %}
