{% extends "layout-chs.html" %}

{% block page_title %}
  Balance Sheet Statements
{% endblock %}



{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




  <a id="back" class="link-back" href="javascript:history.back()">Back</a>

  {% include 'includes/error.html' %}

  <form action="/accounts/accounts-accounting-policies" method="get" class="form">

      <h1 class="heading-xlarge"><span class="circle circle-step-large">3</span> Balance sheet statements</h1>

<div class="text left-indent">
      <div class="notice">
      <p>
        <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
        <strong class="bold-small">You’re legally required to include statements describing your accounts with your balance sheet.</strong>
      </p>
      </div>


        <ul class="list list-bullet">
          <li>For the year ending 31 March 2017 the company was entitled to exemption under section 477 of the Companies Act 2006 relating to small companies.</li>
          <li>The members have not required the company to obtain an audit in accordance with section 476 of the Companies Act 2006.</li>
          <li>The directors acknowledge their responsibilities for complying with the requirements of the Act with respect to accounting records and the preparation of accounts.</li>
          <li>These accounts have been prepared in accordance with the provisions applicable to companies subject to the small companies regime.</li>
          <li>The members have agreed to the preparation of abridged accounts for this accounting period in accordance with Section 444(2A).</li>
          <li>The directors have chosen not to file a copy of the company’s profit and loss account.</li>
        </ul>




      <h2 class="heading-medium">Confirmation</h2>


      <fieldset data-required="" data-error="You must agree to the legal statements">

              <legend class="visuallyhidden">Confirmation</legend>
              <div class="form-group">
                <label class="block-label selection-button-checkbox" for="confirmation">
                  <input id="confirmation" value="agree" name="confirmation" type="checkbox">
                  I agree to the legal statements - include them with my balance sheet.
                </label>
              </div>

            </fieldset>





        <input type="submit" class="button" value="Save and continue" id="statements-button">

    </form>







  </div><!-- text-->

</main>

{% endblock %}
