{% extends "layout-chs.html" %}

{% block page_title %}
Balance sheet notes - Intangible fixed assets amortisation policy
{% endblock %}

{% block content %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}


  <div class="text">
    <h1 class="heading-xlarge"><span class="circle circle-step-large">3</span>
      Balance sheet notes
      <span class="circle-subheading">Intangible fixed assets amortisation policy</span>
    </h1>
  </div>

    <div class="left-indent">
      <div class="text">
        <h2 class="heading-medium">Do your prepared accounts include an "Intangible fixed assets amortisation" policy?</h2>


    <form action="/accounts/accounts-valuation-policy-yes-no" method="get" class="form">
          <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include an Intangible fixed assets amortisation policy">
                  <legend class="visually-hidden">Do your prepared accounts include an an "Intangible fixed assets amortisation" policy?</legend>
                  <div class="form-group">

                  <label class="block-label selection-button-radio" for="employeesnoteyes" data-target="employeesnoteyes-reveal">
                    <input id="employeesnoteyes" name="employeesnoteyn" value="Yes" aria-controls="employeesnoteyes-reveal" type="radio">
                    Yes
                  </label>
                  <label class="block-label selection-button-radio" for="employeesnoteno">
                    <input id="employeesnoteno" name="employeesnoteyn" value="No" type="radio">
                    No
                    </label>
                  </div><!--form-group-->

                </fieldset>



            <div class="panel panel-border-narrow js-hidden" id="employeesnoteyes-reveal">

                            <fieldset>

                              <p class="form-hint">If you have intangible (non-physical) fixed assets, this policy describes how the amortisation (reduction in value) of each asset is calculated over its expected useful lifetime. Amortisation is similar to the depreciation value of a tangible (physical) asset.</p>
                              <p class="form-hint">For example, 'Annual amortisation of goodwill is calculated at 25% to write off the cost of the asset, minus its residual value, over its estimated useful lifetime'.</p>

                            <legend class="visuallyhidden">Turnover policy</legend>
                              <label class="visuallyhidden" for="other-1"></label>
                            <textarea type="text" id="other-1" class="form-control" rows="5"></textarea>

                          </fieldset>

              </div>



          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Next" id="">
          </div>
        </form>
      </div>
      </div><!--left-indent-->

</main>
{% endblock %}
