{% extends "layout.html" %}

{% block pageTitle %}
  Accounting policies
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}






<a class="link-back" href="javascript:history.back()">Back</a>

{% include 'includes/error.html' %}

<div class="text">
  <h1 class="govuk-heading-xl"><span class="circle circle-step-large">3</span>
    Balance sheet notes
    <span class="circle-subheading">Accounting policies</span>
  </h1>


  <div class="left-indent">
    <p class="lede">This page describes the methods and measurements you've used to prepare your company accounts.</p>


    <form class="form" method="get" action="/accounts/accounts-abridged-tangible-note-r1">
      <h2 class="bold-medium text">Choose the statement that reflects the way your accounts were prepared:</h2>

      <p>
        <details class="text">
          <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Choose the statement that reflects the way your accounts were prepared</span>
          <div class="panel panel-border-narrow govuk-hint">
            <p>This policy is about the accounting standards you've prepared your accounts to. As a small company you're likely to have prepared your full accounts for shareholders or members using the simpler provisions of Section 1A (Small Entities) of Financial Reporting Standard 102. Your accounts should include a statement about the basis of measurement and preparation.</p>
          </div>
        </details>
      </p>



      <fieldset data-required="" data-error=" You must choose the statement that reflects the way your accounts were prepared">

              <legend class="visuallyhidden">Basis of preparation</legend>
              <div class="form-group">

              <label class="block-label text selection-button-radio" for="1">
                <input id="1" value="" name="basis-of-preparation" type="radio">
                These financial statements have been prepared in accordance with the provisions of Section 1A (Small Entities) of Financial Reporting Standard 102
              </label>

              <label data-target="2-reveal" class="block-label text selection-button-radio" for="2">
                <input id="2" value="" name="basis-of-preparation" aria-controls="2-reveal" aria-expanded="false" type="radio">
                These accounts have been prepared in accordance with another standard
              </label>
            </div><!--form-group-->

            </fieldset>

    <div id="2-reveal" class="panel panel-border-narrow js-hidden" aria-hidden="true">
      <label class="visuallyhidden" for="2-textarea"></label>
      Enter the basis of measurement and preparation for your accounts:
      <textarea type="text" id="2-textarea" class="form-control" rows="10"></textarea>
    </div>




      <h2 class="govuk-heading-m">Do your prepared accounts include any additional accounting policies?
        <span class="govuk-hint">For example, "Turnover policy" or "Tangible fixed assets depreciation policy"</span>
</h2>
      <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include any additional accounting policies">

                <div class="form-group">
                  <legend class="visuallyhidden">Do your prepared accounts include any additional accounting policies?</legend>
                  <label class="block-label selection-button-radio" data-target="additional" for="policies-yes">
                    <input id="policies-yes" name="policies" value="Yes" aria-controls="additional" type="radio">
                    Yes
                  </label>

                  <label class="block-label selection-button-radio" for="policies-no">
                    <input id="policies-no" name="policies" value="No" type="radio">
                    No
                  </label>

                </div><!--form-group-->

              </fieldset>

                              <div class="panel panel-border-narrow js-hidden" id="additional">
                                <p class="govuk-heading-s form-group">Complete all items that are included in your prepared accounts</p>
                              <div class="form-group">
                                <fieldset>

                                  <h2 class="govuk-heading-m">Turnover policy</h2>
                                    <details class="text form-group">
                                    <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Turnover policy</span>
                                    <div class="panel panel-border-narrow govuk-hint">
                                      <p>This policy describes how the turnover figure in your profit and loss account was calculated.</p>
                                      <p>For example, 'The turnover represents amounts receivable for goods and services net of VAT and trade discounts'.</p>
                                    </div>
                                  </details>
                                  <legend class="visuallyhidden">Turnover policy</legend>
                                    <label class="visuallyhidden" for="other-1"></label>
                                  <textarea type="text" id="other-1" class="form-control" rows="5"></textarea>

                                </fieldset>
                              </div><!--form-group-->



                            <div class="form-group">
                              <fieldset>

                                <h2 class="govuk-heading-m">Tangible fixed assets depreciation policy</h2>
                                <details class="text form-group">
                                  <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Tangible assets depreciation policy</span>
                                  <div class="panel panel-border-narrow govuk-hint">
                                    <p>If you have tangible (physical) fixed assets, this policy describes how the depreciation (reduction in value) of each asset is calculated over its expected useful lifetime.</p>
                                    <p>For example, 'Annual depreciation of computer equipment is calculated at 25% of cost to write off the cost of the asset, less its residual value, over its estimated useful economic lifetime'.</p>
                                  </div>
                                </details>
                                <legend class="visuallyhidden">Tangible assets depreciation policy</legend>
                                  <label class="visuallyhidden" for="other-2"></label>
                                <textarea type="text" id="other-2" class="form-control" rows="5"></textarea>

                              </fieldset>
                            </div><!--form-group-->

                         <div class="form-group">
                              <fieldset>

                                <h2 class="govuk-heading-m">Intangible fixed assets amortisation policy</h2>
                                <details class="text form-group">
                                  <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Intangible assets amortisation policy</span>
                                  <div class="panel panel-border-narrow govuk-hint">
                                    <p>If you have intangible (non-physical) fixed assets, this policy describes how the amortisation (reduction in value) of each asset is calculated over its expected useful lifetime. Amortisation is similar to the depreciation value of a tangible (physical) asset.</p>
                                    <p>For example, 'Annual amortisation of goodwill is calculated at 25% to write off the cost of the asset, minus its residual value, over its estimated useful lifetime'.</p>
                                  </div>
                                </details>
                                <legend class="visuallyhidden">Intangible assets amortisation policy</legend>
                                  <label class="visuallyhidden" for="other-3"></label>
                                <textarea type="text" id="other-3" class="form-control" rows="5"></textarea>

                              </fieldset>
                            </div><!--form-group-->

                            <div class="form-group">
                              <fieldset>

                              <h2 class="govuk-heading-m">Valuation information policy</h2>
                              <details class="text form-group">
                                <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Valuation information policy</span>
                                <div class="panel panel-border-narrow govuk-hint">
                                  <p>If you have stocks or work in progress, this policy describes how they are valued. Stocks should be valued at the lower of either cost or ‘net realisable value’ (the realistic resale value minus the cost of selling it).</p>
                                  <p>For example, 'Stocks and work in progress are valued at the lower of cost and net realisable value, after making allowances for obsolete and slow-moving items. Cost includes all direct expenditure and overheads'.</p>
                                </div>
                              </details>
                              <legend class="visuallyhidden">Valuation information policy</legend>
                                <label class="visuallyhidden" for="other-4"></label>
                              <textarea type="text" id="other-4" class="form-control" rows="5"></textarea>

                              </fieldset>
                            </div><!--form-group-->

                            <div class="form-group">
                            <fieldset>

                              <h2 class="govuk-heading-m">Other accounting policies</h2>
                              <details class="text form-group">
                                <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Other policy</span>
                                <div class="panel panel-border-narrow govuk-hint">
                                  <p>Use this policy to report other policies you may have that aren’t covered by the policies above, such as:</p>
                                  <ul class="list-bullet">
                                      <li>depreciation of assets obtained under hire purchases or leases</li>
                                      <li>deferred taxation</li>
                                      <li>pensions or retirement benefits</li>
                                  </ul>
                                </div>
                              </details>
                              <legend class="visuallyhidden">Other policy</legend>
                                <label class="visuallyhidden" for="other-5"></label>
                              <textarea type="text" id="other-5" class="form-control" rows="5"></textarea>

                              </fieldset>
                            </div><!--form-group-->

                          </div><!--js-hidden-->











    <div class="form-group">
      <input type="submit" class="button" value="Continue">
      </div>
    </form>

  </div><!--left-indent-->


</div><!--text-->




</main>

{% endblock %}
