{% extends "layout.html" %}

{% block pageTitle %}
  Directors' report
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a class="link-back" href="accounts-eligibility">Back</a>



      <h1 class="govuk-heading-xl">Directors' report - information</h1>


      <div class="panel panel-border-wide">
        <p class="">These fields are all optional – complete any that are included in your accounts.</p>
      </div>

      <form class="form" method="post" action="/">

      <div class="group-textarea">

      <!--Principal activities of the company-->
      <div class="form-group">
        <label for="principal-activities-of-the-company" class="form-label-bold"><h2 class="govuk-heading-m">Principal activities of the company</h2>
          <details role="group">
          <summary role="button" aria-controls="principal-activities-of-the-company-help" tabindex="0" aria-expanded="false"><span class="visuallyhidden">Principal activities of the company</span><span class="summary">What is this?</span></summary>
          <div class="panel panel-border-narrow" id="principal-activities-of-the-company-help" aria-hidden="true" style="display: none;">
              <p>For example: 'The company's principal activity during the period was the printing and distribution of newspapers.' </p>
            </div>
          </details>
          <textarea type="text" id="principal-activities-of-the-company" class="form-control" rows="5"></textarea>
        </label>
      </div>

      <!--Political and charitable donations -->
      <div class="form-group">
        <label for="political-and-charitable-donations" class="form-label-bold"><h2 class="govuk-heading-m">Political and charitable donations</h2>
          <details role="group">
          <summary role="button" aria-controls="political-and-charitable-donations-help" tabindex="1" aria-expanded="false"><span class="visuallyhidden">Political and charitable donations</span><span class="summary">What is this?</span></summary>
          <div class="panel panel-border-narrow" id="political-and-charitable-donations-help" aria-hidden="true" style="display: none;">
            <p>The total charitable and political donations (including to non-EU parties) the company made in the period you're filing for.</p>
            <p>If political donations were over £2,000, give the name of the candidate or party who received the donations.</p>
            <p>For example: 'The company's charitable donations during the period amounted to £2,043. No political donations were made.'</p>
            </div>
          </details>
          <textarea type="text" id="political-and-charitable-donations" class="form-control" rows="5"></textarea>
        </label>
      </div>

      <!-- Company policy on disabled employees -->
      <div class="form-group">
        <label for="company-policy-on-disabled-employees" class="form-label-bold"><h2 class="govuk-heading-m">Company policy on disabled employees</h2>
          <details role="group">
          <summary role="button" aria-controls="company-policy-on-disabled-employees-help" tabindex="2" aria-expanded="false"><span class="visuallyhidden">Company policy on disabled employees</span><span class="summary">What is this?</span></summary>
          <div class="panel panel-border-narrow" id="company-policy-on-disabled-employees-help" aria-hidden="true" style="display: none;">
            <p>If the company employs more than 150 people, give details of the company's policy on employing, training, developing and promoting disabled employees.</p>
            <p>For example: 'The company policy is to employ disabled people wherever practical. One full-time member of staff is registered disabled.'</p>
          </div>
          </details>
          <textarea type="text" id="company-policy-on-disabled-employees" class="form-control" rows="5"></textarea>
        </label>
      </div>

      <!-- Additional information -->
      <div class="form-group">
        <label for="additional-information" class="form-label-bold"><h2 class="govuk-heading-m">Additional information</h2></label>

          <details role="group">
          <summary role="button" aria-controls="additional-information-help" tabindex="3" aria-expanded="false"><span class="summary">What is this?</span></summary><span class="visuallyhidden">Additional information</span>
          <div class="panel panel-border-narrow" id="additional-information-help" aria-hidden="true" style="display: none;">
            <p>Add any other information you'd like to include in the directors' report, for example:</p>
            <ul class="govuk-list">
              <li>if you insure directors against legal claims from third parties ('qualifying third party indemnity provision')</li>
              <li>if the company bought its own shares from shareholders</li>
            </ul>
          </div>
          </details>
          <textarea type="text" id="additional-information" class="form-control" rows="5"></textarea>

      </div>




    </div><!--group-textarea-->

      <div class="form-group">
        <a class="button" href="accounts-directors-report-2-check" role="button">Save and continue</a>
      </div>


      </form>





</main>

{% endblock %}
