{% extends "layout.html" %}

{% block pageTitle %}
  Accounting policies
{% endblock %}



{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>





<a class="link-back" href="javascript:history.back()">Back</a>

{% include 'includes/error.html' %}

<div class="text">
  <h1 class="govuk-heading-xl"><span class="circle circle-step-large">4</span>
    Balance sheet notes
    <span class="circle-subheading">Any other accounting policies</span>
  </h1>














  <div class="left-indent">



  <h2 class="govuk-heading-m">Do your prepared accounts include any other accounting policies?</h2>
  <details class="form-group">
    <summary><span class="summary">What's this?</span></summary><span class="visuallyhidden">Additional accounting policies</span>
    <div class="panel panel-border-narrow govuk-hint">
      <p>For example 'turnover policy', 'tangible fixed assets depreciation policy', or 'intangible fixed assets amortisation policy'</p>
    </div>
  </details>
  <form action="/accounts/accounts-turnover-policy-yes-no" method="get" class="form">




  <fieldset class="inline form-group" data-required="" data-error=" Please confirm if you want to include any additional accounting policies">

    <legend class="visuallyhidden">Do your prepared accounts include any other accounting policies?</legend>
    <div class="form-group">
      <label class="block-label selection-button-radio" for="policies-yes">
      <input id="policies-yes" name="otherpolicies" value="Yes" type="radio">
      Yes
      </label>

      <label class="block-label selection-button-radio" for="policies-no">
      <input id="policies-no" name="otherpolicies" value="No" type="radio">
      No
      </label>
    </div>



  </fieldset>











    <div class="form-group">
      <input type="submit" class="button" value="Save and continue">
      </div>

  </div><!--left-indent-->


</div><!--text-->

</form>



</main>

{% endblock %}
