{% extends "layout.html" %}

{% block pageTitle %}

Download example accounts

{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>

<p class="company-details">Filing for <a class="govuk-heading-s" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2017</p>

<div class="text">

<a class="link-back" href="accounts-type-of-accounts">Back</a>



      <h1 class="govuk-heading-xl">Download example accounts</h1>

      <p>These example accounts show the information you'll need to enter into this service depending on the type of accounts you want to file.</p>
      <div class="panel panel-border-wide">
        <p><a href="javascript:void(0)">Word or similar: accounts for private limited companies (88KB)</a></p>
        <p><a href="javascript:void(0)">PDF: accounts for private limited companies (88KB)</a></p>
      </div>









  </div><!-- text-->

</main>

{% endblock %}
