{% extends "layout.html" %}
{% block pageTitle %}
  You’re about to start filing your accounts
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/chs-user-menu-logged-in.html" %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">File full accounts</h1>
          <form action="/small-full/small-full-accounts-dates" method="get" class="form">

            <p class="lede">Use this service to file prepared and approved full accounts.</p>

            <p class="warning-note warning-note-large">If you can't finish your filing in one session, you can come back later to continue. You'll need to go to
              <a id="recent_filings" href="javascript:void(0)" style="color:white;">'Your filings'</a>
            </p>

            <p>There are 8 steps to complete:</p>

            <ol class="govuk-list">
              <li>
                <span class="circle-step-black">1</span>
                Confirm your company account dates</li>
              <li>
              <li>
                <span class="circle-step-black">2</span>
                Directors report (if applicable)</li>
              <li>
                <span class="circle-step-black">3</span>
                Profit and loss account (if applicable)</li>
              <li>
                <span class="circle-step-black">4</span>
                Balance sheet</li>
              <li>
                <span class="circle-step-black">5</span>
                Balance sheet statements</li>
              <li>
                <span class="circle-step-black">6</span>
                Balance sheet notes</li>

              <li>
                <span class="circle-step-black">7</span>
                Check your answers
              </li>
              <li>
                <span class="circle-step-black">8</span>
                Approval and submit</li>
            </ol>

            <div class="panel panel-border-wide">
              <p>Once we’ve received your accounts, you’ll get a confirmation email (with a reference number) at
                <strong>jsmith@testcompany.co.uk</strong>
              </p>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>
        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->
    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}