{% extends "layout-chs.html" %}

{% block page_title %}
  Current assets investments note
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a id="back" class="link-back" href="javascript:history.back()">Back</a>

<h1 class="heading-xlarge"><span class="circle circle-step-large">3</span>
  Balance sheet notes
  <span class="circle-subheading">Current assets investments</span>
</h1>
<div class="left-indent">

<div class="text">


  <form action="/" method="post" class="form">
    <label class="visuallyhidden" for="textarea">Current assets investments note</label>
    <p class="form-hint">Use this note to record information about current asset investments, which are those held with the intention of being traded in the short term, for example shares in quoted companies intended to be traded.</p>
    <textarea type="text" id="textarea" class="form-control" rows="10"></textarea>
    <div class="form-group accounts-row-spacer">
      <a class="button" href="accounts-balance-sheet-notes-current-assets-completed">Next</a>
    </div>
  </form>
</div><!--text-->
</div><!--left-indent-->

</main>
{% endblock %}
