{% extends "layout.html" %}
{% block pageTitle %}
  You’re about to start filing your accounts
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <!--{% include "includes/chs-user-menu-logged-in.html" %}-->

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <header>
            <h1 id="page-header" class="govuk-heading-l">You’re about to start filing your accounts</h1>
          </header>

          <p>You’ll need to refer to your prepared accounts.</p>
          <p>You won’t need to fill in every section – only fill in what’s in your prepared accounts.</p>

          {{ govukInsetText({
            text: "Your answers will be saved as you go on. You can leave at any time and resume filing later."
          }) }}
          <iframe class="govuk-!-padding-bottom-6" width="560" height="315" src="https://www.youtube.com/embed/5OZeLVfOBg4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>

          <form action="/small-full/small-full-accounts-dates" method="GET">
            {{ govukButton({
                  text: "Continue to accounts"
                }) }}
          </form>
        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->
    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}