{% extends "layout.html" %}

{% block pageTitle %}
Balance sheet notes - Employees
{% endblock %}

{% block main %}

<style type="text/css">
.left-indent {margin-left:3em}
</style>

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>




<a id="back" class="link-back" href="javascript:history.back()">Back</a>
{% include 'includes/error.html' %}


  <div class="text">
    <h1 class="govuk-heading-xl"><span class="circle circle-step-large">4</span>
      Balance sheet notes
      <span class="circle-subheading">Employees</span>
    </h1>
  </div>

    <div class="left-indent">
      <div class="text">
        <h2 class="govuk-heading-m">Do your prepared accounts include an 'employees' note?</h2>
      </div>

    <form action="/accounts/accounts-review" method="get" class="form">
          <fieldset class="inline" data-required="" data-error=" Please confirm if you want to include a 'employees' note">
                  <legend class="visually-hidden">Do your prepared accounts include an 'employees' note?</legend>
                  <div class="form-group">

                  <label class="block-label selection-button-radio" for="employeesnoteyes" data-target="employeesnoteyes-reveal">
                    <input id="employeesnoteyes" name="employeesnoteyn" value="Yes" aria-controls="employeesnoteyes-reveal" type="radio" checked="checked">
                    Yes
                  </label>
                  <label class="block-label selection-button-radio" for="employeesnoteno">
                    <input id="employeesnoteno" name="employeesnoteyn" value="No" type="radio">
                    No
                    </label>
                  </div><!--form-group-->

                </fieldset>



            <div class="panel panel-border-narrow" id="employeesnoteyes-reveal">
              <!--<p class="govuk-hint text">Provides a more detailed breakdown of the employees figure you entered on your balance sheet.</p>-->


              <div class="grid-row" id="accounts-header">
                <div class="column-half">
                  &nbsp;
                </div>
                <div class="column-quarter">
                  <h2 class="govuk-heading-s">2017</h2>
                </div>
                <div class="column-quarter">
                  <h2 class="govuk-heading-s">2016</h2>
                </div>
              </div>





              <!--Start average number of employees -->
              <div class="grid-row accounts-row-spacer">
                <div class="column-half">
                    <details>
                      <summary><span class="summary">Average number of employees</span></summary>
                        <p>Enter the average number of people employed by the company in the period you're filing for.</p>
                    </details>
                </div>

                <div class="column-quarter">
                  <div class="form-group">
                    <label for="average-number-of-employees-current"><span class="visuallyhidden">Average number of employees  (current year)</span>
                      <input type="number"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="average-number-of-employees-current" value="8">
                    </label>
                  </div>
                </div>
              <div class="column-quarter">
                  <div class="form-group">
                    <label for="average-number-of-employees-previous"><span class="visuallyhidden">Average number of employees  (previous year)</span>
                      <input type="number"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="average-number-of-employees-previous">
                    </label>
                  </div>
                </div>

              </div>
              <!--End average number of employees -->



                <details class="accounts-row-spacer text" open="open">
                  <summary><span class="summary">Add additional information? </span></summary>
                    <label class="visuallyhidden" for="textarea">Additional information (optional)</label>
                    <!--<p class="govuk-hint">Scaevola mnesarchum assueverit vis in. Unum novum sententiae cu duo, ex dico modus inimicus mel, justo appetere vel ex</p>-->
                    <textarea type="text" id="textarea" class="form-control" rows="10">The average number of persons employed by the company is expected to more than double within the next financial year.</textarea>
                </details>



              </div>



          <div class="accounts-row-spacer">
            <input type="submit" class="button" value="Save and continue" id="">
          </div>
        </form>

      </div><!--left-indent-->

</main>
{% endblock %}
