{% extends "layout-chs.html" %}

{% block page_title %}
  Balance Sheet Statements
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>


<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>

  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

   <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
     There is a problem with this form
   </h1>

   <!--<p>Optional description of the errors and how to correct the </p>-->

   <ul class="error-summary-list">
     <li><a href="#confirmation">You must agree to the legal statements</a></li>
   </ul>

 </div>

      <h1 class="heading-xlarge"><span class="circle circle-step-large">3</span> Balance sheet statements</h1>
      <form action="/accounts/accounts-balance-sheet-notes" method="get" class="form">

      <div class="notice">
      <p>
        <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
        <strong class="bold-small">You’re legally required to include statements describing your accounts with your balance sheet.</strong>
      </p>
      </div>


        <ul class="list list-bullet">
          <li>For the year ending 31 March 2016 the company was entitled to exemption under section 477 of the Companies Act 2006 relating to small companies.</li>
          <li>The members have not required the company to obtain an audit in accordance with section 476 of the Companies Act 2006.</li>
          <li>The directors acknowledge their responsibilities for complying with the requirements of the Act with respect to accounting records and the preparation of accounts.</li>
          <li>These accounts have been prepared in accordance with the provisions applicable to companies subject to the small companies regime.</li>
          <li>The members have agreed to the preparation of abridged accounts for this accounting period in accordance with Section 444(2A).</li>
        </ul>




      <h2 class="heading-medium">Confirmation</h2>

      <div class="form-group error">
      <fieldset>

        <legend class="visuallyhidden">Confirmation</legend>
        <span class="error-message">
               You must agree to the legal statements to continue
        </span>
        <label class="block-label" for="confirmation">
          <input type="checkbox" id="confirmation" value="agree" name="confirmation">
           I agree to the legal statements - include them with my balance sheet.
        </label>

      </fieldset>
      </div>


      <div class="form-group">
        <input type="submit" class="button" value="Continue to Balance Sheet notes" id="statements-button">
      </div>

    </form>







  </div><!-- text-->

</main>

{% endblock %}
