{% extends "layout-chs.html" %}

{% block page_title %}
  Profit and loss notes
{% endblock %}

{% block content %}

<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}


  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>

  <p class="company-details">Filing for <a class="heading-small" href="javascript:void(0)">A TEST COMPANY LIMITED (01234567)</a><br>Period of accounts: 1 April 2015 to 31 March 2016</p>

  <a class="link-back" href="accounts-profit-and-loss">Back</a>


  <h1 class="heading-xlarge">Profit and loss notes</h1>

  <div class="text">
    <p>You need to add notes about some of the figures you entered in your profit and loss account.</p>

    <div class="panel panel-border-narrow">
    <p>Some notes are optional – complete any that are included in your accounts.</p>
    </div>

  </div>

  <table class="check-your-answers">
  <caption class="visuallyhidden">Balance sheet - check your answers</caption>
    <thead>
      <tr>
        <th class="check-your-answers-section"></th>
        <th class="notes"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gross profit or loss</td>
        <td>–</td>
      </tr>
      <tr>
        <td>Distribution costs</td>
        <td>–</td>
      </tr>
      <tr>
        <td>Administrative expenses</td>
        <td>–</td>
      </tr>
      <tr class="total">
        <td>Operating profit (loss)</td>
        <td>–</td>
      </tr>
      <tr>
        <td>Interest receivable and similar income</td>
        <td>–</td>
      </tr>
      <tr class="total">
        <td>Profit (loss) on ordinary activities before taxation</td>
        <td class="notes"><a href="javascript:void(0)">Add note <span class="visuallyhidden">Profit (loss) on ordinary activities before taxation</span></a></td>
      </tr>
      <tr>
        <td>Tax on profit or loss on ordinary activities</td>
        <td>–</td>
      </tr>
      <tr class="total">
        <td>Profit (loss) for the financial year</td>
        <td>–</td>
      </tr>
    </tbody>
  </table>
<br>
  <div class="form-group">
    <p><a href="accounts-balance-sheet" class="button">Save and continue to Balance sheet</a></p>
  </div>

</main>

{% endblock %}
