{% extends "layout.html" %}

{% block pageTitle %}
  Profit and loss
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>



<a class="link-back" href="accounts-directors-report-check">Back</a>

<h1 class="govuk-heading-xl">Profit and loss</h1>


  <div class="grid-row" id="accounts-header">
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-quarter">
      <h2 class="govuk-heading-s">2016</h2>
    </div>
    <div class="column-quarter">
      <h2 class="govuk-heading-s">2015</h2>
    </div>
  </div>



<form action="/" method="post" class="form">


  <!--Start gross profit or loss-->
  <div class="grid-row accounts-row-spacer">
    <div class="column-half">
        <details>
          <summary><span class="summary">Gross profit or loss</span></summary>
          <div class="panel panel-border-narrow">
            <p>Gross profit or loss help goes here.</p>
          </div>
        </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="gross-profit-or-loss-current"><span class="visuallyhidden">Gross profit or loss (current year)</span>
          <input type="number" class="form-control" id="gross-profit-or-loss-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="gross-profit-or-loss-previous"><span class="visuallyhidden">Gross profit or loss (previous year)</span>
          <input type="number" class="form-control" id="gross-profit-or-loss-previous">
        </label>
      </div>
    </div>
  </div>
  <!--End gross profit or loss-->

  <!--Start distribution costs -->
  <div class="grid-row">
    <div class="column-half">
        <details>
          <summary><span class="summary">Distribution costs</span></summary>
          <div class="panel panel-border-narrow">
            <p>Costs like packaging, transporting or storing the goods or services sold.</p>
          </div>
        </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="distribution-costs-current"><span class="visuallyhidden">Distribution costs (current year)</span>
          <input type="number" class="form-control" id="distribution-costs-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="distribution-costs-previous"><span class="visuallyhidden">Distribution costs (previous year)</span>
          <input type="number" class="form-control" id="distribution-costs-previous">
        </label>
      </div>
    </div>
  </div>
  <!--End  distribution costs-->

  <!--Start administrative expenses-->
  <div class="grid-row">
    <div class="column-half">
      <details>
        <summary><span class="summary">Administrative expenses</span></summary>
        <div class="panel panel-border-narrow">
          <p>'Intangible assets' plus 'tangible assets'.</p>
        </div>
      </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="administrative-expenses-current"><span class="visuallyhidden">Administrative expenses (current year)</span>
          <input type="number" class="form-control" id="administrative-expenses-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="administrative-expenses-previous"><span class="visuallyhidden">Administrative expenses (previous year)</span>
          <input type="number" class="form-control" id="administrative-expenses-previous">
        </label>
      </div>
    </div>
  </div>
  <!--End administrative expenses-->




  <!--Start operating profit (loss)-->
  <div class="grid-row accounts-total">
    <div class="column-half">
      <details>
        <summary><span class="summary"> Operating profit (loss)</span></summary>
        <div class="panel panel-border-narrow">
          <p>'Gross profit' minus 'distribution costs', minus 'administrative expenses', plus 'other operating income'. </p>
        </div>
      </details>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label for="operating-profit-loss-current"><span class="visuallyhidden"> Operating profit (loss) (current year)</span>
          <input type="number" class="form-control" id="operating-profit-loss-current">
        </label>
      </div>
    </div>
    <div class="column-quarter">
      <div class="form-group">
        <label class="form-label" for="operating-profit-loss-previous"><span class="visuallyhidden"> Operating profit (loss) (previous year)</span>
          <input type="number" class="form-control" id="operating-profit-loss-previous">
        </label>
      </div>
    </div>
  </div>
  <!--End operating profit (loss)-->




    <!--Start interest receivable and similar income-->
    <div class="grid-row accounts-row-spacer">
      <div class="column-half">
          <details>
            <summary><span class="summary">Interest receivable and similar income</span></summary>
            <div class="panel panel-border-narrow">
              <p>Interest earned or owed to the company eg bank interest, interest from loans.</p>
            </div>
          </details>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="interest-receivable-and-similar-income-current"><span class="visuallyhidden">Interest receivable and similar income (current year)</span>
            <input type="number" class="form-control" id="interest-receivable-and-similar-income-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="interest-receivable-and-similar-income-current"><span class="visuallyhidden">Interest receivable and similar income (previous year)</span>
            <input type="number" class="form-control" id="interest-receivable-and-similar-income-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End interest receivable and similar income-->

    <!--Start profit (loss) on ordinary activities before taxation -->
    <div class="grid-row accounts-total">
      <div class="column-half">
          <details>
            <summary><span class="summary">Profit (loss) on ordinary activities before taxation</span></summary>
            <div class="panel panel-border-narrow">
              <p>'Operating profit' plus 'interest receivable', minus 'interest payable'.</p>
            </div>
          </details>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="profit-loss-on-ordinary-activities-before-taxation-current"><span class="visuallyhidden">Profit (loss) on ordinary activities before taxation (current year)</span>
            <input type="number" class="form-control" id="profit-loss-on-ordinary-activities-before-taxation-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="profit-loss-on-ordinary-activities-before-taxation-previous"><span class="visuallyhidden">Profit (loss) on ordinary activities before taxation (previous year)</span>
            <input type="number" class="form-control" id="profit-loss-on-ordinary-activities-before-taxation-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End profit (loss) on ordinary activities before taxation -->


    <!--Start tax on profit or loss on ordinary activities-->
    <div class="grid-row accounts-row-spacer">
      <div class="column-half">
          <details>
            <summary><span class="summary">Tax on profit or loss on ordinary activities</span></summary>
            <div class="panel panel-border-narrow">
              <p>Taxable income is 'profit or loss on ordinary activities before tax' minus any reliefs due. You can work out the Corporation Tax due on taxable income using the <a href="https://www.gov.uk/corporation-tax-rates" target="_blank" rel="external">latest rates</a>.</p>
            </div>
          </details>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="tax-on-profit-or-loss-on-ordinary-activities-current"><span class="visuallyhidden">Tax on profit or loss on ordinary activities (current year)</span>
            <input type="number" class="form-control" id="tax-on-profit-or-loss-on-ordinary-activities-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="tax-on-profit-or-loss-on-ordinary-activities-previous"><span class="visuallyhidden">Tax on profit or loss on ordinary activities (previous year)</span>
            <input type="number" class="form-control" id="tax-on-profit-or-loss-on-ordinary-activities-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End tax on profit or loss on ordinary activities-->



    <!--Start profit (loss) for the financial year-->
    <div class="grid-row accounts-total">
      <div class="column-half">
        <details>
          <summary><span class="summary">Profit (loss) for the financial year</span></summary>
          <div class="panel panel-border-narrow">
            <p>'Profit or loss on ordinary activities before tax' minus 'tax on profit or loss ordinary activities'.</p>
          </div>
        </details>
            </div>
      <div class="column-quarter">
        <div class="form-group">
          <label for="profit-loss-for-the-financial-year-current"><span class="visuallyhidden"> Profit (loss) for the financial year (current year)</span>
            <input type="number" class="form-control" id="profit-loss-for-the-financial-year-current">
          </label>
        </div>
      </div>
      <div class="column-quarter">
        <div class="form-group">
          <label class="form-label" for="profit-loss-for-the-financial-year-previous"><span class="visuallyhidden">Profit (loss) for the financial year (previous year)</span>
            <input type="number" class="form-control" id="profit-loss-for-the-financial-year-previous">
          </label>
        </div>
      </div>
    </div>
    <!--End profit (loss) for the financial year-->


      <div class="form-group">
        <a class="button" href="accounts-profit-and-loss-notes">Save and continue to Profit and loss notes</a>
      </div>

</form>
</main>
{% endblock %}
