{% extends "layout-chs.html" %}

{% block page_title %}
  File full accounts to Companies House and HMRC
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>



      <h1 class="heading-xlarge">File full accounts to Companies House and HMRC</h1>
      <div class="panel panel-border-wide">

      <h2 class="heading-medium">Important information</h2>

      <ul class="list list-bullet">
              <li>you will be directed to HMRC's online services to use the joint filing service</li>
              <li>you will need Government Gateway credentials to access HMRC's online services
              <li>newly requested Government Gateway credentials are issued by post, so allow a few days for receipt</li>
            </ul>
      </div>
              <h2 class="heading-medium">Key accounts once - use twice</h2>
            <p> HMRC and Companies House are providing a service that you can use to submit audit exempt full accounts or micro-entity accounts to both HMRC and Companies House (with abbreviated options for filing to Companies House). To learn more read <a href="javascript:void(0)">how joint filing works</a>. </p>
            <p>If you joint file your accounts, Companies House will still send you an email to confirm receipt and another to confirm if they have been accepted or rejected. </p>
            <p>To check if the service is suitable for your company, read <a href="javascript:void(0)">accounts exceptions</a>.</p>


         <div class="form-group">
           <a role="button" class="button" href="/webfiling/webfiling-login-page-chs-search">File full accounts</a>
           <span class="destination"> on HMRC's tax service</span>
         </div>







  </div><!-- text-->

</main>

{% endblock %}
