{% extends "layout-chs.html" %}

{% block page_title %}
   Confirm your company account dates
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}


<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<div class="text">

<a class="link-back" href="accounts-start-page">Back</a>

{% include 'includes/error.html' %}


<form action="/accounts/accounts-balance-sheet" method="get" class="form">


      <h1 class="heading-xlarge"><span class="circle circle-step-large">1</span> Confirm your company account dates</h1>
      <p>You need to file accounts for the period:</p>
      <span class="heading-medium">1 April 2016 to 30 March 2017</span>
      <p class="form-hint">This should match the dates on your prepared accounts.</p>

      <h2 class="heading-medium">Do you want to change your company account dates?</h2>

      <fieldset class="inline" data-required data-error="Please confirm the dates that you have prepared your accounts to">

        <legend class="visuallyhidden">Do you want to change your company account dates?</legend>

        <div class="form-group">

          <label class="block-label selection-button-radio" data-target="dates-yes-reveal" for="dates-yes">
            <input id="dates-yes" type="radio" name="confirm-dates" value="Yes">
            Yes
          </label>

          <label class="block-label selection-button-radio" for="dates-no">
            <input id="dates-no" type="radio" name="confirm-dates" value="No">
            No
          </label>
          </fieldset>


          <div class="panel panel-border-narrow js-hidden" id="dates-yes-reveal">
            <p>You can change the end date of the period you're filing for by up to 7 days.</p>
            <div class="form-group" id="acc-ref-date-form-group">
              <fieldset class="inline">
                <legend class="visuallyhidden">You can change the end date of the period you're filing for by up to 7 days.</legend>
                <div class="grid-row">

                        <div class="column-one-half">
                          <label class="block-label selection-button-radio accounts-row-spacer" for="24-march-2017">
                               <input id="24-march-2017" type="radio" name="change-date" value="24 March 2017">
                               24 March 2017
                             </label>

                             <label class="block-label selection-button-radio" for="25-march-2017">
                               <input id="25-march-2017" type="radio" name="change-date" value="27 March 2017">
                               27 March 2017
                             </label>

                             <label class="block-label selection-button-radio" for="26-march-2017">
                               <input id="26-march-2017" type="radio" name="change-date" value="26 March 2017">
                               26 March 2017
                             </label>

                             <label class="block-label selection-button-radio" for="27-march-2017">
                               <input id="27-march-2017" type="radio" name="change-date" value="27 March 2017">
                               27 March 2017
                             </label>

                             <label class="block-label selection-button-radio" for="28-march-2017">
                               <input id="28-march-2017" type="radio" name="change-date" value="28 March 2017">
                               28 March 2017
                             </label>

                             <label class="block-label selection-button-radio" for="29-march-2017">
                               <input id="29-march-2017" type="radio" name="change-date" value="29 March 2017">
                               29 March 2017
                             </label>

                             <label class="block-label selection-button-radio" for="30-march-2017">
                               <input id="30-march-2017" type="radio" name="change-date" value="30 March 2017">
                               30 March 2017
                             </label>

                        </div>

                        <div class="column-one-half">
                          <label class="block-label selection-button-radio" for="1-april-2017">
                            <input id="1-april-2017" type="radio" name="change-date" value="1 April 2017">
                            1 April 2017
                          </label>

                          <label class="block-label selection-button-radio" for="2-april-2017">
                            <input id="2-april-2017" type="radio" name="change-date" value="2 April 2017">
                            2 April 2017
                          </label>

                          <label class="block-label selection-button-radio" for="3-april-2017">
                            <input id="3-april-2017" type="radio" name="change-date" value="3 April 2017">
                            3 April 2017
                          </label>

                          <label class="block-label selection-button-radio" for="4-april-2017">
                            <input id="4-april-2017" type="radio" name="change-date" value="4 April 2017">
                            4 April 2017
                          </label>

                          <label class="block-label selection-button-radio" for="5-april-2017">
                            <input id="5-april-2017" type="radio" name="change-date" value="5 April 2017">
                            5 April 2017
                          </label>

                          <label class="block-label selection-button-radio" for="6-april-2017">
                            <input id="6-april-2017" type="radio" name="change-date" value="6 April 2017">
                            6 April 2017
                          </label>

                          <label class="block-label selection-button-radio" for="7-april-2017">
                            <input id="7-april-2017" type="radio" name="change-date" value="7 April 2017">
                            7 April 2017
                          </label>
                        </div>

                      </div>

              </fieldset>
            </div><!--form-group-->
          <!--  <p>To change the start date or change the end date by more than 7 days, file a <a href="/webfiling/webfiling-login-page-chs-search">change of accounting reference date</a> form.</p>
        -->  </div>

        </div>

      </fieldset>



      <div class="form-group">
        <input type="submit" class="button" value="Save and continue">
      </div><!--form-group-->
    </form>
  </div><!-- text-->

</main>

{% endblock %}
