{% extends "layout.html" %}

{% block pageTitle %}
  Directors' report  - check your answers
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <nav class="content" role="navigation">
    <ul id="navigation" class="mobile-hidden">
      <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
      <li><a href="javascript:void(0)">Your details</a></li>
      <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
      <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
      <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
    </ul>
  </nav>



  <a class="link-back" href="accounts-directors-report-1">Back</a>

  <h1 class="govuk-heading-xl">Check your answers
    <span class="heading-secondary">Directors' report - information</span>
  </h1>

  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2"><h2 class="govuk-heading-m">Principal activities of the company</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Scaevola mnesarchum assueverit vis in. Unum novum sententiae cu duo, ex dico modus inimicus mel, justo appetere vel ex. At est oportere explicari rationibus, repudiare moderatius omittantur in cum. Pri nominavi comprehensam te, sint accusam incorrupte quo ea.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Principal activities of the company</span>
          </a>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2"><h2 class="govuk-heading-m">Political and charitable donations</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No information supplied.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Political and charitable donations</span>
          </a>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2"><h2 class="govuk-heading-m">Company policy on disabled employees</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No information supplied.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Company policy on disabled employees</span>
          </a>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2"><h2 class="govuk-heading-m">Additional information</h2></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No information supplied.</td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Additional informatione</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
    <div class="form-group">
      <p><a href="accounts-profit-and-loss" class="button">Save and continue to Profit and loss</a></p>
    </div>



</main>

{% endblock %}
