{% extends "layout.html" %}

{% block pageTitle %}
  CATO
{% endblock %}



{% block main %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}




<div class="text">

  <a id="back" class="link-back" href="javascript:history.back()">Back</a>

  <form action="" method="get" class="form">


      <h1 class="govuk-heading-l">CATO</h1>

      <p>Info about CATO</p>






         <div class="form-group">
           <input type="submit" class="button" value="Button text here" id="">
           <span class="destination"> on CATO (wording to be confirmed)</span>
         </div>

         <h2 class="govuk-heading-m">Before you start</h2>

         <ul class="govuk-list">
           <li>Your accounts need to be prepared, with figures rounded to whole numbers. Round down income, and round up spending.</li>
           <li>Your accounts should have been approved by the director/board of directors.</li>
           <li>Read guidance on <a href="https://www.gov.uk/prepare-file-annual-accounts-for-limited-company">what your annual accounts should include</a></li>
         </ul>


         <h2 class="govuk-heading-m">What you need</h2>

         <p>You’ll need the:</p>

         <ul class="govuk-list">
           <li>email address and password you used to sign up for the Companies House online service</li>
           <li>authentication code Companies House sent you</li>
         </ul>

         <h3 class="govuk-heading-s">If you haven’t used the service before</h3>

      <p>You can <a rel="external" href="javascript:void(0)">register online.</a> You’ll need to give your email address and create a password, then Companies House will post an authentication code to your registered office address.</p>


       </form>







  </div><!-- text-->

</main>

{% endblock %}
