{% extends "layout.html" %}
{% block pageTitle %}
  File full accounts with Companies House
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    <main class="govuk-main-wrapper">
      <form action="/chs/full-criteria" method="get" class="form">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">File full accounts with Companies House
            </h1>

            <p class="govuk-body">Use this service to file your company’s annual accounts with Companies House.</p>

            <h2 class="govuk-heading-m">Before you start
            </h2>
            <p class="govuk-body">You'll need:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your email address and password you used to sign up for the Companies House service
              </li>
              <li>the authentication code Companies House sent you.</li>
            </ul>
            <h3 class="govuk-heading-s">If you’re filing for the first time</h3>
            <p class="govuk-body">You can
              <a href="javascript:void(0)">register online</a>. You’ll need your email address and create a password.</p>
            <p class="govuk-body">Once registered, we’ll post an authentication code to your registered office. If your company already has a code, a reminder will be sent.</p>
            <p class="govuk-body">Allow up to 5 days for delivery of your code.</p>
            <p class="govuk-body">For security reasons your code can’t be provided by email or over the phone.</p>
            {{ govukButton({
            text: "File full accounts on the Companies House service"
          }) }}

          </div>
          <!--govuk-grid-row-->
        </div>
        <!--govuk-grid-column-two-thirds-->
      </form>
    </main>
    <!-- START script to show date-->
  </div>
  <!---govuk-width-container-->

{% endblock %}