{% extends "layout-chs.html" %}

{% block page_title %}
  Resume your abridged accounts?
{% endblock %}

{% block content %}

<style type="text/css">
.button {padding-top:0.3em; padding-bottom: 0.2em; margin-top:0.4em;}
.searchfield .button {
  position: relative;
  top:-7px;
}

</style>



<main id="content" role="main" class="two-column-accounts">
  <div id="filing-alert">
    You have filings in progress
  </div>
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="/chs/chs-your-filings-incomplete" id="recent_filings">Your filings</a> <span class="visuallyhidden">You have</span> <span class="notification-counter font-xsmall">2</span> <span class="visuallyhidden">incomplete or rejected filing(s)</span></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a id="back" class="link-back" href="javascript:history.back()">Back</a>

<form action="/accounts/accounts-balance-sheet-resume" method="get" class="form">

<div class="text">
  <h1 class="heading-xlarge">Resume your abridged accounts?</h1>

  <p>Last time you logged in, you were filing abridged accounts which you have not completed. Would you like to:</p>

  <div class="form-group">
    <fieldset>
      <legend class="visuallyhidden">Resume abridged accounts or start new accounts</legend>
      <label class="block-label selection-button-radio" for="resumefromprofilecontinue">
        <input type="radio" id="resumefromprofilecontinue" value="yes" name="resumefromprofile">
        Resume abridged accounts
      </label>
      <label class="block-label selection-button-radio" for="resumefromprofiledelete">
        <input type="radio" id="resumefromprofiledelete" value="no" name="resumefromprofile">
        Start new accounts
      </label>
    </fieldset>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Next" id="">
  </div>
</div> <!--text-->
</form>
</main>
{% endblock %}
