{% extends "layout.html" %}

{% block pageTitle %}
  Resume your abridged accounts?
{% endblock %}

{% block content %}
<main id="content" role="main" class="two-column-accounts">
{% include "includes/phase_banner_beta.html" %}

<nav class="content" role="navigation">
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">jsmith@testcompany.co.uk: </li>
    <li><a href="javascript:void(0)">Your details</a></li>
    <li><a href="javascript:void(0)" id="recent_filings">Your filings</a></li>
    <li><a href="javascript:void(0)" id="">Companies you follow</a></li>
    <li><a href="javascript:void(0)" id="user-signout">Sign out</a></li>
  </ul>
</nav>



<a id="back" class="link-back" href="javascript:history.back()">Back</a>
<form action="/" method="post" class="form">

<div class="text">
  <h1 class="govuk-heading-xl">Resume your abridged accounts?</h1>

  <p>Last time you logged in, you were filing abridged accounts which you have not completed. Would you like to:</p>

  <div class="form-group">
    <fieldset>

      <legend class="visuallyhidden">Basis of preparation</legend>
      <label class="block-label selection-button-radio" for="continue">
      <input id="continue" value="" name="resume" type="radio">
        Continue with your abridged accounts
      </label>
      <label class="block-label selection-button-radio" for="delete">
        <input id="delete" value="" name="resume" type="radio">
          Go to company overview, finish your abridged accounts later
      </label>
      <label class="block-label selection-button-radio" for="delete">
        <input id="save" value="" name="resume" type="radio">
          Go to company overview, delete your abridged accounts
      </label>
    </fieldset>
    </div>





      <div class="form-group accounts-row-spacer">
        <a class="button" href="javascript:void(0)">Next</a>
      </div>
</div>
</form>
</main>
{% endblock %}
